[2015-05-19 14:44] tlewowski opened #258 "Not possible to override only a single arbitrary layer"
When running IrisExample out-of-the-box (current master), the following warning message appears in the log:
`o.d.n.m.MultiLayerNetwork - Output layer not instance of output layer returning.`

It might be that it is not possible to override arbitrary layer - although `ClassifierOverride` takes layer number as an argument, it's user, `MultiLayerConfiguration` has the following piece of code:

[code]

[2015-05-19 17:33] raver119 opened #259 "NeuralNet serialization exception"
On current stable release of dl4j and nd4j there's an issue: serialization called on MultiLayerNetwork causes serialization exception:

Call to serialization:

SerializationUtils.saveObject(d,new File("test.neuro"));

Exception:

Exception in thread "main" java.lang.reflect.InvocationTargetException
    at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
    at sun.reflect.NativeMethodA

[2015-05-20 02:24] #258 closed, assigned to nobody

[2015-05-23 17:36] #259 closed, assigned to nobody

[2019-09-17 04:44] cqiaoYc opened #8239 "a question about workspace"
My app thrown exceptions when it ran 1300 generations. The exceptions:
Exception in thread "pool-1-thread-4" java.lang.NullPointerException
        at org.nd4j.jita.allocator.pointers.CudaPointer.<init>(CudaPointer.java:54)
        at org.nd4j.jita.handler.impl.CudaZeroHandler.getDevicePointer(CudaZeroHandler.java:736)
        at org.nd4j.jita.allocator.impl.AtomicAllocator.getPointer(AtomicAlloca

[2019-09-17 06:36] zdl010 opened #8240 "Automatic differentiation always throws exceptions in GPU environments"
#### Version Information
Please indicate relevant versions, including, if relevant:

* Deeplearning4j 1.0.0-beta5
* win10
* CUDA version，9.2

1、LayerNormaliztion

public class LayerNormaliztion extends SameDiffLayer {

	// gain * standardize(x) + bias

	private double  eps = 1e-5;

	 private static String GAIN="gain";
	 private static String BIAS="bias";

    private int nOut;
    private int time

[2019-09-17 06:44] zdl010 opened #8241 "layerNorm should add epsilon, so that the denominator is zero"
org.nd4j.autodiff.samediff.ops.SDNN.layerNorm

    layerNorm should add epsilon, so that the denominator is zero

![image](https://user-images.githubusercontent.com/30429640/65017573-b09e6c80-d959-11e9-917c-3fd00c1435cf.png)

[2019-09-17 08:28] zdl010 commented on #8240
@AlexDBlack

[2019-09-17 08:31] raver119 commented on #8240
Does it fail on first iteration? Or after some number of iterations?

[2019-09-17 08:36] zdl010 commented on #8240
@raver119 after some number of iterations

[2019-09-17 08:38] raver119 commented on #8240
Sorry, there's a leak then. GPU code was finalized few days before release, so there might be issues... I'd propose to wait till this issue is fixed on snapshots.

[2019-09-17 08:41] zdl010 commented on #8240
@raver119 What causes it？

[2019-09-17 08:43] raver119 commented on #8240
If i knew answer, I'd just push fix. We'll need to find it first.

[2019-09-17 08:44] zdl010 commented on #8240
I have an important feature that I need to implement with SameDiff. Can you fix it today? Thanks

[2019-09-17 08:56] raver119 commented on #8240
Sure I'll fix it asap, but we provide no guarantees on time.

[2019-09-17 09:20] zdl010 commented on #8240
@raver119 Warning message, will it affect the use of SameDiff？

[2019-09-17 09:26] raver119 commented on #8240
Which warning message?

[2019-09-17 09:30] zdl010 commented on #8240
@raver119 o.n.a.f.DifferentialFunction - No fields found for property name biasCorrected for class org.nd4j.linalg.api.ops.impl.reduce.floating.Mean
o.n.a.f.DifferentialFunction - No fields found for property name mean for class org.nd4j.linalg.api.ops.impl.reduce.floating.Mean
o.n.a.f.DifferentialFunction - No fields found for property name bias for class org.nd4j.linalg.api.ops.impl.reduce.float

[2019-09-18 07:31] zdl010 commented on #8240
Did you find the problem？

[2019-09-18 07:31] zdl010 commented on #8240
@raver119

[2019-09-18 09:47] LiuZheng-China opened #8244 "CLOSED"

[2019-09-18 09:48] braun-steven opened #8245 "ND4J Cuda maven artifacts are missing macosx jars"
#### Issue Description

The maven artifacts for cuda (9.2, 10.0, 10.1) are missing the macosx jars in beta5.

- Beta3: https://repo1.maven.org/maven2/org/nd4j/nd4j-cuda-9.2/1.0.0-beta3/
- Beta5: https://repo1.maven.org/maven2/org/nd4j/nd4j-cuda-9.2/1.0.0-beta5/

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 1.0.0-beta5

[2019-09-18 10:15] raver119 commented on #8245
We don't support CUDA on macos atm, since there's no official CUDA support on recent Apple computers. Plus there are Apple clang issues with nvcc which nobody is willing to solve.

[2019-09-18 10:15] #8245 closed, assigned to nobody

[2019-09-18 18:12] yusufcakmakk opened #8246 "parallel inference on encoder-decoder lstm"
Hi,

I used **EncoderDecoderLSTM** example to train sequence to sequence problem for chit-chat application. I need to produce multiple predictions when multiple users send text to network. When I try synchronized block for _output_ method, it takes too long response time.

I could'nt find how to use **ParallelInference** for this network.

How we can make multiple predictions with one network at o

[2019-09-19 05:56] #8244 closed, assigned to nobody

[2019-09-19 09:21] orausch opened #8248 "SameDiff weight init is not deterministic"
#### Issue Description
The following test fails:
[code]

#### Version Information

* Deeplearning4j version: `beta5`
* Platform information: `Ubuntu 18.04.3 LTS`

[2019-09-24 13:48] sky97613 opened #8251 "Help...I can't release INDArray (ND4J)"
This is error log in console
Exception in thread "main" org.nd4j.linalg.exception.ND4JIllegalStateException: Can't release this INDArray
	at org.nd4j.linalg.api.ndarray.BaseNDArray.close(BaseNDArray.java:5909)
	at deeplearn.DeepLearn.feedFoward(DeepLearn.java:51)
	at deeplearn.MainClass.main(MainClass.java:17)

this is source code

	public double feedFoward() {
		double delta = 0.0001;
		INDArray

[2019-09-24 14:16] #8251 closed, assigned to nobody

[2019-09-24 22:56] RobAltena opened #8252 "TanhDerivative missing single INDArray constructor"
#### Issue Description
The old, deprecated TanhDerivative has a  [constructor that takes one INDArray](https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/impl/transforms/strict/TanhDerivative.java#L45)

The [suggested replacement class](https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-

[2019-09-25 11:39] AlexDBlack commented on #8252
The old TanhDerivative was `dOut/dIn` from `In`
The new TanhDerivative is `dL/dIn` from `dL/dOut` and `In`

But yes, we really need proper javadoc here...

[2019-09-26 02:16] cqiaoYc opened #8253 "about Failed to allocate xxx bytes from DEVICE [n] memory"
the following test project run with the params ' -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=47G', thrown exceptions soon. but with ' -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=36G' run well more than 10000 iterations.
My app with maxbytes=36G thrown too. [Is it because the operating system version is too low?]
[TestMultiGpu.zip](https://github.com/eclipse/deeplearning4j/files/3655553/TestM

[2019-09-26 02:20] cqiaoYc commented on #8253
Notes: nd4j typed: CUDA device 0: [GeForce RTX 2070]; cc: [7.5]; Total memory: [**8370061312**];
 but nvidia-smi:  0 GeForce RTX 2070 Off | 00000000:19:00.0 Off | N/A | **7982MiB**

[2019-09-26 06:33] treo commented on #8253
That is the same value, **MiB** is using binary steps, so 8370061312 Byte / 2^20 = 7982.3125 MiB.

[2019-09-26 06:55] cqiaoYc commented on #8253
why does the test project thrown exceptions with setting maxbytes=47G, but work well with maxbytes=36G?

[2019-09-26 06:58] saudet commented on #8253
Probably because the garbage collector gets called sooner. There's most likely a workspace somewhere that isn't getting closed properly.

[2019-09-26 07:18] cqiaoYc commented on #8253
a workspace isn't getting closed properly? workspaces are RAII, they are closed Automaticly.

[2019-09-26 07:29] saudet commented on #8253
Kind of, but it's not that simple. @raver119 or @AlexDBlack will check your code when they have some free time.

[2019-09-26 13:20] #8239 closed, assigned to nobody

[2019-09-28 12:26] GPSforLEGENDS opened #8255 "CC 3.0 still not supported"
#### Issue Description

https://github.com/eclipse/deeplearning4j/issues/8018 is not fixed
GPUs with CC 3.0 are still not supported.

Please describe our issue, along with:

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
1.0.0-beta5
* Platform information (OS, etc)
Windows 10
* CUDA version, if used
release 10.1, V10.1.243
* NVIDIA dr

[2019-09-30 14:07] brunoneri opened #8256 "Unable to compile DL4J due to an (ssExtractDependencies) java.net.URISyntaxException error"
#### Issue Description
I am unable to compile DL4J and ND4J with native platform backend and also with CUDA platform backend.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-beta5
* Platform information (OS, etc): Ubuntu 16.04.06
* sbt version : 1.3.2

#### Additional Information

- Exception stack trace

[error] (update) java.

[2019-10-01 00:36] saudet commented on #8256
Duplicate of https://github.com/sbt/sbt/issues/5046

[2019-10-01 00:36] #8256 closed, assigned to nobody

[2019-10-01 09:11] montardon opened #8258 "Import Keras Model : difference between DL4J and Keras results"
#### Issue Description
I'm importing a .h5 model with KerasImportModel.importKerasModelAndWeights.
When I predict input with it, the results are different from the ones I have with Keras, using
the same input.
[0.9728909, 0.027109064] vs [0.01448847 0.98551154]
Here is the model.
[model.txt](https://github.com/eclipse/deeplearning4j/files/3675226/model.txt)
and input test image.
![testBlack](https

[2019-10-01 14:12] evolutionsoftswiss opened #8259 "ndarray.getDouble returns wrong value for index"
Unfeortunately I can't reproduce it in an extracted Unit Test

#### Issue Description
* NDArray floatBufferData [3.0,3.0,3.0,3.0,0.0,3.0,3.0,3.0,0.0] returns 3.0 for getDouble(0,4)
* Should be 0.0

#### Version Information

Please indicate relevant versions, including, if relevant:

* dl4-1.0.0-beta5
* Ubuntu 18.04.x, Inside Eclipse Photon with Java8 Oracle
* No Cuda, Native
* -

#### Additional I

[2019-10-01 15:15] raver119 commented on #8259
No, it's not necessary true. It depends on order of your INDArray. Show full code that reproduces this problem, however I'm highly skeptic - there's tons of tests for indexing.

[2019-10-01 15:16] raver119 commented on #8259
... and since it's not reproducible alone - that means you're trying to reproduce it with INDArray in default order, which is 'C', but you face "problem" with `F` ordered arrays.

[2019-10-01 16:30] evolutionsoftswiss commented on #8259
[    3.0000,    3.0000,    3.0000,    3.0000,         0,    3.0000,    3.0000,    3.0000,         0]
I've got the situation in such an array created by Nd4j.zeros(1, 9);
And then set the 3.00 values by setScalar()

Then getDouble returns 3.00 at the following code for at least the middle index 4 of currentResult
[code]

For the full code you may refer to https://github.com/evolutionsoftswiss/dl4j/

[2019-10-01 16:40] evolutionsoftswiss commented on #8259
I'll check the behavior at the same place with some other versions.

[2019-10-01 16:45] evolutionsoftswiss commented on #8259
Definitively different behavior with beta3, I had to use that version to not make additional changes because of the INDArrayDataSetIterator.

[2019-10-02 03:59] RobAltena opened #8260 "Unused methods in IActivation interface"
#### Issue Description
The [following methods ](https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/activations/IActivation.java#L62-L68)in IActivations are unused.

    void setParametersViewArray(INDArray viewArray, boolean initialize);

    INDArray getParametersViewArray();

    void setGradientViewArray(INDArray viewA

[2019-10-02 04:30] AlexDBlack commented on #8260
Long ago the plan was to allow activation functions with learnable parameters. That never happened, and it's not on the DL4J roadmap either. SameDiff would use a different mechanism also.

In short: yes, feel free to remove that.

[2019-10-03 10:35] #8260 closed, assigned to nobody

[2019-10-03 11:12] sascha08-15 opened #8263 "Wrong Exception msg in INDarray.reshape()"
#### Issue Description
When I reshape with a different dimension, it shows me a wrong error message.

Please describe our issue, along with:
- expected behavior : `org.nd4j.linalg.exception.ND4JIllegalStateException:` New shape length doesn't match original length: [60] vs [70]. Original shape: [14, 5] New Shape: [12, `5]`
- encountered behavior
`org.nd4j.linalg.exception.ND4JIllegalStateException

[2019-10-03 11:51] AlexDBlack commented on #8263
thanks for reporting, but I'm not able to reproduce this on 1.0.0-beta5, using nd4j-native (CPU) backend.

Here's a simple test:
[code]

[code]

What backend are you using? Are you able to provide a way to reproduce this?

[2019-10-03 15:18] Morozov2012 opened #8264 "cuDNN causes NaN scores during the training"
I have found that an example does not operate under Deeplearning4j Beta5, CUDA 10.1, cuDNN 7.6.3. Last year, this example worked fine under Deeplearning4j Beta2, CUDA 9.2, cuDNN 7.3.1. The problem is in that the program generates NaN scores during the training of plain Darknet19:

C:\ceur3>java -Xmx330000000k -jar main.jar
modelType: Darknet19
[main] INFO examples.THzImageClassification21 - Load d

[2019-10-03 15:20] raver119 commented on #8264
Which example is this?

[2019-10-03 16:37] Morozov2012 commented on #8264
This one: https://yadi.sk/d/-M0Sobt5exDjTg

[2019-10-03 16:44] sascha08-15 commented on #8263
Thanks for the quick reply. I've isolated the problem and put it in a JUnit test. Here you go:

[code]
Am using the CPU Backend, can tell in a couple of minutes if that happens on GPU as well.

[2019-10-03 16:59] Morozov2012 commented on #8264
// 2019 (c) Alexei A. Morozov

package examples;

import java.io.FileFilter;

import org.deeplearning4j.nn.graph.ComputationGraph;
import org.deeplearning4j.zoo.ZooModel;
import org.deeplearning4j.zoo.model.*;
import org.nd4j.linalg.api.ndarray.INDArray;
import org.deeplearning4j.zoo.util.imagenet.ImageNetLabels;

import org.apache.commons.io.FilenameUtils;
import org.datavec.api.io.filters.Balanc

[2019-10-04 00:54] eraly commented on #8258
You can upload the .json, i.e only the architecture of the model and that should be enough for debug.
Do you see the same issue with CPU or is it only with GPU?
What was the last version of dl4j that gave you matching results with import for this particular architecture?

[2019-10-04 10:50] AlexDBlack opened #8265 "SameDiff: remove outputs() variable inference in favor of user specified outputs"
The SameDiff.outputs() method is a "best guess" inference of the predictions of the SameDiff instance.

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/samediff/SameDiff.java#L1824-L1831

This inference is unfortunately unreliable: the "best guess" can fail (and confuse users), for example when a loss function is add

[2019-10-04 13:25] AlexDBlack commented on #8263
Looks like this is the same issue as here: https://github.com/eclipse/deeplearning4j/issues/7091
Essentially, it's not safe to modify the java long[] shape array, and there's no good reason to do that.
We have reshape methods etc which you should use instead.

Thanks for the issue, but I'll close this as a duplicate. of the aforementioned issue. And as per that issue, I'm still in favor of no chan

[2019-10-04 13:25] #8263 closed, assigned to nobody

[2019-10-05 05:35] AlexDBlack opened #8268 "Libnd4j: Default maven build does not include MKL-DNN/DNNL"
Build on Windows:
[code]

First part of output: https://gist.github.com/AlexDBlack/aeb477cd0d2fccecbdd79e7bd176d243

Note the "WARNING! No helper packages configured!" message.
On CPU (windows/linux/mac) we should default to building with MKLDNN/DNNL when building from maven.

[2019-10-05 14:43] nixondevph opened #8269 "I need WordVectors only"
how do I use WordVector without downloading the whole project?

[2019-10-05 17:28] raver119 commented on #8269
in this case you need only two dependences: deeplearning4j-nlp and nd4j-native-platform

With best regards,
Vyacheslav K.

[2019-10-06 12:42] lpaatero opened #8270 "deeplearning4j prints to standard output"
#### Issue Description

When using deeplearning4j in linux command line program, no additional output should be present on program standard output. Any additional output will interfere with expected output of the program.

In beta5 version deeplearning4j prints 2 lines to standard output

There does not seem to be any easy way to prevent this output.

#### Version Information

beta5 in linux using

[2019-10-07 02:51] ssy248 opened #8271 "RecordReaderDataSetIterator / DataSetIterator not loading data from recordreader"
I try to run my code that is posted here https://github.com/ssy248/deeplearningjava/blob/master/deeplearning2.java

And the record reader on line 181 does load and print from the csv data.
However, at line 207, there is an error given by the following ( it seems that the DataSetIterator is not able to load the data and there is null instead)

Exception in thread "main" java.lang.NumberFormatExcept

[2019-10-07 07:57] abdougrinzou opened #8272 "Transfer learning"
How do I load Alexnet pretraind model in python, and how and where do I know the layer that I should stop to inject the feature map to an Svm classifier.. I'm doing a transfert learning in python with Keras and TensorFlow 😔?

[2019-10-07 08:00] montardon commented on #8258
Here is the architecture of the model in JSON format.
I checked that every layer is supported.

I am currently using beta-5 and was using beta-4 before.
Results are different with same input (DL4J vs Keras/Python, see black image example)

[model.json.txt](https://github.com/eclipse/deeplearning4j/files/3696065/model.json.txt)

I'll check without GPU and post comment today.

[2019-10-07 09:17] AlexDBlack commented on #8270
That's a fair request.
It's coming from c++ here: https://github.com/eclipse/deeplearning4j/blob/b7226bdd7a020bdeff253d0f23e9110753ad7c1e/libnd4j/blas/Environment.cpp#L73-L87

[2019-10-07 12:15] montardon commented on #8258
Result are different with CPU only mode too.

[2019-10-08 04:53] zdl010 commented on #8240
@raver119 [test-samediff.zip](https://github.com/eclipse/deeplearning4j/files/3700772/test-samediff.zip)

[2019-10-08 05:55] aungpyaekyaw opened #8274 "Platform "android-x86" not supported by class org.bytedeco.hdf5.global.hdf5"
#### Platform "android-x86" not supported by class org.bytedeco.hdf5.global.hdf5

I'm trying to import hdf5 keras model in android application and geting the
Platform "android-x86" not supported by class org.bytedeco.hdf5.global.hdf5 runtime error.

#### Version Information
* Deeplearning4j version

That is my android dependencies

compile (group: 'org.deeplearning4j', name: 'deeplearning4j-core',

[2019-10-08 06:17] saudet commented on #8274
The message says it all: HDF5 doesn't support Android!

[2019-10-08 06:17] #8274 closed, assigned to nobody

[2019-10-08 09:21] AlexDBlack opened #8275 "DL4J: MergeVertex hstack"
A bunch of gradient checks are failing with:
`java.lang.IllegalStateException: Only rank 1 and 2 arrays may be horizontally stacked; first input has rank 3 shape %nhShape`

This needs to be fixed (use concat or pile ops instead). The error message should also contain `%ndShape` instead of `%nhShape`

[2019-10-08 15:56] javadev-berlin opened #8276 "pretrained models for fully conv.networks to handle variable input size (NeuralStyleTransfer)"
#### Issue Description
 When  using the NeuralNetworkTransfer example from " https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/styletransfer/NeuralStyleTransfer.java " , it seems to work with 224 x 224px images,  but not with  bigger images... When I have set the height and length to 448 px in that java class  an exception  is th

[2019-10-08 17:16] michaelmalak opened #8277 "UnsatisfiedLinkError: isMinimalRequirementsMet()"
#### Issue Description

Build error:

Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.401 sec <<< FAILURE!
org.nd4j.jdbc.hsql.HSqlLoaderTest  Time elapsed: 1.4 sec  <<< ERROR!
java.lang.UnsatisfiedLinkError: 'boolean org.nd4j.nativeblas.Nd4jCpu.isMinimalRequirementsMet()'
	at org.nd4j.nativeblas.Nd4jCpu.isMinimalRequirementsMet(Native Method)
	at org.nd4j.linalg.cpu.nativecpu.Cpu

[2019-10-08 17:47] raver119 commented on #8277
It says that you hadn’t built libnd4j, so ND4j can’t find the method it expects to be available.
On Oct 8, 2019, 20:16 +0300, michaelmalak <notifications@github.com>, wrote:

[2019-10-08 18:52] michaelmalak commented on #8277
libnd4j is built in libnd4j/target/libnd4j-1.0.0-SNAPSHOT-linux-x86_64.zip

Is there a manual step I need to perform to have that library installed so that the rest of the build can succeed?

[2019-10-08 21:43] eraly commented on #8258
I have not been able to reproduce this behaviour in beta5 on CPU. I have not tried GPU. But changes that affect keras import between beta4 and beta5 are minimal. There was a bug related to imported training configurations. But nothing that I see that should affect your model...

Here is the code in Keras:
[code]

And in DL4J:
[code]

[2019-10-09 00:19] eraly opened #8278 "Keras time distributed dense layer output shape incorrect"
Observed Issue:
A time distributed dense layer can be imported into DL4J without exceptions. However the output shape of the time distributed layer is 2d when it should be 3d. Values look right. Might just be a matter of adding a reshape after.

Not entirely sure if keras time distributed layer is supported. According to the docs it's not..
Maybe the docs just need updating.

[2019-10-09 00:22] eraly commented on #8278
I can take a look and work on this.

[2019-10-09 11:46] AlexDBlack opened #8279 "DL4J: Standardize activation function class capitalization"
ActivationHardTanH vs. ActivationRationalTanh vs. ActivationTanH vs. ActivationRectifiedTanh

Not a high priority, but it would be nice to clean this up... We can deprecate the old classes for maintaining backward compatibility and extend the new ones (like we did with DL4J to ND4J Evaluation class move).

[2019-10-09 12:11] AlexDBlack opened #8280 "libnd4j: biasadd_bp doesn't have isNCHW arg, wrong for NHWC case?"
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/bias_add.cpp#L83-L86

The bias gradient (via sum) is basically epsilonNext.sum(0, 2, 3) which is correct for the NCHW case but not the NHWC case (which should be .sum(0, 1, 2))

[2019-10-09 16:07] montardon commented on #8258
If think you are creating a model without trained weights.
Predicting any image with this model will give a [0.5 0.5] answer.

Using GPU (GeForce RTX 2080 Ti) I get :
[[0.49996665 0.5000334 ]] for Keras, which is what I expect to see with this untrained model.

When importing this untrained model in DL4J there is an error because "weight_names" is not found.
---
Using my trained model (with traine

[2019-10-09 18:50] raver119 commented on #8258
[code]

This difference can be explained by cuDNN use probably. Show your pom.xml please

[2019-10-09 19:07] nixondevph commented on #8269
is there a JAR that i can download? :)

[2019-10-09 19:14] raver119 commented on #8269
Yes, on maven central. But i’d recommend you to use build system like maven or gradle instead.
On Oct 9, 2019, 22:08 +0300, Dinesh Chugtai <notifications@github.com>, wrote:

[2019-10-09 19:59] nwinkler opened #8281 "What happened to the test resources?"
#### Issue Description

I forked/cloned this repo to potentially add some features to the Datavec module. Compiling through Maven without test case execution worked fine, but when I try to run the test cases, I ran into all kinds of errors (`mvn clean install`).

When looking into the test errors for the `datavec-api` module, I noticed that the `src/test/resources` folder was not migrated when the

[2019-10-09 23:14] AlexDBlack commented on #8281
Clone this repo and install: https://github.com/deeplearning4j/dl4j-test-resources
Then enable 2 profiles: testresources and test-nd4j-native
https://github.com/eclipse/deeplearning4j/blob/master/pom.xml#L679
https://github.com/eclipse/deeplearning4j/blob/master/datavec/pom.xml#L350

[2019-10-09 23:14] #8281 closed, assigned to nobody

[2019-10-10 00:14] saudet commented on #8258
You'll need to do the same in Java. One way to do it:
[code]
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-zoo/src/test/java/org/deeplearning4j/zoo/TestImageNet.java#L96

[2019-10-10 03:37] aungpyaekyaw opened #8283 "SameDiff import failed on android"
#### SameDiff import failure when importing pb on android

#### Version Information

#### Gradle library
[code]

#### Platform
* Android

#### Additional Information
The code i used to load model
`model=TFGraphMapper.getInstance().importGraph(context.getAssets().open(name));`

#### Stacktrace

platform method missing - proto runtime falling back to safer methods: java.lang.NoSuchMethodException: c

[2019-10-10 04:11] #8283 closed, assigned to nobody

[2019-10-10 06:22] nwinkler commented on #8281
Thanks for the instructions - is that documented anywhere?

[2019-10-10 07:45] montardon commented on #8258
Here is my pom.xml
https://gist.github.com/montardon/68c4167ce1f5d11890bf254a5419bc23

[2019-10-10 08:02] montardon commented on #8258
Using the ColorConversionTransform, I'm still far from Keras result.
[[    0.25672656 0.74327344 ]] for Keras
[[    0.3168,        0.6832         ]] for DL4J
My code is so simple that I wonder where to check.
https://gist.github.com/montardon/160722d038d365600059a14265fcccd6

[2019-10-10 13:56] montardon commented on #8258
When using a different model (with less layers) and (32,32,3) inputs,
[model.zip](https://github.com/eclipse/deeplearning4j/files/3712921/model.zip)
I am getting the same values both in DL4J and Keras.
[0.31666294 0.65267104 0.03066603]] for Keras
[0.3166629   0.65267104 0.030666048] for DL4J

[2019-10-10 13:57] montardon commented on #8258
..with this random image
![random32](https://user-images.githubusercontent.com/238749/66575655-96316a80-eb76-11e9-90d0-36be129b1788.png)

[2019-10-11 11:24] montardon commented on #8258
I can give you my model to help reproducing.
It's a file of 192 758 864 bytes.
What is the better way to give you access to it?

[2019-10-11 16:50] eraly commented on #8258
Google drive?
Also what OS and what versions of Keras are you using?

[2019-10-12 00:05] mexeniz opened #8284 "How can I speed up KDTree search on Android?"
# Deeplearning4j issue

#### Issue Description

* KDTree instance storing so many vectors works slowly. I did a performance evaluation to show the cost time of `knn` method on Android 9.0.
  * Vector length: 512
[code]
* Here is the result:
![Screenshot from 2019-10-11 23-10-38](https://user-images.githubusercontent.com/11923458/66690956-5da4a480-ecce-11e9-87ee-f03cd3949797.png)

* The cost time f

[2019-10-12 01:20] cqiaoYc commented on #8253
with the setting:
[code]
If the network is large and the value of javacpp.maxbytes is large, the program may crash quickly.(nohup java -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=42G)
My application (not this test project) increased training data when running to 4500 generations, throwing an exception（nohup java -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=36G）:
[code]

[2019-10-12 04:15] AlexDBlack opened #8285 "libnd4j: concat op - add "last input is axis" support"
Required for TF import.
Currently we pull out the axis during import, which will work most of the time, but will fail if axis is ever dynamic. Also modifying graph structure (to remove input from an op) during op import isn't exactly a clean design...

Here's an example TF node in graph, note the last input:
[code]

[2019-10-12 12:33] AlexDBlack opened #8286 "ND4J: Master failures"
See gist: https://gist.github.com/AlexDBlack/219e07d1696843e769f14bd7e49c7267

Bias add ones are fixed on a branch I haven't yet merged.
Rest need to be looked into.

[2019-10-12 13:06] montardon commented on #8258
https://drive.google.com/file/d/1MrFWPH4a2LiBfmV5y8UwEMvpcQWtBOJw/view?usp=sharing

[2019-10-12 13:14] montardon commented on #8258
I'm working with Ubuntu 18.04.3 for development but final target will be Windows 7.
Keras is 2.2.4

[2019-10-13 19:17] dvdmchl commented on #8255
I have the same problem with CC 5.0:
`ND4J CUDA build version: 10.1.243
CUDA device 0: [GeForce GTX 950M]; cc: [5.0]; Total memory: [4294967296];
Exception in thread "main" java.lang.RuntimeException: cudaGetSymbolAddress(...) failed; Error code: [13]
	at org.nd4j.linalg.jcublas.ops.executioner.CudaExecutioner.createShapeInfo(CudaExecutioner.java:2557)
	at org.nd4j.linalg.api.shape.Shape.createSha

[2019-10-14 04:55] raver119 commented on #8255
cc @AlexDBlack

[2019-10-14 05:22] saudet commented on #8255
CC 5.0 is not in the list of architectures libnd4j gets built against:
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/blas/CMakeLists.txt#L178

[2019-10-14 05:24] raver119 commented on #8255
Yes, it's supposed to be one per generation. We hadn't tested 5.0 specifically, but we've tested compatibility between 6.0 <--> 6.1, 7.0 <--> 7.5 etc.

[2019-10-14 07:03] dvdmchl commented on #8255
So basically I should buy a new machine with more recent GPU to get it working?

[2019-10-14 08:06] raver119 commented on #8255
No, you can build it locally while we're trying to figure out what could be done here, without bloating binary size...

[2019-10-14 11:50] saudet commented on #8255
`sed -i 's/_52/_50/g' libnd4j/blas/CMakeLists.txt` should do the trick :)

[2019-10-14 11:51] saudet commented on #8255
And also a `sed -i 's/_35/_30/g' libnd4j/blas/CMakeLists.txt`

[2019-10-14 11:59] raver119 commented on #8255
If you compile for 1 arch, you can just pass `-cc 30` as argument for CUDA. or `-cc 50`

[2019-10-14 14:10] leeharland opened #8288 "Word2VecRawTextExample Cannot perform in-place operation "muli": result array shape does not match the broadcast operation output shape"
#### Issue Description

Please describe our issue, along with:
Running unadulterated Word2VecRawTextExample

Exception in thread "main" java.lang.IllegalStateException: Cannot perform in-place operation "muli": result array shape does not match the broadcast operation output shape: [100].muli([1, 100]) != [100].
In-place operations like x.muli(y) can only be performed when x and y have the same sh

[2019-10-14 19:13] eraly commented on #8258
Thanks for uploading the h5. The output of this model is not (None, 2) like indicated in your earlier comments. It is (None, 91). Maybe this is not the model you intended to upload? [Here](https://gist.github.com/eraly/24b7550fa8bebe9d994851ba66c8ff35) is the full summary from this model.

[2019-10-15 01:10] saudet commented on #8255
@raver119 Yes, ok, but why are you building against 3.5 and 5.2 instead of 3.0 and 5.0 by default?

[2019-10-15 08:32] shugeo opened #8290 "Java wrappers for newly added ops are missing"
#### Issue Description
Java wrappers missing for follow ops:
     AdjustContrast, AdjustContrastv2
    Bitcast
    CompareAndBitpack
    DivNoNan
    DrawBoundingBoxes
    FakeQuantWithMinMaxVarsPerChannel

[2019-10-15 11:04] cbiroan opened #8291 "Unknown Keras loss function logcosh"
#### Issue Description

Please describe our issue:
- Expected behavior: logcosh loss function is supported
- Actual behavior: Error message: org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unknown Keras loss function logcosh. Please file an issue at http://github.com/deeplearning4j/deeplearning4j/issues.

#### Version Information

Please indicate relevant

[2019-10-15 12:45] montardon commented on #8258
Sorry, I sent to you another model.
Here is the link to the one I described.
https://drive.google.com/file/d/1Vom3kdKhhwg0bYOJSQKHGQ5iw2mucT1X/view?usp=sharing

[2019-10-15 18:12] eraly commented on #8258
Thanks for uploading the model. So I took a look and still can't reproduce on my mac+CPU. Results look the same with keras and dl4j... We'll take a look on the other platforms and GPUs.

[2019-10-16 05:50] raver119 commented on #8258
I've just used @eraly repository, and model provided here.

Here's the code:

[code]

Here's output:
[code]

[2019-10-16 05:50] raver119 commented on #8258
P.s. Ubuntu 18.04

[2019-10-16 09:24] montardon commented on #8258
Thank you for testing.
You are using .jpeg file ? I added a .png one. Can you give your random.jpg ?
It looks like you have a different result too. Right ?

[2019-10-16 09:41] raver119 commented on #8258
This. https://github.com/eraly/keras-test-import
I'm gettint the result @eraly got in keras. jpg is available in resources folder within that repo

[2019-10-16 11:50] montardon commented on #8258
[code]

So Keras and DL4J CPU are quite the same. It's fine.

The error is 3.10e-3 with DL4J GPU. It looks a bit large even for float.

Is it hardware related ?
I'm using a NVIDIA RTX 2080 Ti (11Gb).

nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:07:16_PDT_2019
Cuda compilation tools, release 10.1, V10.1.243

[code]

[2019-10-16 11:51] raver119 commented on #8258
GPU: is it with cudnn or without it?

[2019-10-16 12:00] montardon commented on #8258
With cudnn. I put it in /usr/local/cuda-101./lib64.
How can I be sure, DL4J is using it ?

[2019-10-16 12:02] raver119 commented on #8258
It’ll use it if you have deeplearning4j-cuda dependency in your pom.xml. There’ll be some additional output in your console saying that as well.
On Oct 16, 2019, 15:01 +0300, raguenets <notifications@github.com>, wrote:

[2019-10-16 12:02] montardon commented on #8258
3:59:57.752 [main] DEBUG org.deeplearning4j.nn.layers.normalization.BatchNormalization - CudnnBatchNormalizationHelper successfully initialized
So cudnn is used

[2019-10-16 12:04] raver119 commented on #8258
Great. Disable it, by removing deeplearning4j-cuda dependency, and tell us how your output will change.
On Oct 16, 2019, 15:03 +0300, raguenets <notifications@github.com>, wrote:

[2019-10-16 12:09] montardon commented on #8258
[code]

So without cudnn, the results are the same as Keras

[2019-10-16 15:35] LyesSp opened #8295 "Results problem of keras CNN autoencoder with dl4j"
#### Issue Description

I am trying to deploy my keras CNN model implemented on Java (CNN denoiser) , putting noisy image in input and cleaned image. (Mnist denoising autoencoder)

The problem in when i test in java the model, i don't have the same output as when i tested it on python.
                Input                      ------                               ------                      -----

[2019-10-16 19:37] montardon commented on #8258
So a workaround is to disable cudnn.
I guess this will have effects on performance. Right ?

With cudnn, the difference with Keras is quite significant.
Is it a difference in the order of calls to cudnn or in order of data ?

I guess if the computations do not have the same order or data is not organized as in Keras (for performance reason), we may not expect the same results.

[2019-10-16 19:40] raver119 commented on #8258
cudnn uses bunch of different algorithms, and in some modes it doesn’t even guarantees reproducibility.
16 окт. 2019 г., 22:37 +0300, raguenets <notifications@github.com>, писал:

[2019-10-16 21:51] eraly commented on #8295
Thank you for filing this issue. Can you add to the issue everything I will need to reproduce what you are seeing? Also do you see the problem with CPU as well as GPU?

* keras model
* keras code
* input images, output etc
* OS version
* Keras version

[2019-10-16 22:29] LyesSp commented on #8295
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import keras
from keras.layers import Activation, Dense, Input
from keras.layers import Conv2D, Flatten
from keras.layers import Reshape, Conv2DTranspose
from keras.models import Model
from keras import backend as K
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplo

[2019-10-16 22:33] LyesSp commented on #8295
The input is the saved image "tif.imsave("out.btf",x_test_noisy[0,:,:,0])"
The model is "m_dnoise.h5"
I'am using python with keras 2.2.4 on windows
The problem is the same using GPU or CPU.

[2019-10-17 00:07] eraly commented on #8295
Great, thanks. I'll take a look.

[2019-10-17 07:27] raver119 commented on #8290
Implemented and merged

[2019-10-17 07:27] #8290 closed, assigned to nobody

[2019-10-17 07:27] raver119 commented on #8288
Fixed. Thanks for highlighting this problem.

[2019-10-17 07:27] #8288 closed, assigned to nobody

[2019-10-17 07:49] montardon commented on #8258
Are we using such modes ?

In fact, having different results should not be a problem as long as predicted class are the same on my classification problem.

Can we do something with cudnn to minimize the difference ?

[2019-10-17 08:48] leeharland commented on #8288
fabulous, thanks for fixing it so quickly :)

[2019-10-17 08:51] raver119 commented on #8288
Unfortunately you’ll have to wait couple of days till fix gets into snapshots.
On Oct 17, 2019, 11:49 +0300, Lee Harland <notifications@github.com>, wrote:

[2019-10-17 10:37] raver119 commented on #8284
We'll be glad to take a look into it. Will you be able to benchmark snapshots once we have improvements ready?

[2019-10-17 10:46] treo commented on #8284
Also, are you benchmarking it with random vectors and it looks like you have 512 dimensions so the following probably also applies to your data:

So if you don't have more than 2^512 data points (you don't!), there is no point in using a kd-tree for this case.

If you are using looking for cosine similarity as your distance metric, it is usually *a lot* faster to save the vectors in a normalized f

[2019-10-17 13:05] montardon commented on #8258
I have another model with 91 classes.
https://drive.google.com/file/d/1SIMHLk8mVU6778iBVtmWyLh66xlnFMPH/view?usp=sharing
This one is more sensitive to numerical error.
Using this model and the same image random.jpg I get a difference, even without cudnn or with CPU/
Keras :
[2.65195013e-07 2.83667850e-06 1.49390598e-05 3.77721250e-07
  4.30094559e-07 1.72675336e-05 9.82970887e-05 8.03016961e-01

[2019-10-18 05:52] saudet commented on #8258
@montardon We can try manually to use a different algorithm from cuDNN:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/ConvolutionLayer.java

[2019-10-18 07:34] DreamyKten opened #8298 "Keras model serving for inference with dl4j"
`model = KerasModelImport.importKerasModelAndWeights(unet, enforceTrainingConfig=false)`

and run the inference :

`INDArray output = model.output(input)`

 `float[][] x = output.reshape(new int[]{floats.length, 256 * 256}).toFloatMatrix();`

<b> There is a output but similar to the input with some different pattern. The result is not correct. </b>

I tried this model, it works well in python with

[2019-10-18 09:49] AlexDBlack opened #8299 "DL4J/SameDiff: Map new LSTM op"
After the new LSTM ops have been implemented, we need to make them available in DL4J (with MKL-DNN support) and SameDiff.

https://github.com/eclipse/deeplearning4j/issues/8070

[2019-10-18 09:54] raver119 commented on #8299
Keep in mind, cuDNN support is still missing at SameDiff level.
On Oct 18, 2019, 12:50 +0300, Alex Black <notifications@github.com>, wrote:

[2019-10-18 12:02] AlexDBlack opened #8300 "DL4J: Optimize CollectScoresIterationListener"
`List<Pair<Integer,Double>>` should be replaced by (for example) something backed by an int[] and double[], to avoid unnecessary objects. No point adding extra memory and GC overhead like this.

Easy fix.

https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/optimize/listeners/CollectScoresIterationListener.java#L40

[2019-10-18 13:58] DreamyKten commented on #8298
Seem to be the same issue : https://github.com/eclipse/deeplearning4j/issues/8295

input : https://i.stack.imgur.com/n8DQ5.png

output : https://i.stack.imgur.com/IUHuj.png

[2019-10-19 10:48] AlexDBlack opened #8302 "ND4S Build issue"
Seen on current Konduit master (not sure if present on eclipse master also)
https://gist.github.com/AlexDBlack/bdb0555c3d48ef14e6950ea27891471c

[2019-10-19 11:30] raver119 commented on #8302
Hm, I've thought it was fixed by Alexander earlier. Maybe fix was applied in non merged branch, thus should be fixed in master now?

With best regards,
raver119
19 окт. 2019 г., 13:48 +0300, Alex Black <notifications@github.com>, писал:

[2019-10-20 06:43] raver119 commented on #8302
Alexander applied one more fix. Should be ok now.

With best regards,
raver119
19 окт. 2019 г., 13:48 +0300, Alex Black <notifications@github.com>, писал:

[2019-10-21 01:55] mexeniz commented on #8284
@raver119 Sure!
@treo Yes, I am benchmarking with random vectors, but all of them are unit vectors. My distance metric is Euclidean distance.

[2019-10-21 02:32] AlexDBlack commented on #8302
Confirmed fixed, thanks.

[2019-10-21 02:32] #8302 closed, assigned to nobody

[2019-10-21 07:45] treo commented on #8284
@mexeniz both euclidean distance and cosine similarity produce the same ordering when used on unit vectors. So my suggestion should still work for your use case.

In any case, even after improving our kd-tree performance, you will still see a fancy linear search, as you would need more entries than there are atoms in the universe (about 10^154) before your search would start seeing a speed up from

[2019-10-21 08:00] raver119 commented on #8284
On regular laptop CPU it doesn't actually take 60s, so part of this is mobile cpu. We're looking into performance optimizations now.

Can we see your source code, btw?

[2019-10-21 10:28] AlexDBlack opened #8304 "libnd4j: reduce_stdev_bp op broken for rank 3+ case"
[code]

Output is all zeros. Only tested on CPU backend so far...

Note the output array must be being written to, otherwise it would be NaN in the above test case.

[2019-10-21 16:19] neomatrix369 opened #8306 "DL4J | NLP: java.lang.OutOfMemoryError when running an NLP example on both CPU and GPU versions"
#### Issue Description

Please describe our issue, along with:
- expected behavior

Training finishes without complaining about "too" much memory used on machines with different resources (8GB upwards) for both CPU and GPU types of the app.

- encountered behavior

The [pom.xml](https://gist.github.com/neomatrix369/0ed60326cedbf4938b6c2b13bf46554f) for the project. This is a modified version from

[2019-10-21 16:28] willishf opened #8307 "QuickStart problem"
Following the guide at https://deeplearning4j.org/docs/latest/deeplearning4j-quickstart get an error on maven clean install can't resolve dependency

#### Issue Description

PS C:\deeplearning\deeplearning4j-examples\dl4j-examples> mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< org.deeplearning4j:dl4j-examples >------------------
[INFO] Building DeepLearning4j Exampl

[2019-10-21 17:09] raver119 commented on #8306
Are you sure about version?

[2019-10-21 18:58] eraly commented on #8298
Are you using beta4? There is a bug that was fixed in beta5.

[2019-10-21 20:37] neomatrix369 commented on #8306
It's `1.0.0-beta4` - sorry about that just updated it!

Also updated the details with GPU and machine related specs. Please let me know if you need anything else.

[2019-10-21 20:59] neomatrix369 commented on #8306
Additional question I noticed the below on the Readme page of the repo:

[code]

and

[code]
( i do understand that the above might be specific to building this project, so I should pick and choose whichever applies to me )

Is this the recommended way we should build our Java/JVM apps? Can you please point me to the docs where all the properties and JVM flags are enlisted (that can be passed as C

[2019-10-21 22:36] Bfzanchetta commented on #8307
I have been trying to build DL4J for one week, with no luck.

It would be great to mention that all "build from Source" documentation is out of date or the web link is down.
Really hard.

[2019-10-21 22:56] AlexDBlack commented on #8307
@willishf

You're trying to build only one of the modules, without building the examples' shared utilities module first.
So the error you're getting is reasonable/correct. Install the shared module first, or build the entire examples project.

@Bfzanchetta Most people don't need to build from source, and should use the releases on Maven central via a build such as maven or gradle.
Alternatively if

[2019-10-21 23:09] eraly commented on #8307
@willishf The quickstart needs to be updated. Sorry about that. We are in midst of a big transition. Do the following and things should work fine! Thank you.
[code]

@Bfzanchetta The team is in the midst of some big transitions. We will be updating our docs and such soon. I don't see you on our gitter channel. Feel free to join us [there](https://gitter.im/deeplearning4j/deeplearning4j). In genera

[2019-10-21 23:10] eraly commented on #8307
Whoops crossed paths with Alex.

[2019-10-21 23:19] willishf commented on #8307
Same error but but looks resolvable. Any magic commands to run to force
recognition of the file.

PS C:\deeplearning\deeplearning4j-examples\shared-utilities> mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] ------------< org.deeplearning4j.examples:shared-utilities

[INFO] Building shared-utilities 1.0.0-beta5
[INFO] --------------------------------[ jar
]--------------------------------

[2019-10-22 01:38] eraly commented on #8295
Looks like an issue with the Deconvolution2DLayer. Will post more details as I have them. Thanks

[2019-10-22 04:40] raver119 commented on #8306
I see. Please update to 1.0.0-beta5.

[2019-10-22 04:56] raver119 commented on #8304
Fixed and merged

[2019-10-22 04:56] #8304 closed, assigned to nobody

[2019-10-22 06:53] treo commented on #8306
@neomatrix369 also, to reduce some confusion: the instructions that you see there are to build dl4j and all supporting libraries from source. You do not have to do that, unless you are actively working on the actual dl4j source code. All you have to do is update your version number.

[2019-10-22 14:25] DreamyKten commented on #8298
I'm using beta5

This is my maven dependencies :

       <dependency>
            <groupId>org.nd4j</groupId>
            <artifactId>nd4j-api</artifactId>
            <version>1.0.0-beta5</version>
        </dependency>

        <dependency>
            <groupId>org.deeplearning4j</groupId>
            <artifactId>deeplearning4j-core</artifactId>
            <version>1.0.0-beta5</version>

[2019-10-22 19:28] eraly commented on #8307
I would just try again. It *should* work.. Check your .m2 repo for the shared-utilities jar.

[2019-10-22 21:46] eraly commented on #8298
Thank you for the update. Will you please upload either your model or the model architecture (json)? Also, what OS and what version of Keras?

[2019-10-22 22:29] LyesSp commented on #8295
Ok, thanks.I think it's the same problem on the issue  [#8298 ](https://github.com/eclipse/deeplearning4j/issues/8298)

[2019-10-22 23:28] willishf commented on #8307
The jar file appears to be there

[image: image.png]

Details on MVN install

mvn -version
Apache Maven 3.6.2 (40f52333136460af0dc0d7232c0dc0bcf0d9e117;
2019-08-27T11:06:16-04:00)
Maven home: C:\java\apache-maven-3.6.2\bin\..
Java version: 1.8.0_231, vendor: Oracle Corporation, runtime: C:\Program
Files\Java\jdk1.8.0_231\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", v

[2019-10-23 08:12] cqiaoYc commented on #8253
@AlexDBlack,@raver119  What is the cause of this problem?

[2019-10-23 08:25] DreamyKten commented on #8298
I'm using Windows 10 and Keras 2.2.4 with tensorflow  backend 1.13.1.
And this is my model
[unet.zip](https://github.com/eclipse/deeplearning4j/files/3761049/unet.zip)

Thank you.

[2019-10-23 10:19] #8286 closed, assigned to AlexDBlack

[2019-10-23 10:19] #8275 closed, assigned to nobody

[2019-10-23 11:00] AlexDBlack opened #8308 "All projects: check for broken links in error messages etc"
[code]

Unfortunately: http://deeplearning4j.org/model-import-keras gives a 404.
We should do another pass to check others too.

[2019-10-23 11:56] AlexDBlack commented on #8298
Here's my attempt to reproduce this from the provided JSON configuration.
I basically overfit the provided image, then compared results in DL4J vs. Keras.

I am seeing a difference...
Absolute difference over all output pixels:
[code]

![image](https://user-images.githubusercontent.com/2360237/67390139-c1d93980-f5e7-11e9-90fd-135ca233c9d0.png)

So, not as extreme as your images, but still slightly

[2019-10-23 12:35] AlexDBlack commented on #8298
So, it's definitely coming from deconv layers. If I use the same input image as the keras model in DL4J, activation differences are around 1e-8 on average for the conv layers... until the first deconv (conv2d_transpose_1)
Code and output: https://gist.github.com/AlexDBlack/abb3bf0a6f4f384863fa467f498447a4
I'm using Keras 2.3.1 btw.

Note difference is a little bigger with NativeImageLoader, not su

[2019-10-23 12:42] raver119 opened #8309 "libnd4j: use mkldnn for deconv"
We should add mkldnn support for deconv operations.

[2019-10-23 17:54] eraly commented on #8307
Can you paste the image?

[2019-10-23 18:13] willishf commented on #8307
[image: image.png]

PS C:\deeplearning\deeplearning4j-examples> cd .\dl4j-examples\
PS C:\deeplearning\deeplearning4j-examples\dl4j-examples> mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< org.deeplearning4j:dl4j-examples

[INFO] Building DeepLearning4j Examples 1.0.0-beta5
[INFO] --------------------------------[ jar
]---------------------------------
[INFO]
-------

[2019-10-23 23:44] AlexDBlack commented on #8298
So, a few things I've noticed here

First: this padding calculation is wrong, but it's unused anyway, and will be calculated/replaced in the c++ op instead:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/convolution/Deconvolution2DLayer.java#L202
(we end up with "padding" calculated as [24, 24] in this case)

Second

[2019-10-24 00:13] eraly commented on #8298
The C++ implementation gives incorrect answers. Here is a simple test case. The expected answers are calculated via Keras. Keras code is included in the gist. Attaching the h5 model from Keras if someone wants to debug the java side. For the c++ side you don't need anything else other than what is in the gist since I manually recreate the call to libnd4j

https://gist.github.com/eraly/49dfdb401b03

[2019-10-24 00:32] eraly commented on #8298
For a case with biases not set to zero:
https://gist.github.com/eraly/0824294d453261c58ef0585d70496464

Keras Model:
[de_conv.h5.zip](https://github.com/eclipse/deeplearning4j/files/3765115/de_conv.h5.zip)

[2019-10-24 00:35] eraly commented on #8298
Also of note: With the case here (i.e combination of kernel, stride and input sizes) the output shape with same == output shape with zero padding and not same. This gives the right answer. So it might be an issue only with same mode?

[2019-10-24 06:25] helt opened #8310 "Support for pretrained universal-sentence-encoder models"
#### Issue Description

Google published [pretrainend sentence2vec models for tensorflow](https://tfhub.dev/google/universal-sentence-encoder/2). It would be a nice addition to dl4j, if it supported loading these out of the box.

As I was told on gitter, support for these sentence 2 vec models might be underway already, but there is no issue to track progress yet.

[2019-10-24 06:48] AlexDBlack commented on #8298
Update here: looks like our shape and padding calculation may not be right in c++, in particular the args passed to col2im. I'll go through this and work out what it should be...
Pg24-26 here in case anyone wants to know: https://arxiv.org/pdf/1603.07285.pdf

[2019-10-24 06:50] raver119 commented on #8298
addBias being hardcoded to NCHW is fine, since temporary output array is always in NCHW format.

[2019-10-24 09:35] AlexDBlack opened #8311 "SameDiff: graph level RNG"
Currently SameDiff relies on thread local random.

This has a few problems:
1. Non-reproducible vs. C++ execution
2. Non-reproducible when execution of multiple graphs is interleaved in the same thread
3. Non-reproducible when saving and loading

[2019-10-24 11:46] AlexDBlack commented on #8300
https://github.com/KonduitAI/deeplearning4j/pull/11

[2019-10-24 11:46] #8300 closed, assigned to nobody

[2019-10-24 13:07] AlexDBlack opened #8312 "SameDiff: Implement new graph format (FlatBuffers storage problems to be resolved)"
We use FlatBuffers for storing  SameDiff graphs. Here's some issues we need to solve with it (and our use there-of) going forward:

* 2GB limit (we hit this in practice with large models especially with updater state)
    * Related: 32-bit indexing in Java, all ByteBuffer underneath
* Zero copy deserialization of arrays etc not possible
* Named args for ops
    * Currently we store iargs/bargs/tar

[2019-10-24 13:39] neomatrix369 commented on #8306
Thanks @raver119 this has resolved the OOEM complains. Also good improvements elsewhere with notifying and checking various things that can go wrong.

Although I get this warning message at the start of the run:

[code]

It continues to run without an issue but it's not clear from the message:
- what it is checking that it found was incorrect?
- what it did to fix it or overcome it?

I would help

[2019-10-24 14:35] eix128 opened #8313 "Google Released Coral for TPU"
Hi , google has released Coral SOM
You can checkout details:
https://coral.withgoogle.com/products/som/

It has TPU inside ( hardware neural net )

Any feature will be avalible to use this hardware with DL4J ?
With also spark support with distributed training ?

[2019-10-24 17:00] shyrma opened #8314 "support of nhwc and ndhwc formats for batchnorm based on mkl dnn api"
eventually check whether new releases of mkl dnn library support data format with channel dimension as last axis (format_tag::nhwc/ndhwc batch normalization operation, both forward and backprop),
if so, provide corresponding options in our operation based on mkl dnn api

[2019-10-24 17:40] eraly commented on #8295
@LyesSp Yes it is. We've been updating that one more if you want to keep track of progress.

[2019-10-24 23:58] AlexDBlack commented on #8313
It's not on our current roadmap, but in principle, I think we could add support, at least to the subset of ops that the TPU provides
however ASICs have a significantly different programming model than say a CPU or GPU, so adding support isn't like adding say ARM CPU support, there's a lot of work involved not just a recompilation targetting the device or anything.

As for Spark on TPU: no, that wo

[2019-10-25 01:39] AlexDBlack opened #8315 "DL4J: Add proper NHWC support for conv layers (Keras import)"
Mainly for Keras import.
At present, we attempt to switch
But for some cases, it's not really reliable to do so, as in this case, which has embedding -> dense -> reshape (to NHWC):
https://github.com/eclipse/deeplearning4j/blob/32e5cc1945a3fb75bd281aa9558888b75761e26f/deeplearning4j/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/e2e/KerasModelEndToEndTest.java#L30

[2019-10-25 04:59] mexeniz commented on #8284
@raver119 Great to hear that. Please wait for me. I will convert evaluation code on Android for JAVA project soon.

[2019-10-25 09:22] raver119 opened #8316 "libnd4j mkldnn 1.1.x upgrade"
We need to upgrade mkldnn version to the latest 1.1.x, which involves a bit of churn: namespaces were changed mkldnn -> dnnl. But that's clearly required, since 1.1.x version is going to be main branch for evolution.

[2019-10-25 13:15] AlexDBlack commented on #8298
Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/12
I added a whole lot of test cases pulled from Keras here also https://github.com/KonduitAI/dl4j-test-resources/pull/2
2 test cases left there (valid mode, output size differs; separate issue to same mode problem here).

I should be able to merge that tomorrow, then push that back to Eclipse. New snapshots with the fix will likely be u

[2019-10-25 20:08] willishf commented on #8307
Deleted the directory and tried again this time building the shared-utilities directory first. Same error.

[2019-10-26 01:38] #8248 closed, assigned to AlexDBlack

[2019-10-26 01:38] #8252 closed, assigned to nobody

[2019-10-26 01:38] #8265 closed, assigned to AlexDBlack

[2019-10-26 01:38] #8270 closed, assigned to AlexDBlack

[2019-10-26 01:38] #8298 closed, assigned to AlexDBlack

[2019-10-26 01:41] AlexDBlack commented on #8298
Thanks for reporting this. The fix has been merged here: https://github.com/KonduitAI/deeplearning4j/pull/12
This will be merged back to the Eclipse repo shortly, and will be available on snapshots some time next week.

![image](https://user-images.githubusercontent.com/2360237/67612357-d25b0100-f7ed-11e9-96be-3fdcffeec816.png)

Keras vs. DL4J layer activations comparison from earlier:
https://gis

[2019-10-26 01:43] AlexDBlack commented on #8295
This is almost certainly fixed now - see most recent comments here.
https://github.com/eclipse/deeplearning4j/issues/8298

Once it's available on snapshots, let's test and confirm it's fixed before closing this issue.

[2019-10-26 01:44] AlexDBlack commented on #8248
Thanks for reporting this. Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/12
This will be merged back to the Eclipse repo shortly, and the fix will be available on snapshots some time next week.

[2019-10-26 01:46] AlexDBlack commented on #8270
Thanks for reporting this. Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/12
This will be merged back to the Eclipse repo shortly, and the fix will be available on snapshots some time next week.

Now all initialization logging (including the CUDA logging flagged in the issue) can be disabled by either setting the system property (see link below) or by configuring your logging backend

[2019-10-26 01:57] AlexDBlack opened #8317 "DL4J Keras Import: Add additional deconv test cases"
We don't have good enough Keras import coverage.

A few things to test:
* output padding configuration
* test cases where Keras adds implicit output padding (not sure why)

I don't believe we have any test cases with explicit (non-zero) output padding.

For example, Keras adds some implicit padding that does NOT appear in the JSON for the following deconv2d configurations:
k=2, inSize=3, stride=3,

[2019-10-26 21:25] eraly commented on #8317
I can do this! Can you assign me?

[2019-10-27 11:39] orausch commented on #8248
Will you backport this to beta5? If not, is there another release upcoming that fixes this?

[2019-10-28 01:34] AlexDBlack commented on #8248
It's not possible to backport fixes to a past release (and keep the same version name, anyway).
We expect that there will be a new release soon (next few weeks).

Also new snapshots will be available some time this week, that will include the fix: https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots
snapshots are not being built at present but that will be fixed in the next few d

[2019-10-28 01:39] AlexDBlack commented on #8317
@eraly Done, thanks
You might as well start from this (which I used for op testing), but add non-zero output padding also
https://gist.github.com/AlexDBlack/d9d3c422a5c8c88aec10ab945964acc6

[2019-10-28 01:59] AlexDBlack commented on #8307
So, following up here

I tested locally, turns out the problem here is just the missing parent project installation
try this:
[code]

Without doing the parent install (first line) the last line (dl4j-examples package) will fail.
Looks like a maven bug / edge case.

Only workaround that I can see for that is to get rid of the shared-utilities module. That would result in code duplication, but shoul

[2019-10-28 07:22] mexeniz commented on #8284
@raver119  Here are source codes for evaluation
https://github.com/mexeniz/dl4j-kdtree-android-evaluation
https://github.com/mexeniz/dl4j-kdtree-java-evaluation

[2019-10-28 13:25] AlexDBlack opened #8318 "SameDiff: add a "calculate activations and gradients" method"
We can do either of these in isolation, but we can't do them together, efficiently, in one single call.
Internally doing both at once is trivial, but there's no nice way to do that in the current API.

[2019-10-28 14:06] orausch opened #8319 "ActivationListener isn't called on execBackwards"
#### Issue Description

I want to get the calculate the loss and gradients for a batch at the same time (#8318 related) in my training loop. @AlexDBlack suggested to add an activation listener to the variable, but this doesn't seem to work. The following example does not print the expected output from the listener:
https://gist.github.com/orausch/f78035f42940e5f614c04f32cd53a271
#### Version Infor

[2019-10-28 14:17] orausch commented on #8319
As a user I would also expect `sd.getArrForVarName("loss")` to also work, but that returns `null`.

[2019-10-28 18:10] raver119 opened #8320 "mkldnn and dilation"
At this moment conv operations that use mkldnn do not take dilation into account. Obviously, that's a bug, and should be addressed asap.

[2019-10-28 23:48] luisgarcc commented on #8288
I am running against 1.0.0-SNAPSHOTs and I keep seeing the same error. Did this make it into the builds yet?

[2019-10-29 16:58] ticofab opened #8322 "SIGSEV on Raspberry PI + Raspbian 10 + Deeplearning4j"
* Raspberry PI 4 / 4GB + Raspbian 10
* JDK 11
* Deeplearning4j 1.0.0-beta4

When trying to train a model on a Raspberry PI + Raspbian 10, a fatal error occurs. I already opened this issue in the AdoptOpenJDK repo as I am unsure where it comes from.

https://github.com/AdoptOpenJDK/openjdk-build/issues/1355

Apologies for the double posting, happy to close one as soon as I have more information.

[2019-10-29 21:35] ghost opened #8323 "InvalidProtocolBufferException while reading array from onnx model"
#### Issue Description

The onnx related classes inside nd4j-api jar cannot read onnx model completely. Below are the commands/codes to generate readable data from onnx model.

#### (1) python using onnx: sample is from https://github.com/onnx/keras-onnx/blob/master/README.md
[code]
expected output from `ResNet50_model.json` (each float data in kernel is readable):
[code]

#### (2)  java using nd4

[2019-10-30 07:03] AlexDBlack commented on #8323
Thanks for the report. But ONNX support is unfortunately not ready for general use (it's still in early development at this point).
TensorFlow import on the other hand is very well tested and supported including in beta 5.

[2019-10-30 07:03] #8323 closed, assigned to nobody

[2019-10-30 11:05] alexanderst opened #8325 "DL4J: failed test ValidateMKLDNN"
Detected test failure in master for ValidateMKLDNN (Either validateBatchNorm or validateConvSubsampling are failing depending on environment):

java.lang.AssertionError: MAX, mb=3, cm=Same, kernel=[2, 2], stride=[1, 1] - Gradients are not equal: 0_W - highest relative error = 1.0 > max relative error = 1.0E-5

### Output below is from Window 10 machine, libnd4j was built with -a avx2 -h mkldnn.

h

[2019-10-31 01:19] zhangjin123333 opened #8327 "support chinese category"
Schema inputDataSchema = new Schema.Builder()
.addColumnsInteger("RowNumber", "CustomerId")
.addColumnString("Surname")
.addColumnInteger("CreditScore")
.addColumnCategorical("Geography", "France", "Spain", "Germany")//oneHot的列
.addColumnCategorical("Gender", "Female", "Male")//oneHot
.addColumnsInteger("Age", "Tenure")
.addColumnDouble("Balance")
.addColumnsInteger("NumOfProducts", "HasCrCard", "

[2019-10-31 01:19] zhangjin123333 commented on #8327
a1 | a2 | a3 | Geography | a5
-- | -- | -- | -- | --
6 | 40 | 0 | 西门子 | 0
8 | 45 | 0 | 西门子 | 2.42
12 | 110 | 1 | Bossard | 11.1
12 | 130 | 1 | Bossard | 11.49
4 | 16 | 0 | Bossard | 0
10 | 30 | 1 | Bossard | 6.53
16 | 220 | 1 | Boellhoff | 19.27
6 | 16 | 0 | Bossard | 1.4
6 | 25 | 0 | Bossard | 1.58
16 | 90 | 1 | Bossard | 16.75
20 | 20 | 0 | Boellhoff | 20.03
8 | 393 | 1 | Bossard | 8.73
6 | 50 |

[2019-10-31 01:40] AlexDBlack opened #8328 "SameDiff: Add memory reuse memory management"
In a recent PR, I added proper memory management API and implement to SameDiff - i.e., array use tracking, deallocate arrays when no longer required.
https://github.com/KonduitAI/deeplearning4j/pull/10

The current implementation just closes arrays when they are no longer required. That minimizes memory use, but continually allocating and deallocating memory is costly.
What we need: a memory manag

[2019-10-31 01:45] AlexDBlack opened #8329 "DL4J SameDiff layers: add a DL4J workspaces memory management implementation"
In a recent PR, I added proper memory management API and implement to SameDiff - i.e., array use tracking, deallocate arrays when no longer required.
https://github.com/KonduitAI/deeplearning4j/pull/10

For DL4J SameDiff layers, we want the underlying SameDiff instances to integrate with DL4J workspaces.
This will have two effects:
* Reduced memory use (working memory, etc goes in DL4J working mem

[2019-10-31 01:50] zhangjin123333 commented on #8327
modify the csv to UTF-8,it's ok

[2019-10-31 01:50] #8327 closed, assigned to nobody

[2019-10-31 03:50] saudet commented on #8322
Thanks for the heads-up! It does look like an issue in OpenJDK though.

[2019-10-31 04:00] saudet commented on #8322
BTW, OpenJDK doesn't support ARM all that well, yet, anyway.
You'll have better luck with others like Oracle JDK, Amazon Corretto, or Liberica:
https://www.oracle.com/technetwork/java/javase/downloads/jdk8-arm-downloads-2187472.html
https://aws.amazon.com/corretto/
https://bell-sw.com/

[2019-10-31 06:39] AlexDBlack opened #8331 "lstmLayer op: Add backprop implementation"
lstmLayer op was recently added here: https://github.com/KonduitAI/deeplearning4j/pull/4

We need backprop for this op (i.e., lstmLayer_bp), as well as MKLDNN support.

[2019-10-31 06:40] raver119 commented on #8331
сс @shyrma

[2019-10-31 08:52] AlexDBlack opened #8332 "libnd4j helpers: add ability to disable platform helpers"
Mainly for testing/debugging, but also potentially as a workaround to a 3rd party library bugs etc.

We want to be able to disable these:
* Globally
* On a per-platform basis (i.e., just mkldnn, etc)

[2019-10-31 09:25] orausch opened #8333 "SameDiff calculates unnecessary gradients"
#### Issue Description
I want to calculate gradients for only specific variables in my samediff graph.
In the following code, `z.gradient().getArr()` should be null, since I specified to only backpropagate the gradient for `x`.
https://gist.github.com/orausch/361c3582fa899697d7e407b8bc913a31

**Actual Output:**
[code]
**Expected Output:**
[code]
#### Version Information
`1.0.0-beta5`

If this is n

[2019-10-31 09:28] LyesSp commented on #8295
ok thanks

[2019-10-31 22:00] eraly commented on #8317
Looking at the Keras code, there is implicit padding for valid mode whenever the kernel size is less than the stride size, linked [here](https://github.com/keras-team/keras/blob/e8946d5240f3b18528d4d34668ee615907879953/keras/utils/conv_utils.py#L165)
So for these cases dl4j will give a dimension size that is smaller by (stride_size - kernel_size)

[2019-11-01 00:48] AlexDBlack commented on #8333
This is expected behaviour.
[code]

Note you have `w.mul(z)` - clearly, `w` gradient is required, so this multiplication operation is required to be differentiated. Let O=w.mul(z), then the mul_bp operation has inputs (w, z, dL/dO), and outputs (dL/dw and dL/dz).

In general SameDiff automatically determines the minimal subgraph necessary to calculate the required gradients; however this minimal s

[2019-11-01 00:48] #8333 closed, assigned to nobody

[2019-11-01 01:52] AlexDBlack opened #8335 "libnd4j: batchnorm_bp op backprop incorrect for dL/dIn"
https://github.com/KonduitAI/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/nn/batchnorm.cpp#L184

We've got one of the terms for dL/dIn, but we need to account for the gradient contribution from the mean and variance.

Compare:
https://chrisyeh96.github.io/2017/08/28/deriving-batchnorm-backprop.html
https://deepnotes.io/batchnorm
https://github.com/eclipse/deeplearning4j/blob/m

[2019-11-01 02:31] AlexDBlack commented on #8335
Also the MKLDNN implementation seems to be returning the wrong values also for dL/dIn, not sure why though.

I know MKLDNN is definitely being used here, as I've sen MKLDNN_VERBOSE=1 environment variable:
[code]
![image](https://user-images.githubusercontent.com/2360237/67998206-b94dc680-fcab-11e9-8efc-414f66674dce.png)

Again, same test, cuDNN gives the exact same result to DL4J.

Backprop code f

[2019-11-01 02:44] AlexDBlack commented on #8299
Blocked on: https://github.com/eclipse/deeplearning4j/issues/8331

[2019-11-01 02:50] AlexDBlack opened #8337 "SameDiff CUDA test failures (Java level memory management)"
Many of the TF import tests when run on CUDA are giving this exception:

[code]

The same tests run on CPU are fine

[2019-11-01 02:52] AlexDBlack commented on #8325
For the batch norm failures, very likely the same issue as this: https://github.com/eclipse/deeplearning4j/issues/8335

[2019-11-01 04:06] eraly commented on #8317
So it looks like this is the situation we need to think about -

output_padding is not specified in keras with valid mode and there are multiple possible deconv_sizes possible

Examples to illustrate:

[code]

_____ valid ______
Input shape: (None, 6, 6, 1)
Shape after convolution: (None, 2, 2, 16)
Shape after transposed convolution: (None, 6, 6, 1)

Input shape: (None, 7, 7, 1)
Shape after convol

[2019-11-01 09:13] cqiaoYc commented on #8253
My app (not the test project)  often reports an error as soon as it runs, with a probability of 1/3. If it don't report an error at the beginning, it can basically run until the end.
Exception in thread "pool-1-thread-4" Exception in thread "pool-1-thread-1" Exception in thread "pool-1-thread-3" java.lang.RuntimeException: execIndexReduce failed; Error code: [77]
	at org.nd4j.linalg.jcublas.ops.ex

[2019-11-01 10:22] victoriest opened #8338 "Unsupported keras layer type BatchNormalizationV1"
#### Issue Description

Exception occured when load trained tensorflow.keras model(.h5)
[code]

#### Version Information

* Deeplearning4j 1.0.0-beta5
* Tensorflow 1.13.1
* jdk1.8
* Window10

#### Additional Information

Where applicable, please also provide:

* Full log or exception stack trace (ideally in a Gist: gist.github.com)
* pom.xml file or similar (also in a Gist)

[2019-11-01 11:54] AlexDBlack commented on #8319
Thanks for reporting this, it has been fixed here: https://github.com/KonduitAI/deeplearning4j/pull/21
It will be merged back to Eclipse master soon

[2019-11-01 18:46] eraly commented on #8338
Could you try using just vanilla keras? ie import keras and saving like that?

[2019-11-02 00:21] ipsmile opened #8339 "Errors encountered building Tika-Master from the source"
ubuntu 18.04; java: openjdk version "1.8.0_222"; maven: 3.6.0

The source codes are located at:  https://github.com/apache/tika/archive/master.zip

mvn clean install stopped due to the following error. Just like to report it based on the generated messages.

If this doesn't help any code improvement, please disregard it.

----------------------------------------------------------------------------

[2019-11-02 00:25] #8318 closed, assigned to nobody

[2019-11-02 00:25] #8319 closed, assigned to AlexDBlack

[2019-11-02 00:25] #8337 closed, assigned to AlexDBlack

[2019-11-02 00:31] AlexDBlack commented on #8339
Looks like Tika is using DL4J internally, but it's not clear exactly what they are doing (DL4J there is burried behind some layers of Tika APIs)
https://github.com/apache/tika/blob/master/tika-dl/src/test/java/org/apache/tika/dl/imagerec/DL4JVGG16NetTest.java

We would need this to be isolated before we can help (we have model zoo tests and they are all passing).

Alternatively this could have bee

[2019-11-02 05:00] zealbell commented on #8255
Also have the same problem [GeForce 940MX]; CC: [5.0]. Are there any plans of resolving this issue with future updates

Not sure I quite understand this

[2019-11-02 06:42] #8329 closed, assigned to nobody

[2019-11-02 08:14] AlexDBlack opened #8340 "SameDiff: add a way to not use DeviceLocal"
SameDiff uses DeviceLocal for parameters for thread safety.
This has a downside or not allowing views to be used for variable (parameter) arrays, which for 'normal' SameDiff use is fine.

However, in the content of DL4J, all parameters are views - and we don't have any concerns about thread safety. Consquently, for SameDiff DL4J layers, we have 2 downsides:
1. An extra copy of the parameters
2. Th

[2019-11-03 10:37] shyrma commented on #8309
done!

[2019-11-03 10:38] shyrma commented on #8280
corrected!

[2019-11-03 10:38] shyrma commented on #8285
added!

[2019-11-03 10:39] raver119 commented on #8309
👍

[2019-11-03 10:39] #8309 closed, assigned to nobody

[2019-11-03 13:25] zdl010 opened #8342 "libnd4j: strided_slice_bp bug"
Please indicate relevant versions, including, if relevant:

* Deeplearning4j version :1.0.0-beta5
* Platform information ：win10

public class LN4 {

	public static void main(String[] args) {

		SameDiff sd = SameDiff.create();

		SDVariable input = sd.var("input", DataType.FLOAT, 1, 2);

		SDVariable label = sd.var("label", DataType.FLOAT, 1, 2);

		INDArray inputArr = Nd4j.linspace(2, 3, 2).resha

[2019-11-03 13:25] zdl010 commented on #8342
@AlexDBlack

[2019-11-03 13:45] zdl010 commented on #8342
@AlexDBlack The differential value of c and input should be the same！

[2019-11-03 20:22] DanielMartensson opened #8343 "JavaFX Threads with DL4J won't work - Same score all the time"
#### Issue Description

I'm working on something called Deeplearning2C. It's a C-code generator that generate C-code with a BLAS library. https://github.com/DanielMartensson/Deeplearning2C

When I train my model, then I get the same score all the time. But when I restart the training, then I get only ONE score less than before. So I assume that threads + DL4J won't work very well together.

When I

[2019-11-04 00:50] saudet commented on #8343
Are you able to reproduce that without JavaFX?

[2019-11-04 01:54] victoriest commented on #8338
Thanks for the reply.
I retrained the model by using keras(not tf's). The issues seems been sloved cause the exception didn't shows again, but it still cant work:
[code]
It's another issuse, maybe. This one can be closed.

[2019-11-04 02:39] 54uso opened #8344 "Can't load keras model (Unsupported keras layer type DenseFeatures)"
#### Issue Description
I'm trying to import keras model， but get the error:

org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: **Unsupported keras layer type DenseFeatures**

#### Version Information

* Deeplearning4j version 1.0.0-beta5
* Linux x86_64
* no CUDA

[2019-11-04 02:40] AlexDBlack commented on #8344
Can you provide model details - such as the model file, and the code used to produce it?
What Keras version are you using?

[2019-11-04 03:10] 54uso commented on #8344
[hdf5.zip](https://github.com/eclipse/deeplearning4j/files/3802574/hdf5.zip)
#### used tensorflow to produce it
[code]
#### Version Information
python 3.7
tensorflow 2.0.0
keras 2.3.1

[2019-11-04 03:13] zdl010 commented on #8342
@AlexDBlack Do you have time to look at this issue？

[2019-11-04 03:23] AlexDBlack opened #8345 "libnd4j: multi_head_dot_product_attention and ..._bp memory use"
Running simple tests here and tracking GPU memory use:

https://gist.github.com/AlexDBlack/e663474654e8bf8c43761fe5ad572198

![attention_mem_use](https://user-images.githubusercontent.com/2360237/68097877-9d495f80-ff0d-11e9-8bab-04750dc7fe11.png)

Interpreting this graph:
* The flat section (x=11 to 21) is the java allocated input and output arrays + 10 second sleep
* All memory changes (allocatio

[2019-11-04 03:33] varunembar opened #8346 "Unable to compile rl4j"
#### Issue Description
Build rl4j fails to compile with the following error
Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:testCompile (default-testCompile) on project rl4j-core: Compilation failure: Compilation failure

#### Version Information

Please indicate relevant versions, including, if relevant:

deeplearning4j-1.0.0-SNAPSHOT
On linux
No CUDA

#### Additional In

[2019-11-04 04:14] AlexDBlack commented on #8346
Are you sure you are up to date with the current eclipse master?
I just tried a build and test run on rl4j, and both are fine

[2019-11-04 04:23] AlexDBlack opened #8347 "SameDiff/libnd4j: deconv op output size (or padding) configuration"
We already have this for TF import already, i.e., deconv2d_tf (and soon deconv3d_tf) that support an output size argument.

But compare our deconv2d op to TF's conv2d_transpose: note the addition of the output_shape argument.
https://www.tensorflow.org/api_docs/python/tf/nn/conv2d_transpose

This should be optional. Note it's functionally equivalent to Keras' output padding:
https://keras.io/layer

[2019-11-04 04:28] AlexDBlack opened #8348 "DL4J Keras Import: tf.keras support"
TensorFlow 2 has 'build in' Keras model saving support:
https://www.tensorflow.org/tutorials/keras/save_and_load#hdf5_format

It looks like there are some format differences between this and the standard Keras model saving.

tf.keras is not yet tested with DL4J Keras import, but we know that there are some issues as of 1.0.0-beta5. For example:
https://github.com/eclipse/deeplearning4j/issues/8338

[2019-11-04 04:30] AlexDBlack commented on #8344
Thanks for reporting this. Looks like tf.keras has some format differences to the "standard"/non-TF keras saved models.
I'll close this in favor of this general issue, keep an eye on it for progress: https://github.com/eclipse/deeplearning4j/issues/8348

[2019-11-04 04:30] #8344 closed, assigned to nobody

[2019-11-04 04:34] AlexDBlack commented on #8338
Thanks for the issue - for tf.keras, keep an eye on this issue: https://github.com/eclipse/deeplearning4j/issues/8348

As for the second issue - `Invalid configuration for layer (idx=-1, name=max_pooling2d_2, type=SubsamplingLayer) for height dimension:  Invalid input configuration for kernel height. Require 0 < kH <= inHeight + 2*padH; got (kH=16, inHeight=14, padH=0)`:
That's an unusual kernel s

[2019-11-04 04:34] #8338 closed, assigned to nobody

[2019-11-04 04:41] AlexDBlack commented on #8346
Hypothetically outdated snapshots with the latest eclipse master could do this also.
Unfortunately it looks like not all snapshots are being updated at present - so until that fixed - if you're building, you'll need to build the whole stack (not just some modules).

[2019-11-04 04:41] #8346 closed, assigned to nobody

[2019-11-04 06:35] victoriest commented on #8348
Detail of #8338
[code]

Code of model define:

[code]

Summary by ```model.summary()```

[code]

[2019-11-04 06:53] DanielMartensson commented on #8343
No. I dont think so. This happens when I use a thread. If I restart the thread then the number score goes down one step. So I assume that DL4J is not thread safe.

It worked before with 1.0.0-Beta4. But now it won't work at all for both 1.0.0-Beta4 and Beta5.

[2019-11-04 07:06] raver119 commented on #8343
DL4J is definitely NOT thread safe. With the exception of classes, which are thread safe by design. Such classes has thread safety mentioned in docs.

[2019-11-04 08:22] AlexDBlack commented on #8342
Thanks for reporting.

This is a bug in strided slice backprop - reproducible with the following test case:
https://gist.github.com/AlexDBlack/a2e9f87e46dc20dbc5eadcab39a8a993

I have checked the array shapes and iargs, that looks reasonable to me, so it is likely a bug in the implementation.

[2019-11-04 08:30] zdl010 commented on #8342
@AlexDBlack I want to implement BPTT with samediff, which will slice the input in time steps and then stack it into a new tensor to calculate the gradient. Can I calculate the gradient of loss to the input?

[2019-11-04 08:33] AlexDBlack commented on #8348
@victoriest ok, so this is pretty much what I expected, and mentioned in the other issue: keras must be adding some implicit padding here.
We (correctly, IMO) consider a kernel size larger than the input size to be invalid. You have a 16x16 kernel operating on 14x14 input, which doesn't really make sense.
That said, for import compatibility, we may need to allow Keras' way of implicitly adding pad

[2019-11-04 08:36] AlexDBlack opened #8349 "DL4J Keras import: Keras allows kernel > input size"
See these two comments:
https://github.com/eclipse/deeplearning4j/issues/8348#issuecomment-549236875
https://github.com/eclipse/deeplearning4j/issues/8348#issuecomment-549259881

IMO we do the right thing here (`kernel > input` should be an error, it doesn't make sense, except *maybe* in some fully convolutional nets) but Keras must be implicitly adding padding here instead.
For import compatibili

[2019-11-04 08:58] AlexDBlack commented on #8342
@longzhendong on the current master (and snapshots, as soon as they are back up) you could use SameDiff.calculateGradients method and specify that you want the input gradient returned.

Another way to implement TBPTT would be to have placeholders for both the initial RNN state and the normal input... split it externally, using INDArray.get instead of internally using SDVariable.get.
Your outputs a

[2019-11-04 09:30] DanielMartensson commented on #8343
So. Do you recommend to not use a thread in this case? I'm only use a thread for the update of JavaFX components.

[2019-11-04 09:34] raver119 commented on #8343
If you access 1 model from 1 thread all the time - it has nothing to do with thread safety. Problems will arise once you'll try to access model from multiple threads at the same time.

[2019-11-04 10:40] DanielMartensson commented on #8343
Well, I have only one thread to use with the model. So this is a JavaFX issue?

[2019-11-04 10:56] raver119 commented on #8343
trainDataSetIterator <--- are you sure it's properly reset before epoch starts?

[2019-11-04 12:15] AlexDBlack opened #8352 "Duplicate SamplingDataSetIterator class"
One should be deleted (maybe deprecated and extend the other, to reduce breaking change for users)

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/dataset/api/iterator/SamplingDataSetIterator.java
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-data/deeplearning4j-utility-iterators/

[2019-11-04 12:35] DanielMartensson commented on #8343
I don't reset it. I don't know how. I know that some functions are obselete now.

[2019-11-04 12:36] raver119 commented on #8343
Add this after model.fit() call

[2019-11-04 12:37] raver119 commented on #8343
Also, can you please add something like ScoreIterationListener to your model, just to see what actually happens during your epochs?

[2019-11-04 13:05] #8280 closed, assigned to nobody

[2019-11-04 13:05] #8285 closed, assigned to nobody

[2019-11-04 16:01] maxpumperla opened #8353 "pydl4j: use mvnw if user doesn't have docker or mvn"
`konduit-serving` makes effective use of `mvnw` to make it easy for python users to install dependencies. we should leverage the same for `pydl4j`, and later on use `pydl4j` itself to manage all upstream konduit dependencies for Python users.

[2019-11-04 17:50] DanielMartensson commented on #8343
But I'm printing the score?

[2019-11-04 17:58] DanielMartensson commented on #8343
I add this code

[code]

Result

![image](https://user-images.githubusercontent.com/28505229/68145034-2627c180-ff35-11e9-8196-af8ea44b06ea.png)

When I add `multiLayerNetwork.setListeners(new ScoreIterationListener(1));` to the model.

![image](https://i.ibb.co/XkzbPXX/Selecci-n-024.png)

[2019-11-04 19:08] varunembar commented on #8346
I was following the instructions here https://gist.github.com/anis016/0f9c759e57dd641cd18e67516475dbed.
Turns out I had built the following modules libnd4j, nd4j, DataVec, deeplearning4, but had not built gym-java-client, arbiter.

It works fine now.

[2019-11-04 23:45] eraly opened #8355 "Add convenience method to get input sizes of comp graph if possible"
Enhancement

[2019-11-04 23:45] eraly commented on #8355
I can do this.

[2019-11-05 00:10] AlexDBlack commented on #8353
Note that if we use it, mvnw scripts/jars can't go in the eclipse/deeplearning4j repo itself though, due to Eclipse's limitations on 3rd party content. A script to download it might work, however.

[2019-11-05 03:12] titainic opened #8356 "Nd4j.arange()　in GPU Bug"
#### Issue Description

INDArray data = Nd4j.arange(-1, 1, 0.01);
INDArray data = Nd4j.arange(-1, 1, 0.02);
INDArray data = Nd4j.arange(-1, 1, 0.08);
GPU info:
Expected vs provided shape mismatch [200] vs [201] at index 0

CPU　no problem
#### Version Information

1.0.0-beta5

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

Deepl

[2019-11-05 07:10] victoriest commented on #8348
The solution is worked(14*14 kernel). im so appreciated and thanks for the reply.

[2019-11-05 08:07] maxpumperla commented on #8353
thanks, very good reminder. not a problem though

[2019-11-05 12:17] raver119 opened #8357 "libnd4j: get rid of one-off signatures in NativeOps"
Back in days, before DeclarableOp interface was introduced, special operations that were impossible to fit into XYZ interface were added as one-off signatures in NativeOps class (now just functions).

I.e. tear, pullRows, scatterUpdate, accumulate, average, and so on.

All these signatures should be removed and replaced with corresponding operations, executable via regular DeclarableOp interfaces.

[2019-11-05 12:19] raver119 commented on #8320
Fixed by @shyrma

[2019-11-05 12:19] #8320 closed, assigned to nobody

[2019-11-05 14:02] eix128 commented on #8313
Well yes , but you can make it by adding , just simple interface.
There is already C++ lib for that.
Link for C++:
https://github.com/google-coral/edgetpu

and you can add it by using jni or javacpp
https://github.com/bytedeco/javacpp

[2019-11-05 14:02] eix128 opened #8358 "Robovm support ?"
Hi , sometimes i use robovm for ios development on java.
Can i use dl4j with robovm ?
For IOS

[2019-11-05 14:39] saudet commented on #8358
Yes, it should work although untested.

/cc @johanvos

[2019-11-06 04:06] AlexDBlack commented on #8342
Confirmed fixed and merged to eclipse master also
Thanks for reporting @longzhendong, and for the fix @shugeo

[2019-11-06 04:06] #8342 closed, assigned to nobody

[2019-11-06 07:07] zdl010 opened #8360 "Op [reduce_sum_bp] execution failed bug"
#8233 ## Version Information

Please indicate relevant versions, including, if relevant:

* 1.0.0-beta5
* win10
* CUDA version,  no used

Code:
public static void main(String[] args) {

		SameDiff sd = SameDiff.create();
		SDVariable label = sd.var("label", DataType.FLOAT, new int[] { 3, 3, 4 });

		SDVariable m = sd.math().logSumExp(label, 1);
		sd.setLossVariables(m);

		ExternalErrorsFunction f

[2019-11-06 07:07] zdl010 commented on #8360
@AlexDBlack

[2019-11-06 07:52] #8340 closed, assigned to AlexDBlack

[2019-11-06 08:00] AlexDBlack commented on #8360
What are you trying to accomplish here? i.e., what is your goal?

[2019-11-06 08:06] eix128 opened #8361 "Any news for OpenCL support for AMD and mobile gpus ?"
Hi , when can we use dl4j with opencl support ?
any news for that ?
which version of dl4j will support amd and embedded gpus ?
With robovm support and ios also metal 2 .

if you make the interface , i can help you on apple ( ios and osx ) side
https://github.com/dehesa/Metal
for bulk multiplication etc...

and opencl side i try my best.
But need interface what to do.
For big bulk calculations.

[2019-11-06 08:07] zdl010 commented on #8360
@AlexDBlack The derivative of input to logSumExp, used for the implementation of CRF layer

[2019-11-06 09:09] DanielMartensson commented on #8343
Give me a reply if you have read this post above. I know that you have much work to do, but I wonder if you have notice the information.

[2019-11-06 09:18] raver119 commented on #8343
So, according to your log there's 2 things happening:
1) you have exactly 1 dataset in your iterator
2) subsequent epochs do not trigger actual training.

Please show how you create your iterator, and source code for it, if it's yours.

[2019-11-06 09:23] AlexDBlack commented on #8360
But you're using an ExternalErrorsFunction... That's only used when you have gradients that are not coming from SameDiff...

So to be clear, your "full" network is something along the lines of:
SameDiff(label -> logsumexp) -> NotSameDiff(CRF)?
And you have gradient calculation that you want to pass in to SameDiff from the CRF implementation?

[2019-11-06 09:31] zdl010 commented on #8360
@AlexDBlack "Label" is just a variable name, and the problem here is to compute the gradient to report an error

[2019-11-06 17:54] DanielMartensson commented on #8343
Yes! Here!
https://github.com/DanielMartensson/Deeplearning2C/blob/master/Deeplearning2CApp/src/main/java/se/danielmartensson/deeplearning2c/deeplearning/DL4JData.java

[2019-11-07 01:42] zdl010 opened #8363 "libnd4j: strided_slice_bp broken"
* 1.0.0-SNAPSHOT
* win10

testing code：
@Test
	public void testSliceVariableGrad() {
		SameDiff sd = SameDiff.create();
		SDVariable label = sd.var("label", DataType.FLOAT, 3, 4);
		SDVariable input = sd.var("input", DataType.FLOAT, 3, 4);
		INDArray inputArr =  Nd4j.rand(3,4);
		INDArray labelArr =  Nd4j.rand(3,4);
		SDVariable a = input.get(SDIndex.all(), SDIndex.interval(0, 2));
		SDVariable b

[2019-11-07 01:43] zdl010 commented on #8363
@AlexDBlack I pushed some test code

[2019-11-07 02:39] AlexDBlack opened #8364 "Test Issue [Please Disregard]"
Test issue

[2019-11-07 03:39] AlexDBlack commented on #8343
@DanielMartensson this looks wrong: you're using the test set twice:
https://github.com/DanielMartensson/Deeplearning2C/blob/master/Deeplearning2CApp/src/main/java/se/danielmartensson/deeplearning2c/deeplearning/DL4JData.java#L50-L53

Also separately (line 39) you're normalizing on both the train and test set, which is considered bad practice. You should collect normalization statistics using the

[2019-11-07 03:56] AlexDBlack commented on #8361
OpenCL support won't be added any time soon, it would be literally thousands of hours of work to implement.
We are looking at other options that could provide AMD GPU support amongst other things (LLVM and Intel One API / data parallel C) but have nothing to announce at this time.

CoreML (which uses Metal internally) is on the roadmap for 2020, but will still be a very large task.

Integrated GPU

[2019-11-07 03:56] #8361 closed, assigned to nobody

[2019-11-07 04:14] AlexDBlack commented on #8363
@shugeo

After this recent PR, strided_slice_bp appears to be broken for most cases:
https://github.com/KonduitAI/deeplearning4j/pull/29

For example, all 14 of these tests now fail; they were passing earlier in the week:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/autodiff/opvalidation/ShapeOpValidation.java#L425-L484
`Caused by: java

[2019-11-07 10:01] stubbi59 opened #8365 "apparent memory leak in nd4j/dl4j"
I am running a "demo" application for GAN networks, and this keeps failing with Out Of memry error

the app is "io.skymind.example.App", it is possible that the application is plain wrong, but this also looks like a memory reclaim/GC issue.

the run file is what I use to run the application, the pom.xml and one log file are also attached.

the "run" file is used to modify memory parameters for thi

[2019-11-07 11:02] raver119 commented on #8365
Show your source code please

[2019-11-07 11:05] stubbi59 commented on #8365
not my code, this is something we found. :)

[dl4j-gans-master.zip](https://github.com/eclipse/deeplearning4j/files/3819249/dl4j-gans-master.zip)

[2019-11-07 11:06] stubbi59 commented on #8365
closed by mistake ..

[2019-11-07 11:57] #8364 closed, assigned to nobody

[2019-11-07 12:06] AlexDBlack commented on #8360
Ok, so this in unrelated to external errors function, it's bad LogSumExp (manually implemented) backprop here:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/impl/reduce/custom/LogSumExp.java#L75-L85

[2019-11-07 12:14] raver119 commented on #8360
mmm, this op definitely needs C++ implementation. cc @shugeo

[2019-11-07 12:36] #8360 closed, assigned to AlexDBlack

[2019-11-07 12:36] AlexDBlack commented on #8360
Turns out cause was trivial mistake in constructor
https://github.com/KonduitAI/deeplearning4j/pull/35/files

[2019-11-07 12:38] AlexDBlack commented on #8360
@raver119 LogSumExp is on the list here btw: https://github.com/eclipse/deeplearning4j/issues/8099

[2019-11-07 13:04] AlexDBlack commented on #8363
Confirmed fixed, will be pushed back to eclipse/deeplearning4j master soon

[2019-11-07 13:04] #8363 closed, assigned to nobody

[2019-11-07 16:32] zhangy10 opened #8366 "Are sparse matrix or model pruning available in the latest release?"
I am just wondering whether the sparse matrix for the INDArray is available in the beta5 release? And does DL4J have any APIs for model pruning?

Actually, I am trying to apply some of model pruning approaches to a trained model in order to speed up the model inference or make it smaller, but I am not sure whether the latest version can support it.

If not, do you have any advice to manage an INDA

[2019-11-07 16:45] montardon opened #8367 "Import Keras Model : difference between DL4J and Keras results (another model)"
#### Issue Description
I trained a UNet model in Keras/Python (using https://github.com/zhixuhao/unet).
This trained model is saved as hdf5 file.
I import this file in DL4J.

In Keras/Python, output of model are values in {0,1}.
In DL4J, output are float values in [0,1]

#### Version Information

* Deeplearning4j version 1.0.0-beta5
* Platform information (OS, etc) Ubuntu 18.04.3
* CUDA version, i

[2019-11-07 16:46] montardon commented on #8367
https://drive.google.com/file/d/1bq4V0tmsbsD1tSTp1cJCiUIyRneaLrQE/view?usp=sharing

[2019-11-07 16:48] montardon commented on #8367
[ImportUnetModel.zip](https://github.com/eclipse/deeplearning4j/files/3820730/ImportUnetModel.zip)

[2019-11-07 20:48] DanielMartensson commented on #8343
Hi!
Yes! You solved the problem. It was the test set I used twice.

Wait! So you mean that scaling the training data between intervals (min, max) for training by using NormalizerMinMaxScaler class is bad practice. I should use  DataNormalizer class instead? I'm only want to scale my data to -1 and 1, or 0 to 1 etc. Just for the activation functions.

Simpler data pipeline? What type of pipeline?

[2019-11-08 01:15] AlexDBlack commented on #8366
Unfortunately no, sparse arrays are not available in the current version of ND4J/DL4J.
Sparse arrays are on the roadmap, and we expect to add it some time in 2020.

As for model pruning - nothing built in unfortunately.
You can of course set some weights to zero, but you won't get a size/performance benefit from doing so - the same operations and matrix multiplications will still happen internally

[2019-11-08 01:15] #8366 closed, assigned to nobody

[2019-11-08 01:19] AlexDBlack commented on #8343
DataNormalizer is an interface. Using NormalizerMinMaxScalar is fine.
But you want to use it on the training set only.
So do train/test split, then call fit with training set only, not the entire dataset.
Otherwise you're leaking a small amount of information from test set into training - so your test set is no longer "unseen" if that makes sense.

For splitting (from something like a CSV) I prefe

[2019-11-08 01:19] #8343 closed, assigned to nobody

[2019-11-08 01:25] AlexDBlack commented on #8367
I haven't looked at the model internally, but some UNet implementations use deconvolutional layers (transpose conv).
There's a known issue in 1.0.0-beta5 regarding deconv layers: https://github.com/eclipse/deeplearning4j/issues/8298

Maybe try again with current snapshots - they have the fix for the isuse mentioned above.
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2019-11-08 01:30] zhangy10 commented on #8366
@AlexDBlack All right, thanks for that. And hope the function can be added soon!

[2019-11-08 01:57] AlexDBlack commented on #8277
Probably outdated snapshots, this isn't a build issue.
New snapshots are online, so this shouldn't be a problem anymore.

[2019-11-08 01:57] #8277 closed, assigned to nobody

[2019-11-08 02:19] AlexDBlack opened #8369 "ND4J/DL4J/SameDiff: Clean up DataSet/MultiDataSet (Merge)"
We need one API suitable for this.
It'll be a breaking change so should be in before 1.0.0

Not sure yet if we go to "map style" for SameDiff as well, i.e., `Map<String,INDArray>` instead of the current `INDArray[]` style, for features, labels and mask arrays.

[2019-11-08 02:21] AlexDBlack opened #8370 "All projects: Deprecated methods cleanup"
Before 1.0.0 we'll need to clean up / remove all deprecated methods and classes

[2019-11-08 02:26] AlexDBlack opened #8371 "ND4J/SameDiff: Remove CUDA synchronization"
In a previous release (beta5) we set CUDA to synchronize on each op call, due to memory management changes. The upside was a lower probability of any memory management issues at the expense of some performance overhead.

This synchronization needs to be removed - and all functionality thoroughly tested - before the 1.0.0 release.

[2019-11-08 07:14] AlexDBlack commented on #8363
Fix is now on eclipse/deeplearning4j master, and will be in the next snapshots build to go out

[2019-11-08 09:11] SiR0N opened #8372 "ANDORID: java.lang.ExceptionInInitializerError at org.nd4j.nativeblas.NativeOpsHolder.getInstance and java.lang.UnsatisfiedLinkError: dlopen failed: library "libopenblas.so" not found"
Hello,
I want to run in Android version 28 on x86_64 device. I followed the tutorial [here](https://deeplearning4j.org/docs/latest/deeplearning4j-android-prerequisites)

My dependencies:
[code]

I tested wih 1.0.0-beta5 version and I got erros as well.

The error appears at running:

[code]
Error:
[code]

I realize that if I go to NativeOpsHolder and NativeOpExecutioner there is one message:
[code

[2019-11-08 09:32] saudet commented on #8372
You'll need to the "openblas" module as well...

[2019-11-08 10:12] SiR0N commented on #8372
hi, thanks for your quick reply

I added it:

[code]
I got one warning:
[code]
lot of errors with this format (about 500 lines)
[code]
and:
[code]

[2019-11-08 11:29] kris1710 opened #8373 "Unable to import keras functional model"
I am trying to import a keras functional model DEEPFM  based on [paper](https://arxiv.org/pdf/1703.04247.pdf) into DL4J. There are 3 inputs, 1 numerical and 2 embedding inputs. The model has 3 parts :
1) Linear part :
2) Factorization Machine
3) Deep NN Part
Attaching the keras model summary and JSON file for reference:

[code]

Attaching the scala code. I defined the **sum of tensors, square of t

[2019-11-08 11:42] alexanderst opened #8374 "No output shapes for adjust_contrast, bitcast, draw_bounding_boxes operations (libnd4j)"
Error message:
Failed to calculate output shapes for op adjust_contrast_v2 (adjust_contrast) - no shapes were returned by calculateOutputShape()

Failing test case:
[code]

[2019-11-08 12:10] saudet commented on #8372
You're not adding the right version. Try to use the same one that is used in the examples.

[2019-11-08 12:14] SiR0N commented on #8372
Hi, I figured out the problem:
I added these dependencies:
[code]
As it is in [here](https://github.com/eclipse/deeplearning4j/commit/5027e7c77bbca782b8c8aefbffa79622458ef961)

btw, it seems that the return array is null here:
[code]
and I got this error:
[code]
any idea of the error in the code?

[2019-11-08 12:17] saudet commented on #8372
Great! As for the other question, you'll need to flatten it to make that work, for example, with possibly:
https://deeplearning4j.org/api/latest/org/nd4j/linalg/api/ndarray/INDArray.html#ravel--

[2019-11-08 12:17] #8372 closed, assigned to nobody

[2019-11-08 12:18] AlexDBlack opened #8375 "SameDiff: minimal subgraph calculation caching"
SameDiff dynamically works out what (minimal) subset of the graph we need to calculate, to actually get the requested outputs.

At present, this "minimal subgraph" calculation isn't cached. Caching is easy - but we need to make sure to invalidate that cache any time the graph changes.
If we can do that, we can avoid redundant/unnecessary (albeit minimal, usually) calculations on each iteration.

[2019-11-08 12:38] SiR0N commented on #8372
now the function works ^^

my last question, I have a lot of info from the logger, like:
[code]
it seems that it is working fine.
how can I remove it??

[2019-11-08 12:47] kris1710 commented on #8373
Attaching the png plot for the model, Im implementing
![model](https://user-images.githubusercontent.com/13129503/68477644-f984ea00-0253-11ea-9c8f-fd28c64cc593.png)

[2019-11-08 13:25] AlexDBlack commented on #8345
So, multi-head attention forward pass. There's definitely a few things we can do here:
* Special case for self attention: if query == key, or key == value, then just do one
    * Easy to check: just same pointer, shape and strides
    * Saves 160MB here
* Remove the (usually) unnecessary assign here: https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/nn/mu

[2019-11-08 14:12] saudet commented on #8372
That's a bug in old versions of the NDK, but you can ignore that. It will go away when we upgrade the version of the NDK for the builds to r18b (or later when we get newer ones working too). @sshepel

[2019-11-08 18:04] DanielMartensson commented on #8343
Like this:

[code]

I think I need to fit the test data as well because I'm need of a test data in a specific range. Because the data have large numbers. Both negative and positive.

[2019-11-08 21:57] MissppiBrennan commented on #8339
I have this same issue, having run the program multiple times and always breaking at the same point.

[2019-11-09 00:05] jahu opened #8376 "Input that is not a matrix; expected matrix (rank 2), got rank 1 array"
#### Issue description
Cannot run keras model due to an error:

`Caused by: org.deeplearning4j.exception.DL4JInvalidInputException: Input that is not a matrix; expected matrix (rank 2), got rank 1 array with shape [40]. Missing preprocessor or wrong input type? (layer name: dense, layer index: 0, layer type: DenseLayer)
`

Model had been implemented in python, exported and imported with following

[2019-11-09 00:16] AlexDBlack commented on #8376
DL4J (MLP) models always use 2d input, with a leading minibatch dimension - shape `[minibatch, nIn]`
For a single example, pass in an array with shape `[1, nIn]`

[2019-11-09 00:16] #8376 closed, assigned to nobody

[2019-11-09 13:10] AlexDBlack opened #8377 "libnd4j build: Helpers included from previous build even if not specified"
https://gist.github.com/AlexDBlack/31041b506d9dedb577af51b0bd381caf
Note the build without defining a helper, but mkldnn i still definitely included in the build. Probably cmake cache.

Not a big deal, but this is a trap for devs that we should fix.
Workaround is doing a clean - either manually deleting files, or using `./buildnativeoperations.sh clean ...` when switching from a build with to a bu

[2019-11-10 15:08] #8269 closed, assigned to nobody

[2019-11-10 15:36] raver119 commented on #8295
@LyesSp can you confirm this issue resolved now?

[2019-11-11 06:56] raver119 opened #8378 "libnd4j/nd4j/dl4j Jetson builds"
As discussed with @agibsonccc: Let's set up build pipeline for Jetson devices family. Basically ARM-targeted cross-compilation + 1 cc per device.

[2019-11-11 06:56] raver119 commented on #8378
cc @sshepel @saudet

[2019-11-11 08:30] saudet commented on #8378
BTW, Travis CI now supports ARM64 and the hardware apparently comes from here:
https://www.packet.com/cloud/servers/

[2019-11-11 08:38] saudet commented on #8378
/cc @kwatters @vb216 @johanvos @peardox

[2019-11-12 00:48] AlexDBlack commented on #8378
Not sure if useful here, but Huawei Cloud also has ARM servers.
https://www.huaweicloud.com/en-us/product/ecs.html
"Kunpeng General Computing-plus KC1 ECS"
https://en.wikichip.org/wiki/hisilicon/kunpeng/920-6426

[2019-11-12 08:59] AlexDBlack opened #8381 "DL4J Keras Import: Seamless/automatic lambda support"
With SameDiff and TF import, we should be able to find a way to automatically map lambda layers to DL4J SameDiff layers, without any user intervention.

[2019-11-12 10:00] kris1710 opened #8382 "ND4J: INDArray.toString() - scalars (rank 1+) should have brackets to avoid ambiguity"
Hi , I am trying to implement a factorization machine part in DL4j. This is with reference to the [issue](https://github.com/eclipse/deeplearning4j/issues/8373) .I am concatenating  the inputs along a dimension =1 and then using the tensor_sum layer to add them over.

[code]
The configuration code:
[code]
However, when i run
[code]
I get the output  as 3.8056, which is a scalar, however the output

[2019-11-12 10:15] #8328 closed, assigned to nobody

[2019-11-12 10:27] chentao106 opened #8383 "org.deeplearning4j.clustering.cluster.ClusterSet#getMostPopulatedClusters returns the least populated clusters"
#### Issue Description

Please describe our issue, along with:
- expected behavior
org.deeplearning4j.clustering.cluster.ClusterSet#getMostPopulatedClusters should returns the top N clusters that has most points.
- encountered behavior
getMostPopulatedClusters returns the top N clusters that least points.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deep

[2019-11-12 11:35] alexanderst commented on #8374
The same issue for BitCast operation.

[2019-11-12 11:35] alexanderst commented on #8374
The same issue for DrawBoundingBoxes operation.

[2019-11-12 12:24] AlexDBlack opened #8384 "SameDiff: performance profiler"
Collecting and printing Op execution stats runtime is easy - we have simple SameDiff listener for this:
https://github.com/KonduitAI/deeplearning4j/pull/42

It would be great to have this output in a format usable by Chrome Tracing:
https://aras-p.info/blog/2017/01/23/Chrome-Tracing-as-Profiler-Frontend/
It's simple JSON, format described here, should be quite easy to implement: https://docs.googl

[2019-11-12 12:32] AlexDBlack opened #8385 "SameDiff: multiple concurrent execution streams (single GPU)"
In many neural networks, we have multiple operations that can be executed concurrently. A well known example is inception blocks:
![image](https://user-images.githubusercontent.com/2360237/68671865-78578b00-05a4-11ea-8926-447bb4145c87.png)

Here, there are 4 operations that can be executed in parallel.

Due to CUDA launch overheads and the presence of small operations, it will likely be faster to

[2019-11-12 23:09] kwatters commented on #8378
If I remember, from getting nd4j working with cuda on the jetson nano, it only supported Cuda 10.0 ... Also, there was no support for Intel MKL...  I'm not sure if nVidia has updated support for the nano to cuda 10.1 yet...   (jetson was cuda CC 5.3 ) ...   my jetson nano has been collecting dust for the past few months... maybe it's time to dig it out again..  (I need to build against 1.0.0.-beta

[2019-11-12 23:32] AlexDBlack commented on #8374
@alexanderst bitcast does have a shape function - can you add some unit tests (expected/actual like you did for adjust contrast)?
draw_bounding_boxes doesn't have a shape function by the looks of it.

[2019-11-13 00:16] saudet commented on #8378
Yeah, CUDA on ARM is a mess, but they are supposed to fix this soon: https://nvidianews.nvidia.com/news/nvidia-brings-cuda-to-arm-enabling-new-path-to-exascale-supercomputing
Maybe we should wait for that to happen...

[2019-11-13 03:16] AlexDBlack opened #8386 "DL4J Spark: multi-node (dockerized) CI integration tests"
We have single node unit tests, and we have (manually run) docker-based containers for debugging / integration testing.
But the latter is not part of CI. Eventually, we'll want some multi-node spark tests run as part of CI-based integration testing.

[2019-11-13 03:40] AlexDBlack commented on #8382
So, this looks like a simple formatting issue for INDArray.toString()
Using your configuration and input, I get the following:
[code]
[code]

In other words, it has shape you expect.

Full code: https://gist.github.com/AlexDBlack/68403bf29ea4c4b1e91651af9ef68f6f

Right, DL4J always has the leading batch dimension everywhere

[2019-11-13 06:01] AlexDBlack commented on #8335
Confirmed passing now, matching DL4J (and hence cuDNN)

[2019-11-13 06:01] #8335 closed, assigned to nobody

[2019-11-13 06:16] kris1710 commented on #8382
Thanks Alex :)

[2019-11-13 07:35] nimishatandon opened #8387 "Fatal error detected by Java run time"
#### Issue Description-
Fatal error has been
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - 1.0.0-2beta
* Platform information - Red Hat linux

* During the inference of models we are getting
A Java runtime error in the nd4j library which reads as in the attached snapshot.

It seems to happen less often when

[2019-11-13 08:18] raver119 commented on #8387
Please upgrade to 1.0.0-beta5. If this problem will be reproducible there - post your source code.

[2019-11-13 09:47] alexanderst commented on #8374
Added in branch asto_samediff_coverage
https://github.com/KonduitAI/deeplearning4j/blob/761bb0cadbd099e2773009b1174cf42bae898fbe/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/linalg/custom/CustomOpsTests.java#L880

[2019-11-13 10:35] montardon commented on #8258
How can I use these options ? There are 2 ConvolutionLayer classes.
I read my ComputationalGraph from .h5. I tried to use model.getLayer(idx) and compare to  org.deeplearning4j.nn.conf.layers.ConvolutionLayer without success.

[2019-11-13 12:49] AlexDBlack opened #8388 "Old repositories etc in pom.xml"
https://github.com/eclipse/deeplearning4j/blob/master/pom.xml#L472-L582

A least some of these old repositories (jenkins, nexus, bintray) are probably outdated, and should be removed or updated.

cc @sshepel can you review?

[2019-11-13 13:16] AlexDBlack opened #8389 "Docs and javadoc broken links check"
I recently scanned broken links in error messages, and found+fixed a small number.
https://github.com/eclipse/deeplearning4j/issues/8308

In the process, I found a lot more broken links in markdown files, javadoc, code comments, etc. Fixed a few in the process, but a more thorough review is required.

Here's simple script for finding broken links:
Note it leans towards false positives - i.e., redi

[2019-11-13 20:15] nimishatandon commented on #8387
When trying to upgrade to 1.0.0-beta5 am getting a different exception .

Failed to calculate output shapes for op concat. Attempted to execute with 3 inputs, 0 outputs, 0 targs and 1 args. Inputs: [(FLOAT,[1,300],c), (FLOAT,[45],c), (FLOAT,[30],c)]

[2019-11-13 20:18] nimishatandon commented on #8387
![IMG_20191113_120032](https://user-images.githubusercontent.com/56741349/68800850-b211ab80-060f-11ea-92af-ca86c112d057.jpg)

[2019-11-13 20:19] nimishatandon commented on #8387
This is happening at run time. When using the hstack function.

[2019-11-13 20:31] raver119 commented on #8387
show your source code please. error you’ve posted says that you have mismatched shapes there.

[2019-11-13 21:40] nimishatandon commented on #8387
Here is the code. This works well with beta-1 which is what we had been using until now.

Nd4j.hstack(a,b,c) where a, b, c have the below shape :

 (FLOAT,[1,300],c)
(FLOAT,[45],c)
(FLOAT,[30],c)

[2019-11-14 00:23] AlexDBlack commented on #8387
Right, this is a legitimate error.
You can't stack / concat arrays with different rank. You are trying to stack a rank 2 array with two rank 1 arrays.

Either reshape the arrays to be the same rank, or create the same rank arrays in the first place.

Note also that hstack is just concat op internally, you can use concat([300], [45], [30], axis=0) to get an array with shape [375].

[2019-11-14 00:26] AlexDBlack commented on #8258
@montardon See this:
[code]

Admittedly not the easiest thing ever (not typically designed to be changed after network initialization) but that should work ok.

[2019-11-14 00:39] nimishatandon commented on #8387
Thanks @AlexDBlack  it was working with beta 2.

I have fixed and deployed . But the main issue is still open. Which is that at runtime during inference the server is crashing.

Can we please keep this issue open until we know for a fact that the issue is fixed with the upgrade.

[2019-11-14 01:11] AlexDBlack commented on #8387
Depending on which constructor you used, you were probably creating and hstacking rank 2 arrays everywhere (there were some differences in rank 0/1 shape handling for certain methods / ops between then and now). Alternatively it might have been not picked up due to insufficient validation that has since been added.

Sure

[2019-11-14 08:38] #8308 closed, assigned to nobody

[2019-11-14 08:38] #8382 closed, assigned to AlexDBlack

[2019-11-14 08:50] montardon commented on #8258
Sorry, I have a ComputationGraph from importKerasModelAndWeights, not a MultiLayerNetwork.

[2019-11-14 09:22] AlexDBlack commented on #8258
@montardon
[code]

[2019-11-14 11:29] AlexDBlack opened #8392 "libnd4j: deconv2d op failures (MKLDNN?)"
On CPU, built with MKLDNN:
[code]

[code]

Note this was pulled out of this test case (also reproducible there)
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/linalg/convolution/DeconvTests.java

[2019-11-14 11:56] AlexDBlack commented on #8392
A separate failure: it's failing with FP16 also (not sure if we should be using mkldnn or not for this case). This is pulled out of a test that was previously passing...

Float32 is fine for this case.

[code]

[code]

[2019-11-14 14:06] alexanderst opened #8393 "TF import tests for is_strictly_increasing op with empty inputs fail"
RUNNING TEST is_strictly_increasing/emptyArrayTest/rank1_float32...
Error at [D:/src/github/konduitai/deeplearning4j/libnd4j/include/ops/declarable/generic/shape/reshape.cpp:231:0]:
Reshape: in case of empty arrays reshape must return empty array as well
o.n.l.c.n.o.NativeOpExecutioner - Failed to calculate output shapes for op reshape. Attempted to execute with 2 inputs, 0 outputs, 0 targs and 0

[2019-11-14 14:48] maiger77 commented on #8288
I'am still having this problem during running the word2vec example code
could you help me?

[2019-11-14 18:03] raver119 opened #8394 "MKL use in ND4J"
@saudet what should we do to make sure we use MKL instead of OpenBLAS where it's possible?

And, actually, what MKL supports these days? Linux x86/64, Windows, macOS? Or anything else as well?

[2019-11-15 01:01] saudet commented on #8394
Linux, Mac, Windows, yes, that hasn't changed. You'll need to add dependencies on [those artifacts](https://github.com/bytedeco/javacpp-presets/tree/master/mkl#the-pomxml-build-file) and replace references of "mklml" to "mkl_rt" in the code that you've already removed, so you'll need to add that back if you want that.

[2019-11-15 01:21] nimishatandon commented on #8387
After upgrading the jars am getting the attached exception even for a very small data set while building the features.  It works fine for 20 utterances and then breaks sometimes it works for 50 utterances and then breaks !

[2019-11-15 01:25] nimishatandon commented on #8387
Using the same data set in the same order

[2019-11-15 01:25] nimishatandon commented on #8387
![IMG_20191114_172146](https://user-images.githubusercontent.com/56741349/68909612-bdde9a00-0703-11ea-8683-48f3b4e078ee.jpg)

[2019-11-15 01:25] nimishatandon commented on #8387
Again in some native library that am unable to debug

[2019-11-15 01:27] AlexDBlack commented on #8288
@maiger77 if you're running 1.0.0-beta5, that's expected
You'll need to switch to snapshots to get the fix (at least until the next release)
You can find instructions here:
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

Or are you on the latest snapshots already?

[2019-11-15 01:40] saudet commented on #8387
@nimishatandon Please attach the whole crash log.

[2019-11-15 02:04] nimishatandon commented on #8387
There is nothing in my logs. I get this error
Java Platform SE binary has stopped working - with 2 options debug or close. When I chose debug I get the error I sent before.

In the call stack of says :
![IMG_20191114_180419](https://user-images.githubusercontent.com/56741349/68911267-3562f800-0709-11ea-8dd6-58129ef03621.jpg)

[2019-11-15 02:40] AlexDBlack opened #8395 "DL4J Keras Import: scaled identity weight init"
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/utils/KerasInitilizationUtils.java#L143

`Scaled identity weight init not supported, setting gain=1`
This is logged in a whole lot of  the keras import tests.

This seems like something we should be able to add very easily, now that weight initializa

[2019-11-15 02:50] saudet commented on #8387
There's more than that, but this looks like something related with OpenMP. Try again with the snapshots see if the problems occurs with those.

[2019-11-15 02:54] nimishatandon commented on #8387
Sorry which snapshots do u want me to try it again with ? This is happening when I upgrade to beta5

[2019-11-15 02:55] saudet commented on #8387
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2019-11-15 03:05] nimishatandon commented on #8387
Sorry u want me to download the snapshots again and use them ? For beta5

[2019-11-15 03:21] saudet commented on #8387
Try again with 1.0.0-SNAPSHOT, **not** 1.0.0-beta5.

[2019-11-15 05:04] raver119 commented on #8394
Awesome, thank you.

Ye, I'll get those back today. Just tried to fix snapshots ASAP.

With best regards,
raver119
15 нояб. 2019 г., 04:02 +0300, Samuel Audet <notifications@github.com>, писал:

[2019-11-15 05:37] saudet commented on #8394
But MKL is like 200 MB per platform, so maybe we can let everything use OpenBLAS by default, and see how that goes? It would probably work smoother with Eclipse policies too...

[2019-11-15 05:47] AlexDBlack opened #8396 "DL4J - Misc failures on current master"
Just an issue to keep track of a handful of failures that need to be debugged and fixed before 1.0.0-beta6 release.

deeplearning4j-core - CUDA only: (all passing on CPU)
* CNNGradientCheckTest
    - testDepthwiseConv2D
    - testDeconvolution2D
    - testSeparableConv2D
* OutputLayerGradientChecks
    - testCnn3dLossLayer
* TestSameDiffConv
    - testSameDiffConvGradient (grad check failure)

[2019-11-15 07:22] nimishatandon commented on #8387
I dont see the version 1.0.0-SNAPSHOT on this repo :
https://search.maven.org/search?q=deeplearning4j

Could you please point me to the right repo.

[2019-11-15 07:24] raver119 commented on #8387
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2019-11-15 07:32] AlexDBlack commented on #8356
Confirmed to be an issue for CUDA only.
Seems to be C++ level issue.

[code]

Reproducible with:
[code]

[2019-11-15 07:42] AlexDBlack commented on #8356
Also reproducible with (what Nd4j.arange uses internally):
[code]
[code]

[2019-11-15 07:43] nimishatandon commented on #8387
Thanks Raver, but m wanting to use this in a production level system , would it be safe to use the SNAPSHOT version over the released versions. Just confirming so i can make the right decision.

[2019-11-15 07:46] nimishatandon commented on #8387
Also some more inputs on the Fatal error. Only seeing this error with 1 data set, but not with any other . Even though the models look good , but throwing these run time exceptions with the SIGSEGV fault

[2019-11-15 07:52] raver119 commented on #8387
We're not asking you to use snapshots in production. We're only asking you to try the same model with snapshots, and tell us if the problem is still reproducible or not 😄

[2019-11-15 07:57] sshepel commented on #8388
Profiles, were removed in fork.

[2019-11-15 07:59] #8388 closed, assigned to sshepel

[2019-11-15 08:13] raver119 commented on #8356
Not reproducible on Linux. Might be Windows/MSVC specific issue.

[2019-11-15 08:35] raver119 commented on #8356
[code]

This test passes for me on both Windows and Linux...

[2019-11-15 08:46] raver119 commented on #8356
[code]

Passes on Windows and Linux. Problem is somewhere else.

[2019-11-15 09:08] alexanderst opened #8397 "RaggedRange operation wrapper should be added to nd4j"
There are TF import tests (ragged/reduce_mean) which add RaggedRange op to graph. SameDiff import tests don't have mapping for this operation in nd4j.

[2019-11-15 09:10] raver119 commented on #8397
we don't have this operation implemented yet afaik

With best regards,
raver119
15 нояб. 2019 г., 12:09 +0300, Alexander Stoyakin <notifications@github.com>, писал:

[2019-11-15 09:39] alexanderst opened #8398 "Arguments list mismatch for zeros_like op between libnd4j and TF"
zeros_like in TF has dtype argument, needed to add libnd4j implementation and nd4j wrapper.

tf.zeros_like(
    input,
    dtype=None,
    name=None
)

[2019-11-15 09:44] raver119 commented on #8356
Fixed in my branch. Just a precision issue on Java side. Will be merged later today with other fixes.

[2019-11-15 09:44] #8356 closed, assigned to raver119

[2019-11-15 10:20] raver119 commented on #8332
Implemented and merged

[2019-11-15 10:20] #8332 closed, assigned to nobody

[2019-11-15 10:35] raver119 commented on #8374
@shugeo adjust_contrast_v2 should accept scale factor as input argument rather than T. Please fix it.

[2019-11-15 10:38] raver119 commented on #8374
@alexanderst can you please show me test for bitcast failure? I see test in Java, and it passes.

[2019-11-15 10:43] raver119 commented on #8374
@alexanderst DrawBoundingBoxes op - please show me corresponding Python code. Your test makes no sense to me:

You expect output shape to be [1, 10], but TF doc clearly says that output has the same dimensionality as input.

[2019-11-15 10:45] alexanderst opened #8399 "crop_and_resize operation - output shape mismatch between TF and libnd4j"
Output shape mismatch detected - TF [2, 2, 1, 1] vs SD: [1, 2, 1, 1]. ND4J test is below.

 @Test
    public void testCropAndResize() {
        INDArray image = Nd4j.createUninitialized(DataType.FLOAT, 1, 2, 2, 1);
        INDArray boxes = Nd4j.createFromArray(new float[]{1,2,3,4}).reshape(1,4);
        INDArray box_indices = Nd4j.createFromArray(new int[]{1});
        INDArray crop_size = Nd4j.cr

[2019-11-15 11:18] raver119 commented on #8374
adjust_contrast_v2 issue fixed in my branch. Other two issues are not bugs.

[2019-11-15 11:18] #8374 closed, assigned to nobody

[2019-11-15 12:27] alexanderst opened #8400 "Bitcast operation works incorrectly for types upgrade"
Bitcast doesn't work correctly for upgrading cases, example of failing test:

[code]

[2019-11-15 12:28] raver119 commented on #8400
cc @shugeo ^^^

[2019-11-15 12:36] #8259 closed, assigned to nobody

[2019-11-15 13:31] alexanderst opened #8401 "DrawBoundingBoxes op - values mismatch between TF and SameDiff"
Mismatch in some values detected. Failing test:

[code]

[2019-11-15 13:42] raver119 commented on #8401
cc @shugeo

[2019-11-15 13:46] alexanderst opened #8402 "FakeQuantWithMinMaxVarsPerChannel operation - mismatch of returned values TF vs SameDiff"
Failing test:

[code]

[2019-11-15 13:48] raver119 commented on #8402
cc @shugeo ^^^

[2019-11-15 16:19] montardon commented on #8258
Thank you.
I used environment variables
CUDNN_LOGINFO_DBG=1
CUDNN_LOGDEST_DBG=stdout
It looks like ConvolutionalFwdAlgo are not the same in Keras/Python and in DL4J.
Keras/Python is using FWD_ALGO_IMPLICIT_GEMM.
I will try to use the same algorithm.

[2019-11-15 16:50] raver119 commented on #8392
Are these two tests still failing?

[2019-11-15 18:16] raver119 opened #8403 "Resize ops input is limited to 4D"
At this moment all resize ops suppose they have 4D input, but:

1) That's wrong. 3D inputs should be acceptable, just make internal reshape to [1, x, y, z]
2) There's not input rank validation. That's clearly a bug.

cc @shugeo

[2019-11-16 00:35] ppozorski opened #8404 "org.deeplearning4j.exception.DL4JInvalidInputException: Problem with creating array with data to predict"
When I run below code:
[code]
I receive error:

[code]
I created the data as float[] array, with length = 240. Creation of INDArray:

 `INDArray features = Nd4j.create(data, new int[]{1, 240}, 'c');`

Here is my keras model:

[code]

If I set shape as:

`INDArray features = Nd4j.create(data, new int[]{240, 1});`
Then error is:
[code]

Dependencies:
[code]

[2019-11-16 02:16] AlexDBlack opened #8405 "libnd4j: depthwise_conv2d - CUDA forward pass does not match CPU"
I'm pretty sure CPU is right, because it is passing gradient checks whereas CUDA is failing gradient checks.
(Though, when I check depthwise_conv2d_bp - it seems OK, same result for CPU and CUDA)

code and full results on both CPU and CUDA:
https://gist.github.com/AlexDBlack/ef074b9b15fc35ba5a741c8aeed76ffa

left - cpu
right - cuda
![image](https://user-images.githubusercontent.com/2360237/6898640

[2019-11-16 02:56] AlexDBlack opened #8406 "libnd4j: sconv2d - CUDA forward pass incorrect"
Code and full results: https://gist.github.com/AlexDBlack/b5dfde19aecf6dfd38ec23ed846351cb

Left: CPU
Right: CUDA
![image](https://user-images.githubusercontent.com/2360237/68986967-cb696080-0878-11ea-87b9-57f40e0bb3dd.png)

[2019-11-16 04:23] AlexDBlack opened #8407 "libnd4j - deconv2d CUDA forward pass incorrect"
Code and full output:
https://gist.github.com/AlexDBlack/be9cac2a6fdd7aebadf536f4eba39250

Left: CPU
Right: CUDA

![image](https://user-images.githubusercontent.com/2360237/68988018-ecd04980-0884-11ea-9f12-ed981bf3b7a2.png)

[2019-11-16 04:55] AlexDBlack opened #8408 "libnd4j - conv2d CUDA incorrect"
Test and output:
https://gist.github.com/AlexDBlack/e85c24dcb6bbf3e778386ecf68979ff9

Left: CPU
Right: CUDA

![image](https://user-images.githubusercontent.com/2360237/68988322-7550e900-0889-11ea-8f37-f2992080f14c.png)

[2019-11-16 05:28] AlexDBlack commented on #8396
All issues listed here: either opened new issue (with isolated test cases) or fixed.

[2019-11-16 05:28] #8396 closed, assigned to nobody

[2019-11-16 06:04] #8325 closed, assigned to AlexDBlack

[2019-11-16 06:04] #8352 closed, assigned to AlexDBlack

[2019-11-16 06:04] #8395 closed, assigned to AlexDBlack

[2019-11-16 10:34] kris1710 opened #8409 "Backprop Error with embedding layer inputs"
Hi I am using the following computation graph for dl4j. I ve written the full model which has 3 parts

1) factorization machine
[8382](https://github.com/eclipse/deeplearning4j/issues/8382)

2) Linear model
3) Deep Network

The output from the three networks is then taken in the output layer. Following is the code:
[code]

I created a sample data to check the fit method of the initiated model
. He

[2019-11-16 12:09] #8409 closed, assigned to nobody

[2019-11-16 12:11] AlexDBlack commented on #8409
Thanks for reporting and for the code to reproduce it.
I have merged a fix here: https://github.com/KonduitAI/deeplearning4j/pull/52

I'll post here once it's pushed to the eclipse/deeplearning4j repo - it'll be in snapshots soon after that.

[2019-11-16 12:28] AlexDBlack commented on #8409
Fix is now in eclipse master, so it'll be available in the next snapshot build (usually takes a few hours for new snapshots to go out).

https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2019-11-17 05:35] zhangy10 opened #8410 "Question about reading data from CVS to an INDArray"
I found that the performance of converting data from CSV to an INDArray is limited especially managing data on mobile devices.

Actually, I have a bunch of time-series data in a CSV file, and I am trying to read them to INDArrays for small-scale training on mobile devices. I use ```CSVRecordReader``` to read a batch of data to a ```List<List<Writable>> records```, and I use ```RecordConverter.toMa

[2019-11-17 14:32] Storm-cev opened #8413 "DL4J: UI functions on Java 8 only?"
Running the Code:
`import org.deeplearning4j.ui.api.UIServer;

public class Test {
	public static void main(String[] args) {
		UIServer uiServer = UIServer.getInstance();
	}
}`
results in:
java.lang.IllegalArgumentException: Don't know how to bind argument of type class net.jodah.typetools.TypeResolver$Unknown
	at play.routing.RoutingDsl.pathBindableFor(RoutingDsl.java:290)
	at play.routing.Routin

[2019-11-17 15:10] treo commented on #8413
The UI currently has the limitation that it only works on Java 8. You will have to install java 8 (e.g. from https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=hotspot) if you want to use it.

[2019-11-17 18:41] Storm-cev commented on #8413
That solved it. Thanks a lot!

[2019-11-18 02:42] AlexDBlack commented on #8413
I'll reopen this. we've had occasional reports of exactly this issue but I had been unable to track it back to the underlying cause based on those reports.
A Java 8 limitation for the UI (both minimum, due to Play, and maximum, due to this issue) is IMO unacceptable, and needs to be fixed.

@Storm-cev what java (distribution + version) specifically were you using, both originally and now?

[2019-11-18 05:08] AlexDBlack opened #8415 "DL4J: BertIterator - add inference method"
i.e., add a "sentence to features" method - sentence in, INDArrays for features + mask if appropriate, out.

It should just be a subset of the next method
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp/src/main/java/org/deeplearning4j/iterator/BertIterator.java#L180-L235

cc @eraly

[2019-11-18 05:19] AlexDBlack opened #8416 "DL4J Spark gradient sharing: low /dev/shm space can result in connections failing"
We use Aeron for our distributed training communication for our gradient sharing implementation.
Aeron relies on /dev/shm by default for storing buffers.

If /dev/shm doesn't have enough free space in it, it's possible for Aeron to _nearly silently_ fail to connect.
The only indication that something is wrong here the following lines (extracted from the driver stderr and logs, respectively):
[code

[2019-11-18 06:41] raver119 commented on #8365
Apparently, there's no leak.

1) According to the source code you've provided - that's pretty typical conv/deconv model. They are implemented in C++, not in java.
2) OOM message you're referring to is JVM OOM message, caused by insufficient heap size. Increase Xmx.

[2019-11-18 06:41] #8365 closed, assigned to nobody

[2019-11-18 07:19] digantamisra98 opened #8417 "Feature Request: Add Mish activation"
Mish is a new novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

- [TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)
- [SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)
- [Thinc - SpaCy's official NLP based ML libr

[2019-11-18 10:21] raver119 commented on #8417
Implemented and merged.

[2019-11-18 10:21] #8417 closed, assigned to raver119

[2019-11-18 10:31] AlexDBlack commented on #8417
And thanks for the detailed feature request @digantamisra98
It should be up on snapshots within a few days (once we merge back) and of course the next release (which we are working towards at present).

[2019-11-18 10:56] raver119 commented on #8394
Ugh... 200MB per platform means 600MB for nd4j-native-platform... That will make uber java what, 1.5GB total? :(

@AlexDBlack what's your thoughts about this?

[2019-11-18 11:06] saudet commented on #8394
And isn't playing nice with AMD either...

[2019-11-18 11:31] AlexDBlack commented on #8394
200MB per platform is a sizable cost to pay, especially for a default.
And AMD shenanigans are another reason to not have it as the default...

So I'm definitely leaning towards openblas default, and making it easy for users to switch to MKL.
Which is essentially still "install MKL locally" or "add MKL javacpp preset to project", right? (and optionally exclude openblas preset)

At which point only

[2019-11-18 11:35] raver119 commented on #8394
Another thought. With our use of MKL-DNN, most of relevant DL4J layers are already covered with MKL-DNN rather than gemm. Last one is probably trivial Dense layer, aka XWplusB. So, DL4J users won't even use OpenBLAS/MKL in any way - MKL-DNN uses its personal sgemm for these ops as i remember.

[2019-11-18 13:26] digantamisra98 commented on #8417
@AlexDBlack Thanks for considering the request. Looking forward to the release.

[2019-11-18 14:34] LyesSp commented on #8295
@raver119 I have problems on the compilation of https://github.com/KonduitAI/deeplearning4j/

`[ERROR] Failed to execute goal org.bytedeco:javacpp:1.5.2:build (javacpp-compiler) on project nd4j-native: Failed to execute JavaCPP Builder: Cannot run program "g++" (in directory "D:\deeplearning4j\nd4j\nd4j-backends\nd4j-backend-impls\nd4j-native\target\classes\org\nd4j\nativeblas\windows-x86_64"): Cr

[2019-11-18 14:37] shugeo commented on #8402
There no mismatch with TF. min and max arguments should be 1D vectors with length as last dim of the input array.

[2019-11-18 14:37] raver119 commented on #8295
but why you're trying to build from source? just use snapshots

[2019-11-18 14:39] #8402 closed, assigned to nobody

[2019-11-18 14:45] LyesSp commented on #8295
ok i will try, following these steps. https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots , it's good ?

[2019-11-18 15:00] raver119 commented on #8295
yes, that'll work

[2019-11-18 16:25] LyesSp commented on #8295
@raver119 I am using snapshots but i have the same results

`o.n.l.f.Nd4jBackend - Loaded [JCublasBackend] backend
o.n.v.VersionCheck - *** ND4J VERSION CHECK FAILED - INCOMPATIBLE VERSIONS FOUND ***
o.n.v.VersionCheck - Incompatible versions (different version number) of DL4J, ND4J, RL4J, DataVec, Arbiter are unlikely to function correctly
o.n.v.VersionCheck - Versions of artifacts found on class

[2019-11-18 16:27] raver119 commented on #8295
Ok, we’ll keep looking into it. Thank you for feedback

[2019-11-18 17:54] kris1710 opened #8418 "Unable to resolve nd4j snapshot dependency in scala sbt"
Hi,
With recent fixes, I was trying to get the snapshot versions of dl4j and nd4j. As per the directions in the given link [snapshots config](https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots) . Following is the build.sbt I am using
[code]

This throws an error:
[code]

How to get around this? I need the snapshot versions for some fixes pushed recently.

[2019-11-18 17:57] raver119 commented on #8418
1.0.0-SNAPSHOT

Characters case matters

[2019-11-18 18:10] kris1710 commented on #8418
I changed that as well, but it still gives an error at runtime. The code works fine if the versions are 1.0.0-beta5
[code]

[2019-11-18 18:39] kris1710 commented on #8418
@raver119 : The sbt builds, but the error persists. Attaching sample code

[code]

[2019-11-18 18:42] raver119 commented on #8418
Show FULL stack trace please

[2019-11-18 21:11] Storm-cev commented on #8413
Original Java Version: Java SE 13.0.1
Now:  Java SE Runtime Environment 8u202

[2019-11-19 00:16] AlexDBlack commented on #8295
@LyesSp that warning - as is says - means you're mixing 1.0.0-beta5 and 1.0.0-SNAPSHOT versions.
If you're using snapshots, use *only* snapshots, for everything - DL4J, ND4J, DataVec, etc.

There's really only two ways that can happen.
1. You have a mix of both versions in your pom.xml (or equivalent for other build tools)
2. You are using Eclipse IDE and changed the version after creating the pro

[2019-11-19 06:20] alexanderst opened #8419 "C++ std exception thrown for FakeQuantWithMinMaxVarsPerChannel"
When running test below - I've got this exception from libnd4j:
[code]

[2019-11-19 07:10] kris1710 commented on #8418
@raver119  , I did some debugging, I think the issue is coming from the class **SPARSE_NDARRAY_FACTORY_CLASS** not being present in the nd4j-native-1.0.0-SNAPSHOT.jar while its present in nd4j-native-1.0.0-beta5.jar (Attaching screenshots)

as the error comes from this line 5501 in Nd4j.java
[code]
![Screenshot from 2019-11-19 12-32-08](https://user-images.githubusercontent.com/13129503/69123984-c

[2019-11-19 07:28] raver119 commented on #8418
Wow.. I wonder why it's not reproducible for us during tests. I'll take care of it ASAP.

[2019-11-19 09:18] kris1710 commented on #8409
@AlexDBlack : Thanks for the fix, However, after configuring the snapshots build, I am getting the following error for the same code:
[code]

I ve configured the sbt as follows,keeping nd4j-native version to be 1.0.0.5-beta and deeplearning4j.core to be the snapshot. (Attaching the sbt for reference),  cause there were issues in the nd4j snapshot version [8418](https://github.com/eclipse/deeplearn

[2019-11-19 09:30] raver119 commented on #8409
You're mixing 1.0.0-SNAPSHOT and 1.0.0-beta5 versions here. Don't do that, and your app will work

[2019-11-19 09:54] raver119 commented on #8419
Fixed, thanks.

[2019-11-19 09:54] #8419 closed, assigned to raver119

[2019-11-19 11:08] kris1710 commented on #8418
@raver119 : Is this resolved? I compiled my build.sbt,The SBT builds successfully but there are new errors when i run the code
[code]
I tried debugging this issue a lot, but I am stuck. I downloaded the following jars directly from the [snapshot-repo](https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/)
-nd4j-native-1.0.0-20191119.032148-15928.jar
-nd4j-nat

[2019-11-19 11:22] saudet commented on #8418
sbt isn't able to handle snapshots on its own, see instructions here: http://bytedeco.org/builds/

[2019-11-19 11:50] kris1710 commented on #8418
@saudet : Thanks for extending the help.Unfortunately, I've little knowledge in java. Can you explain a little bit more?

[2019-11-19 13:06] LyesSp commented on #8295
@AlexDBlack @raver119.Yes i fixed thanks.
Now it's working on my mnist project i will try to test this for multi channels  output

[2019-11-19 13:21] kris1710 commented on #8418
I believe you meant to create a pom.xml as such :
[code]

and then use the SBT as follows :
[code]

the build.sbt compiles but at the runtime it still gives issues :
[code]

what did i miss?

[2019-11-19 13:34] kris1710 commented on #8418
Fixed it by installing libopenblas-dev.
Thanks for the directions. The issue could serve as directions for configuring snapshot versions with scala build.sbt

[2019-11-19 13:36] raver119 commented on #8418
hm, but it should not be needed, since openblas is provided as transitive dependency by javacpp

[2019-11-19 14:30] alexanderst opened #8421 "SameDiff TF import: cudnnRNN operation"
cudnnRNN operation is missing in libnd4j and nd4j.

[2019-11-19 17:21] kris1710 commented on #8418
Oh is that so? Did i miss something in sbt or pom file?

[2019-11-20 02:08] AlexDBlack commented on #8421
If at all possible, I'd like to handle this at the Java / import level, and not introduce a cudnnRNN op or anything at the libnd4j level.
IMO that's a terrible design that TF uses, as it makes the model hardware specific.

Here's the op definition:
https://gist.github.com/AlexDBlack/6c27804fa9f1c37270847ff452346085

Note that it's basically a unidirectional or bidirectional simple RNN (relu/tanh),

[2019-11-20 05:25] raver119 commented on #8398
as discussed with @AlexDBlack in slack - we're going to address this after beta6 release, since there's more than one op that should get proper dtype configuration options.

[2019-11-20 08:12] raver119 commented on #8393
Fixed and merged. Thanks.

[2019-11-20 08:12] #8393 closed, assigned to raver119

[2019-11-20 08:15] zhangy10 opened #8423 "DepthwiseConvolution2D Example"
I found the layer implementations include ```DepthwiseConvolution2D``` which can operate on each of the input maps separately. So, I am wondering if the example of using ```DepthwiseConvolution2D``` is available in the example project?

Also, the MobileNet (https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet) uses the depthwise convolution concept to reduce the computatio

[2019-11-20 10:27] raver119 commented on #8316
Implemented and merged

[2019-11-20 10:27] #8316 closed, assigned to nobody

[2019-11-20 10:36] shugeo commented on #8399
z
<tf.Tensor 'CropAndResize_1:0' shape=(1, 1, 2, 1) dtype=float32>
cropSize should be 1D

[2019-11-20 11:37] raver119 commented on #8401
Fixed and merged. Please confirm fix on Java side.

[2019-11-20 11:37] #8401 closed, assigned to nobody

[2019-11-20 14:11] LyesSp commented on #8295
@AlexDBlack it's globally better for the multi channels output but, in the details the keras output is different from dl4j, i don't know if it's comming from (weights rescaling or biais or .....) used on dl4j . As you can see in the background of grayscale image here.
![dl4jvskeras](https://user-images.githubusercontent.com/50450294/69245826-d9d0b880-0ba7-11ea-86aa-9e7630fad49b.PNG)

[2019-11-20 14:12] raver119 commented on #8295
Are you running with CPU or GPU?

[2019-11-20 14:13] LyesSp commented on #8295
@raver119 GPU

[2019-11-20 14:13] raver119 commented on #8295
Please try CPU then, and tell us if there's the same issue.

[2019-11-20 15:15] LyesSp commented on #8295
@raver119, with CPU it's look working good yes. i have images with good quality without bars.

[2019-11-20 15:17] raver119 commented on #8295
I see. In this case I’d propose to way day or two. Theres a nasty bug we’re working right now, that affects CUDA in certain ops.

With best regards,
raver119
On Nov 20, 2019, 18:15 +0300, LyesSp <notifications@github.com>, wrote:

[2019-11-20 17:01] raver119 commented on #8314
@shyrma i've upgraded MKL-DNN to the latest branch and version today, it might be a good idea to check it out now

[2019-11-20 19:23] raver119 commented on #8403
Implemented and merged. Thanks to @shugeo

[2019-11-20 19:23] #8403 closed, assigned to nobody

[2019-11-20 19:27] raver119 commented on #8399
Fixed and merged, Thanks to @shugeo

[2019-11-20 19:27] #8399 closed, assigned to nobody

[2019-11-20 23:30] LuizFilipeAS opened #8424 "KerasModelImport problem"
Im having problems to import a keras model with dl4j and i cant find a solution, Im getting this errors and warnings:

log4j:WARN No appenders could be found for logger (org.nd4j.linalg.factory.Nd4jBackend).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
Exception in thread "main" java.lang.NoClassDefFound

[2019-11-20 23:36] AlexDBlack commented on #8424
Based on that stack trace, the problem (and warnings) your are hitting isn't related to Keras import, it's general dependency issues.

How are you managing your dependencies? Using Maven, Gradle, or SBT etc?
If so - can you post your pom.xml file (or equivalent for whatever build tool you are using)?

[2019-11-20 23:43] LuizFilipeAS commented on #8424
Using Maven.
There is my dependencies:
 <dependencies>
      <dependency>
          <groupId>junit</groupId>
          <artifactId>junit</artifactId>
          <version>4.11</version>
          <scope>test</scope>
      </dependency>
      <dependency>
          <groupId>org.nd4j</groupId>
          <artifactId>nd4j-native-platform</artifactId>
          <version>1.0.0-beta5</version>
      </depe

[2019-11-20 23:44] AlexDBlack commented on #8424
Please just post the full pom.xml
also what IDE (if any) are you using? Are you running through IDE or building an uber-jar/fat-jar and running that?

[2019-11-20 23:49] LuizFilipeAS commented on #8424
Im using IntelliJ IDEA.

https://gist.github.com/LuizFilipeAS/5ca1e26a9c91831a0e6cee00aa1e37e5

I dont know how i can put a preview of the code here....

[2019-11-20 23:57] agibsonccc commented on #8424
@LuizFilipeAS please use https://gist.github.com/ from now on. It's a fairly standard tool in the industry.

[2019-11-21 00:42] LuizFilipeAS commented on #8424
[code]

[2019-11-21 01:34] eraly commented on #8387
@nimishatandon Were you able to resolve your issue? Any updates

[2019-11-21 02:34] saudet commented on #8424
@LuizFilipeAS Does this also happen on the command line with a command like `mvn clean install`? Or does it happen only within IntelliJ IDEA?

[2019-11-21 06:22] alexanderst opened #8425 "Implement Empty operation in libnd4j and nd4j"
Empty op constructor should have arguments:
- shape
- init - boolean
It should should operate identically to Nd4j.create vs. Nd4j.createUninitialized, depending on whether init arg is true/false.

[2019-11-21 06:24] alexanderst opened #8426 "Add PreventGradient operation to nd4j"
Implement this operation in nd4j:
https://www.tensorflow.org/versions/r1.15/api_docs/cc/class/tensorflow/ops/prevent-gradient?hl=en
"When building ops to compute gradients, the TensorFlow gradient system will return an error when trying to lookup the gradient of this op, because no gradient must ever be registered for this function."

Technically, it's Identity op with extra check.

[2019-11-21 06:31] raver119 commented on #8425
there should be dtype argument as well.

and what init option does?

[2019-11-21 06:33] raver119 commented on #8425
I mean: in case of empty array - there's no buffer - hence nothing to initialize

[2019-11-21 06:48] AlexDBlack commented on #8425
It's "numpy" empty, not ND4J "empty"

https://docs.scipy.org/doc/numpy/reference/generated/numpy.empty.html

^ This is what we need.

We should probably call it something else to avoid confusion though, "Empty" op is what TF calls it

[2019-11-21 06:50] AlexDBlack commented on #8425
Or equivalent to fill op, but options are 0 vs. uninitialized
for uninitialized case, exec should be a no-op

Edit: and yes, it needs a dtype argument, for output datatype.

[2019-11-21 09:38] raver119 commented on #8425
Implemented.

[2019-11-21 09:38] #8425 closed, assigned to raver119

[2019-11-21 09:52] shugeo commented on #8400
corrected to work as TF does

[2019-11-21 09:57] raver119 commented on #8400
Where's the PR?

[2019-11-21 10:26] alexanderst opened #8427 "NonMaxSuppression op returns shape different from TF results"
Test to reproduce mismatch:

[code]

[2019-11-21 10:26] AlexDBlack commented on #8424
Yeah, I can't see any problems with those dependencies, they look OK.
My only guess here is yeah, some sort of IDE issue (try command line as mentioned, see also this: https://github.com/eclipse/deeplearning4j-examples/blob/master/standalone-sample-project/pom.xml#L99-L148 )
Or _maybe_ some sort of corrupted JAR during download.

That class should be available by default, given the dependencies yo

[2019-11-21 10:31] alexanderst opened #8428 "ResizeBillinear op returns results different from TF by values"
Test to reproduce in nd4j:

[code]

[2019-11-21 10:33] alexanderst commented on #8428
Predictions mismatch:

TF: [[[[    0.7788,    0.8012,    0.7244],
   [    0.5048,    0.7642,    0.4524],
   [    0.2309,    0.7271,    0.1804],
   [    0.3683,    0.8098,    0.3633],
   [    0.5056,    0.8925,    0.5461],
   [    0.7145,    0.4890,    0.6700],
   [    0.9234,    0.0856,    0.7938],
   [    0.7912,    0.3205,    0.4767],
   [    0.6591,    0.5555,    0.1596]],

  [[    0.5438,    0

[2019-11-21 10:49] raver119 opened #8429 "Jenkins triggers on branches"
Today i've noticed that our Jenkins is able to start test run upon commit to branch, not a PR. Not quite sure why it happened, but it would be good to stop Jenkins from doing that, since every parallel build consumes resources.

[2019-11-21 11:09] raver119 opened #8430 "Feature request for CI"
As discussed in slack, in order to minimize number of unwanted CI runs, we can introduce couple of tweaks:
- Add support for draft PRs. So, PR isn't going to be run if it's draft. Basically the same what we do with [WIP]. pull requests.
- Skip building pull requests that were NOT approved yet.

[2019-11-21 12:45] shugeo commented on #8428
I've got follow from TF:
[0.7788     0.8012     0.7244     0.4744111  0.7600333  0.42217776
 0.26142225 0.7454778  0.22103335 0.41403335 0.8373667  0.42420003
 0.59844446 0.71318877 0.6011445  0.83055556 0.264911   0.7387556
 0.83529997 0.2422334  0.5823999  0.6884666  0.5032889  0.23006654
 0.6591     0.5555     0.1596     0.5176333  0.44208887 0.5827889
 0.5938309  0.5646876  0.5123568  0.618113

[2019-11-21 12:52] AlexDBlack commented on #8392
The two original test cases (above) are both passing now.

I tested master with the simple dilation_mkldnn = dilation_ours - 1, based on MKLDNN's docs
That's instead of this equation here:
https://github.com/KonduitAI/deeplearning4j/blob/master/libnd4j/include/ops/declarable/helpers/convolutions.h#L205

with that "subtract 1" adjustment, everything passes (libnd4j and nd4j) except for 3 of 28 case

[2019-11-21 15:33] nimishatandon commented on #8387
Should hopefully have updates today !

[2019-11-21 16:04] Blacktoviche opened #8431 "DL4J: Loss function weights array should be automatically cast to appropriate datatype"
#### Issue Description
ClassNotFoundException: org.nd4j.linalg.api.ops.impl.transforms.floating.Histogram
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 1.0.0-beta5
* Platform information (OS, etc) Ubuntu
* CUDA version, if used
* NVIDIA driver version,

[2019-11-21 23:20] Blacktoviche commented on #8431
It seems library conflict with dl4j ui . when I removed deeplearning4j-ui from maven everything is fine
So I can't use deeplearning4j-ui 1.0.0-beta4 with deeplearning4j-core 1.0.0-beta5
So fall back to deeplearning4j-core 1.0.0-beta4 with deeplearning4j-ui 1.0.0-beta4
and I solved the issue

by changing weightsArray from
 final INDArray weightsArray = Nd4j.create(new double[]{0.57, 0.75});
to
 fin

[2019-11-22 00:45] AlexDBlack commented on #8431
Right, that's correct. You can't and shouldn't mix versions. Everything - DL4J, ND4J, etc - needs to be the same version.
In fact, you probably got a big warning logged about that when you started your program - we have a version checking system.

You should always use the latest version too (for optimization, bug fixes and new features), you can see release notes here: https://deeplearning4j.org/

[2019-11-22 00:52] AlexDBlack opened #8432 "DL4J: Add Sparse Categorical Cross Entropy loss"
Needed for this: https://github.com/eclipse/deeplearning4j/issues/6377
But also would be nice to have for DL4J generally.

[2019-11-22 02:19] #8415 closed, assigned to nobody

[2019-11-22 06:45] AlexDBlack commented on #8407
Confirmed fixed.

[2019-11-22 06:45] #8407 closed, assigned to nobody

[2019-11-22 06:45] AlexDBlack commented on #8406
Confirmed fixed.

[2019-11-22 06:45] #8406 closed, assigned to nobody

[2019-11-22 06:45] AlexDBlack commented on #8405
Confirmed fixed.

[2019-11-22 06:45] #8405 closed, assigned to nobody

[2019-11-22 06:45] AlexDBlack commented on #8408
Confirmed fixed.

[2019-11-22 06:45] #8408 closed, assigned to nobody

[2019-11-22 06:50] raver119 opened #8434 "SameDiff tools: intermediate vars check broken"
Apparently, we have issue with SameDiff import tests tooling: intermediate variables checks fail with two different messages:

1.
[code]

2.

[code]

Both exceptions are reproducible with CUDA at least.

[2019-11-22 07:54] #8432 closed, assigned to AlexDBlack

[2019-11-22 09:27] maxime-michel opened #8435 "Allow to override the 1:1 ratio between Xmx & off-heap amount?"
#### Issue Description

We ship DL4J in a web application deployed by our users on instances of various sizes.

Also, our application uses the library minimally, the 1:1 ratio between Xmx and `Dorg.bytedeco.javacpp.maxbytes` is excessive.

An instance's usage of the library depends however on the application's number of users. So, we might allocate 512MB for a 4GB instance with 5 concurrent users,

[2019-11-22 10:50] andeopai opened #8436 "VocabConstructor not limiting size of VocabCache"
Relating to: VocabConstructor not limiting size of VocabCache #6468
I believe the issue still exists on 1.0.0-beta5.

Thank you.

[2019-11-22 10:57] Blacktoviche commented on #8431
Thanks for your explanation. I should've looked in the maven repo for the latest dl4j-ui.

Yes it is the weight array in a loos function. here is  the code

final MultiLayerConfiguration configuration = new NeuralNetConfiguration.Builder()
                .weightInit(WeightInit.RELU_UNIFORM)
                .updater(new Adam(0.015D))
                .list()
                .layer(new DenseLayer.Bu

[2019-11-22 11:40] shyrma commented on #8314
I have just checked - still not working :-(

[2019-11-22 11:51] AlexDBlack commented on #8431
Ok, so it is a loss weights array. Yes, creating it as float (or casting to float) is a legitimate solution.
I think to make it easier for users we should handle that internally - i.e., both float and double should just work for the weights array.

[2019-11-22 12:50] #8413 closed, assigned to nobody

[2019-11-22 12:55] AlexDBlack commented on #8413
I've merged a PR here that replaces the Play framework with Vertx
https://github.com/KonduitAI/deeplearning4j/pull/68

Note that there is no user-facing API changes. However, there were some changes in module names:
`deeplearning4j-ui_2.1x` -> `deeplearning4j-ui`
`deeplearning4j-play_2.1x` gone
`deeplearning4j-vertx` added
No more UI scala dependency here.
All existing modules, listeners etc still

[2019-11-22 13:28] AlexDBlack commented on #8392
Confirmed passing now

[2019-11-22 13:28] #8392 closed, assigned to nobody

[2019-11-22 16:02] smithagrg opened #8437 "Shaded Jackson"
We are implementing a neural network for one of our products using the deep learning libraries  for java. One of the dependencies for deeplearning4j-nn.jar is shaded Jackson by nd4j. This is blowing up in the OWASP security scan of the libraries. Therefore, we cannot use this dependency. Is there an alternate option around the shaded jar?

Below are  all the jars we are using for this project. Thi

[2019-11-22 16:53] printomi opened #8438 "DL4J UI: side menu hiding part of main content in narrow window"
#### Issue Description

As I decrease window width, the content suddenly jumps under the side menu at around 973px window width:
![DL4J_UI-beta5_small](https://user-images.githubusercontent.com/35722866/69443408-995f6f00-0d4e-11ea-880e-0114ab78a7e9.PNG)
At 977px, the content lied next to the menu. Note, that graph headings are still messed at this width.
![DL4J_UI-beta5_big](https://user-images.gi

[2019-11-22 19:25] LuizFilipeAS commented on #8424
@saudet i found the error thanks to that command line. Thank you!

[2019-11-22 19:25] #8424 closed, assigned to nobody

[2019-11-22 19:42] #8427 closed, assigned to nobody

[2019-11-22 21:16] sshepel commented on #8429
Should be fixed now...

[2019-11-22 23:14] AlexDBlack commented on #8437
Internally it's Jackson 2.9.9 and 2.9.9.3
https://github.com/eclipse/deeplearning4j/blob/master/pom.xml#L331-L332

That was, at the time of upgrade, the latest version. It's possible more vulnerabilities have been discovered since.

There is no way to remove this library, it's integral to everything we do with JSON (including reading and writing model formats).

FWIW we use a shaded version to avo

[2019-11-22 23:43] borkox opened #8440 "TimeSeriesUtil does not calculate moving average correctly in big arrays"
#### TimeSeriesUtils.movingAverage() does not work as expected

The method is expected to calculate moving average on any size array.
The encountered behaviour is that the implementation depends on the data and size of array and gives wrong calculation. I suspect it is overflow from the cumulative sum inside.

#### Version Information

* Deeplearning4j  - all versions
* Platform information - Wind

[2019-11-23 02:50] saudet commented on #8435
It should be easy enough to add something for that around here: https://github.com/bytedeco/javacpp/blob/master/src/main/java/org/bytedeco/javacpp/Pointer.java#L455-L477
Maybe something like "org.bytedeco.javacpp.maxMemoryRatio"? In any case, please do send a pull request with modifications that satisfy your requirements! Thank you

[2019-11-23 05:02] raver119 commented on #8429
awesome, tyvm!

[2019-11-23 05:02] #8429 closed, assigned to sshepel

[2019-11-23 06:16] AlexDBlack opened #8441 "DL4J: Add CNN1D & RNN 'channels last' support (Keras import)"
There are some circumstances in Keras import where it's not possible to handle the format conversion internally. For example, `dense -> reshape([mb,a,b]) -> concat -> cnn1d` - it's not clear whether that reshape is [mb,seqLength,channels] or [mb,channels,seqLength] - and we can't know that unless we look at the next layers (concat axis, cnn1d format, or RNN layer).

After looking at this for some

[2019-11-23 09:06] #8431 closed, assigned to AlexDBlack

[2019-11-23 09:09] AlexDBlack commented on #8373
I'm going to reopen this as unresolved, as I had to revert the fix for this.
@farizrahman4u's fix does result in this case importing ok, but it does change reshape vertex behaviour for at least 6 other tests (which only check the configuration, not expected outputs, hence don't show up in unit tests - only found via breakpoint)
Keras2ModelConfigurationTest.permuteRetinaUnet, .ReshapeEmbeddingConca

[2019-11-23 09:23] #8418 closed, assigned to nobody

[2019-11-25 00:32] zhangy10 opened #8444 "Is temporal convolution available in beta5.0"
I am wondering if the temporal convolution network (TCN) for convolution 1d support is available in the beta5.0 or snapshots version?

I saw this post and it seems that the updates have been added in:
https://github.com/eclipse/deeplearning4j/issues/7629#event-2575545499

So, can you please double-check the availability for TCN? Thanks.

[2019-11-25 05:12] raver119 opened #8445 "non_max_suppression"
We have couple of issues with `non_max_suppression`  operation, and we'll probably have to introduce additional op impl that matches TF 2 behavior.

[2019-11-25 05:35] raver119 commented on #8400
Fix confirmed

[2019-11-25 05:35] #8400 closed, assigned to nobody

[2019-11-25 06:26] raver119 commented on #8312
Looks like Swift support is going to be added soon: https://github.com/google/flatbuffers/pull/5603

[2019-11-25 06:31] raver119 opened #8446 "MKL-DNN and Intel TBB"
In order to make MKL-DNLL perf on macOS better, we should introduce Intel TBB threading model to macOS builds.

Now, since we've upgraded to MKL-DNN 1.1.x that should become a viable option.

[2019-11-25 06:37] raver119 commented on #8428
Fixed.

[2019-11-25 06:37] #8428 closed, assigned to nobody

[2019-11-25 08:45] #8258 closed, assigned to nobody

[2019-11-25 11:29] AlexDBlack commented on #8444
Not yet, unfortunately. I've been meaning to look at this again (and missed your previous comment), thanks for the reminder.
Keep an eye on the other issue, there's a small chance we can squeeze it into the upcoming release, but no promises...

[2019-11-25 11:29] #8444 closed, assigned to nobody

[2019-11-25 11:51] kris1710 opened #8447 "java.lang.ArithmeticException: / by zero"
Hi I am trying to fit a computation graph on spark. I ve multidataset rdd objects of  batchsize 1024, total CSV rows~9 million. I ve stored the paths here
[code]
However, when I run

[code]

It throws
[code]
I looked up the java class ParameterAveragingTrainingMaster.java at line 414
[code]
if i print sparknet.getSparkContext().defaultParallelism() it outputs 60, but it seems the builder here is n

[2019-11-25 12:49] smithagrg commented on #8437
Hi Alex,

 The issue is in fact with the Jackson version. Below is the error from
OWASP scan. So, upgrading would definitely help.

 "*A Polymorphic Typing issue was discovered in FasterXML jackson-databind
before 2.9.10. It is related to com.zaxxer.hikari.HikariConfig*."

*Dependencies*

We deploy in linux  or windows platforms. Our maven configuration is
limited and forces us to pretty much ente

[2019-11-25 22:16] nimishatandon commented on #8387
The issue seems resolved post the upgrade. However we do notice out of memory errors from dl4j for a particular model and not for others during inference .

Please let me know if there is a good way to identify how much memory is needed so we could allocate accordingly. Also is creating own workspace a good way to manage that ?

[2019-11-25 22:17] nimishatandon commented on #8387
This out of memory is coming post the upgrade , would this imply just better exception handling in the new jars ?

P.s I ended up using beta-5 to resolve the segmentation error.

[2019-11-26 00:43] AlexDBlack commented on #8437
Thanks, I'll look at upgrading to 2.10.1

limited and forces us to pretty much enter every dependency separately. If
I don't use the "native-platform", are you saying that we don't need to add
any platform specific dependencies like the windows and linux specific ones?

The way it works:
nd4j-native-platform (or cuda-x.x-platform) includes native binaries for all OSs.
if you use nd4j-native instea

[2019-11-26 00:51] saudet commented on #8387
@nimishatandon Please provide more details about that!

[2019-11-26 04:24] AlexDBlack commented on #8437
Jackson has been upgraded to 2.10.1 (latest) here: https://github.com/KonduitAI/deeplearning4j/pull/82
That will be merged soon, and will be in the next release.

I'll close this as resolved.

[2019-11-26 10:52] raver119 opened #8449 "non_max_suppression precision issue"
Starting with TF 1.15 this code generates different output for different dtypes. For float32 output is [1, 2], for float16 output is [1]. 1.14 and below generates the same output [1, 2].

[code]

[2019-11-26 12:04] smithagrg commented on #8437
Thank you, when will the next release be on?

Smitha

On Mon, Nov 25, 2019 at 11:24 PM Alex Black <notifications@github.com>
wrote:

[2019-11-26 13:12] smithagrg commented on #8437
Our maven plugin does not automatically download dependencies, so I
download the linux and windows dependency using the classifier.  It is
fine. Is there a smaller alternative for the mkl-dnn and open-blas
platform libraries?
I am trying to understand why we have platform libraries for those as well?
For example, for a windows environment I seem to need the following minimum
set of platform depend

[2019-11-26 13:18] raver119 commented on #8437
mkl-dnn shouldn't be needed in beta5 and subsequent releases, since it's compiled into libnd4j staticallym and comes in nd4j-native-windows-x86_64.jar. OpenBLAS or MKL is required though.

[2019-11-26 13:20] alexanderst opened #8450 "BetaInc operation returns values different from TF 1.15"
Failing test:
[code]

[2019-11-26 13:59] saudet commented on #8437
@smithagrg We can use profiles to manage the native dependencies:
https://github.com/bytedeco/javacpp-presets/wiki/Reducing-the-Number-of-Dependencies

[2019-11-26 14:02] raver119 commented on #8450
@shyrma ^^^

[2019-11-26 14:22] smithagrg commented on #8437
I get an error without it

Exception in thread "pool-2-thread-1" java.lang.ExceptionInInitializerError
Caused by: java.lang.UnsatisfiedLinkError: no jnind4jcpu in
java.library.path
at java.lang.ClassLoader.loadLibrary(ClassLoader.java:1867)
at java.lang.Runtime.loadLibrary0(Runtime.java:870)
at java.lang.System.loadLibrary(System.java:1122)
at org.bytedeco.javacpp.Loader.loadLibrary(Loader.java:14

[2019-11-26 16:22] raver119 opened #8451 "MSVC and libnd4j tests"
We need to review our C++ tests and eliminate all cases of narrowing down conversion from double to float, which causes troubles to certain MSVC versions.

Like this:
[code]

[2019-11-26 17:38] alexanderst opened #8452 "Polygamma operation returns tensor different from TF 1.15 output for the same inputs"
Failing test:
[code]

[2019-11-26 17:56] alexanderst opened #8453 "Roll operation returns values different from TF 1.15 output"
Failing test:
[code]

[2019-11-26 23:03] nimishatandon commented on #8387
![IMG_20191126_145949](https://user-images.githubusercontent.com/56741349/69679820-f1071e80-105d-11ea-9061-4072edea7d41.jpg)

[2019-11-26 23:04] nimishatandon commented on #8387
![IMG_20191126_144507](https://user-images.githubusercontent.com/56741349/69679837-00866780-105e-11ea-8eb0-183c11a1763c.jpg)

[2019-11-26 23:04] nimishatandon commented on #8387
These are some of the errors we are observing . Any inputs would be really appreciated !

[2019-11-27 00:53] AlexDBlack commented on #8452
So it's NaN for TF, negative infinity for libnd4j for this case

https://www.tensorflow.org/api_docs/python/tf/math/polygamma?hl=en

I agree libnd4j should match TF for this case (NaN) but let's also check the test cases to ensure that they are valid - i.e., `a` is non-negative integers (of float array type)

[2019-11-27 02:25] saudet commented on #8387
It just looks like it doesn't have enough memory. Try to increase the maximums.

[2019-11-27 03:07] SelfEvoAI commented on #8404
did you solved this? I have the same error?

Why `Nd4j.create(3D Array)` shape is [5,5,1], but imported  LSTM model need shape is [5,1,5] ?

[2019-11-27 03:28] SelfEvoAI opened #8454 "org.deeplearning4j.exception.DL4JInvalidInputException"
#### Issue Description

`
    val XXndArr = new Array[Array[Array[Float]]](X.size())
    .....
    val XXnd = Nd4j.create(XXndArr)
    .....
    val pridictOut = model.output(XX)
`

`Exception in thread "main" org.deeplearning4j.exception.DL4JInvalidInputException: Received input with size(1) = 5 (input array shape = [5, 5, 1]); input.size(1) must match layer nIn size (nIn = 1)
	at org.deeplearnin

[2019-11-27 03:33] AlexDBlack commented on #8387
@nimishatandon you can get an estimate of memory use using `MultiLayerNetwork.memoryInfo(minibatchSize, InputType)` and `ComputationGraph.memoryInfo(minibatchSize, InputType...)`
Though usually when you get an OOM you get a memory dump like that generated anyway... (path of the dump should be printed)

If you can provide the output of that, we can take a look.

Otherwise yes, configure your memory

[2019-11-27 05:00] raver119 commented on #8454
1) You can reorganize your XXndArr to become [5, 1, 5]
2) You can permute your NDArray, so it will become [5, 1, 5]

[2019-11-27 05:00] #8454 closed, assigned to nobody

[2019-11-27 07:11] alexanderst opened #8455 "MatrixBandPart operation doesn't return valid output shapes"
Output from TFGraphTestAllSameDiff test in nd4j:

[code]

[2019-11-27 07:14] raver119 commented on #8455
Every time you see exception like this:

[code]

It just means you have problem in Java, op mapping is bad. I.e. some missed args.

[2019-11-27 13:34] zhangy10 commented on #8444
Thanks for that. And hope it will be added in the next version. cheers.

[2019-11-28 05:50] alexanderst opened #8458 "libnd4j: AdjustHue - add support for delta config via array"
According to ops.proto - delta should be scalar INDArray. TF documentation is misleading here.

op {
  name: "AdjustHue"
  input_arg {
    name: "images"
    type: DT_FLOAT
  }
  input_arg {
    name: "delta"
    type: DT_FLOAT
  }
  output_arg {
    name: "output"
    type: DT_FLOAT
  }
}

[2019-11-28 05:53] alexanderst opened #8459 "AdjustSaturation operation should have "scale" argument of scalar INDArray type instead of float. libnd4j and nd4j"
Second argument of AdjustSaturation should have scalar INDArray type. TF doc is misleading.
ops.proto:

[code]

[2019-11-28 07:41] AlexDBlack commented on #8458
Delta via targ is fine for our internal use, so we want the option to also provide it via the second input array.
We have a number of ops that support both.

[2019-11-28 07:53] raver119 commented on #8458
Ye, that's an easy fix. We'll sort it out today

[2019-11-28 08:11] orausch opened #8460 "Runtime loaded libnd4j ops"
I'd like to implement a very specialized custom operation in c++ for the Nd4jCpu executioner. Ideally, I'd like to load it at run time without modifying your library's jars.
If I create an `Nd4jCpu.DeclarableOp`, linked with a corresponding C++ backend (which is in it's own file, not in your codebase) and register it with ```Nd4jCpu.OpRegistrator.getInstance().registerOperation(new MyOp())```
 wou

[2019-11-28 08:17] raver119 commented on #8460
Yep, hypothetically that's exactly the way to do this.
Please let me know if you'll have any troubles with that, so we'll be able to resolve those.

[2019-11-28 11:07] kris1710 opened #8462 "Deserialization error at sparkcomputationgraph with custom layers"
Hi i ve created custom layers in my model, [reference issue](https://github.com/eclipse/deeplearning4j/issues/8409) . I am deploying this model to the spark . The model trains fine but at the evaluation stage it throws the error
[code]

"a+b" is the layer that calls in my computation graph.
[code]

[2019-11-28 12:04] kris1710 commented on #8462
If it helps, I am using the following method for evaluation:
passing the string path to the multidataset stored and a multidataloader
[code]

[2019-11-28 12:22] Arihant-Joshi opened #8463 "CSVSequenceRecordReader adds 1 dimension to data vector"
#### Issue Description
Hi
I am trying to train an RNN for intent detection.
I have converted the words to vectors, and split them into separate files as required by dl4j.
This is a problem of MultiLabel Classification, so I am basically training a different classifier model for each intent.
But on model.fit(), I am getting the following error-
[StackTrace](https://gist.github.com/Arihant-Joshi/227

[2019-11-28 12:57] Arihant-Joshi commented on #8463
This was solved by changing the output layer from OutputLayer.Builder to RnnOutputLayer.Builder.
Kindly delete this issue.

[2019-11-28 12:57] #8463 closed, assigned to nobody

[2019-11-28 13:58] alexanderst commented on #8452
So I tried non-negative initialization for polygamma arguments and got NaNs in the test output. There's just a lack of validation in libnd4j.

[2019-11-29 02:36] saudet commented on #8253
Try to tune the settings explained in the documentation here:
https://deeplearning4j.org/docs/latest/deeplearning4j-config-workspaces
Also make sure to use 1.0.0-SNAPSHOT and let us know if you're still unable to make it work.

[2019-11-29 08:10] alexanderst opened #8464 "Add tf import test for max_pool_with_argmax"
max_pool_with_argmax should be developed using tensorflow-gpu

[2019-11-29 08:12] raver119 commented on #8464
Sorry, can you elaborate please?

[2019-11-29 08:18] alexanderst commented on #8464
There's TF import test in dl4j-dev-tools\import-tests which fails on TF CPU, but is expected to run on TF GPU. Commented for now, but I'm going to revisit it later.

[2019-11-29 08:20] raver119 commented on #8464
Ah, i see

[2019-11-29 10:14] alexanderst opened #8465 "Operation adjust_contrast in libnd4j should be able to handle empty arrays without validation error"
For TF compatibility  - operation adjust_contrast in libnd4j should be able to handle empty arrays without validation error. Otherwise TF import tests with empty inputs are failing with exception like this
 ADJUST_CONTRAST_V2: operation expects image with 3 channels (R, G, B), but got 0 instead

Validation is correct, the issue is just TF compatibility.

[2019-11-29 13:06] kris1710 opened #8467 "Spark Out of memory during fitpathsmultidataset"
hi can anyone suggest any workaround for this. I am running a computation graph on spark. I prepared my multidataset objects (input size =140 features,batch size 32) and saved the paths in the hdfs. There are total 290K multidataset objects.

[code]
The job fails after running for sometime

My model has 52 million parameters to learn. I call net.fitMultidatasetPaths(<path to my hdfs directory>) ho

[2019-11-29 13:28] AlexDBlack opened #8468 "libnd4j: CUDA SVD failure"
Reproducible with TFGraphTestAllSameDiff + these resources: https://github.com/KonduitAI/dl4j-test-resources/pull/13
Generated using this:  https://github.com/KonduitAI/dl4j-dev-tools/pull/20

I'm regenerating SVD cases with absolute value op to deal with the multiple solutions issue.
The old values (same type of random initialization) ran OK on CUDA 10.2, other than one failure due to that issue.

[2019-11-29 20:46] hakmesyo opened #8469 "keras model from teachable machine gives Exception in thread "main" org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type Sequential."
#### Issue Description

In teachable machine https://teachablemachine.withgoogle.com/ website i trained my images with backend mobilenet. Currently i dont know which version of mobilenet was used and what are the details in back end. Then, i exported the keras model as "keras_model.h5" file. Normally i can load and retrain or make inference from this model in python without any problems. But my ob

[2019-11-30 07:06] SidneyLann opened #8470 "Exception occurs when load SD model in beta5"
SameDiff sd;
      File modelFile = new File(NerUtil.DATA_HOME + "/model/ner");

      if (modelFile.list().length > 0) {
        System.out.println("Load model...");
        sd = CheckpointListener.loadLastCheckpoint(modelFile, true);
        // sd=SameDiff.load(modelFile, true);
      } else {
        System.out.println("Build model...");
        sd = SameDiff.create();

        SDVariable input

[2019-11-30 07:26] AlexDBlack commented on #8470
What version of DL4J/ND4J was used to create the model file?

[2019-11-30 07:37] SidneyLann commented on #8470
both are beta5

[2019-11-30 09:08] #8470 closed, assigned to AlexDBlack

[2019-11-30 09:09] AlexDBlack commented on #8470
Thanks for reporting
Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/93
It'll be merged back to eclipse repo (and hence will be available on snapshots) some time next week.
It'll also be in the next release of course (which we are working towards now).

[2019-11-30 09:14] SidneyLann commented on #8470
Thank you

[2019-11-30 09:18] AlexDBlack commented on #8470
I should also note it's on the evaluation objects in the training config, you should still be able to serialize/deserialize without IEvaluation instances

[2019-11-30 15:03] SidneyLann commented on #8470
ok

[2019-12-01 10:13] Vasniktel opened #8472 "Nd4j incorrect order with getRow method"
#### Issue Description

Nd4j sets incorrect ordering for a row view with `keepDims = true`.
Consider this code:
[code]
At this point data is laid out in column-wise order in memory. If we now do
[code]
it will print `c` even though the data itself is still laid out in `f` order, which can be proved by
[code]
which will print `true`.

#### Version Information

Please indicate relevant versions, inc

[2019-12-01 11:25] raver119 commented on #8472
That's a bit of legacy agreement - scalar and vector have 'c' order, but proper strides. So ye, this is kind of a bug, but a cosmetic one. Strides define data layout, not a order letter.

[2019-12-01 14:07] Vasniktel commented on #8472
So I shouldn't expect this to be fixed, right?

[2019-12-01 14:47] raver119 commented on #8472
Sure it will be fixed.

[2019-12-01 23:14] DanielMartensson opened #8473 "Question: The method getTrainIterator() from the type DataSetIteratorSplitter is deprecated"
Why is the method getTrainIterator() from the type DataSetIteratorSplitter is deprecated?

https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-data/deeplearning4j-utility-iterators/src/main/java/org/deeplearning4j/datasets/iterator/DataSetIteratorSplitter.java

What else can I use instead if I need to split my data to train and eval data?

[2019-12-02 00:38] eraly opened #8474 "Helper methods in samediff for TF graphs"
It would be nice to have a helper method in DL4J that would scan a TF pb for iterators and replace them with placeholders.
Also would be nice to have a helper method that would handle dropout related subgraph surgery in TF for inference easily

[2019-12-02 01:01] cqiaoYc commented on #8253
@saudet Thank you! Used 1.0.0-SNAPSHOT, my app crashed as before when it was first run. The second time to the 900th generation, an exception was reported(java.lang.OutOfMemoryError: GC overhead limit exceeded). This should be caused by the incorrect setting of my running parameters. My memory RAM is 64G, GPU 6*8G, the running parameters were: -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=60G.
Wh

[2019-12-02 02:48] AlexDBlack opened #8475 "libnd4j: scalar boolean broadcast op issues"
[code]
[code]

Same thing happens with GreaterThan, Equals etc, and possibly others.
Also occurs when x is a rank 1 scalar (shape [1]) and when x/y order are switched (so it's LessThan([3],[]) instead of LessThan([],[3]))

[2019-12-02 05:49] raver119 commented on #8253
It's not about params. You're just doing something wrong in your code - storing lots of references , thus your java heap is polluted with lots of objects. Eventually you run out of RAM.

[2019-12-02 05:51] raver119 commented on #8473
Logic was changed. Original implementation was able to "split" your underlying iterator in two parts. Now there can be way more than just 2 iterators.

Use `getIterators()` method.

[2019-12-02 05:51] #8473 closed, assigned to nobody

[2019-12-02 06:02] AlexDBlack opened #8476 "libndj: Causal Conv1d wrong values with MKLDNN enabled"
Isolated from DL4J causal conv1d Keras import tests.
If I disable MKLDNN, they pass. With it enabled - they all fail, with what appears to be an off-by-1 error (for both ncw and nwc).

https://gist.github.com/AlexDBlack/f2fd8100d9a60e1f301447440e99553d

![image](https://user-images.githubusercontent.com/2360237/69934229-750d4a80-1525-11ea-9182-cdfeeb5b98d7.png)

[2019-12-02 06:23] philip-khor opened #8477 "pydl4j dependencies may need to be updated"
https://github.com/eclipse/deeplearning4j/blob/47c58cf69d1ae38506bbeda0c0948807be7a1cf4/pydl4j/setup.py#L24-L25

However, PyJNIus's [README](https://github.com/kivy/pyjnius) states:

[2019-12-02 08:09] DanielMartensson commented on #8473
So getIterators() gives be first train and then eval iterator?

[2019-12-02 08:33] cqiaoYc commented on #8253
@raver119 I put a lot of references in the object pool. Do you mean not use object pool?

[2019-12-02 08:35] raver119 commented on #8253
Look, your memory isn't an endless resource - you're storing references to objects somewhere, so garbage collector never removes these objects, so there's two outcomes here:

1. Each GC run gets slower and slower, since GC has to traverse all objects you have within processs
2. Your memory use naturally grows, until you hit OOM.

So that's app design problem.

[2019-12-02 08:37] raver119 commented on #8473
Yes. Say, if you split your underlying iterator into 3 parts, you can use your first iterator as train iterator, second as test iterator, and third as validation iterator. That's up to you how to use this split.

[2019-12-02 10:01] raver119 commented on #8465
Fixed in my branch, will be merged later today

[2019-12-02 10:01] #8465 closed, assigned to nobody

[2019-12-02 10:30] cqiaoYc commented on #8253
@raver119 I removed the object pool and threw an exception within 10 generations.
[code]

[2019-12-02 10:41] raver119 commented on #8253
OOM on device side, probably. However it would be nice to see full output .

[2019-12-02 10:44] cqiaoYc commented on #8253
[code]

[2019-12-02 10:47] raver119 commented on #8253
No messages before exception?

[2019-12-02 10:49] cqiaoYc commented on #8253
No more.

[2019-12-02 10:51] raver119 commented on #8253
I can't judge based on this. It can be anything, starting from OOM, ending with concurrent use of the same NDArray on multiple devices at once.

I need code that reproduces this behaviour in order to help.

[2019-12-02 10:56] cqiaoYc commented on #8253
TestMultiGpu.zip in the first of the issue.

[2019-12-02 10:57] raver119 commented on #8253
Had you updated it with the latest code?

[2019-12-02 10:58] cqiaoYc commented on #8253
Let me see if I need to update it

[2019-12-02 11:52] alexanderst opened #8478 "Crash in TF import test suite TFGraphTestAllLibnd4j"
TF graph emptyArrayTests/realdiv/empty2_rank2 from test resources is crashing:

[code]

[2019-12-02 11:53] raver119 commented on #8478
Probably deserialization issue somewhere...

[2019-12-02 15:19] shugeo commented on #8402
TF returns 0.77700233 0.596913   0.72314    0.23104    0.50982356]
 [0.17930824 0.50528157 0.86846    0.34995764 0.50982356]
 [0.08735529 0.596913   0.6574     0.34995764 0.15974471]

[2019-12-02 15:28] shugeo commented on #8402
Our out is
Quantized03:
[[0.777002, 0.596913, 0.723140, 0.231040, 0.509824]
 [0.179308, 0.505282, 0.868460, 0.349958, 0.509824]
 [0.087355, 0.596913, 0.657400, 0.349958, 0.159745]]

[2019-12-02 15:30] eraly commented on #8387
@nimishatandon Did increasing the maximums help?

[2019-12-02 16:31] raver119 opened #8479 "make libnd4j installable"
As discussed in https://github.com/KonduitAI/deeplearning4j/pull/95

[2019-12-02 19:38] raver119 opened #8480 "CI performance issues"
At this moment we have bunch of issues affecting CI pipeline performance:

- [ ] Start time for Windows nodes sucks, it takes up to 20 minutes to start
- [ ] Start time for Linux nodes sucks, it takes up to _forever_ to start.
- [x] We have to build CUDA twice in order to run C++ tests
- [ ] We have sporadic problems with Android builds and oom-killer (supposedly)
- [ ] Windows CUDA tests fail to

[2019-12-02 19:39] raver119 commented on #8475
Fixed

[2019-12-02 19:39] #8475 closed, assigned to raver119

[2019-12-03 00:46] AlexDBlack opened #8481 "libnd4j Maven build - Windows + WSL uses wrong bash"
On windows, if a user has WSL (windows subsystem for linux) installed, they can get the following cryptic message when building libnd4j:
[code]

Technically not our problem - it's an issue with the user's system configuration, for example WSL bash on the path before the msys2 bash or something.

Not sure if we can find a good solution for this, but it would be nice to avoid wasting the time of bot

[2019-12-03 04:43] AlexDBlack opened #8482 "Unit/Integration Test Split & Test Speedup"
The goal here:
1. Split existing tests into 2 sets:
    (a) Unit test (fast)
    (b) Integration tests (slower, but more thorough)
2. Faster test runs overall

To do:
- [ ] Decide what goes into unit tests vs. integration tests
- [ ] Do a pass on slow tests --> speed up

Here's the module-level timing, largest first (CPU, AVX2, Linux, 6 core + HT 5930k @ 4GHz)
https://gist.github.com/AlexDBlack/ce

[2019-12-03 06:42] raver119 commented on #8476
Fixed, please check on your end.

[2019-12-03 08:03] AlexDBlack opened #8483 "All projects: review and improve ignored tests"
We have a lot of ignored Java tests - those marked with `@Ignore` junit annotation.

We have some additional tests ignored using:
`OpValidationSuite.ignoreFailing();`
and https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/imports/TFGraphs/TFGraphTestAllSameDiff.java#L69-L130

We need to clean these up.

Specifically:
- [ ] Write a simple scri

[2019-12-03 08:06] AlexDBlack opened #8484 "Integration Test Suite - DL4J, SameDiff, etc"
We need a proper integration test suite.
The goals are simple:
1. Our integration tests should be simple enough that we can make a release decision based on the passing of automated tests only.
2. As a consequence of (1), our software should stay in a provably releasable state at all times.

Note that we have a dl4j-integration-tests module, but it has not been maintained properly.
Furthermore, it

[2019-12-03 08:08] AlexDBlack opened #8485 "Add public roadmap page"
We need a simple, up-to-date roadmap page on the website

[2019-12-03 08:15] AlexDBlack commented on #8476
Now, instead of wrong values, I get this: (note I'm running with MKLDNN_VERBOSE=1)
[code]

If I disable MKLDNN the tests still pass (match Keras)

[2019-12-03 08:17] raver119 commented on #8476
Same test  as in original post?

[2019-12-03 08:18] AlexDBlack commented on #8476
yes, exact same test - `KerasModelEndToEndTest.testCausalCon1D` on branch `ab_keras_conv1d` with dl4j-test-resources branch `ab_keras_causal_conv1d`

[2019-12-03 08:21] AlexDBlack opened #8486 "Java + Scala tests: ensure we have timeouts everywhere"
No Java or Scala test should be able to deadlock CI, for any reason.
JUnit has timeout functionality (both test level and global), we just need to make sure they are applied everywhere.

Note that some tests can legitimately take a while (for example, DL4J zoo tests or SameDiff TF import tests, due to downloads on a slow connection). However in most cases, we should be able to provide a reasonable

[2019-12-03 08:23] AlexDBlack commented on #8476
Actually, not reproducible with the test in the gist (I thought that was the same as the first case in the keras import test)
I'll isolate it to another simple test case...

[2019-12-03 08:35] AlexDBlack commented on #8476
Reproducible with the same test case as before, but with dilation = 2 instead
https://gist.github.com/AlexDBlack/aa8be2219c6f8b468b18708346e4159e

[2019-12-03 08:50] AlexDBlack opened #8487 "SameDiff: improve test coverage + ensure ops mapped"
OpValidationSuite can be used to check test coverage and ensure that all libnd4j ops are mapped.
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/OpValidationSuite.java

We need to do 3 things here:
- [ ] Get "Ops with TF Mapping but No TF Import Tests" count to 0
- [ ] Map all remaining libnd4j ops (or mark as ignored - not going to be map

[2019-12-03 09:06] AlexDBlack opened #8488 "SameDiff performance analysis + prioritization"
We will be doing a performance pass on SameDiff during December.

The following tasks need to be completed:
- [ ] Create an op vs. library spreadsheet (what ops can use mkldnn/dnnl, cuDNN, etc)
- [x] ~~Collect op frequency statistics (scan previously collected pretrained models + count op frequency)~~
- [x] ~~Build SameDiff op profiler (output to chrome profiler format)~~
- [x] ~~Build profiler co

[2019-12-03 09:09] AlexDBlack opened #8489 "ND4J: Add remaining namespaces"
As of this PR, we have the first set of ND4J namespaces: Nd4j.math, Nd4j.random, Nd4j.bitwise, and Nd4j.nn (neural network)
https://github.com/KonduitAI/deeplearning4j/pull/83

Namespaces not yet translated from SameDiff include:
- BaseOps
- CNN
- Image
- Loss
- RNN

[2019-12-03 09:09] cqiaoYc commented on #8253
@raver119 The exception txt using mutilGPUs and the test code.
[testMultiGpu-20191203.0.txt](https://github.com/eclipse/deeplearning4j/files/3915588/testMultiGpu-20191203.0.txt)
[TestMultiGpu2.zip](https://github.com/eclipse/deeplearning4j/files/3915596/TestMultiGpu2.zip)
In the following structure, a large number of detached large objects are managed by GC, which is not a good idea. How to improv

[2019-12-03 09:58] AlexDBlack opened #8490 "Keras import: implement coverage tracking system"
We need a way to know what layers (and other features - optimizers, etc) we have tested.
Ideally, with coverage of different configurations too - so we can see that for example conv1d is only ever tested with dilation 1 for example.

This would be similar to the op coverage collection we have for SameDiff and Tensorflow import.

[2019-12-03 10:02] AlexDBlack opened #8491 "Keras import: implement reproducible test case generation system"
For SameDiff's Tensorflow import, virtually all (>95%) of our test cases are reproducible.
If we need to, we can easily regenerate our existing test cases on a new version of TF, or generate new test cases with different parameters.

https://github.com/KonduitAI/dl4j-dev-tools/tree/master/import-tests

We don't have this same test framework + reproducibility for Keras import yet, and need to build

[2019-12-03 10:26] kris1710 commented on #8462
Hi,
Any update on this?

[2019-12-03 11:58] alexanderst opened #8492 "Betainc operation in libnd4j must not fail when empty arrays passed as input"
Betainc operation must be able to accept empty arrays as input and produce valid output without error.
Needed for TF import, there are models being produced with empty inputs.
Import tests in nd4j:
betainc/emptyArrayTest/float32
betainc/emptyArrayTest/float64

[2019-12-03 11:59] raver119 commented on #8492
cc @shyrma ^^^

[2019-12-03 12:02] alexanderst opened #8493 "Resize_bilinear, resize_neighbors must support half_pixel_centers - boolean argument, libnd4j and nd4j"
half_pixel_centers argument is missing, should be added to both C++ implementation and Java wrapper.

[2019-12-03 12:04] raver119 commented on #8493
cc @shugeo

[2019-12-03 13:07] alexanderst commented on #8455
@raver119 minLower and maxUpper are defined as int arguments in both libnd4j and nd4j, but they are tensors in graph:
[code]

[2019-12-03 13:11] Meerer opened #8494 "RecordReaderDataSetIterator Single Target Regression"
#### Issue Description

Please describe our issue, along with:
- expected behavior
When using a RecordreaderDataSetIterator for a regression task it should remove the label column from the feature set
- encountered behavior
The label column is still present in the feature set making the whole regression task pointless

#### Version Information

Please indicate relevant versions, including, if rele

[2019-12-03 13:14] alexanderst commented on #8458
@raver119 Tests for adjust_hue are passing.

[2019-12-03 15:13] raver119 commented on #8458
Thanks.

[2019-12-03 15:13] #8458 closed, assigned to nobody

[2019-12-04 00:10] SidneyLann opened #8496 "NaNs present in predictions INDArray"
#### Issue Description

Please describe our issue, along with:
- expected behavior
no exception

- encountered behavior
java.lang.IllegalStateException: Cannot perform evaluation with NaNs present in predictions: 128 NaNs present in predictions INDArray
	at org.nd4j.base.Preconditions.throwStateEx(Preconditions.java:641)
	at org.nd4j.base.Preconditions.checkState(Preconditions.java:286)
	at org.nd

[2019-12-04 02:59] AlexDBlack commented on #8494
I'm unable to reproduce this.
The behaviour I'm seeing looks correct, for both the constructor and the builder way of creating the iterator.

I have also tested the first position (index 0), last position (index size-1), and a position in-between (index 1).

https://gist.github.com/AlexDBlack/208096a802ac7c2f672c111f0fe8161f

[2019-12-04 03:05] AlexDBlack commented on #8467
Take a look at this: https://deeplearning4j.org/docs/latest/deeplearning4j-scaleout-howto#memory
My guess is that you're running on YARN but haven't configured memory overhead and/or ND4J memory settings?
The default memory overhead (i.e., amount of off-heap/non-JVM memory allowed in the container) is only like 1GB.

[2019-12-04 03:50] AlexDBlack commented on #8462
I was able to reproduce this locally using the following code.
https://gist.github.com/AlexDBlack/a2ff44e98ba491230ba313fbfd48d431

The problem here is that your lambda layer is a non-static inner class.
If you make it a static class, it should deserialize fine.

[2019-12-04 03:50] #8462 closed, assigned to AlexDBlack

[2019-12-04 04:29] kris1710 commented on #8467
@AlexDBlack Thanks for replying, I did set that as well. Here is my config:
https://gist.github.com/kris1710/9e756539419e507b129e3ecbfabcb9bc
The out of memory comes if i call ```sparknet.fitMultiDataSet(loadedPaths)```
However, I tried this :
take a subset of loadedpaths using
[code]
It works,
I looked at memory usage of a node without calling gc at every loop , and it kept increasing by addition

[2019-12-04 06:32] cqiaoYc commented on #8253
Is it helpful to use the RedHat's Shenandoah garbage collector? If yes, how to set Nd4j.getMemoryManager().togglePeriodicGc()?

[2019-12-04 07:32] AlexDBlack opened #8497 "DL4J: No Deconvolution3D layer"
We have Deconvolution2D DL4J layer, and we have a deconv3d op - but we don't actually expose deconv3d in DL4J.

[2019-12-04 08:24] Meerer commented on #8494
Yeah this was my bad I saved my dataset wrong and this added an extra column. Sorry for troubling you :*

[2019-12-04 08:24] #8494 closed, assigned to nobody

[2019-12-04 12:20] AlexDBlack commented on #8476
Confirmed fixed

[2019-12-04 12:20] #8476 closed, assigned to nobody

[2019-12-04 13:18] wmeddie opened #8499 "pydl4j does not work with new spark and scala versions in 1.0.0-beta5"
#### Issue Description
When having `pydl4j init` set to 1.0.0-beta5 and spark 2 scala 2.11 versions (the defaults) the `pydl4j install` command will fail to find the datavec-spark and dl4j-spark-parameterserver dependencies because the version scheme changed with beta5.

There's also a bug in the platform code when cpu isn't selected as the backend.

#### Version Information

Please indicate relev

[2019-12-04 16:14] alexanderst opened #8500 "Missing Java wrapper for operation resize_bicubic"
Add Java wrapper and TF mapping for operation resize_bicubic
Add import tests.

[2019-12-05 01:10] AlexDBlack commented on #8383
https://github.com/eclipse/deeplearning4j/pull/8457

[2019-12-05 01:10] #8383 closed, assigned to nobody

[2019-12-05 03:49] saudet commented on #8435
Done! Thanks for the contribution and for hanging in there to narrow down the requirements.

[2019-12-05 03:49] #8435 closed, assigned to saudet

[2019-12-05 04:33] AlexDBlack opened #8501 "datavec-python test failures on CUDA"
Passes fine on CPU.

Failing tests:
* Test PythonExecutionSandbox.testNDArray
* TestPythonExecutioner.testNDArray* (5 tests)

Alll seem to be the same issue for all of these tests:
[code]

[2019-12-05 06:59] AlexDBlack opened #8503 "DL4J: add timeout / "no traffic" check for zoo model downloads"
I've seen this twice now in the last 3 or so weeks: DL4J zoo models can get stuck downloading. No error, but no traffic either.
It's sporadic though, the vast majority of runs will download OK.

Some sort of timeout or "failed due to no traffic for 30 seconds" type feature could help to avoid this for users.

https://gist.github.com/AlexDBlack/0e7d0b76611700f0a1c03eb5bf43aa73

[2019-12-05 07:08] AlexDBlack opened #8504 "DL4J tests - clean up test spam"
There's a lot of tests that print out fill JSON configurations, summaries, and large arrays, etc.

We should clean this up to make it easier to find actual problems / failing tests in the logs.

Also gradient checks. We probably want to log the results by default only if the test case actually fails.

And turn down Spark log levels...

[2019-12-05 10:05] yquemener opened #8505 "Performance problem in org.nd4j.linalg.api.ops.impl.transforms.custom.Reverse"
The following program:

[code]

takes 4000 ms to run.

Here is an extract of the logs displaying some version information:

[code]

Using `nd4j-cuda-10.1-platform` backend on 1.0.0-SNAPSHOT of nd4j and dl4j.

Here is the version of the dependencies I am using:
[code]

[2019-12-05 10:08] cqiaoYc commented on #8253
I used the params: “ java -XX:+UseShenandoahGC -XX:+DisableExplicitGC -XX:+ExplicitGCInvokesConcurrent -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=48G -jar”，my app crashed quickly. Using “ java -XX:+UseShenandoahGC -XX:+ExplicitGCInvokesConcurrent -Xms4G -Xmx14G -Dorg.bytedeco.javacpp.maxbytes=48G -jar”, it can work, but no improvement in performance.

[2019-12-05 10:22] maxime-michel commented on #8435
Thanks for your patient help and input!

[2019-12-05 10:44] yquemener opened #8506 "cudaMalloc failure after repeated OpenCV captures"
Consider this program:
[code]
After 451 frames captured, it fails with
[code]

Setup is identical to https://github.com/eclipse/deeplearning4j/issues/8505

`nvidia-smi` shows the GPU memory filling up at a rate of 30 MiB/sec

If the line
[code]
is commented, the program runs continuously without problem for more than 1000 frames and does not consume GPU mem.

[2019-12-05 10:55] alexanderst opened #8507 "resize_bicubic in libnd4j - should support all types listed in ops.proto"
It is impossible to call resize_bicubic from libnd4j with input of non-floating type:
**Op [resize_bicubic] failed check for input [0], DataType: [INT32]**

Description is:
op {
  name: "ResizeBicubic"
  input_arg {
    name: "images"
    type_attr: "T"
  }
  input_arg {
    name: "size"
    type: DT_INT32
  }
  output_arg {
    name: "resized_images"
    type: DT_FLOAT
  }
  attr {
    name: "T"

[2019-12-05 12:25] yquemener commented on #8506
I tried to manually release arrays but it did not work:

If I do image.close() at the end of the loop:

[code]

If I do cvImage.close():
[code]

[2019-12-05 12:50] AlexDBlack opened #8509 "SameDiff: Listeners API should have frame and iteration"
As per title. Currently methods like `opExecution` don't have any way to know if it's in a loop, and if so what iteration of said loop.

To avoid an API change, we can probably add this to the "At" object that already holds the epoch, iteration, thread, etc.

[2019-12-05 13:32] AlexDBlack opened #8510 "SameDiff: Inconsistent execution order (CPU vs. CUDA)"
Not a problem per-se - both CPU and CUDA are executing with valid execution orders - but it does make it harder for debugging when comparing backends.

If possible, we should make the execution order consistent between backends.

[2019-12-05 17:04] raver119 commented on #8505
Thanks for highlighting this problem.
I've added new kernel, and now it's 1.7-2.3 ms on 1070.

[2019-12-05 17:04] #8505 closed, assigned to nobody

[2019-12-06 00:10] SidneyLann commented on #8496
WARN org.nd4j.imports.converters.ImportClassMapping - Duplicate TF op mapping found for op NonMaxSuppressionV3: org.nd4j.linalg.api.ops.impl.image.NonMaxSuppression vs org.nd4j.linalg.api.ops.impl.image.NonMaxSuppressionV3
WARN org.nd4j.imports.converters.ImportClassMapping - Duplicate TF op mapping found for op NonMaxSuppressionV4: org.nd4j.linalg.api.ops.impl.image.NonMaxSuppression vs org.nd4j.

[2019-12-06 17:30] eraly commented on #8496
Are you using snapshots or the last release?

[2019-12-06 18:20] eraly commented on #8474
Porting [this](https://github.com/tensorflow/tensorflow/blob/36418256825b0318786fab77a17aca76595b9eee/tensorflow/python/tools/optimize_for_inference_lib.py) would be a good start.