[2020-03-05 11:23] treo commented on #8756
RL4J uses the same backend mechanisms as DL4J.
Take a look at https://deeplearning4j.org/docs/latest/deeplearning4j-config-gpu-cpu

[2020-03-05 11:55] #8756 closed, assigned to nobody

[2020-03-05 13:02] #8748 closed, assigned to nobody

[2020-03-05 13:02] AlexDBlack commented on #8748
Everything except a windows CUDA issue here is fixed. Will open a new issue for that one.

[2020-03-05 13:18] AlexDBlack opened #8757 "CI: Windows CUDA JVM crash - PrintVariable op"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-290/2/pipeline/1036

See log snippet below. Note that the UpdaterTest.testNesterovs finished successfully, so it's not that test.

Looking at the linux test results (note linux CUDA is fine), the only place I see that `[[7, 8, 9]` printed is in LoneTest.testRPF() on exactly this line:
https://github.com/ecli

[2020-03-05 23:45] AlexDBlack opened #8758 "libnd4j: CUDA - pairwise boolean transforms: wrong datatype for shape calculation"
https://gist.github.com/AlexDBlack/a5fb62467afc5eaf92cb0b00122ba1c6

CPU is correct (bool type). CUDA is wrong (float type).
Seems to impact all boolean ops - greater_equal, greater, not_equals, etc

[code]

CPU:
[code]

CUDA:
[code]

[2020-03-06 00:22] madhs53 opened #8759 "DL4J build on RHEL 7 ppc64le - missing protobuf"
Hi DL4J team,

We are attempting to build DL4J (snapshot) from source on RHEL 7 ppc64le (IBM Minsky).
We were previously able to build beta2 but with the new release build we are running into this error:

[code]

According to our RHEL admins we are not able get protobuf 15 installed on this version of RHEL (we have libprotobuf.so.8.0.0).

Would it be possible to skip the tensorflow related build o

[2020-03-06 01:01] #8751 closed, assigned to AlexDBlack

[2020-03-06 01:02] AlexDBlack commented on #8751
Thanks for reporting this issue.
It has been fixed here: https://github.com/KonduitAI/deeplearning4j/pull/292
The fix will be made available on snapshots within a few days at the latest.
Instructions for using snapshots can be found here: https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2020-03-06 02:06] AlexDBlack opened #8760 "libnd4j: sequence_mask op should zero mask 0 entries"
Tested on CPU backend.

[code]

![image](https://user-images.githubusercontent.com/2360237/76043297-31eec780-5fab-11ea-9ebd-4386fc5ae506.png)

[2020-03-06 02:40] AlexDBlack commented on #8759
protobuf is required mainly for TensorFlow import into SameDiff (which is part of ND4J).
At present it's build right into nd4j-api, not possible to skip it and still compile.

For x86 (windows, linux, mac) it's not necessary to install protobuf manually to compile, protoc-jar-maven-plugin should handle that.
Seems like the plugin only provides x86_64 versions:
https://repo1.maven.org/maven2/com/gi

[2020-03-06 05:00] AlexDBlack commented on #8757
Might not be happening _every_ CI run - here's a run that it didn't fail on: https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-294/1/pipeline/892

[2020-03-06 06:21] raver119 commented on #8758
It must be Java then.

[2020-03-06 11:11] madhs53 commented on #8759
Thanks Alex.
I downloaded protoc and protobuff 3.8 and I'm getting this error on the build:

[code]

Command used (protoc path is 3.8):

`mvn clean install -Dmaven.test.skip -Dlibnd4j.cuda=10.0 -DskipTests=true -DprotocCommand=/rstudio/working/protoc/bin/protoc -Djavacpp.platform=linux-ppc64le -Djavacpp.platform.compiler=/opt/rh/devtoolset-7/root/usr/bin/g++`

[2020-03-06 16:59] eraly opened #8762 "Keras Model Import"
beta6 - checked on CPU only

1) Incorrect return type for bidirectional LSTM with a preprocessor present. Fixed [here](https://github.com/KonduitAI/deeplearning4j/pull/293)

2) Incorrect return size when importing time distributed layers. Looks like it should have been fixed [here](https://github.com/KonduitAI/deeplearning4j/pull/76) for dense but is unmerged. However there are issues with time di

[2020-03-06 19:02] dgarcia-ccc commented on #8746
@raver119 I think we can close this issue as I discovered that the metrics I used for memory footprint were not correct at all.
Sorry for the inconveniences.

[2020-03-06 19:02] #8746 closed, assigned to nobody

[2020-03-07 08:09] AlexDBlack commented on #8759
Hm... not something I've ever seen before.
Can you post the full build log? (in a gist + link here - gist.github.com)

[2020-03-08 05:43] agibsonccc opened #8763 "Libnd4j build for android on windows under msys2"
#### Issue Description
Output here:
https://gist.github.com/agibsonccc/30c61b60b3d887d4253aa03955f4bd9d

It seems to use the wrong toolchain. It attempts to use MSVC
despite  having the  NDK home and platform set.

Tried with:
[code]

where the open blas path is set and using maven
[code]

[2020-03-08 07:31] agibsonccc commented on #8763
Prior issue was build cache related, but now the compiler isn't resolving to a proper path for some reason.

New issue: https://gist.github.com/agibsonccc/edaabb77bce4436261edeee90347410e

[2020-03-08 10:35] ChrisYohann opened #8765 "Unable to train ComputationGraph with SharedTrainingMaster"
Hello everyone, I'm facing some issues with training a ComputationGraph in Spark using the gradient sharing implementation.

I'm using Spark 2.4.4, on a YARN cluster. The executors threads are still in a TIMED_WAITING state, and my model is never fit, the weights are never updated.

I don't have the problem using ParameterAveraging method, and I don't think it's a network issue. In fact, using the

[2020-03-08 12:25] agibsonccc commented on #8763
Edit: With latest commit, got it to this: https://gist.github.com/agibsonccc/339b40a4e6ae3e8fc6fc7cf5ea792197

[2020-03-08 21:36] LifeIsStrange opened #8767 "ND4J off the heap memory enhancement"
Hi!
Here you explain that ND4J is stored off the heap: https://deeplearning4j.org/docs/latest/nd4j-overview#inmemory
It happen that Java 14 will be released in a few weeks and introduce (finally!)
a complete API for accessing, storing and managing off the heap memory.

https://openjdk.java.net/jeps/370
I wonder what kind of improvements it could bring to ND4J?
More performance? Fewer leaks/ram use

[2020-03-09 03:47] agibsonccc commented on #8767
@LifeIsStrange can you move this question to https://community.konduit.ai/ ?

[2020-03-09 03:47] #8767 closed, assigned to nobody

[2020-03-09 07:34] AlexDBlack opened #8768 "SameDiff: need SameDiff.equals(SameDiff) method"
As per title. Mainly for testing/debugging purposes.

[2020-03-09 12:20] RobAltena opened #8769 "Malmo environment not loading"
#### Issue Description

The malmo environment fails to initialize here:
https://github.com/eclipse/deeplearning4j/blob/master/rl4j/rl4j-malmo/src/main/java/org/deeplearning4j/malmo/MalmoEnv.java#L56

Debugging shows that the file exists, but the system.load call fails.

Malmo environment was installed from
Malmo-0.37.0-Windows-64bit_withBoost_Python3.7

Does Rl4J require a specific Malmo version?

[2020-03-09 12:39] saudet commented on #8769
You'll need to call System.load() on the DLL for JNI that comes with Malmo.

[2020-03-09 12:40] saudet commented on #8769
Duplicate of #7222

[2020-03-09 12:41] #8769 closed, assigned to nobody

[2020-03-09 22:46] madhs53 commented on #8759
Gist:
[Build Log](https://gist.github.com/madhs53/35c0b5b72ca4d840a0dad08dbfa4f4d4#file-build-log)

Custom environment variables:

[code]

Build command:

`mvn clean install -Dmaven.test.skip -Dlibnd4j.cuda=10.0 -DskipTests=true -DprotocCommand=/rstudio/working/protoc/bin/protoc -Djavacpp.platform=linux-ppc64le -Djavacpp.platform.compiler=/opt/rh/devtoolset-7/root/usr/bin/g++`

RHEL 7, ppc64le, CU

[2020-03-10 13:56] raver119 commented on #8760
That's easy fix, i.e. NDArray::nullify called on outputs. But it also overlaps with the other thing we're looking into now: general outputs nullification issue. Some ops do need nullified outputs, others - don't. So we need to draw a line, and nullify outputs in ops that require nullification, and do not nullify outputs in other ops. That will also improve Graph execution performance.

[2020-03-10 20:49] nesty92 opened #8774 "Unsupported keras layer type SeparableConv1D"
#### Issue Description
Try to load model generated with https://github.com/google/eng-edu/blob/master/ml/guides/text_classification/train_sequence_model.py

Please describe our issue, along with:
- expected behavior
Load keras model
- encountered behavior
Unsupported keras layer type SeparableConv1D

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearni

[2020-03-11 07:08] fspillner opened #8775 "Keras and deeplearning4j compatibility policy"
#### Keras and deeplearning4j compatibility policy

Is there a documentation / policy, which defines the version of Keras is guaranteed to be compatible with deeplearning4j?

We train the model with the python library Keras and import the model in our Scala infrastructure. We had a case that deeplearning4j couldn't import the Keras model due to newer version of Keras. (we still have old version of

[2020-03-11 07:46] treo opened #8776 "RecordReaderDataSetIterator doesn't apply collectMetaData Builder option"
#### Issue Description
A RecordReaderDataSetIterator created this way, will **not** set the collectMetaData flag, but as a workaround it is possible to set it manually after
[code]

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-beta6

[2020-03-11 08:19] treo commented on #8774
Unfortunately we don't support `tf.keras` at the moment. The progress is tracked in this issue: https://github.com/eclipse/deeplearning4j/issues/8348

I'm closing this issue as a duplicate.

[2020-03-11 08:19] #8774 closed, assigned to nobody

[2020-03-11 10:21] AlexDBlack opened #8777 "DL4J: Add MultiLayerNetwork evaluation overloads with MultiDataSetIterator"
We have evaluate(DataSetIterator) but not evaluate(MultiDataSetIterator).
For single in/out MultiDataSets this can be used in MultiLayerNetwork. Should be trivial to add (using MultiDataSet -> DataSet wrapper iterator)

[2020-03-11 15:15] raver119 commented on #8613
Implemented and merged.

[2020-03-11 15:15] #8613 closed, assigned to olegsemeniv

[2020-03-12 00:38] eraly opened #8779 "Arbiter UI NPE"
#### Issue Description

NPE in the arbiter basic example
[code]

#### Version Information
beta6, macos

[2020-03-12 03:13] bewithme opened #8780 "App crash when training model on multi GPU"
#### Issue Description

App crash I try to train a model on multi GPU

#### Version Information

Please indicate relevant versions, including, if relevant:

* 1.0.0-beta5/1.0.0-beta6
* Linux version 3.10.0-862.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) ) #1 SMP Fri Apr 20 16:44:24 UTC 2018

* NVIDIA-SMI 440.44       Driver Version: 440.44

[2020-03-12 04:08] AlexDBlack opened #8781 "ND4J: INDArray.close() not releasing memory"
Based on current master:

[code]

[code]

[2020-03-12 07:13] AlexDBlack opened #8782 "CI failure: ND4J - BasicWorkspaceTests.testLoops1"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-251/8/pipeline/674

nd4j-tests on all OSs (linux, win, mac) and backends (CPU, CUDA):
[code]

[2020-03-12 07:18] AlexDBlack commented on #8782
Turns out this is due to small workspace change on the branch being tested (not a master issue)

[2020-03-12 07:18] #8782 closed, assigned to nobody

[2020-03-12 08:48] AlexDBlack opened #8783 "ND4J CUDA: Nd4j.getAffinityManager().ensureLocation for external pointers"
When executing on CUDA (CPU is fine) Nd4j.getAffinityManager().ensureLocation can change the address of the data pointer (i.e., it does a copy)

This this may be reasonable behaviour, given we need to be able to reallocate arrays at c++ level, which we can't do for just any arbitrary external pointer.

This is used in DataVec python exec - assuming that we can modify host buffers inplace.
We are w

[2020-03-12 12:21] AlexDBlack opened #8784 "ND4J workspaces: incorrect workspace when closing scoped out"
CPU backend.

Process:
1. Open "outer"
2. Open "inner"
3. Notify scope borrowed on "outer"
4. Scope out
5. Close scope out -> should return to "outer" but actually returns to "inner"
...

[code]

This gives:
[code]

But it SHOULD give:
[code]

If we remove the scope out try block, we get something more reasonable:
[code]

[2020-03-12 15:37] shyrma commented on #8603
Hi Alex
should be fixed now

[2020-03-13 01:10] #8685 closed, assigned to alexanderst

[2020-03-13 03:29] eraly opened #8936 "MultiGPUVGG16TinyImageNet OOMs on Kraken"
Error [here](https://gist.github.com/eraly/99f0cc89a00e13cf6aba6580443845e7)
Nothing else was running on the box.

[2020-03-13 08:20] AlexDBlack commented on #8779
So far I've been unable to reproduce this (5 runs through on master, CPU backend).
Was this on current master also?

[2020-03-13 13:12] AlexDBlack commented on #8765
Thanks for the report - and for pointing out the location of the problem (you were right about the cause).

A fix has been implemented here: https://github.com/KonduitAI/deeplearning4j/pull/318
It will be merged back to eclipse/deeplearning4j soon (next week at the latest), and will be in snapshots soon after that - https://deeplearning4j.konduit.ai/config/config-snapshots
We'll be doing a release

[2020-03-16 06:47] raver119 commented on #8783
Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/322

[2020-03-16 06:47] #8783 closed, assigned to nobody

[2020-03-17 02:43] AlexDBlack opened #8785 "datavec-data-image: CUDA JVM crash in tests"
See gist (this was on master after doing a full install... also happens when running all modules)
https://gist.github.com/AlexDBlack/8d21de6b2507355c4f1e2eb836deae53

CPU is fine. Only tested on Windows.

org.datavec.image.loader.TestNativeImageLoader

[2020-03-17 06:29] madhs53 opened #8786 "SNAPSHOT dependencies not resolving"
I'm trying to create a shaded JAR with the latest snapshots.
I'm receiving the following errors:

[code]

POM:

[code]

[2020-03-17 07:10] raver119 commented on #8785
So ye:

- crash only reproducible on Windows + CUDA, not reproducible in Linux
- crash happens only for multidim TIF files
- crash happens upon reading PIX (after it's converted to Mat)
- crash happens only on "sub-images", and only second one and above. First "sub-image" is ok
- crash happens even if you don't write data to INDArray.  It's enough to try to read "sub-image".

[2020-03-17 07:26] saudet commented on #8786
Make sure you're executing Maven with the -U option:
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2020-03-18 07:33] AlexDBlack commented on #8785
Confirmed crashing on eclipse/deeplearning4j master too, not just KonduitAI/deeplearning4j

[2020-03-18 07:38] AlexDBlack opened #8787 "datavec tests: some tests can only pass if run after others"
For example, these test can succeed only if other tests are run first (i.e., those that automatically do downloads with Cifar/LFW loaders):
https://github.com/KonduitAI/deeplearning4j/blob/master/datavec/datavec-data/datavec-data-image/src/test/java/org/datavec/image/loader/LoaderTests.java#L51
https://github.com/KonduitAI/deeplearning4j/blob/master/datavec/datavec-data/datavec-data-image/src/test

[2020-03-18 08:01] saudet commented on #8785
So it's probably not reading the PIX data properly...
@BioinfoTongLI Could you double check that there are no logical errors in that code?

[2020-03-18 08:05] saudet commented on #8759
@madhs53 You're using an old version of the repository. Please do a `git pull` and try again.

[2020-03-18 08:08] saudet commented on #8759
@AlexDBlack Snapshots are going to get deployed only when the build is successful, which should happen now that the repository is up to date...

[2020-03-18 09:47] RobAltena opened #8789 "INDArray.get(INDArray) not working for 1D arrays."
#### Issue Description
See unit tests below:

     @Test
    void test1Dget() {
        INDArray data = Nd4j.linspace(1, 10, 10);  // Some random data.
        INDArray index = Nd4j.rand(3).muli(10).castTo(DataType.INT32); // pick 3 random indices. Same is ok.
        INDArray dataAtIndex = data.get(index); // get the data for our random picks.
        // java.lang.IllegalArgumentException: getCol

[2020-03-18 13:32] chentao106 commented on #8617
[code]
The "all_feat.npy" can be downloaded from: http://pigkit.com/all_feat.npy
"Apache Commons Math ML" and Python sklearn cost few minutes on this dataset, but dl4j costs days.
The huge performance differences means the "KMeansClustering" is unavailable for a Actual Usage.

[2020-03-18 14:30] unkper opened #8791 "Reinforcement learning with AnyLogic"
#### Issue Description

I am a senior student. Currently I am training in reinforcement learning under AnyLogic, and I use a jar package prepared by SkyMind specially for training under AnyLogic —— rl4j-uber-1.0.0-beta3.jar. I want to use the GPU for acceleration during training, but I don’t know how to configure it. Does the configuration method also use POM?

#### Version Information
* rl4j-uber

[2020-03-18 14:58] treo commented on #8791
Please open a thread on https://community.konduit.ai/.

But in short, you are currently using something that is known as an "uberjar" that is built from a pom file. We can help you build your own uberjar, with the current version (beta6) on the forums.

[2020-03-18 14:58] #8791 closed, assigned to nobody

[2020-03-18 23:49] basedrhys opened #8792 "VGG16 CIFAR10 Weights not working"
#### Issue Description

When initializing the VGG16 model with CIFAR10 pre-trained weights, the downloaded weights zip file is only ~10mb, which is surprising given that the Imagenet weights for VGG16 are ~500mb. An error occurs when calling initPretrained(PretrainedType.CIFAR10), I'm assuming because it's trying to load these defunct weights.

#### Version Information

Please indicate relevant ve

[2020-03-19 00:26] madhs53 commented on #8759
Thanks Saudet.

I've re-run the build after using git pull.
Here's the error I'm now receiving:

[code]

[2020-03-19 01:38] saudet commented on #8759
That file doesn't exist: https://github.com/eclipse/deeplearning4j/tree/master/nd4j/nd4j-common/src/main/java/org/nd4j/util/StringUtils.java

[2020-03-19 03:54] madhs53 commented on #8759
Thanks saudet.

I did a fresh new clone and got passed that step.
Now I'm getting this error:

[code]

[2020-03-19 04:46] AlexDBlack commented on #8757
Ping @raver119
Still happening intermittently on CI

[2020-03-19 05:53] #8763 closed, assigned to nobody

[2020-03-19 06:20] madhs53 commented on #8786
Thanks Saudet. It looks like they are resolving now.

[2020-03-19 06:20] #8786 closed, assigned to nobody

[2020-03-19 06:23] woxinqidai opened #8793 "jvm crash"
CPU:   Intel(R) Xeon(R) Platinum 8163 CPU @ 2.50GHz
Version: 1.0.0-beta6
OS: CentOS Linux release 7.6.1810 (Core)

[code]

[2020-03-19 06:33] raver119 commented on #8793
Can you please share source code for the neural network you're running?

[2020-03-19 06:34] raver119 commented on #8793
Also, can you please try to run your code with the latest snapshot. MKL-DNN version was upgraded recently, so this issue might've been addressed by now

[2020-03-19 06:35] madhs53 opened #8794 "DL4J UI - System information not loading"
Hi DL4J team.

With both beta6 and SNAPSHOT versions, the 'System' tab on the DL4J Training UI page appears to be broken - none of the labels progress from the 'Loading...' state.

![image](https://user-images.githubusercontent.com/45612516/77037817-4cdb2600-6a06-11ea-8160-a01e0741bfbc.png)

The network tab in Chrome Dev Tools reveals that it's trying to load resources and getting a 404 response:

[2020-03-19 06:54] woxinqidai commented on #8793
[code]

It worked on the MAC and on two other Linux machines, and I compared the environments and found differences in the major CPU models.

Please tell me about snapshot repository and version, thank you

[2020-03-19 06:55] raver119 commented on #8793
https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-03-19 09:36] rookieami opened #8795 "net.fit(trainIter,npochs) encountered No next element error"
I am learning from https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/convolution/AnimalsClassification.java and run to fit (trainIterer , nEpochs) encountered No next element error, please tell me why

[code]

[2020-03-19 09:47] treo commented on #8795
Questions like this should be asked on https://community.konduit.ai/

If you take a closer look at your stack trace, you will see that the error is thrown by the dataset iterator, because it apparently can't find any more examples.

If you need additional help, please use the forum on https://community.konduit.ai/.

[2020-03-19 09:47] #8795 closed, assigned to nobody

[2020-03-19 09:59] rookieami commented on #8795
thank you for your reply

[2020-03-19 10:47] SidneyLann opened #8796 "No test set curv in UI"
![image](https://user-images.githubusercontent.com/5990314/77059421-db08d980-6a11-11ea-8e35-c47857050866.png)

like it in tf
![image](https://user-images.githubusercontent.com/5990314/77059553-11deef80-6a12-11ea-9572-f1f980b2f9f9.png)

[2020-03-19 12:26] #8678 closed, assigned to shyrma

[2020-03-19 12:26] #8603 closed, assigned to shyrma

[2020-03-19 13:03] raver119 opened #8797 "MatMul op needs Alpha and Beta T args"
MatMul op needs Alpha and Beta T args in order to be useful as direct replacement for *gemm BLAS calls.

[2020-03-19 13:05] raver119 commented on #8797
P.s. these args should be optional, with default values being set to 1.0 and 0.0 respectively.

[2020-03-20 02:45] SidneyLann opened #8798 "F1 score not equals the result of the formula"
in beta6, F1 score not equals the result of the formula
`F1 != 2*Precision*Recall/(Precision+Recall)`

 Accuracy:        0.9434
 Precision:       0.6258
 Recall:          0.5170
 F1 Score:        0.5451

 Accuracy:        0.9438
 Precision:       0.5964
 Recall:          0.5138
 F1 Score:        0.5381

 Accuracy:        0.9424
 Precision:       0.6036
 Recall:          0.5222
 F1 Score:        0.

[2020-03-20 07:23] AlexDBlack commented on #8734
confirmed fixed for Mmul op. Still possible to happen with direct level3 BLAS gemm calls, but as discussed with @raver119 we'll deprecate those in favor of using ops only

[2020-03-20 07:23] #8734 closed, assigned to raver119

[2020-03-20 09:11] AlexDBlack commented on #8758
I've stepped through this carefully in the debugger, I'm quite sure it's not a java side problem.
As far as I can tell the shape pointer returned from C++ definitely contains the wrong datatype for the output shape on CUDA only.

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-cuda/src/main/java/org/nd4j/linalg/jcublas/ops/executioner/CudaExecutione

[2020-03-20 09:12] raver119 commented on #8758
Yes, it's "same dtype" thing. But I'm sure nd4j CPU overrides this option for this op group.

[2020-03-20 09:30] AlexDBlack commented on #8758
There's no overriding on CPU on the Java side that I can see:
NativeOpExecutioner.getShapeFromPointer has extras arg 524288 right out of c++ - there's no overriding of that between the loop.calculateOutputShapes2 call in NativeOpExecutioner an the LongPointer.get(int) call in getShapeFromPointer to extract shape info values

CudaExecutioner.getShapeFromPointer has extra arg 8192 right out of the p

[2020-03-20 09:31] raver119 commented on #8758
Hmmmmm....

[2020-03-20 09:37] AlexDBlack opened #8799 "libnd4j: cuDNN packaging"
Libnd4j (and hence SameDiff) now has cuDNN support.
Building with cuDNN is optional, however.

The question here is releasing nd4j-cuda with vs. without cuDNN.
Clearly, for deep learning use cases, we want cuDNN by default. But for users who need ND4J only (no SameDiff, no DL4J) they will not want the size overhead of cuDNN - i.e., it should be an optional component.

We should be able to to relea

[2020-03-20 10:24] #8654 closed, assigned to AlexDBlack

[2020-03-20 10:24] #8682 closed, assigned to AlexDBlack

[2020-03-20 10:38] treo commented on #8798
This formula is only relevant if you only have two classes. If you have more than 2 classes, F1 is calculated differently. See the javadoc here:
https://deeplearning4j.org/api/latest/org/nd4j/evaluation/classification/Evaluation.html

Unfortunately, you didn't provide us with enough information to be able to say what exactly is happening in your case.

[2020-03-20 11:31] shyrma commented on #8690
done!

[2020-03-20 11:41] saudet commented on #8799
cuDNN is like 10 times smaller than the rest of CUDA. Why are we even worried about this?

[2020-03-20 11:44] raver119 commented on #8799
It's 200MB compressed for Linux.

[2020-03-20 12:48] AlexDBlack commented on #8799
yeah, it's been rapidly getting bigger with each new release
on windows (uncompressed), cudnn 5 was like 80mb... latest cudnn (7.6.5) is 436mb

[2020-03-20 15:43] SidneyLann commented on #8798
Thanks. There are 12 classes here in nlp task using lstm. most examples are in 2 classes and a bit examples are in other 10 classes.

[2020-03-20 16:10] treo commented on #8798
Then you are definitively in the "more than 2 classes" camp. And that means the formula you suggested above does not apply to your case, but instead this applies:

[2020-03-20 16:10] #8798 closed, assigned to nobody

[2020-03-21 01:03] saudet commented on #8799
And the rest of CUDA is like 700 MB compressed, so what's the point?

[2020-03-22 01:33] saudet commented on #8744
@vb216 Do you think that the toolchain for GCC 4.9 in https://github.com/raspberrypi/tools/blob/master/arm-bcm2708/arm-rpi-4.9.3-linux-gnueabihf/ is also good?

[2020-03-22 01:35] saudet commented on #8744
Actually, that one looks like the recommended toolchain:
https://github.com/raspberrypi/tools/blob/master/arm-bcm2708/arm-linux-gnueabihf

@sshepel I'll try to update the presets to use that toolchain, and if that works, we should be able to leave libnd4j as is.

[2020-03-22 03:23] eraly opened #8861 "SameDiff: Training evaluation on variables not required for loss doesn't work"
Errors out [here.](https://github.com/eclipse/deeplearning4j-examples/blob/ec9ab1b62c410c0d731d3de800ab845ec734cf8b/dl4j-examples/src/main/java/org/deeplearning4j/examples/samediff/training/SameDiffCustomListenerExample.java#L55)

Tried a bunch of things following the unit tests [here](https://github.com/eclipse/deeplearning4j/blob/2bd69c004c8bad625e02eaade653fd4095a38972/nd4j/nd4j-backends/nd4j-t

[2020-03-22 09:20] vb216 commented on #8744
@saudet not sure, unfortunately Pi change their distro quite fundamentally fairly often too, can be a pain

[2020-03-23 02:10] saudet commented on #8744
@ticofab The presets now get built with GCC 4.9 as well, so it should work now. Please give it a try with 1.0.0-SNAPSHOT: https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-03-23 04:48] RobAltena opened #8800 "Nd4j.rand generates random numbers [0, 1]. convention is [0, 1)"
#### Issue Description
Nd4j,rand generates random numbers in the interval [0, 1]. However convention in Numpy and other programing languages is to use [0, 1) excluding 1.9. This will cause problems porting code to Nd4j.

Unit test to show the behavior:

    @Test
     void testRandomOne() {
        while (true){
            INDArray max = Nd4j.rand(1000).max();// expect [0 - 1).
            if (ma

[2020-03-24 00:48] AlexDBlack opened #8802 "SameDiff/ND4J: Intermittent threading issue (CPU backend)"
Encountered on CI here:
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-330/5/pipeline/672

Also reproduced locally at least once; the vast majority of runs are OK
Edit: increasing the number of threads and runs for SameDiffMultiThreadTests.testMobilenet reliably reproduces this locally.

[code]

[2020-03-24 01:27] AlexDBlack commented on #8802
OK, so it looks like the same error is happening at different locations:

* Nd4jCpu.setGraphContextOutputBuffer
* Nd4jCpu.setGraphContextInputBuffer
* NativeOpExecutioner.exec
* NativeOpExecutioner.calculateOutputShape

Note also that the error isn't occuring right at the start - iteration 590, iteration 7, iteration 95, etc

Note that in the exec case here, there's no boolean datatype used - it's

[2020-03-24 02:02] AlexDBlack commented on #8802
I have also noted that:
* it appears to always be the same reshape operation (never seen any other nodes for this).
* it is not related to SameDiff memory management (switching to ArrayCloseMemMgr makes no difference)

Here's the calculateOutputShape error in debugger. Note that:
* Same "Bad datatype B" error as before
* Shape infos look fine (no booleans here; dtype extra matches array datatype -

[2020-03-24 08:09] AlexDBlack commented on #8802
Looks like it's almost certainly a threading issue... can't reproduce this single threaded after around 85,000 iterations of forward pass through this net.

[2020-03-24 10:04] AlexDBlack commented on #8690
Thanks @shyrma
I'll leave this issue open for the Java side update that also needs to be done...

[2020-03-24 12:48] bewithme opened #8805 "Uptraining ParagraphVectors issue"
#### Issue Description

Please describe our issue, along with:
- train ParagraphVectors with LabelAwareIterator and save it by
`WordVectorSerializer.writeParagraphVectors(paragraphVectors, MODEL_SAVE_PATH);`
and restore it by   `paragraphVectors=WordVectorSerializer.readParagraphVectors(MODEL_SAVE_PATH);`
and up train it by
[code]

 throw an exception like bellow:
[code]
#### Version Information

[2020-03-24 13:54] mheck136 opened #8806 "nd4j not compatibel with java 7"
#### Issue Description

The official description of nd4j states that it is compatible with java 7. We are running on a quite old tech stack and updating to a newer java version is an ongoing process which will take a few additional months from now. If it is possible to reintroduce compatibility with java 7, we'd really appreciate that.

##### Expected behavior:

The following code snippet runs on

[2020-03-25 02:14] saudet commented on #8806
I think it would be nice to get some snapshots out with this fixed and tested before the release.

@treo Do you know exactly where to fix this in the pom.xml files?

[2020-03-25 07:18] mheck136 commented on #8806
@saudet I think the particular class referenced in the stacktrace is _CpuBackend_ which is located in the _nd4j-native_ module. The pom of that module specifies source and target version as 8 ([link to the very pom](https://github.com/eclipse/deeplearning4j/blob/cd0e62ffaf4579207c6e57915ad7a20a1208f95b/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native/pom.xml#L233))
What I'm not sure about is whet

[2020-03-25 07:42] saudet commented on #8806
@mheck136 Great! If you could send a pull request for that one at least, we'll get this tested, and you'll also get snapshots to try out once merged: https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-03-25 08:38] AlexDBlack opened #8807 "libnd4j: confusion_matrix op: switch output dtype config from iarg to darg"
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/confusion_matrix.cpp#L69-L76

ATM can't configure dtype without _also_ configuring the number of classes.
If the datatype was set via a darg instead of an iarg, this wouldn't be a problem.

[2020-03-25 10:48] mheck136 commented on #8806
Sorry for the mess. I took me some time to create a correctly signed commit.

[2020-03-26 00:33] #8806 closed, assigned to nobody

[2020-03-26 00:40] eraly commented on #8779
This was on beta6. I can try with snapshots and see if it is still an issue.

[2020-03-26 05:54] AlexDBlack commented on #8750
Attempted to simply shade freemarker library in this PR: https://github.com/KonduitAI/deeplearning4j/pull/318

Problem is an obscure resource loading issue on linux-x86_64 CI.
Not reproducible locally (windows, linux).
Not reproducible using the exact same docker image as CI uses.

[code]

The apparently missing file `/org/nd4j/shade/freemarker/version.properties` definitely exists in the JAR file

[2020-03-26 05:55] AlexDBlack commented on #8725
For future reference - this issue would also be fixed by resolving this issue, currently blocked however - https://github.com/eclipse/deeplearning4j/issues/8750#issuecomment-604244356

[2020-03-26 09:14] saudet commented on #8750
@sshepel Any ideas?

[2020-03-26 09:58] mheck136 commented on #8806
Thanks for solving this that fast!

[2020-03-26 10:17] saudet commented on #8806
@mheck136 No problem! Let us know if you encounter any other such issues with 1.0.0-SNAPSHOT.

[2020-03-26 13:10] TramsWang opened #8810 "`getPercentile` method returns wrong result"
Code in `getPercentile` method is incorrect. When the length sorted array is 2 and quantile is 75, this method will raise an exception as follows:
[code]
Actually, for any sorted array with length n, a large enough percentile will get it out of index.

My current version is `1.0.0-beta6`

To fix the problem, `getPercentile` method should be implemented like follows:
[code]

[2020-03-26 13:33] #8704 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8768 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8776 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8777 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8715 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8718 closed, assigned to AlexDBlack

[2020-03-26 13:33] #8765 closed, assigned to AlexDBlack

[2020-03-26 18:26] sshepel commented on #8750
Hm, no... will try to debug.

[2020-03-26 19:42] linuxciscoarnaud opened #8811 "Invalid input name: "fc6_2" not found in list of network inputs ([imageIn, descriptionOut]) while configuring network for Image Captioning"
#### Issue Description

Hello,

I am having the following issue while trying to implement Image Captioning using DL4J.
I am basically trying to make use of the seq2seq RNNs implementation that was used to perform the addition operation and which can be found  [here](https://github.com/eclipse/deeplearning4j-examples/tree/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/recurrent/seq2

[2020-03-27 08:14] AlexDBlack opened #8812 "ND4J/SameDiff: New c++ ops to map to Java (and namespaces)"
A subset of c++ ops identified as not mapped by OpValidationSuite - these are the ones we should add next.
We need:
* Java op classes implemneted
* Op definitions generated (dl4j-dev-tools) -> namespaces regenerated

[code]

[2020-03-29 23:00] eraly commented on #8861
@AlexDBlack Can you take a look at this? The API has changed?

[2020-03-30 07:52] liweigu opened #8813 "NaN on arm server"
#### Issue Description

Please describe our issue, along with:
- expected behavior
- encountered behavior
NaN occors in https://gist.github.com/liweigu/bfcbd2a6e612e02ad7b24fee3cfac235 for epoch=500.
It's ok for epoch=50.
The detail is at https://community.konduit.ai/t/nan-on-arm-server/320 .

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j ve

[2020-03-31 06:47] shyrma commented on #8592
Hi, Alex
Should be fixed now

[2020-03-31 09:49] AlexDBlack commented on #8811
Sorry for not replying sooner.

I would suggest upgrading to 1.0.0-beta6.
Also try using the LastTimeStep wrapper layer instead - so something like:
.addLayer("lastTimeStep", new LastTimeStep(new LSTM... ), "fc6_2")
i.e., wrap the encoder LSTM layer with the LastTimeStep layer

[2020-03-31 10:17] AlexDBlack commented on #8760
Confirmed fixed - thanks

[2020-03-31 10:17] #8760 closed, assigned to raver119, olegsemeniv

[2020-03-31 11:13] AlexDBlack commented on #8592
@shyrma Thanks. All of the previously provided test cases now pass - but here's one more that doesn't (produced by same script)
[code]

I'm getting shape [2,0,0] instead of [2,0,1]

[2020-03-31 12:16] AlexDBlack commented on #8684
Confirmed passing now

[2020-03-31 12:16] #8684 closed, assigned to nobody

[2020-03-31 12:55] AlexDBlack opened #8817 "SameDiff random ops not respecting Nd4j RNG seed"
[code]

Should be the same each run, but isn't...
[code]

[2020-03-31 18:18] strolling-coder opened #8818 "INDArray Shannon Entropy function returns negative values"
Several INDArrays with 2D shape get negative values when the function `shannonEntropyNumber()` is called and **NaN** when the function `logEntropyNumber()` is called.
Checked a sample using the entropy function in Octave and the same data returned a different (positive) value.

Deeplearning4j version: 1.0.0-beta5
Platform: Linux OpenSuSe 15.0 and Linux Debian Stretch

Gist with one matrix example:

[2020-04-01 01:54] #8735 closed, assigned to nobody

[2020-04-01 03:56] AlexDBlack commented on #8818
Thanks for the report, but I don't believe your data is valid for this operation.

Shannon entropy is defined as:
[code]
where p_i is the probability of a given symbol/random variable.
See for example: http://bearcave.com/misl/misl_tech/wavelets/compression/shannon.html

Given that, we are restricted to:
* 0 <= p_i <= 1 for all i, and
* sum_i(p_i) = 1

In the case of your test data, neither condit

[2020-04-01 03:56] #8818 closed, assigned to nobody

[2020-04-01 04:11] #8745 closed, assigned to nobody

[2020-04-01 04:11] #8787 closed, assigned to nobody

[2020-04-01 04:13] #8592 closed, assigned to shyrma

[2020-04-01 04:16] AlexDBlack commented on #8489
All should be implemented now

[2020-04-01 04:16] #8489 closed, assigned to nobody

[2020-04-01 04:25] AlexDBlack opened #8819 "SameDiff: Remove DifferentialFunctionFactory in favor of namespace methods"
Now that we have namespaces with all SameDiff ops available, we no longer need (or should use) DifferentialFunctionFactory.

Any tests using it should be replaced with the appropriate namespace call - for example:
[code]
becomes
[code]

A quick search for `.f().` suggests only 74 uses remain in the ND4J codebase

[2020-04-01 04:39] AlexDBlack commented on #8490
Implemented here: https://github.com/KonduitAI/dl4j-dev-tools/pull/55

[2020-04-01 04:39] #8490 closed, assigned to nobody

[2020-04-01 13:13] agibsonccc opened #8820 "Unsupported Op: AudioSpectogram"
#### Issue Description
Graph file:  https://github.com/mozilla/DeepSpeech/releases/download/v0.6.1/deepspeech-0.6.1-models.tar.gz

Noting this for tensorflow import

[2020-04-01 13:43] AlexDBlack opened #8821 "SameDiff: multi-output variable naming"
Currently, when a variable has multiple outputs, the default naming looks like:
"X", "X:1", "X:2" and so on

It would be better to have semantically meaningful names, such as:
"X/values", "X/indices", "X/mask" etc

These would need to be defined in the ops (based on the configuration), and should be optional (i.e., use default naming scheme if not defined)

[2020-04-01 17:40] eraly commented on #8779
Still seeing this on snapshots:

[code]

[2020-04-02 07:20] raver119 commented on #8813
We've checked libnd4j and nd4j tests on ARM. All tests pass, now we're going to check dl4j tests there.

But so far i suspect there's some kind of underflow/overflow due to hardware specifics.

[2020-04-02 10:09] AlexDBlack commented on #8779
thanks. Though based on the line numbers, that doesn't make a whole lot of sense, as it would require the server field to be null, which it can't be

Line 306: https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-ui-parent/deeplearning4j-vertx/src/main/java/org/deeplearning4j/ui/VertxUIServer.java#L306

Unless there's a missing "caused by" here you haven't posted?
Ca

[2020-04-03 20:18] linuxciscoarnaud commented on #8811
Sorry for the late reply

I have upgrated from 1.0.0-beta3 to 1.0.0-beta6, but got the following error:

[code]

This error appears to be caused by the fact that the nd4j backend is missing. So I thought adding the latest version of nd4j-native-platform in pom file could fix it, but it didn't worked out (the same error message kept showing up). I decided to try deeplearning4j 1.0.0-beta5 and the e

[2020-04-04 04:58] AlexDBlack commented on #8811
re: NoAvailableBackendException - my guess is maybe you're using Eclipse IDE?
It's notoriously bad with maven support.
i.e., you change the version in your pom.xml but it usually doesn't realize that anything has actually changed.

As for that - it's coming from this preprocessor:
[code]

It suggests that your data is bad - i.e., you're trying to feed in images while you're simultaneously telling

[2020-04-04 22:20] eraly commented on #8779
I can't load the UI. I get "ERR_CONNECTION_REFUSED" when I try.

The run gives no other errors. Here is a snapshot of the screen

<img width="1260" alt="Screen Shot 2020-04-04 at 3 15 35 PM" src="https://user-images.githubusercontent.com/8340500/78462516-c4a48400-7687-11ea-9aa3-6523faf8ca84.png">

[2020-04-05 09:23] linuxciscoarnaud commented on #8811
Thanks for the quick reply.

1. Yes, you are right. I am using Eclipse IDE. I think I will definitely move to another IDE because this limitation is in addition to several others regarding this IDE. It's just that I was already used to it.

2. My data was bad and i think i have corrected it. But I am still having issues and as you said, it would be better for me to provide more infos to allow you

[2020-04-05 20:55] Eljah opened #8823 "JVMM crashes when the Java variable is assigned and called for printing before and after the sub-matrix evaluation of NDArray"
#### Issue Description

Hello @agibsonccc , i'm getting some jvm crash under specific conditions. I believe I should report it

[code]
leads to crash like this

#

[code]

note that the output of the system out will have the same shapes, not the reduced one that is expected at the first system out

[code]
while my expectation is to have

`Feature shape [1, 1, 60, 200] `

at the first row

#### Ver

[2020-04-06 02:03] AlexDBlack commented on #8752
Confirmed fixed a while ago in https://github.com/KonduitAI/deeplearning4j/pull/295

[2020-04-06 02:03] #8752 closed, assigned to shugeo

[2020-04-06 04:26] raver119 commented on #8556
Implemented and merged quite some time ago.

[2020-04-06 04:26] #8556 closed, assigned to quickwritereader

[2020-04-06 04:38] raver119 commented on #8823
Can you post the source code that actually reproduces the problem please? Including `asMatrix(String)` method.

[2020-04-06 06:20] raver119 commented on #8813
As expected, we see NaNs in couple of DL4J tests on ARM. However, it's just a few tests, and by the looks of it - it's really numeric stability issue. We'll keep looking into it.

[2020-04-06 06:38] raver119 commented on #8781
Fixed in my branch, will be merged later.

[2020-04-06 06:38] #8781 closed, assigned to nobody

[2020-04-06 06:47] raver119 commented on #8757
Not reproducible locally. Might be some sort of race condition *after* op execution.

[2020-04-06 06:56] Eljah commented on #8823
@raver119 it is already in the gist attached

[2020-04-06 07:13] raver119 commented on #8823
Nope, I can't see `asMatrix(String)` there.

[2020-04-06 07:18] Eljah commented on #8823
@raver119 https://gist.githubusercontent.com/Eljah/9803e9512439ad0c613e73a09c3f5c22/raw/f5090a6dc2ac5660832ebfb9ad1b89c0d5590ae0/CaptchaLoader.java lines 170,172

[2020-04-06 09:45] #8758 closed, assigned to raver119

[2020-04-06 09:45] raver119 commented on #8758
Fixed/implemented in my branch. Will merge later.

[2020-04-06 09:45] raver119 commented on #8807
Implemented in my branch. Will be merged later.

[2020-04-06 09:45] #8807 closed, assigned to raver119

[2020-04-06 11:28] atuzhykov opened #8824 "op lstmLayer anomaly detected"
Working with LSTMLayer testcases was detected following problem:
setting of returning last cell output as false (retC = false) [raise exception on cpp level](https://gist.github.com/atuzhykov/223760c7eeb75612d5d55ee321506d2e
)
original gist (testcase1, 2 and 3 where anomaly appears) [here](https://gist.github.com/atuzhykov/30eeb43c8d7881b6afe00cad93f7205d)
Also reprodusing bug using DynamicCustopO

[2020-04-06 12:27] raver119 commented on #8681
Fixed in my branch. Will be merged later.

[2020-04-06 12:27] #8681 closed, assigned to raver119

[2020-04-06 13:31] AlexDBlack opened #8825 "SameDiff: Auto-generated loss weights variable naming"
Before the recent namespace refactoring, is a loss variable was named "loss", the automatically generated weight variable (scalar 1.0, assuming no weight variable was provided) is was called "loss/weights"

Now: the weights array gets a random name, something like "sd_var"

Not a big deal, but it makes understanding and debugging the network easier if it has a proper auto-generated name.

[2020-04-06 18:01] #8784 closed, assigned to raver119

[2020-04-06 18:01] raver119 commented on #8784
Fixed in my branch, will be merged soon.

[2020-04-07 10:37] raver119 opened #8826 "libnd4j: migrate some ops from legacy groups"
For better performance, we must migrate few operations from legacy IndexReduce and SummaryStats groups.

List of ops to move:
- IndexMax
- IndexMin
- IndexAbsoluteMax
- IndexAbsoluteMin
- SummaryStatsVariance
- SummaryStatsStandardDeviation

As result of this migration, SumarryStats ops group will be removed. IndexReduce op group will have 2 ops left

[2020-04-07 11:05] treo commented on #8823
@Eljah
What he means is that your gist doesn't include the *definition* of that method.

In order to figure out what exactly is wrong in your case, we have to be able to run your project.

[2020-04-07 11:06] raver119 commented on #8823
I've got that - he just extends our class, so definition is ours.

[2020-04-07 11:08] treo commented on #8823
I see, I missed that.

[2020-04-07 11:08] raver119 commented on #8690
Any news guys?

[2020-04-07 11:08] raver119 commented on #8823
Same :)

[2020-04-07 11:09] raver119 commented on #8533
@alexanderst any news?

[2020-04-07 11:09] raver119 commented on #8535
Any news?

[2020-04-07 11:10] raver119 commented on #8485
Any news?

[2020-04-07 11:11] raver119 commented on #8534
Any news?

[2020-04-07 11:11] raver119 commented on #8583
We have dropout_bp in c++, maybe it's time to integrate it?

[2020-04-07 11:23] cyrusdobbs opened #8827 "ImportKerasSequentialModel - NullPointerException"
#### Issue Description

Attempting to import a model built in google colab with tf.keras to my java8 project.

I encounter a NullPointException.

#### Version Information

* Deeplearning4j version: 1.0.0-beta6
* Platform information (OS, etc): Windows 10

#### Additional Information

* [Stack trace](https://gist.github.com/CyrusDobbs/58ef5b36bf2fd099f9f656b2701ac283)
* [build.gradle](https://gist.

[2020-04-07 11:32] treo commented on #8827
At the moment `tf.keras` import is not supported. Only regular Keras.

This issues tracks the progress: https://github.com/eclipse/deeplearning4j/issues/8348.

[2020-04-07 13:14] cyrusdobbs commented on #8827
Keras Version: 2.2.5
Tensorflow Version: 1.15.2
Keras backend: tensorflow

However, I am still having the same issue when importing to DL4J.

#8348 mentions that using non-tf keras should be a workaround. Am I doing something wrong?

[2020-04-07 13:39] treo commented on #8827
Please share the non tf.keras version of your model file, and we'll take a look.

[2020-04-07 14:32] cyrusdobbs commented on #8827
I created and saved the model using Keras 2.2.5. Is that the information you need?
Thanks!

[2020-04-07 15:28] treo commented on #8827
We need the actual model file you are trying to import to see why it doesn't import like it should.

The stacktrace you've provided doesn't make a lot of sense, as it can only happen if your input config isn't present at all in it.

[2020-04-07 15:35] cyrusdobbs commented on #8827
[Here's the model.](https://github.com/eclipse/deeplearning4j/files/4445565/model.zip)

[2020-04-08 00:38] AlexDBlack commented on #8690
Basically done here - https://github.com/KonduitAI/deeplearning4j/pull/356
Initial tests are passing.

[2020-04-08 01:16] AlexDBlack opened #8828 "ND4J: Profiler (NaN check etc) + op context not working"
[code]

No NaN panic is triggered here

[2020-04-08 03:55] data-llectual opened #8829 "Transfer learning not working with LSTM model"
I am trying to use transfer learning with LSTM.
It appears as if transfer learning does not work with LSTM models in dl4j, not sure if I am doing something wrong. Is there a working example that someone can share with me.

Would appreciate your help.

Thanks

[2020-04-08 07:18] AlexDBlack opened #8830 "DL4J Spark + CUDA: CI NaN evaluation issue"
On current master, I'm seeing a CUDA-specific test failure: TestSparkDl4jMultiLayer.testEvaluationSimple
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-364/1/pipeline

Basically, NaNs appear in the predictions (network output) during evaluation.

It's intermittent, but also reproducible locally on Windows (if I run the test in a loop).

Adding NaN check

[2020-04-08 08:27] AlexDBlack opened #8831 "ND4J/DL4J: Deprecate L1/L2/L3 BLAS methods; update Nd4j.gemm to use op not direct BLAS calls"
Why: https://github.com/eclipse/deeplearning4j/issues/8734#issuecomment-601565911

We should also check for any direct BLAS calls in DL4J/ND4J and switch them over to the op.

Needs: https://github.com/eclipse/deeplearning4j/issues/8797

[2020-04-08 08:36] AlexDBlack commented on #8831
Note we have Nd4j.gemm calls in BaseLayer, ConvolutionLayer, LSTM, etc.
Any/all of these can cause problems in heavily multi-threaded environments on CUDA.

[2020-04-08 08:43] AlexDBlack commented on #8830
Closing in favor if this, which is the underlying cause: https://github.com/eclipse/deeplearning4j/issues/8831

[2020-04-08 08:43] #8830 closed, assigned to nobody

[2020-04-08 08:58] treo commented on #8829
Please keep questions in one place.

https://community.konduit.ai/t/transfer-learning-with-lstm/393/2

[2020-04-08 08:58] #8829 closed, assigned to nobody

[2020-04-08 09:14] treo commented on #8827
I see, your first layer is a `Flatten` layer, which be definition doesn't have any input size.

That isn't a supported model configuration for import. You should be able to remove that layer without any ill effects. From the Keras documentation on Dense Layers:

@AlexDBlack should this ever be a supported configuration?

[2020-04-08 09:35] saudet commented on #8831
There's a bit more than GEMM to BLAS/LAPACK/MKL...

[2020-04-08 09:49] AlexDBlack commented on #8831
Yep, we're aware :)
GEMM threading issues are a problem right now though.
The plan is to have proper op coverage for (most of - ideally all of) BLAS/LAPACK in the namespaces, where applicable using external libraries in libnd4j for the actual implementation. That way it can be used in both ND4J and SameDiff (usually with a nicer API), will be properly documented and findable in autogen docs, etc.

[2020-04-08 09:52] cyrusdobbs commented on #8827
When I remove the Flatten layer I now get this error when trying to fit:

EDIT: I assume that a model of only fully connected layers isn't supported?

[2020-04-08 09:54] raver119 commented on #8831
And data types... We support f16/bf16, and for BLAS it's not that simple: regular BLAS doesn't support anything besides f32/f64. cuBLAS supports f16. MKLDNN supports int/bf16 etc. So we'll be centralizing all this stuff in 1 place. Java will be getting valid results no matter what backend is used.

[2020-04-08 10:28] atuzhykov opened #8832 "libnd4j: Add clipbyavgnorm_bp operation"
During mapping some cpp ops to Java classes and testing them was noticed that [clipbyavgnorm](https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/transforms/clip_by_averaged_norm.cpp) op doesn't have a backprop operation, like clipbynorm has.

[2020-04-08 14:20] #8828 closed, assigned to AlexDBlack

[2020-04-10 05:27] saudet commented on #8781
BTW, I'm not sure I follow all this workspace borrowing stuff, but if you ever feel like reference counting would make sense here, JavaCPP supports that these days so it would be easy to switch to that.

[2020-04-10 12:25] atuzhykov opened #8833 "libnd4j: helper::resizeFunctor: Non implemented yet."
During maping cpp op image_resize to Java class was noticed, that for following methods
1. ResizeLanczos5
2. ResizeMitchelcubic
3. ResizeArea

occured exception `java.lang.RuntimeException: helper::resizeFunctor: Non implemented yet.`
[full stacktrace
](https://gist.github.com/atuzhykov/31db95eedf7443072e4f2068e497794f
)

[2020-04-13 10:47] shyrma commented on #8824
Hi
should be fixed now

[2020-04-14 04:46] AlexDBlack commented on #8812
Also now `lstmLayer_bp` to be mapped, as of https://github.com/KonduitAI/deeplearning4j/pull/370
cc @atuzhykov

[2020-04-14 05:05] AlexDBlack commented on #8331
https://github.com/KonduitAI/deeplearning4j/pull/370

[2020-04-14 05:05] #8331 closed, assigned to nobody

[2020-04-14 05:07] AlexDBlack commented on #8299
Recently added. Backprop Java mapping is marked here: https://github.com/eclipse/deeplearning4j/issues/8812#issuecomment-613223463

[2020-04-14 05:07] #8299 closed, assigned to nobody

[2020-04-14 07:02] AlexDBlack commented on #8797
Recently added

[2020-04-14 07:02] #8797 closed, assigned to raver119, olegsemeniv

[2020-04-14 07:09] AlexDBlack commented on #8824
Confirmed passing on CPU without MKLDNN.

Running with MKLDNN gives this:
[code]

Reproducible with these tests:
(i.e., tests pass if I add `Nd4j.getEnvironment().allowHelpers(false);` to the start of the test method)
https://github.com/KonduitAI/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/autodiff/opvalidation/LayerOpValidation.java#L1533-L1635

[2020-04-14 09:39] AlexDBlack opened #8834 "DL4J: CUDA test failure in dl4j-spark-parameterserver"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-374/1/pipeline/673

Relevant part of logs:
https://gist.github.com/AlexDBlack/48e5153d9ac48d89d2891ebec3fac52c

[2020-04-14 15:48] raver119 commented on #8834
Fixed

[2020-04-14 15:48] #8834 closed, assigned to raver119

[2020-04-14 22:37] DanieleMarchei opened #8836 "Loading a model causes the score to jump"
#### Issue Description
I have observed a strange phenomenon during training. If I train my MultiLayerNetwork from start to finish the score curve is smooth, while if I save the model and then load it to continue training, the score curve has a sudden spike exactly in the place where the loading has occurred.
![withoutCheckpoint](https://user-images.githubusercontent.com/6474669/79279178-f645f800-7

[2020-04-15 07:02] AlexDBlack commented on #8836
hm... that's something I'd expect to see if you didn't saving/loading updater state (i.e., adam optimizer in this case), but I see you're doing that (and appears to be correct)
thanks for the code, I'll see if I can reproduce it from that

[2020-04-15 12:42] AlexDBlack opened #8838 "lstmLayer_bp: not taking into account gradient contribution from last cell state"
Suppose during LSTM forward pass we return the full time series, yLast and cLast.

It appears that if we use the cLast output for something that impacts the loss function, we'll be passing gradients backward through this variable too. The lstmLayer_bp implementation doesn't seem to take it into account.

Java test case: compare line 57 vs. 58
https://gist.github.com/AlexDBlack/41f37a66eff1619e9598

[2020-04-15 22:13] Eljah opened #8839 "Exception in thread "main" java.lang.RuntimeException on model.setListeners(new ConvolutionalIterationListener(1));"
#### Issue Description

I have updated my pet project's class https://github.com/Eljah/worsecodeever/blob/master/src/main/java/Main3.java with adding

`model.setListeners(new ConvolutionalIterationListener(1));`

to line 94 in order to obtain activation maps in UIServer.

As soon as line was added, the execution fails with:

[code]

#### Version Information

* Deeplearning4j version -

        <nd

[2020-04-15 23:33] AlexDBlack opened #8840 "deeplearning4j-nlp-korean: dependency issues"
We rely on com.twitter.penguin:korean-text:4.4 in this module
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp-korean/pom.xml#L47-L51

However, this library has been deprecated and has no scala 2.12 support
https://github.com/twitter/twitter-korean-text

Development appears to have moved to open-korean-text - https://github.com/open-

[2020-04-16 05:19] raver119 commented on #8823
Your issue looks like a problem in your code + lack of validation on our end.

Your original image has shape of [1, 60, 200].
You're getting subarray with indexes equal to { NDArrayIndex.point(1), all(), all().}

Which is a mistake. Point index must be 0. And in beta6 validation misses this. In current snapshots, I see exception that prevents view creation here.

[2020-04-16 05:19] #8823 closed, assigned to raver119

[2020-04-16 06:15] raver119 commented on #8789
Fixed in my branch, will be merged later.

[2020-04-16 06:15] #8789 closed, assigned to raver119

[2020-04-16 07:23] raver119 commented on #8810
Unfortunately it's not that simple.

We implement algorithm that matches Apache Commons Math, and percentile in edge cases (like like case you've highlighted here) do differ indeed. http://commons.apache.org/proper/commons-math/javadocs/api-3.5/org/apache/commons/math3/stat/descriptive/rank/Percentile.html

But at the same time there was missing condition there. I've fixed it, so thanks for highli

[2020-04-16 07:23] #8810 closed, assigned to raver119

[2020-04-16 07:45] treo commented on #8839
Can you please provide some of the training data your are using? Without it I can't run your code to reproduce the issue.

[2020-04-16 08:15] Eljah commented on #8839
I have uploaded the only file that is enough to have as the only in the folder to reproduce the issue

It looks like it has been converted to PNG during my copy paste, please convert it to JPEG, put to the out folder, and you'll get exactly what happens.

[2020-04-16 08:23] treo commented on #8839
Does the file need a specific name in the folder? It fails with an exception from your code for me:
[code]

[2020-04-16 08:29] sshepel commented on #8378
Jetson build pipeline has been added to CI, artifacts (snapshots) can be found at maven central.

[2020-04-16 08:31] Eljah commented on #8839
right, it should be placed at D:\captchas\out

D:\captchas is configured in https://github.com/Eljah/worsecodeever/blob/master/src/main/java/CaptchaLoader.java line 88 so you may change this to select another location. the out folder is configured in Main3.java  line 94

` MultiDataSetIterator trainMulIterator = new CaptchaSetIterator(batchSize, "out");`

[2020-04-16 08:48] treo commented on #8839
It is configured like that, but the filename of the file is now "79431406-18419680-7fd3-11ea-9085-fd3d3ca8a04f.png" (or with a .jpg after converting). Is this the name that it is supposed to have?

[2020-04-16 09:00] Eljah commented on #8839
Oh, it was just substituted by the github. The actual name should be "000164.jpg" (not "*.jpeg")

[2020-04-16 11:20] treo commented on #8839
You are seeing this error because the ConvolutionalListener at the moment doesn't support multiple outputs.

But even then there appears to be issues when using it together with a Computation Graph, as even after fixing those compatibility issues, the resulting figure doesn't look right:
![image](https://user-images.githubusercontent.com/509379/79450233-f7823c80-7fe4-11ea-9f93-ed70fa0bd39a.png)

[2020-04-16 11:38] raver119 commented on #8513
Implemented. Will be merged later today.

[2020-04-16 11:38] #8513 closed, assigned to nobody

[2020-04-16 11:40] Eljah commented on #8839
So for now there is no easy work around for me as the end user, something should be fixed, right?

[2020-04-16 11:43] Eljah commented on #8823
Ok, got it. So will you raise an issue for your side validation on this? In case of index being inserted programmatically, and even it is wrong I'd like to handle java exceptions, what is impossible if the JVM crashes.

[2020-04-16 16:18] cc-cpo opened #8841 "Link to source code on nd4j.org points to archived github"
#### Issue Description

Expected: link to eclipse/deeplearning4j repo
Actual: links to https://github.com/deeplearning4j/nd4j

[2020-04-16 17:22] treo commented on #8823
So on snapshots it should already throw an exception.

[2020-04-16 17:29] treo commented on #8839
Yes. Unfortunately, that feature seems to have issues at the moment.

But, if you want to try to fix it yourself, you can do that pretty easily, because this listener is super modular :) You can just copy it into your project and start making it as you like it.

[2020-04-17 01:18] AlexDBlack commented on #8838
Confirmed fixed, thanks

[2020-04-17 01:18] #8838 closed, assigned to shyrma

[2020-04-17 01:49] AlexDBlack commented on #8836
I have slightly modified the code you provided.
If I correct the loop limits (line 72/73 in the gist) I get exactly the same results. Before making that correction, I get charts like you show (but the training/data isn't equivalent between the cases without that correction)
https://gist.github.com/AlexDBlack/2c080999422af3394edbb33fb7d5868a

![image](https://user-images.githubusercontent.com/23602

[2020-04-17 05:05] AlexDBlack opened #8842 "DL4J: implement MLKDNNLSTMHelper.backpropGradient + enable helper"
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/mkldnn/MKLDNNLSTMHelper.java#L34-L42

Now that LSTMLayer backprop has been merged (with MKLDNN support), we should finally add this to libnd4j and enable the helper in the DL4J LSTM layer:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning

[2020-04-17 05:10] AlexDBlack opened #8843 "SameDiff: Add GRU forward/backprop Java op wrappers"
We have backprop now: https://github.com/KonduitAI/deeplearning4j/pull/377

However, it doesn't look like we have a Java wrapper op for forward pass either.
So we need GRU forward pass op, GRU backprop op to be implemneted, and of course added to namespaces also.

[2020-04-17 05:24] AlexDBlack commented on #8812
Op wrappers implemented in this PR: https://github.com/KonduitAI/deeplearning4j/pull/378
* clipbyavgnorm
* crelu
* crelu_bp
* depthwise_conv2d_bp
* embedding_lookup
* image_resize
* maximum_bp
* mergeadd_bp
* mergemax_bp
* lstmLayer_bp

Edit: logdet has already been implemented previously

Remaining ops to map from this list:
* mergemaxindex
* reverse_bp
* tri
* triu
* triu_bp
* upsampling3d
* ups

[2020-04-17 08:06] shugeo commented on #8676
TF says follows on the test above:
File "<string>", line 3, in raise_from
tensorflow.python.framework.errors_impl.InvalidArgumentError: segment_ids[3] = 1 is out of range [0, 1) [Op:UnsortedSegmentSum]
But when num_of_segments is 4 (for unsorted_segments_* this arg is mandatory), then result is
<tf.Tensor: id=26, shape=(4,), dtype=float32, numpy=array([7.5055537, 2.       , 4.9497476, 2.828427 ],

[2020-04-17 08:07] shugeo commented on #8676
So, only error message should be fixed?

[2020-04-17 08:10] AlexDBlack commented on #8676
So yes, it's a bad test, specifically numSegments = 1 is wrong. I'll close this then.

[2020-04-17 08:10] #8676 closed, assigned to shugeo

[2020-04-17 08:11] AlexDBlack commented on #8676
@shugeo yes, let's improve error message though

[2020-04-17 09:02] shugeo commented on #8676
I've fixed error messages for all unsorted segments as fix for this bug.

[2020-04-17 12:47] DanieleMarchei commented on #8836
In the light of your answer, I double-checked all my code (for the bigger network) and found out that the error was caused by a mistake not related to dl4j. Now everything is back to normal.

Thank you for your time and patience :)

[2020-04-17 13:33] #8836 closed, assigned to AlexDBlack

[2020-04-18 01:27] AlexDBlack commented on #8757
Here's another instance of the same thing happening intermittently on CI:
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-367/7/pipeline/884

Most Windows CUDA CI runs (>90%) don't crash here.

[2020-04-19 01:35] AlexDBlack opened #8845 "libnd4j - CUDA deadlock possible in libnd4j tests?"
Only seen this once so far (window-x86_64-cuda-10.2), but opening an issue in case it's a legitimate problem, but simply rare/intermittent.

no libn4dj changes in this branch/PR, so the test should be the same as master
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-380/9/pipeline/1165

See logs below. Note the timestamps: it gets stuck on one of the lib

[2020-04-19 07:44] AlexDBlack commented on #8503
Seems this is also possible on resource model downloading: Here's downloading stuck for 1hr 13 minutes until CI timeout killed the process...
[code]

Full logs:
[Logs](https://github.com/eclipse/deeplearning4j/files/4498522/log.31.txt)

Edit: and seeing this _yet again_ here: https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-376/5/pipeline/673

[2020-04-19 08:56] nfeybesse opened #8846 "ArrayIndexOutOfBoundsException in KerasReshape.getInputPreprocessor"
When importing Keras simple model :

input_data = Input(name='input', shape=(64, 128, 32), dtype='float32')
output = Reshape(target_shape=(64,128 * 32), name='reshape')(input_data)

Exception :
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 2
	at org.deeplearning4j.nn.modelimport.keras.layers.core.KerasReshape.getInputPreprocessor(KerasReshape.java:117)
	at org.deeplearning4j

[2020-04-19 09:13] AlexDBlack opened #8847 "ND4J CUDA: OpContext + INDArray.data() locality issue?"
[code]

Output: (incorrect - should be same)
[code]

Output if I comment out `out.data().asFloat()` line only (correct)
[code]

[2020-04-19 09:19] AlexDBlack commented on #8847
Same thing using toString (getDouble internally)

[code]

[code]

[2020-04-19 09:45] AlexDBlack opened #8848 "libnd4j: random_exponential op can produce infinity values"
As per title, even with double precision.
Note it's very rare - only happens with specific RNG seeds.

Occurs on both CPU and CUDA.

[code]

[code]

Note the single infinity value towards the end of the array.

Here's another version of the test used to find those specific RNG states - https://gist.github.com/AlexDBlack/224e3149464675d1acb361e8559cf62a

Isolated from the following CI failure: http

[2020-04-19 10:32] AlexDBlack opened #8849 "dl4j-spark-nlp: TestPipelineTest.testZipfunction1/2 can randomly fail"
Not sure on the cause. I'm not familiar enough with this part of the codebase to fix it right away.

I wil be adding an `@Ignore` to these tests to avoid causing more random/intermittent CI failures like this one:
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-380/10/pipeline

Reproducible by adding a loop around TextPipelineTexst.testZipFunction1(), i.e

[2020-04-19 10:34] raver119 commented on #8847
Fixed.

[2020-04-19 10:34] #8847 closed, assigned to nobody

[2020-04-20 01:21] AlexDBlack opened #8850 "SameDiff: training configuration name validation"
For example, if the user specifies `.trainEvaluation("prediction", 0, new Evaluation())` in their training configuration, but "prediction" doesn't exist - they should get an exception ASAP telling them that - not something later when they actually try to do training etc.

[2020-04-20 01:56] AlexDBlack commented on #8819
https://github.com/KonduitAI/deeplearning4j/pull/367

[2020-04-20 01:56] #8819 closed, assigned to nobody

[2020-04-20 01:57] AlexDBlack commented on #8755
https://github.com/KonduitAI/deeplearning4j/pull/367

[2020-04-20 01:57] #8755 closed, assigned to alexanderst

[2020-04-20 01:57] AlexDBlack commented on #8690
Merged here: https://github.com/KonduitAI/deeplearning4j/pull/367
New tests are confirmed passing

[2020-04-20 01:57] #8690 closed, assigned to alexanderst, shyrma

[2020-04-20 04:54] AlexDBlack commented on #8840
Added here as a workaround - no deeplearning4j-nlp-korean module for scala 2.12 builds. The consequence here is that we'll only release this module with scala 2.11 support as of the next release.
https://github.com/KonduitAI/deeplearning4j/pull/380

[2020-04-20 05:38] AlexDBlack opened #8851 "Ops - Configure Sonar scanning settings"
We need to configure Sonar to ignore some closeable/autocloseable classes.
At present it's providing a "Bug" warning on _every_ non-closed Closeable / AutoCloseable instance, including all JavaCPP Pointer classes, INDArray, DataSet, RecordReader, etc

For example here - Sonar incorrectly considers not closing an INDArray a bug even though we're (correctly and legitimately) returning it to the user

[2020-04-20 06:44] qq12cvhj opened #8852 "Is datavec-data-audio available on Android platform?"
is datavec a pure java library?I'm trying to use it on Android platform.
But when I declare the lib in build.gradle,I fount it that the fft is based on Jtransforms library.What interested me is that,the Jtransforms lib is based on org.apache.commons.math3,which also supports the datavec-data-audio library.So how can I deal with this problem?

[2020-04-20 10:55] lukaszbachman opened #8853 "PCA.pca(..) is producing wrong results due to mutations of underlying INDArray"
We have noticed that using Principal Component Analysis via `PCA.pca(...)` on our models is seriously reducing quality of their results. After long analysis our prime suspect was the fact that `INDArray` passed to this method is being modified before it's used for multiplication. In the old repository of the project we found this issue, which according to our knowledge has never been resolved:
htt

[2020-04-20 13:31] hanbaoan123 opened #8855 "ALE example failed"
#### Issue Description

When I run the ALE example, the following error wa thrown:

Exception in thread "main" org.deeplearning4j.exception.DL4JInvalidInputException: Got rank 3 array as input to ConvolutionLayer (layer name = layer0, layer index = 0) with shape [4, 84, 84]. Expected rank 4 array with shape [minibatchSize, layerInputDepth, inputHeight, inputWidth]. (layer name: layer0, layer index

[2020-04-20 13:57] AlexDBlack commented on #8849
Also TextPipelineTest.testCountCumSum

https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-398/3/pipeline/768/
[code]

Reproducible in the same manner as the other tests

[2020-04-20 14:13] saudet commented on #8855
This has been fixed. Please try with 1.0.0-SNAPSHOT:
https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-04-20 14:14] saudet commented on #8853
If you're able to, please send a pull request with a fix! Thanks

[2020-04-20 14:15] saudet commented on #8852
No, it's not pure Java, but it works just fine with Android. What error are you getting?

[2020-04-20 14:46] qq12cvhj commented on #8852
Datavec-audio-data.jar. It is based on apache.commons.math3 and a library named Jtransforms.However,Jtransforms is also based on the math3 library.So on Android platform it makes the duplicated problem.

[2020-04-20 14:52] saudet commented on #8852
I'm pretty sure Apache Commons Math 3 works fine on Android. Please clarify the issue.

[2020-04-21 01:25] AlexDBlack opened #8857 "libnd4j: upsampling_bp incorrect for nhwc case"
Forward pass looks OK.

If we do upsampling_bp op with NHWC vs. NCHW format, we should get the same result (other than permuted dimensions) as long as we set the NCHW/NHWC setting correctly.

[code]

![image](https://user-images.githubusercontent.com/2360237/79814879-adbd9b80-83c2-11ea-9e1c-2c5e41ea4097.png)

[2020-04-21 01:36] AlexDBlack opened #8858 "SameDiff TF import: add NCHW space_to_depth and space_to_batch data format tests"
and add more NHWC test cases

At present, space_to_depth and depth_to_space ops has only 1 NHWC test case each - and no NCHW test cases:
https://github.com/KonduitAI/dl4j-test-resources/tree/master/src/main/resources/tf_graphs/examples/space_to_depth
https://github.com/KonduitAI/dl4j-test-resources/tree/master/src/main/resources/tf_graphs/examples/depth_to_space

Also, batch_to_space only has 2 te

[2020-04-21 01:58] AlexDBlack opened #8859 "libnd4j: space_to_depth op gives incorrect result for array with atypical strides"
Looks like the backprop op is similarly impacted (for epsilon array).

[code]

[code]

![image](https://user-images.githubusercontent.com/2360237/79816704-2fafc380-83c7-11ea-814c-9f940ab6140d.png)

[2020-04-21 02:34] AlexDBlack opened #8860 "libnd4j: batchnorm_bp (MKLDNN) gives incorrect result if eps array has non-standard strides"
Conditions required to cause failure:
* MKLDNN enabled
* epsilon array (dL/dOut - last input array) - must have non-standard strides

Non-standard strides on input array seems ok.

[code]

![image](https://user-images.githubusercontent.com/2360237/79818983-663c0d00-83cc-11ea-9472-bb6b47fda707.png)

[2020-04-21 05:24] raver119 commented on #8859
Fixed in my branch, will be merged later today.

[2020-04-21 05:24] #8859 closed, assigned to nobody

[2020-04-21 05:32] raver119 commented on #8860
Fixed in my branch, will be merged later today.

[2020-04-21 05:32] #8860 closed, assigned to nobody

[2020-04-21 06:19] AlexDBlack commented on #8857
Failing due to bad iargs in test - op implementation is OK

[2020-04-21 06:19] #8857 closed, assigned to nobody

[2020-04-21 11:34] printomi commented on #8779
I think that PR #8856 will fix this. In that PR, I replace `server.close()` with `vertx.close()`. In beta6, `server.close()` did not actually stop the UI.
I have run `BasicHyperparameterOptimizationExample` with my build of 1.0.0-SNAPSHOT on Windows, and the UI properly stopped.

[2020-04-21 14:10] shugeo commented on #8539
May be this issue is not more actual?

[2020-04-21 14:40] AlexDBlack commented on #8861
Transferred to eclipse/deeplearning4j - confirming this is a bug still present on master.

[2020-04-21 14:51] alexanderst commented on #8539
Still reproduced.

[2020-04-21 17:45] Paranormaly opened #8862 "[Question] Does DL4J works fine on NVidia Jetson ?"
Just asking in case anyone tried it on NVidia Jetson because I'm planing to buy one for DL4J training process but I want to be sure before. Thanks

[2020-04-21 17:46] raver119 commented on #8862
сс @sshepel @agibsonccc

[2020-04-21 19:29] sshepel commented on #8862
Build on nano is fine, snapshots on maven central, so it should work :)

[2020-04-21 19:41] rnett commented on #8861
I ran into something similar a while back, if it is the same thing and my notes from then are accurate, I think that the loss variable required by the listener was lost somewhere and wasn't passed to the inference session (because it only needs to calculate the gradient of the loss for training).

[2020-04-21 21:30] damonhnz opened #8863 "Training slower in beta6"
#### Issue Description

I've just upgraded from beta5 to beta6 and am finding that each training iteration now takes about 50% longer than it did before.

I am using MultiLayerNetwork.fit passing an INDArrayDataSetIterator

#### Version Information

* Deeplearning4j version -  1.0.0-beta6
* Platform - Ubuntu 18.04.3 LTS
* CUDA - 10.1

Please let me know if you require any further information to he

[2020-04-21 21:58] Paranormaly commented on #8862
@sshepel Great. so I don't have to rebuild it? I just do the normal project and run it on Jetson Nano?

Your comment is enough for me so I ordered Jetson Nano and when I got it I may get back here if I faced any problem.
Thankx

[2020-04-22 00:38] qq12cvhj commented on #8852
I'm sorry.But now I've solved this problem on android platform.There used to be some problems about dependencies.I solved it by like below:
 `implementation(group: 'com.github.wendykierp', name: 'JTransforms', version: '3.1') {
        exclude(group: 'org.apache', module: 'commons-math3')
    }`
Similiar,the datavec imported by this way:
`implementation('org.datavec:datavec-data-audio:1.0.0-beta6'

[2020-04-22 06:52] sshepel commented on #8862
@Paranormaly right, just add artifact as dependency and try to run :)
Also, we do have docker container with all things that are required to build dl4j (javacpp too) in docker on Jetson, just in case...
[code]

[2020-04-22 08:40] lukaszbachman opened #8864 "JVM crash when allocating more memory than initial MMAP size"
JVM will crash when calling libnd4jcpu.so under following circumstances:

- Memory Workspace is used
- policy is set to: `LocationPolicy.MMAP`
- initial size is set to X
- one tries to create an `INDArray` which would consume more memory than  X (won't fit into the MMAP)

I also tried setting `maxSize()` but that doesn't seem to help - MMAP doesn't grow and JVM still crashes. I could tell that in

[2020-04-22 08:40] raver119 commented on #8863
Can you post your network please?

[2020-04-22 08:54] raver119 commented on #8864
Memory-mapped file shouldn't grow. But there shouldn't be crash as well.

[2020-04-22 09:05] lukaszbachman commented on #8864
@raver119 , so you mean to say that by design MMAP will only be as big as the value defined in `initialSize()`? I could implement a routine which retries the operation with a bigger MMAP. In such case it would be very handy to know how much data did not fit into the map. I can try to make that calculations myself, but maybe the library already knows that?

[2020-04-22 09:08] raver119 commented on #8864
Yes it's design limitation. Try `man mmap`.

[2020-04-22 09:12] #8848 closed, assigned to nobody

[2020-04-22 09:31] Paranormaly commented on #8862
That's great.
I'm gonna close this and get back when I finish testing DL4J on Jetson.
Thank you so much.

[2020-04-22 09:31] #8862 closed, assigned to sshepel

[2020-04-22 09:39] raver119 commented on #8864
Fixed the crash. But keep in mind, in this particular case proper behavior will be "spill", so your array will be allocated in RAM, since it'll be considered a spilled array.

[2020-04-22 09:39] #8864 closed, assigned to raver119

[2020-04-22 10:07] lukaszbachman commented on #8864
Sorry for asking, but where can I see this commit?

[2020-04-22 10:08] raver119 commented on #8864
https://github.com/KonduitAI/deeplearning4j/commit/78260efe54b331a74e68db96cf0f46609a257dd6

[2020-04-22 12:07] AlexDBlack commented on #8861
Turns out the example has a bug - combined with a minor bug in SameDiff - cc @eraly
https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/samediff/training/SameDiffMNISTTrainingExample.java#L70-L78

Simply put: the softmax variable isn't required to calculate the loss value, hence it isn't calculated.
That's obviously incorrect - it

[2020-04-22 12:09] shugeo commented on #8539
I think, if density set up to 1.e-4, all be work for given test.

[2020-04-22 12:24] lukaszbachman opened #8865 "PCA calculations not using entire MMAP space"
I'm trying to run a simple experiment with ND4J where PCA calculations will be offloaded to an MMAP. In production I plan to use this on large matrices (ex: 30_000 columns, 20_000 rows). For testing I'm using something much smaller to verify if I'm using the API in a proper way.
I have read relevant sections related to `INDArrays` and memory usage on DeepLearning4j.org and nd4j.org, but I'm still

[2020-04-22 12:27] lukaszbachman commented on #8864
Thanks!

[2020-04-22 12:54] #8315 closed, assigned to AlexDBlack

[2020-04-22 13:54] alek-w opened #8866 "Dead lock in case of exception on 'hasNext()' of the iterator in ReaderThread"
#### Issue Description

Please describe our issue, along with:
- expected behavior: gracefully stop
- encountered behavior: infinite wait on 'buffer.take();' in  org.deeplearning4j.parallelism.AsyncIterator#hasNext()  (the buffer is LinkedBlockingQueue).
ReaderThread runs in a parallel thread and would be terminated in case of any exception (except InterruptedException). At the same time AsyncIter

[2020-04-22 14:57] shugeo commented on #8539
with last values also ok with density 1.e-6

[2020-04-22 18:25] lukaszbachman opened #8867 "Memory Workspace cannot allocate MMAP (fails with "java.lang.RuntimeException: MMAP failed") when path to the mmap file is longer than 71 characters"
On Windows creating Memory Workspace with `LocationPolicy.MMAP` will fail if the `tempFileLocation` path is longer than 71 characters.

To reproduce:
[code]

Error:
[code]

Note that this paths' length is exactly 72 characters. If you drop one character from the name of the file, for example renaming it to `123456789ABCD.mmap` mmap will be created fine.

#### Version Information
* ND4J 1.0.0-beta6

[2020-04-22 18:35] raver119 commented on #8867
I'm not 100% sure atm, but for me it sounds like a legacy WinAPI limitation of I/O api. There's couple of limitations like that exist in WinAPI.

I will check it out.

[2020-04-22 18:51] lukaszbachman commented on #8867
I suspected something along those lines. Any chance to get more meaningful error message from the native libs and pass it back to Java? Would definitely help to troubleshoot sooner.
Thanks for a quick response!

[2020-04-22 18:53] raver119 commented on #8867
I'm not sure it's worth the hassle, it might be easier to adopt (or at least try to adopt) newer file API, since WIndows 10 family is the only version that must be supported these days

[2020-04-22 22:39] #8503 closed, assigned to nobody

[2020-04-22 23:48] saudet commented on #8865
The OOM you're getting is from JavaCPP checking the total physical memory the process is using and trying to make sure it stays under that limit by calling `System.gc()` and `malloc_trim()`. If this is something you don't need to monitor, that is, you're already making sure in other ways that your process is never going to exceed some given limits, this check can be disabled by setting maxPhysical

[2020-04-23 00:26] #8725 closed, assigned to nobody

[2020-04-23 00:26] #8794 closed, assigned to nobody

[2020-04-23 00:28] AlexDBlack commented on #8779
Closing this due to likely being fixed by this PR: https://github.com/eclipse/deeplearning4j/pull/8856

@eraly Can you retest to confirm it's fixed at some point? We'll re-open if not. Thanks

[2020-04-23 00:28] #8779 closed, assigned to AlexDBlack

[2020-04-23 01:15] AlexDBlack commented on #8866
Can you try again with the latest release - 1.0.0-beta6?
0.9.1 was released 12/08/2017. Lots of fixes (including a few for AsyncIterator IIRC) since then.

If it's still occurring, happy to take a look, but some code to reproduce the problem would help a lot. Thanks.

[2020-04-23 02:20] AlexDBlack commented on #8852
Sounds like a dependency version problem?
I'll close this as resolved unless there's anything left to do here.

[2020-04-23 02:20] #8852 closed, assigned to nobody

[2020-04-23 03:03] AlexDBlack opened #8868 "DL4J: DataSet and MultiDataSet - assert rank 2 minimum for features/labels/masks"
All of the layers etc expect rank 2 minimum - i.e., there should always be a leading minibatch dimension. So [minibatch, nIn], [minibatch, size, sequenceLength], [minibatch, channels, height, width], etc

[2020-04-23 04:13] lukaszbachman commented on #8865
That is good to know indeed! But I still don't get how come JavaCPP is deciding that my physical usage is too big in that case. After all I'm using MMAP, so everything I do inside this workspace should be directly mapped to that file (and not being accounted for as `physicalBytes`) and it had plenty of room left. I think I'm still missing something here.

[2020-04-23 04:33] saudet commented on #8865
Apparently Linux counts it in the "resident set size". I'm sure it gets cached in memory there anyway.

[2020-04-23 04:47] lukaszbachman commented on #8865
But then how to configure the memory settings so that the application won't trip on large matrices sent to PCA? Say I have a machine with 32gbs of ram and my regular usage looks like this:

- 2 GB - reserved for OS
- 10 GB - Xmx reserved for application during normal usage

Assuming that PCA could require as much as another 30 GBs of memory, how should I configure the parameters to avoid running o

[2020-04-23 05:25] raver119 commented on #8867
Fixed. Now limitation matches Java one.

[2020-04-23 05:25] #8867 closed, assigned to raver119

[2020-04-23 05:26] alexanderst commented on #8539
Rechecked TF import tests, all resize_bicubic are passed. The test which was failing originally:

o.n.i.T.TFGraphTestAllHelper - TEST resize_bicubic/float64 PASSED with 1 arrays compared...

[2020-04-23 05:38] #8861 closed, assigned to nobody

[2020-04-23 05:46] lukaszbachman opened #8869 "Windows - MMAP Memory Workspace not releasing the resource to the underlying file"
Hello,

First of all - sorry for reporting so many MMAP related issues lately. I hit few roadblockers with my initial implementation of PCA using MMAPs and I'm working under a bit of pressure. Not something which concerns you but just wanted to say - sorry ;-)

#### Issue Description

It looks like on Windows the MMAP resources used within the TRY-WITH-RESOURCE block are not released on a timely m

[2020-04-23 05:48] raver119 commented on #8869
Sure it can't be deleted. Workspace is alive and active, so the file is still memory-mapped. You'd  need to destroy workspace first.

re: mmap issues. Man, keep them going in please :)

[2020-04-23 06:07] raver119 commented on #8869
Hm. Yes, right now, the only way to un-mmap file is to make a call to destroyWorkspace(). Which is wrong. I'll fix this.

[2020-04-23 06:26] lukaszbachman commented on #8869
Hhmmm I was actually trying this before, calling various variants of `destroy*()` methods, but that didn't help to rectify the issue. Let me try few more times.

[2020-04-23 06:30] lukaszbachman commented on #8869
Yeah, so none of these commented lines helped:
[code]

BTW, in another ticket I read that there is a memory limit on how large the MMAP can be. Is there really one?

[2020-04-23 06:54] raver119 commented on #8869
No, you're doing it wrong.  ws.destroyWorkspace(true); helps, but you can't do it within try block.

Anyway, i'll provide a fix for regular gc method

[2020-04-23 07:33] lukaszbachman commented on #8867
That is awesome news! Where can I get snapshots of ND4J? Couldn't find that in the documentation.

[2020-04-23 07:34] raver119 commented on #8867
https://deeplearning4j.konduit.ai/config/config-snapshots

But since this change is fairly recent one, it's not in snapshots yet.

[2020-04-23 07:40] lukaszbachman commented on #8867
Ok, clear

[2020-04-23 08:30] lukaszbachman commented on #8869
Ok, so another update:
I was able to properly cleanup all resources when I called `ws.close()` followed by `ws.destroy(true)` in the finally block. But I also found that doing this was not enough to get all my tests green. As it turns out, I was not specifying learning policy at all, but that is causing Memory Worspace reinitialization inside the `ws.close()` method. So the second cleanup was alwa

[2020-04-23 08:31] ptamas88 commented on #8348
Hello @treo @AlexDBlack ,
is there any ETA for tf.keras support?
We are developing models in tf2 and would like to handle serving in java with dl4j natively.
Thanks

[2020-04-23 08:54] raver119 commented on #8869
Good catch, thank you! Adding validation fix for this as well.

[2020-04-23 08:57] lukaszbachman commented on #8869
Ok, great. My tests are starting to look good now! Only one more issue to solve.

[2020-04-23 08:59] raver119 commented on #8869
https://github.com/KonduitAI/deeplearning4j/pull/409

[2020-04-23 09:15] saudet commented on #8865
I assume Linux can potentially cache the whole file to memory, so I guess "physicalBytes" could go up to 30 GB + Xmx + maxBytes...

[2020-04-23 09:35] AlexDBlack opened #8870 "Refactor split packages (for OSGi, Java 9 Modules)"
Split packages occur when class files are present in multiple modules (JARs) with the same package
Example:
[code]

Why this matters:
* OSGi: https://github.com/eclipse/deeplearning4j/issues/3022
* Java 9 Modules: https://github.com/eclipse/deeplearning4j/issues/7377

Of course split packages isn't the only issue for OSGi and J9 modules, but it's still something we need to fix.

Script to find spl

[2020-04-23 09:44] AlexDBlack commented on #8870
We should also find a way to add validation into the build (maven plugin?) to detect split packages so we don't inadvertently reintroduce this problem in the future.

[2020-04-23 10:35] saudet commented on #8870
The usual easy way to guarantee that is by restricting the packages we can define classes in to the ones that start with the name of their corresponding modules. For example, in the `org.deeplearning4j:core` module, we could have `org.deeplearning4j.core.this` and `org.deeplearning4j.core.that` as packages, but not `org.deeplearning4j.something`

[2020-04-23 10:42] #8539 closed, assigned to shugeo

[2020-04-23 10:49] treo commented on #8865
In principle loading the whole file into memory is what you want, the benefit of mmaping is that it can spill to disk for things that aren't required quite as often. This makes it ideal for working with frozen word vectors, where some words will be needed more often than others, and the OS needs to only keep a few hot pages actually in memory.

I'm a bit rusty on the specific of PCA calculations a

[2020-04-23 11:47] damonhnz commented on #8863
Hi,

The simplified network below has an even bigger performance difference between beta5 and beta6 (about 3-4x slower).

It seems to be something to do with the amount of data per batch.  With batch size 64 this is 64 * 1024 * 128 * 3 * 4 = 100,663,296 bytes.  However if I reduce the batch size by 1 to 63 (99,090,432 bytes) then the performance is the same in both versions.  (Normally increasing

[2020-04-23 11:50] raver119 commented on #8863
~~can you make OutputLayer microscopic please?~~

[2020-04-23 11:56] raver119 commented on #8863
Nevermind. you're on CUDA.

What's your GPU model name? Are you using cuDNN? Can i see your pom.xml?

[2020-04-23 12:07] damonhnz commented on #8863
2020-04-23 23:59:55,248 [main] INFO org.nd4j.linalg.jcublas.JCublasBackend - ND4J CUDA build version: 10.1.243
2020-04-23 23:59:55,250 [main] INFO org.nd4j.linalg.jcublas.JCublasBackend - CUDA device 0: [GeForce GTX 1080]; cc: [6.1]; Total memory: [8512602112]

[pom.xml.zip](https://github.com/eclipse/deeplearning4j/files/4522340/pom.xml.zip)

[2020-04-23 12:10] raver119 commented on #8863
Hmmm..Your pom.xml looks ok. Can you please post more of your console output?

[2020-04-23 12:23] damonhnz commented on #8863
**beta5**

[code]

**beta6**

[code]

[2020-04-23 12:49] lukaszbachman commented on #8869
Awesome! Thank you! Due to some internal conflicts with other javacpp, javacv, opencv versions it may take some time before I get to use ND4J snapshots, but I will definitely give it a go once I can. Thanks!

[2020-04-23 12:51] raver119 commented on #8869
Both issues were addressed. Thanks for highlighting them :)

[2020-04-23 12:51] #8869 closed, assigned to raver119

[2020-04-23 12:54] AlexDBlack commented on #8863
One more thing to try here to help isolate the cause of the problem: Can you give the same output without the UI enabled (i.e., no UIServer.getInstance()) or UI listener (StatsListener) added to the network? Thanks
The UI (StatsListener) has a fair bit of overhead, especially if the frequency is small

[2020-04-23 12:55] lukaszbachman commented on #8865
Hhhmm but is it possible to request more `maxbytes` than actual RAM installed? Because in my case the "extra stuff" will be peanuts comparing to the features matrix that goes into the PCA algorithm.

Hhmm I just tried doing this on my 16GB laptop and it didn't complain...
[code]

[2020-04-23 12:56] raver119 commented on #8863
Hm, why there's no cuDNN helpers messages? Are you sure deeplearning4j-cuda dependency is actually enabled?

[2020-04-23 13:29] saudet commented on #8865
Yes, of course, that works, and for "unlimited", simply use 0.

[2020-04-23 14:30] AlexDBlack commented on #8863
One more question - are you using Eclipse IDE by any chance?

[2020-04-23 14:45] printomi opened #8871 "DL4J UI: Add multi-session support for Arbiter"
#### Issue Description

Add multi-session support for Arbiter:

Since #7185, `TrainModule` supports multiple concurrent browser sessions: with the optional multi-session mode of `UIServer`, one can load multiple independent `StatsStorage` sessions by passing their session ID in URL like `http://localhost:9000/train/sessionId1` and `http://localhost:9000/train/sessionId2`.
The `StatsStorage` contai

[2020-04-23 22:23] damonhnz commented on #8863
Disabling the UI and stats makes no difference.

I don't think it's using cuDNN.  I also remember there being logging about that so I think I've lost that after a few version updates and switching from Mac OSX to Linux.  How can I  confirm/debug this?  Is there a bit of code I can step through to see if/why it isn't finding CuDNN?  The CuDNN libs are in my Cuda installation (as per NVIDIA instruct

[2020-04-24 04:45] raver119 commented on #8863
I wish this was true, but we know for sure, that UI is very expensive computationally. So if it doesn't make any difference for you - it just means you're doing something wrong.

[2020-04-24 05:38] lukaszbachman opened #8873 ""org.nd4j.linalg.api.blas.BlasException: Failed to execute sgesvd: -1011" when running PCA"
I am running PCA with MMAP on large matrix (2000 x 110000). At some point in the process `pca_factor()` is failing with the following exception:

[code]

Smaller experiments using the same code does not show the same error. Maybe a matter of scale then? Regardless, I was hoping you could shed some light as to what this exception and `-1011` really means.

#### Version Information

* ND4J 1.0.0-bet

[2020-04-24 07:10] saudet commented on #8873
@rcorbish Would you know?

[2020-04-24 07:40] saudet commented on #8873
According to the documentation of `sgesvd()`, that's what the number means:
[code]

You may want to try MKL, which is often more stable than OpenBLAS. Follow these instructions:
https://github.com/bytedeco/javacpp-presets/tree/master/openblas#documentation

[2020-04-24 09:37] lukaszbachman commented on #8873
I think I'm using MKL already, at least that's what I can judge by this output:

[code]
Am I right here?

[2020-04-24 10:16] saudet commented on #8873
Looks like it, yes.

[2020-04-24 10:24] lukaszbachman commented on #8873
Yeah I verified on my 2nd Linux box and I can see that it logged `Blas vendor: [OPENBLAS]`. I'll try to run some more tests to verify if this is really related to the size of the matrix.

[2020-04-24 11:09] damonhnz commented on #8863
If I remove the deeplearning4j-cuda dependency then I get a log message about cuDNN not found, so that suggests that it is using cuDNN.  However there is no difference in performance with or without cuDNN.  Is that what you'd expect for the above dummy network (with no CNN layers)?

Should there be cuDNN helper messages in the log?  Where is the code that writes that?

Alex, why did you ask about

[2020-04-24 11:20] AlexDBlack opened #8874 "libnd4j: reverse_bp op is incorrect"
[code]

![image](https://user-images.githubusercontent.com/2360237/80207416-6f013d00-8671-11ea-9c1f-d4eb4f6a3fd2.png)

Cause seems to be this line:
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/helpers/cpu/reverse.cpp#L199

I'm not following the logic here.
If forward pass reverses the input along axis X, then backprop should simply reverse the gradient along

[2020-04-24 11:25] damonhnz commented on #8863
I added a CNN layer to the network and the deeplearning4j-cuda dependency makes it about 3 times faster so it's definitely using cuDNN.

Both with and without cuDNN beta6 is a lot slower than beta5 when the batch size is 64 but isn't slower with a batch size of 63 (or less).

[2020-04-24 11:30] raver119 commented on #8863
Hm. Can you please try the same network on the same hardware but use snapshots instead of beta6?

[2020-04-24 12:17] AlexDBlack commented on #8874
We can easily work around this by changing this flag to false:
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/transforms/reverse.cpp#L88

I've done that in this PR: https://github.com/KonduitAI/deeplearning4j/pull/392

So fixing this (well, cleaning up the unneeded backprop arg) isn't an immediate priority.

[2020-04-24 13:21] hanbaoan123 commented on #8855
But when I try with 1.0.0-SNAPSHOT, the jar file can not be downloaded as follows.

[INFO] Downloading from : https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/protobuf/1.0.0-SNAPSHOT/protobuf-1.0.0-20200424.012726-5483.jar

[2020-04-24 13:43] AlexDBlack commented on #8348
@ptamas88 Thanks for the reminder. It's actually available on snapshots now:, and will be in the next release https://github.com/KonduitAI/deeplearning4j/pull/258
https://deeplearning4j.konduit.ai/config/config-snapshots
Some additional work is currently underway to improve test coverage though.

[2020-04-24 13:43] #8348 closed, assigned to nobody

[2020-04-24 13:47] AlexDBlack commented on #8855
@hanbaoan123 The file you mentioned is definitely online: https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/protobuf/1.0.0-SNAPSHOT/

Try rebuilding, perhaps with `mvn -U`

[2020-04-24 14:19] ptamas88 commented on #8348
@AlexDBlack Thanks for the response!

[2020-04-24 15:13] AlexDBlack commented on #8843
https://github.com/KonduitAI/deeplearning4j/pull/410

[2020-04-24 15:13] #8843 closed, assigned to atuzhykov

[2020-04-24 15:17] alek-w commented on #8866
i have checked on 1.0.0-beta6
it is not reproduced @AlexDBlack

[2020-04-24 15:19] raver119 commented on #8866
Great. Thanks for checking.

[2020-04-24 15:19] #8866 closed, assigned to nobody

[2020-04-24 15:32] alek-w commented on #8866
@raver119 @AlexDBlack could you tell, please
what is your plan about non-beta release?

[2020-04-24 15:36] raver119 commented on #8866
We hope after beta7 we'll release 1.0. However, it's just naming convention. For you as end-user every subsequent version must be more stable, faster and so on.

[2020-04-24 22:27] rcorbish commented on #8873
Not obvious. The negative arg indicates which parameter is driving the issue, but -1011 is not right in this case. Let me try.
This might take about 30-60 seconds. Was the error returned very quickly?

[2020-04-24 22:29] eraly opened #8875 "SameDiff mergeAvg/mergeAdd gives nan when training"
I am testing examples on snapshots and the mergeAvg [here](https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/samediff/dl4j/layers/MergeLambdaVertex.java#L29) gives nans.

Changing that to
[code]
and everything is fine.

Tried doing mergeAdd and hard coding the div by 2 and that gives nans too..

[2020-04-24 23:07] AlexDBlack opened #8876 "SameDiff: inconsistent behaviour between SDVariable.getArr() and SameDiff.getArrForVarName"
Former gives exception for ARRAY type SDVariables; latter gives null.

[2020-04-25 01:31] AlexDBlack opened #8877 "ND4J: snapshots Nd4j.gemm performance regression since beta6 (CPU)"
gemm args:

x: [2,32,2097152,2097152,1,8192,1,99]
y: [2,32,1000,1000,1,8192,1,99]
z: [2,2097152,1000,1,2097152,8192,1,102]

tA = true
tB = false
a = 1.0
b = 0.0

[code]

**5930k**

1.0.0-beta6:
[code]

master:
[code]

**3990x**
1.0.0-beta6:
[code]

master:
[code]

[2020-04-25 01:36] saudet commented on #8877
It's not using BLAS anymore, right?

[2020-04-25 01:51] AlexDBlack commented on #8877
It's built manually with OpenBLAS (and mkldnn). Performance when the result array is C order looks fine. F order result arrays looks bad. I'll post more results shortly.

[2020-04-25 01:58] AlexDBlack commented on #8877
Confirmed - seems like there's a problem only when the result array is F order

3990x results: https://gist.github.com/AlexDBlack/231a642ec37adaa5dc6552859874b7c3
5930k results: https://gist.github.com/AlexDBlack/56efc8acd12baf0617715aa15c7eb9dd

Note that in beta6, we didn't support Z/result array being C order in Nd4j.gemm, now we support both C and F for any array in Nd4j.gemm.

[2020-04-25 04:25] hanbaoan123 commented on #8855
I can not find this class org.deeplearning4j.rl4j.network.configuration.ActorCriticNetworkConfiguration.ActorCriticNetworkConfigurationBuilder in rl4j-core-1.0.0-SNAPSHOT

[2020-04-25 05:15] raver119 commented on #8877
So, in other words - mkldnn totally hates F order? Strange...

[2020-04-25 07:29] raver119 commented on #8877
Okay, it's not mkldnn. It's something on our end by the looks of it.

[2020-04-25 09:13] AlexDBlack opened #8878 "CI/unit tests: nd4j-parameter-server-node/parent and nd4j-json-client being tested with CPU backend on CUDA"
We have 3 instances of this: nd4j-native dependencies under testresources profile

https://github.com/eclipse/deeplearning4j/blob/37e053ad901ad364b6fe6658517b8d2e5e7d8894/nd4j/nd4j-remote/nd4j-json-client/pom.xml#L52
https://github.com/eclipse/deeplearning4j/blob/97c7dd2c94d80cc26338d90b07c071df61ddc865/nd4j/nd4j-parameter-server-parent/nd4j-parameter-server-node/pom.xml#L94
https://github.com/ecl

[2020-04-25 09:47] AlexDBlack opened #8879 "ND4J tests: Add scanning to ensure all ops are in a namespace (or explicitly excluded)"
Recently I've found a few ops that we have both in C++ and Java - that aren't accessible in any namespace.

We need some sort of automated tool to automatically flag when this happens, otherwise we risk (a) missing some, and (b) introducing more ops that aren't on namespaces

If we have access to the source, this should be straightforward given we use the fully qualified class names in the namespa

[2020-04-25 10:09] AlexDBlack opened #8880 "libnd4j: mergemaxindex - supports float output or not? (CPU/GPU inconsistent)"
See test below. Passes on CPU and fails on CUDA
CUDA gives `[ERROR] Unknown dtypeX=5 on /home/alex/DL4J/deeplearning4j/libnd4j/include/ops/declarable/helpers/cuda/merge.cu:90`

Behaviour should be consistent on both platforms.
I'm fine with having only integer types allowed out - but if so, then float should not be allowed on either CPU or GPU.

Op doesn't define supported outputs here...
https://

[2020-04-25 10:35] lukaszbachman commented on #8873
It failed after 1 minute 9 seconds after `PCA.pca_factor()` was invoked. Hope that helps.

[2020-04-25 11:35] AlexDBlack commented on #8875
I'm not able to reproduce this - CPU and CUDA both run fine.
Latest master, built locally.
Here's the output of running Ex3LambdaVertex on branch ab_snapshots (just pushed up): https://gist.github.com/AlexDBlack/469faa0deb97dc50414005a959a04ee7

The example isn't exactly well tuned (note the no-op updated - equivalent to SGD with LR 1.0), but if that was the cause it should fail everywhere...

[2020-04-25 11:52] damonhnz commented on #8863
I'm getting 8s per epoch with snapshot which is faster than beta6 but still double what I get in beta5.  Also no longer seeing an improvement lowering the batch size.  This is with Cuda 10.1 and I'm getting a message "Warning: Versions of org.bytedeco:javacpp:1.5.3 and org.bytedeco:cuda:10.1-7.6-1.5.2 do not match." so I will try Cuda 10.2.  This means upgrading the NVIDIA driver which I'm having

[2020-04-25 11:57] raver119 commented on #8863
Hm. That sounds weird. Okay, we'll investigate this then. Thanks for flagging this issue.

[2020-04-25 12:07] AlexDBlack opened #8881 "All projects: Configure top level maven surefire configuration to include all tests"
Some tests are simply not being run on CI.

The default behaviour of Surefire is supposed to be as follows:
[code]
https://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html

Here's a snippet of test output: https://gist.github.com/AlexDBlack/c281eab3d13108f75963316d3c9a3bdf
Taken from: https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/

[2020-04-25 13:24] AlexDBlack opened #8882 "nd4j-parameter-server-client: RemoteParameterServerClientTests.remoteTests failing"
Failing locally and on CI (if actually enabled with maven surefire config, see issue linked below)
Hasn't failed on CI before because it hasn't actually been running on CI because of this: https://github.com/eclipse/deeplearning4j/issues/8881

I'll be adding an `@Ignore` to this test; logging an issue here so it doesn't get missed/forgotten.

Test log output: https://gist.github.com/AlexDBlack/077

[2020-04-25 14:09] AlexDBlack commented on #8812
https://github.com/KonduitAI/deeplearning4j/pull/392

[2020-04-25 14:09] #8812 closed, assigned to atuzhykov

[2020-04-25 14:38] rcorbish commented on #8873
I get OOM errors trying to create an array of 110,000 x 110,000 (part of svd needs a buffer of nxn for the input mxn matrix).
If I use a size of 110_000 x 2000, it works, I used 8Gb, Java 11 on Linux  ND4J 1.0.0-beta6

        Nd4j.setDefaultDataTypes( DataType.FLOAT, DataType.FLOAT );
        INDArray A = Nd4j.rand(  2_000, 110_000 ) ;
        A = A.reshape('c', 110_000, 2_000);
        INDArray

[2020-04-25 15:51] lukaszbachman commented on #8873
Ok, so I ran few more tests. First of all - your sample code seems to be working fine on Linux. I'm running these tests on boxes of different hardware specs, but it didn't seem to be a problem.

Now, here comes the interesting part. I ran your sample on Windows where I had this problem originally. It works fine there too, but if I comment out the matrix reshaping it will fail with:

[code]

So it

[2020-04-25 17:33] eraly commented on #8875
I was running beta6 and not snapshots. We can close this. Sorry about that.

[2020-04-25 17:33] #8875 closed, assigned to nobody

[2020-04-25 18:18] eraly commented on #8779
Retested and I can confirm it is fixed. Thanks!

[2020-04-25 23:33] damonhnz commented on #8863
I haven't been able to try Cuda 10.2 yet.

Here's a standalone example.  (Just a pom file and 1 Java class.)

[dl4jperftest.zip](https://github.com/eclipse/deeplearning4j/files/4534362/dl4jperftest.zip)

These are the times that I am seeing.  Please let me know if you're able to reproduce the issue on your hardware.

**beta5**

[code]

**beta6**

[code]

[2020-04-25 23:38] damonhnz commented on #8863
I've just run that using SNAPSHOT and it's faster!

[code]

[2020-04-26 00:53] saudet commented on #8873
Yup, looks like a normal OOM error in LAPACK:
[code]
Try to increase the size of the swap space/page file available to the OS, and/or decrease the amount of memory used by other processes, the JVM, etc.

[2020-04-26 02:02] rcorbish commented on #8873
Good questions:
I do the reshape to try 2 things:
1) assume matrix is in column order
2) to make sure OOM is **not** due to matrix allocation

in svd the outputs are a function of the input matrix:
svd A (m x n)  =>  U S V'
U is (m x m)
S is [special] diagonal (m x m)  { max N entries }
V is (n x n)  {transpose is same dimension}

So the SVD result  A(a x b) is not the same as A(b x a)

In PCA , d

[2020-04-26 02:27] #8879 closed, assigned to AlexDBlack

[2020-04-26 02:29] AlexDBlack opened #8883 "ND4J/SameDiff: Add missing operations to namespaces"
This PR added a scanning utility to scan all operations and determine when some aren't in a namespace:
https://github.com/KonduitAI/deeplearning4j/pull/413
See also: https://github.com/eclipse/deeplearning4j/issues/8879

Here's the list of operations that it has flagged as not currently in a namespace.
Note that some of these may still need to be added to the exclusion list for one reason or anoth

[2020-04-26 02:55] AlexDBlack opened #8884 "SameDiff: Add float loss"
See this PR for equivalent functionality for DL4J: https://github.com/KonduitAI/deeplearning4j/pull/414
https://arxiv.org/abs/2002.08709

Of course this can be added manually in samediff by the user without too much trouble, some helper methods would be nice, so the user can do something like:
`sd.loss.floatLoss(sd.loss.meanSquaredError(...), 0.5)`

Subtle key point here is managing the SameDiff i

[2020-04-26 07:14] raver119 commented on #8863
What changed between this run, and previous attempt when it was still slower?

vs

What was changed?

[2020-04-26 08:34] AlexDBlack opened #8885 "SameDiff import tests: clean up class path scanning (TFGraphTestAllHelper) to use ResourceUtils.listClassPathFiles"
ResourceUtils.listClassPathFiles method recently added here: https://github.com/KonduitAI/deeplearning4j/pull/416

Not an immediate priority, but should be cleaned up at some point.

[2020-04-26 10:03] damonhnz commented on #8863
The difference is in how it's creating the NDArrays. In the latest example they reside in GPU memory. In my real code they are created in off-heap memory (and only loaded onto the GPU when I call the fit method). I found this was the fastest way to cycle through large amounts of training data.How do you normally handle large training data efficiently? I have about 500GB, with only 64GB RAM and 8GB

[2020-04-26 11:10] lukaszbachman commented on #8865
One more question related to this spilling of arrays - say that my MMAP has enough free space to accomodate 1GB of data, but I try to create a matrix which would use 3GBs. What happens during the moment of allocation? Since 3GB > 1GB then entire 3GB spills out of the workspace? Or perhaps 1GB is allocated into a file and the remaining 2GBs spill to RAM?

[2020-04-26 11:15] raver119 commented on #8865
No, it's impossible to split single INDArray over multiple memory chunks, so it's all-or-nothing. Array either fits into workspace, or spills.

[2020-04-26 14:42] lukaszbachman commented on #8873
@saudet that could work in theory, although our app is pretty RAM hungry even without ND4J, so obviously we would hit a limit rather sooner than latter. I would also like to avoid causing too much stress on the OS, as this will run in a server environment. I guess ideal solution to me would be for these calculations to simply run longer under limited resources I assign to the process.

@rcorbish s

[2020-04-26 16:02] bpossolo opened #8886 "TfidfVectorizer.vectorize() throws NPE when fitted with LabelAwareIterator"
#### Issue Description

**Encountered**
TfidfVectorizer.vectorize() throws an NPE if a LabelAwareIterator is used to fit the TfidfVectorizer

cause: the LabelsSource isn't get populated during fitting and TfidfVectorizer.vectorize(String, String) expects LabelsSource to be non-empty... this results in an NPE

**Expected**
LabelsSource should be populated during fitting and vectorize() should not t

[2020-04-27 03:38] damonhnz commented on #8863
Cuda 10.2 doesn't make much difference for me over 10.1.

I've done a performance comparison of Nd4j.create(float[]) between the 3 versions and beta6 is the same as beta5 but SNAPSHOT is quite a bit faster.

My attached example shows beta6 is slower than beta5 for training (for this particular network on my hardware) but the snapshot version is faster than both.

Overall I expect SNAPSHOT should b

[2020-04-27 09:54] damonhnz commented on #8863
Actually I've just tried my real code using the latest snapshot and it runs about 20% faster than beta5 (whereas beta6 is about 50% slower).  (When I created a simplified example to post on here I reduced the volume of training data significantly so I could do quick comparisons between versions.  The numbers I obtained from that weren't meaningful because it had the overheads of my caching/paging

[2020-04-27 09:58] raver119 commented on #8863
Use snapshots for a next few days.
Once we're done with performance profiling/polishing - we'll publish release. So, snapshots are almost release-ready at this point.

[2020-04-27 15:29] rhorvath37 commented on #8348
Hello @AlexDBlack ,

The attached file was tested with snapshot but we got the same exception:

Exception in thread "main" java.lang.RuntimeException: org.nd4j.shade.protobuf.InvalidProtocolBufferException$InvalidWireTypeException: Protocol message tag had invalid wire type.
	at org.nd4j.imports.graphmapper.tf.TFGraphMapper.importGraph(TFGraphMapper.java:137)
	at org.nd4j.imports.graphmapper.tf.TF

[2020-04-27 15:52] pmpailis opened #8888 "ParagraphVectors ignores all but first label during training"
I was experimenting with a custom document iterator implementing the ```LabelAwareIterator``` interface, where the ```nextDocument``` method is as follows:
[code]
and noticed a potential issue with the handling of multiple labels during training. The generated document contains all tags as labels, as well as the document id. This is then passed to the build vocab/training methods, but it seems tha

[2020-04-27 16:46] shugeo commented on #8455
An failed java test is needed to be fix.

[2020-04-27 18:00] ashfaq92 opened #8889 "return index of element if it exists in INDArray"
how to get index of an element (just like position of element in matrix in terms of row and columns) that if it exists in INDArray?
I tried:
`myArr.getWhere(someValue, Conditions.equals(1));`
But it does not return index. It returns element if condition fulfills (which is useless in this case)

in numpy:

[code]

[2020-04-27 18:02] raver119 commented on #8889
BooleanIndexing.firstIndex(INDArray, Condition) is what you're looking for I think.

[2020-04-27 18:04] #8889 closed, assigned to nobody

[2020-04-28 00:36] AlexDBlack opened #8890 "CI: Intermittent timeouts on some tests"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-419/1/pipeline/1148
Linux ppc64:
[code]

Fixed: https://github.com/KonduitAI/deeplearning4j/pull/445
~~https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-419/1/pipeline/468~~
~~Windows CUDA 10:~~
[code]

None of these tests should take that long, so I suspect that it m

[2020-04-28 00:46] rcorbish commented on #8873
Yes, the transpose will produce a completely different result. I am trying to think of any other way to solve this. The only thing I have come up with is to limit N to the most popular elements in the dataset.

[2020-04-28 04:37] lukaszbachman commented on #8873
Yes we are already filtering N terms, so we will try to focus on doing it in a more effective way. I just wanted to know if there is something we can do to prepare for the unexpected growth of the matrix. I suppose making those calculations iteratively is not an option? Or even repeating some of them for the sake of less memory consumption?

[2020-04-28 04:43] AlexDBlack opened #8891 "CI: Intermittent JVM crash on TestVertxUIMultiSession.testUIMultiSessionParallelTraining"
Not reproducible locally in 25 runs (Windows, CPU)

https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-347/3/pipeline/702

Copy of logs:
[20200428_CI_jvm_crash_log.txt](https://github.com/eclipse/deeplearning4j/files/4543375/20200428_CI_jvm_crash_log.txt)

[2020-04-28 07:33] AlexDBlack commented on #8348
@rhorvath37 OK, so there's a few issues here.
First: This issue related to keras import into dl4j (specifically tf.keras), whereas you are using tensorflow import into SameDiff. Separate functionality. So a new issue would have been more appropriate than posting on this one.

Second: The model file you have posted is not a .pb file - it's text format protobuf. SameDiff reads only binary format. Yo

[2020-04-28 08:56] lukaszbachman commented on #8865
Ok, that sounds logical. Still, it looks to me that the MMAP had enough room to accommodate all calculations, yet it seems that it wasn't used. Am I making any sense here or maybe I'm missing something obvious?

[2020-04-28 09:27] ptamas88 commented on #8348
Hello @AlexDBlack ,
Thanks for the info about the new snapshot. As I can see in the code, right now there is no way to import embedded models, right? I mean if the layer type is Model.

[2020-04-28 09:30] raver119 commented on #8833
This is not a bug. These resize methods do not exist in TF < 2.

https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/image/resize_images

vs

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image/resize

We'll add those though.

[2020-04-28 09:55] lukaszbachman commented on #8865
So I ran more tests and my initial code ran fine if I bumped the MMAP size to 16GBs. It didn't throw any OOME. I tested the produced binary file and noted the hex address of the last non-null byte:

`0092c250: 7b6e ce3e 70ea 133f 00ff 603b 0000 0000  {n.>p..?..`;....`

So that's `0x92c250 == 9618000`. If I divide by 4 it means that the last written float was at position:
`9618000 / 4 + 5 = 2_404_5

[2020-04-28 13:34] AlexDBlack opened #8894 "ND4J: NDArrays created on each op (Scalar op scalars, dimensions generally)"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/BaseScalarOp.java#L48-L76

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/BaseOp.java#L352-L354

For DL4J (or any cyclical workload based on , we end up creating these arrays

[2020-04-28 22:47] msinev opened #8895 "NDArrayUtil.toNDArray rectangular array invalid conversion"
#### Issue Description

Bug during rectangular array conversion in
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/util/NDArrayUtil.java

Opposite array sizes applied
 e.g. in Scala

`  Create array & print

    val y = 2

    val h = 3

    val ret = Array.ofDim[Int](y, h)
    for (i <- 0 until y) {
      for (j <- 0

[2020-04-29 01:19] #8870 closed, assigned to AlexDBlack

[2020-04-29 01:40] rcorbish commented on #8873
It's hard to predict how much memory you will use, vs how cheap and available memory upgrades become.
It may be possible to iterate to calc each eigenvalue (power iterations), but you do that for each eigenvalue (in your case 100K ).

[2020-04-29 12:22] saudet commented on #8747
This is probably the cause: https://github.com/xianyi/OpenBLAS/issues/2526

[2020-04-29 12:24] raver119 commented on #8747
Who's building OpenBLAS for JavaCPP?

[2020-04-30 07:39] raver119 opened #8896 "Namespaces and Argmax"
We have 4 index reduce operations: ArgMax, ArgMin, ArgAmax, ArgAmin. For some reason these ops reside in different namespaces: ArgMax and ArgMin reside in NDBase, and ArgAmax, ArgAmin reside in NDMath.

I'm pretty sure these ops should reside in the same namespace. Whichever namespace is chosen for that.

[2020-04-30 08:00] raver119 commented on #8895
This method will be deprecated and shouldn't be used.

Please use Nd4j.createFromArray(...). It generates result you'd expect.

[2020-04-30 08:00] #8895 closed, assigned to raver119

[2020-04-30 08:33] raver119 commented on #8886
Fix merged

[2020-04-30 08:33] #8886 closed, assigned to nobody

[2020-04-30 08:34] raver119 commented on #8877
Issue resolved by skipping mkldnn if 2D output array has F order, or any 3D input/output array has non-C order.

[2020-04-30 08:34] #8877 closed, assigned to nobody

[2020-05-01 00:11] saudet commented on #8747
The changes from commit https://github.com/bytedeco/javacpp-presets/commit/cb0031563cb2e5d0dcf7d22791ba4fcec7ce827c have been deployed.
Please give it a try with 0.3.9-1.5.4-SNAPSHOT: http://bytedeco.org/builds/

[2020-05-01 00:46] AlexDBlack opened #8897 "CI able to pull in sonatype snapshots (even for removed modules)"
We've had a couple of situations recently where a module was removed, but the dependency was still used/referenced somewhere.
Also a couple of modules were relocated (moved within another module) but the pom.xml modules section was never updated (hence the sub-modules were never built - effectively removed)

The problem is: the build was fine both locally (due to local maven install and/or snapsho

[2020-05-01 01:03] msinev commented on #8895
Nice

[2020-05-01 05:32] AlexDBlack commented on #8747
ND4J tests (including those that were consistently crashing on this system) are confirmed passing on 3990x with Linux (ubuntu 20.04) with the following version modifications:
https://github.com/KonduitAI/deeplearning4j/compare/master...KonduitAI:ab_openblas_test?expand=1

[2020-05-01 05:39] raver119 commented on #8747
Everything is fine on 3950 and 3970 as well 👍

[2020-05-01 05:39] #8747 closed, assigned to saudet

[2020-05-01 08:29] atuzhykov opened #8898 "SameDiff: TF import issue - primitive_gru"
Running `TFGraphTestsAllSameDiff.java` for primitive_gru op following exception (probably on cpp level) sometimes happens: [stacktrace](https://gist.github.com/atuzhykov/8e17d6dbd2650bf3e426a7158d7407bf)

deeplearning4j version - latest master (01.05.2020)
platform: Xubuntu 18.04, CPU Intel i3 8GB

[2020-05-01 14:36] FredericKayser opened #8900 "java.lang.UnsatisfiedLinkError: 'org.nd4j.nativeblas.OpaqueDataBuffer (Raspberry Pi 4, 1.0.0-SNAPSHOT)"
#### Issue Description

By calling the method init() of the MultiLayerNetwork class on my Raspberry Pi 4 I am getting an exception(see below). Testing the program on my computer(macOS Catalina) doesn't cause any issues.

#### Version Information

Please indicate relevant versions, including, if relevant:

* DL4J Version: 1.0.0-SNAPSHOT
* Raspbian GNU/Linux 10 (buster)
* OpenJDK version "11.0.7" 20

[2020-05-01 14:38] raver119 commented on #8900
Typically that’s the sign of versions clash. Share your pom.xml please

[2020-05-01 14:58] FredericKayser commented on #8900
This is my pom.xml:

https://gist.github.com/FredericKayser/b147b75a47a11909c0905dbb63e5bb63

EDIT: Here should be mentioned that I package the project on the Raspberry Pi with Maven to follow your advise(https://deeplearning4j.konduit.ai/config/config-snapshots) and use 'nd4j-native' and not 'nd4j-native-platform'.

[2020-05-01 16:22] treo commented on #8900
Can you re-pull the snapshots (using -U parameter when calling mvn)? It doesn't happen often, but you might have gotten Snapshots that were in between updates.

[2020-05-01 16:42] FredericKayser commented on #8900
So I've re-pulled the snapshots a few minutes ago, I got the same exception. I used the -U parameter before too, so probably this isn't the problem.

[2020-05-01 16:46] raver119 commented on #8900
@sshepel are we sure arm binaries are successfully built in CI/CD?

[2020-05-01 16:59] sshepel commented on #8900
Well from the build log, I can see that at least gcc was picked right...

Latest artifact that I can see on sonatypenexus is: `nd4j-native-1.0.0-20200501.092107-18222-linux-armhf.jar`

[2020-05-01 17:52] treo opened #8901 "SameDiffLoss: SameDiff complains that no variable has been explicitly set as the loss"
#### Issue Description
When using SameDiffLoss, this warning is logged:

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-SNAPSHOT

[2020-05-01 18:40] raver119 commented on #8900
I'm not quite sure how it's possible. OpaqueDataBuffer class is platform-independent. It's pure java.

[2020-05-01 18:56] eraly opened #8902 "NPE on w2vec example"
Running with snapshots. Code [here](https://github.com/KonduitAI/deeplearning4j-examples-refactor/blob/master/cuda-specific-examples/src/main/java/org/deeplearning4j/examples/multigpu/advanced/w2vsentiment/ImdbReviewClassificationRNN.java#L64)

[code]

[2020-05-01 18:58] eraly opened #8903 "Gradient sharing mnist errors out"
Running with snapshots, no cudnn

Code [here](https://github.com/KonduitAI/deeplearning4j-examples-refactor/blob/master/cuda-specific-examples/src/main/java/org/deeplearning4j/examples/multigpu/quickstart/GradientsSharingLeNetMNIST.java#L48)

[code]

[2020-05-01 18:59] raver119 commented on #8902
Is it reproducible on CPU?

[2020-05-01 19:04] eraly commented on #8902
Will check

[2020-05-01 19:18] raver119 commented on #8902
Pure Java issue by the looks of it. Added null check to iterator constructor.

[2020-05-01 19:41] treo commented on #8900
@FredericKayser
Can you share the output of your mvn build with us? And ideally also the names of the nd4j related jar files in your maven cache.

The missing file should be in nd4j-native-api-1.0.0-20200501.125842-27039.jar and that file should have an md5sum of `4f6f502137f6b91e89d2cccbb699a828`

[2020-05-01 20:45] eraly commented on #8902
Closing. Also changed example to automatically run presave. Thank you @raver119

[2020-05-01 20:45] #8902 closed, assigned to nobody

[2020-05-01 20:49] FredericKayser commented on #8900
Well, it took me a while too find the correct files, but here are my nd4j related jar files:

#### nd4j-api
nd4j-api-1.0.0-20200501.102357-27416.jar
nd4j-api-1.0.0-20200501.123354-27417.jar
nd4j-api-1.0.0-20200501.125856-27418.jar
nd4j-api-1.0.0-SNAPSHOT.jar

#### nd4j-common
nd4j-common-1.0.0-20200501.102121-26713.jar
nd4j-common-1.0.0-20200501.123230-26714.jar
nd4j-common-1.0.0-20200501.125813-2

[2020-05-01 23:25] eraly opened #8904 "Glove example errors out"
Originally filed under examples which are not tracked. Seeing on snapshots.

[code]

[2020-05-01 23:30] saudet commented on #8900
What does `mvn dependency:tree` look like?

[2020-05-02 03:17] saudet commented on #8900
It looks like `libgomp.so.1` isn't getting bundled, and it's probably what we're going to find in the log somewhere.

@sshepel Please add the directory containing that file to `java.library.path` when calling `mvn`, something like this: https://github.com/bytedeco/javacpp-presets/blob/master/ci/install-travis.sh#L188

[2020-05-02 06:01] AlexDBlack opened #8906 "ND4J CI: Windows CUDA JVM Crash in nd4j-tests (merge_max op?)"
I've seen this exact same crash now on two separate CI runs in a row on master now:
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-425/2/pipeline/907/

[code]

Second: (note no validation error this time)
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-426/1/pipeline/994
[code]

As for which test specifically -

[2020-05-02 06:07] AlexDBlack opened #8907 "deeplearning4j-graph CI: JVM Crash - Linux CUDA 10.0"
Happening intermittently - not every run.

https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-427/2/pipeline

[code]

[2020-05-02 07:26] AlexDBlack commented on #8906
4 full runs of nd4j-tests locally on Windows CUDA 10.2 + Titan X - no crashes, all tests pass.
So, probably not reproducible for me.

[2020-05-02 07:31] raver119 commented on #8906
I'm running tests on linux, no issues as well.

[2020-05-02 07:31] raver119 commented on #8906
Maybe it's time to bring up some windows vm with k80...

[2020-05-02 07:40] FredericKayser commented on #8900
Here is the dependency tree: https://gist.github.com/FredericKayser/1e6c461d48af45df7f30822ff96f4963

[2020-05-02 09:02] raver119 commented on #8906
Not reproducible on windows + 2080 Ti as well

[2020-05-02 09:47] saudet commented on #8900
@FredericKayser Thanks! If you install `libgomp.so.1` on the system, it will most likely work.

[2020-05-02 10:14] AlexDBlack commented on #8907
Not reproducible locally in Windows 10 + Titan X + CUDA 10.2
I've run the full deeplearning4j-graph test suite 40 times via maven - no issues.

[2020-05-02 10:23] FredericKayser commented on #8900
Thank you very, very much! It is now working!

[2020-05-02 10:23] #8900 closed, assigned to sshepel

[2020-05-03 17:32] sascha08-15 opened #8909 "Nd4j.getMemoryManager().memcpy does not check buffer type"
#### Issue Description

Migration of an INDArray to a workspaces by invoking `migrate()` ends up with wrong values. Traced the issue to the way how memcpy dealing with type information, i.e. it is ignoring the type info on INDArrays. But that also may be a design question.
**In any case:**
- expected behavior: When I do migrate to another workspace, expecation is to end up with the same values.
-

[2020-05-03 18:14] raver119 commented on #8909
Yes, clearly a bug. But not related to memcpy.

Thanks for flagging this issue

[2020-05-03 18:18] raver119 commented on #8909
Fixed. Will be merged once CI happy.

[2020-05-03 18:18] #8909 closed, assigned to raver119

[2020-05-04 00:57] AlexDBlack commented on #8906
I've finally managed to reproduce this on a Windows K80 machine.

What we know so far:
- It's an intermittent issue - not every run
- Seems to impact Windows CUDA only - 10.0, 10.2 at least
- "Normal" install + running - doesn't reproduce it
- CI-style build + normal test (of just nd4j-tests) - DOES reproduce it (command below).

Therefore the conclusion so far is that it to be something to do wit

[2020-05-04 01:38] saudet commented on #8906
Visual Studio 2015 is old, that should be upgraded to 2017.

[2020-05-04 02:01] AlexDBlack commented on #8906
The reason we're using VS 2015 is for CUDA 10.0
Though looking at the docs again - CUDA 10.0 apparently does support VS 2017 (at least with updates)? cc @sshepel ?
See table pg4/2: https://developer.download.nvidia.com/compute/cuda/10.0/Prod/docs/sidebar/CUDA_Installation_Guide_Windows.pdf

The same issue also happens with 10.2 on CI (using VS 2019), so it's not simply an issue of old VS version.

[2020-05-04 04:05] AlexDBlack commented on #8881
Another instance of this: datavec-data-image
According to Maven: 47 tests
[code]
According to Intellij: 56 tests
![image](https://user-images.githubusercontent.com/2360237/80935507-47983600-8e10-11ea-93d6-46a896aa03be.png)

[2020-05-04 05:05] AlexDBlack opened #8910 "datavec-data-image + CUDA: JVM crash on TestNativeImageLoader.testConvertPix"
Fails locally for me - passes on CI.
Originally I thought it wasn't being run on CI due to this: https://github.com/eclipse/deeplearning4j/issues/8881#issuecomment-623247106
However it is reproducible without fixing that issue.
Also not introduced by my NHWC PR recently - still fails as of commit hash 4dbdaca967dd9393c0de7df5f8edead74e0dbb7a (`Add support for registering custom loss functions for

[2020-05-04 05:11] raver119 commented on #8910
This is duplicate issue.

[2020-05-04 05:12] raver119 commented on #8910
https://github.com/eclipse/deeplearning4j/issues/8785

[2020-05-04 06:23] sshepel commented on #8906
@AlexDBlack ok, I can try to create an image wtih CUDA 10.0 and VS2017, but last time when we tried this there were some errors during the build...

[2020-05-04 19:05] treo opened #8911 "ARM64: Calculations sometimes go to NaN"
#### Issue Description
I was running the MNISTSingleLayer example as a way to try out the new ARM64 support.

Interestingly, it doesn't always go to NaN. It is easier to trigger that behavior with less assigned memory, i.e. it almost always does that when -Xmx1g less is used but with -Xmx3g it still happens in about 50% of the runs.

When an armhf based distribution (e.g. Raspbian Buster) is used

[2020-05-05 01:55] AlexDBlack opened #8912 "libnd4j: Review and reduce binary size & baseline memory use"
We want to review the libnd4j binary size and reduce it - for two reasons.
(a) To reduce binary file size
(b) To reduce the minimum memory requirements/consumption (i.e., how much memory we consume just to initialize our libraries).

The former (i.e., (b)) will be important for low-memory edge devices such as Jetson Nano and Raspberry Pi that typically have 4GB (or less for some models).

First ne

[2020-05-05 02:08] AlexDBlack opened #8913 "All projects: Adapt tests (profiles, memory limits, skips etc) for low-memory edge devices"
The idea: We want to be able to run a sizable fraction of our unit tests (libnd4j, ND4J, DataVec and Deeplearning4j) on lower memory devices such as Jetson Nano and Raspberry Pi.

This is necessary to verify correctness and detect bugs

Clearly, at present there are many unit tests that simply cannot run on a system with 4GB of memory. For those, we will need to do some of the following:
(a) Condi

[2020-05-05 02:24] #8901 closed, assigned to AlexDBlack

[2020-05-05 02:27] AlexDBlack opened #8914 "libnd4j: C++ graph executor fixes/enhancements"
Already underway - https://github.com/KonduitAI/deeplearning4j/pull/348

Opening this issue mainly for tracking/discussion purposes.
Motivations are performance, memory use and correctness.

Once complete we should also run through the full import test suite (from Java) using this executor to verify it.

[2020-05-05 03:22] AlexDBlack opened #8915 "libnd4j/ND4J/SameDiff: Add quantized integer datatypes (qint8, etc)"
The full set of quantized types: qint8, qint16, qint32, qint8, quint16, quint32

For now, I suggest we focus on qint8 only. This is the most common by far. Larger sizes (qint16, qint32) might as well just use FP16 or FP32, and quint types seem to be redundant and not widely used?

Note: For some devices, INT8 performance is actually worse than FP16 - around 0.6x of FP16 performance
This includes:

[2020-05-05 04:11] AlexDBlack opened #8916 "SameDiff: Add graph optimizer (initial implementation + cuDNN)"
Basic work has started here: https://github.com/KonduitAI/deeplearning4j/pull/223

Essentially, in this initial step, we need:
(a) the core graph optimizer framework built out, and
(b) the basic optimizations implemented to support efficient use of cuDNN (mainly around weight formats)

[2020-05-05 04:15] AlexDBlack opened #8917 "SameDiff: Add utilities for easy float16 conversion"
Essentially, we want to ability to convert float32 graphs to float16 for faster execution and reduced memory use.

This is relatively straightforward in principle - just loop over the variables, update them to float16, and recalculate the datatypes of each variable - but we need a way to do it in 1 or at most 2 lines.

[2020-05-05 04:25] AlexDBlack opened #8918 "libnd4j: Add utility methods for loading arrays from SavedModel protobuf"
Currently, in SameDiff TensorFlow import: we can't load SavedModel format models.

In principle, adding this isn't hard, but the main blocker at this point is loading the NDArray values. Our existing frozen model import can easily be adapted to SavedModel other than this.
We don't want to have a full TensorFlow dependency in ND4J just for loading SavedModel format arrays - hence we will add a simp

[2020-05-05 04:44] AlexDBlack opened #8919 "SameDiff: Regenerate TF import tests with TF 2.x and run"
We already have utilities for doing exactly this.
So it's simply a case of running it and seeing where we stand as far as TF2 ops changes vs. TF 1.13/15 - then of course logging issues and fixing as required.

[2020-05-05 10:58] atuzhykov opened #8921 "SameDiff: random_poisson and random_gamma ops need output datatype config"
During TF import testing the following issues was noticed

1. no int32/64 support for output datatype
2. libnd4j c++ op is restricted to have same datatype as input(1) array - tensorflow doesn't have this restriction (so: our op needs dtype arg for setting type of output array)
https://www.tensorflow.org/api_docs/python/tf/random/poisson

stacktrace
https://gist.github.com/atuzhykov/0715ae81541ccb

[2020-05-05 16:59] evaandres opened #8922 "Different prediction and tokenization using flask and DL4j"
#### Issue Description
I find some problems importing models training by tensorflow and keras python models. With flask the result is ok, but using deeplearning4j , the tokenization is different.
The problem could be the format of the tokenizer file. In Deeplearning4j the tokenization file should be a  json file, but in flask is a pickle file.

**Using Flask:**

[code]

**_The value of "sequences"

[2020-05-06 08:48] h2o64 opened #8924 "Keras import : java.lang.ClassCastException between org.deeplearning4j.nn.conf.layers.recurrent.LastTimeStep and org.deeplearning4j.nn.conf.layers.FeedForwardLayer"
#### Issue Description
 I am importing a Keras model that you can find on [this colab ](https://colab.research.google.com/drive/1tV5cFexR1iJJPI3ylFnWFtF2lMiMLiOa) using the following code :
[code]
and it returns me
[code]
#### Version Information

* Deeplearning4j version : 1.0.0-beta6
* Platform information : Ubuntu 19.04 (64 Bits)
* CUDA version : not used
* NVIDIA driver version : not used

###

[2020-05-06 09:31] h2o64 commented on #8924
This has been tested in the 1.0.0-SNAPSHOT of today and still outputs the same

[2020-05-06 10:07] treo commented on #8904
Duplicate of https://github.com/eclipse/deeplearning4j/issues/7855

[2020-05-06 10:07] #8904 closed, assigned to nobody

[2020-05-06 10:12] treo commented on #8924
It is using tf.keras functionality, so it isn't unexpected that it doesn't work with beta6, but I would have expected it to work with SNAPSHOTS.

Do you get the **exactly same** stacktrace with snapshots?

[2020-05-06 10:39] h2o64 commented on #8924
Hi, thank you for such a fast answer. Here is the stacktrace with 1.0.0-SNAPSHOT
[code]
which is very very similar. Here is the [pom.xml ](https://gist.github.com/h2o64/769ec9cb0fa6ca86bfdd6ae31516f902 )that I use.

UPDATE: I compared _release/1.0.0-beta6_ branch against _master_ branch and those lines are indeed the same.

[2020-05-06 12:30] treo commented on #8762
@eraly can you check whether this is fixed with Snapshots?

[2020-05-06 12:58] shyrma commented on #8824
Looks like we have one more nuance in MKLDNN lstm: bias presence is obligatory for this op.
When I don't pass biases into arguments list it throws exception "dnnl_unimplemented" here:
https://github.com/oneapi-src/oneDNN/blob/0f79bfc704e7add3673f0cfa3d4aacae516da393/include/dnnl.hpp#L3498
to work around this I added code passing biases in any way, and they are zeros when user doesn't provide them

[2020-05-06 15:26] h2o64 commented on #8924
@treo
After a lot of research, I think I understand the problem.
Here are my two LSTM layers
[code]
I printed them right after their creation in https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/KerasModel.java#L218 like that
[code]
Both of them are instances of _BaseWrapperLayer_ but it's a double

[2020-05-07 10:36] treo opened #8926 "MatMul Op only supports float typed inputs"
#### Issue Description
In principle there is no reason why integer inputs shouldn't be supported as well.

[code]
This fails with:
[code]

I think this is due to a restriction on just float data types here:
https://github.com/KonduitAI/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/blas/matmul.cpp#L139-L144

#### Version Information

Please indicate relevant versions, including,

[2020-05-07 10:47] AlexDBlack commented on #8926
Also: We need to add java-side tests for this :)

[2020-05-07 10:49] raver119 commented on #8926
https://github.com/KonduitAI/deeplearning4j/pull/436

[2020-05-07 14:00] h2o64 commented on #8924
So I fixed this bug as follows,
[code]
and now I get this :
[code]
It sounds very similar to https://github.com/eclipse/deeplearning4j/issues/4743, maybe @maxpumperla could help ?
~~It sounds like it's a problem with _MaskZero_ again... Waiting for confirmation~~ After removing the `mask_zero=True` parameters in my LSTM layers, I get the exact same error.
Thank you
PS: Here is the model without `m

[2020-05-07 15:53] treo commented on #8924
Thanks a lot for digging this deep.  Are you still using a beta6 based version? Or since you've actually did some changes to the code, have you moved to compiling from source and using master?

@AlexDBlack what do you think here?

[2020-05-07 17:46] h2o64 commented on #8924
I am using master as you advised. I'm compiling the library myself in order to debug. (I just tested my model without `mask_zero` on the latest snapshot and I get the same `InvalidInputTypeException` with the same stacktrace.)

[2020-05-08 05:36] AlexDBlack commented on #8890
Random JVM crash on linux-x86_64 in deeplearning4j-core - https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-438/1/pipeline

1 more instances of TestTransferStatsCollection.test:
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-438/1/pipeline/567

[2020-05-08 09:34] printomi commented on #8891
I managed to crash this test on my Windows 10 PC, Java 8u241. Here are some logs:
https://gist.github.com/printomi/b004a345a4b708037a38ba04d4cf8173
- The first log dates back to 14th April.
- The console output and the next log file (hs_err_pid8428.log) is the latest run.

Steps to reproduce:
- I haven't run `maven -U install` recently (for 2 days).
- In IntelliJ, I opened deeplearning4j-vertx.
-

[2020-05-08 10:58] AlexDBlack commented on #8921
Also random gamma:
https://github.com/eclipse/deeplearning4j/blob/9f523d6811243db673eba1d8930232bbbb3e92cc/libnd4j/include/ops/declarable/generic/random/gamma.cpp#L66

https://www.tensorflow.org/api_docs/python/tf/random/gamma

[2020-05-08 11:06] AlexDBlack opened #8927 "libnd4j: random_gamma op incorrect"
See gist for test and output. Mean and variance values are significantly different to what we would expect for the gamma distribution.
https://gist.github.com/AlexDBlack/cb968634150813c5b0ecac9bca85c7a5

Note also mean/variance significantly differs from TensorFlow random gamma operation

[2020-05-08 15:10] atuzhykov opened #8928 "libnd4j: decov3d_tf is missing"
Wa have following [exception](https://gist.github.com/atuzhykov/8d36e9be7bf401a32c8d8a4bd3c5746a) trying to launch `Conv3DBackpropInputV2 tests` in `TFGraphTestAllSameDiff.java ` (TF imports tests)

[2020-05-08 15:25] raver119 commented on #8928
I'm not quite sure where "deconv3d_tf" comes from. We don't have such op, and never had one. I think someobdy did copy/paste from deconv2d_tf wrapper with an assumption that 3d op exists too.

[2020-05-08 15:25] #8928 closed, assigned to nobody

[2020-05-08 18:00] raver119 commented on #8926
Should be fixed now. However, more tests never hurt.

[2020-05-08 18:00] #8926 closed, assigned to nobody

[2020-05-09 10:00] raver119 commented on #8903
Fixed

[2020-05-09 10:00] #8903 closed, assigned to raver119

[2020-05-11 09:24] #8871 closed, assigned to nobody

[2020-05-11 15:26] zhangy10 opened #8932 "Android gradle build error: java.lang.ArrayIndexOutOfBoundsException by 1.0.0-beta6"
#### Issue Description

Android gradle build error: java.lang.ArrayIndexOutOfBoundsException by 1.0.0-beta6.

Just try to update to beta6 in gradle, and the project can work well with beta4 or beta5.

Please double-check my gradle if any missing.

Many thanks.

#### Version Information

1.0.0-beta6
Mac Catalina 10.15.1

#### Additional Information

``` Caused by: java.lang.ArrayIndexOutOfBoundsExc

[2020-05-11 22:09] saudet commented on #8932
Please try again with 1.0.0-SNAPSHOT: https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-05-12 03:49] zhangy10 commented on #8932
Update: beta5 has the same issue and cannot compile the application correctly, but beta4 works fine. So, please double-check. Thanks.

[2020-05-12 05:40] saudet commented on #8932
Ah, it's a build error. Just updating the SDK to the latest version takes care of that.

[2020-05-12 07:20] zhangy10 commented on #8932
@saudet Yes, it's a build error, but the issue is still there after I updated the SDK. Here I put the full log down below.

It seems that the compile is ok, but I get this bug when I am trying to run the application. I use ``` compileSdkVersion 27```.

It looks like something related to the ``` multiDexEnabled true```. So, can you please double-check this for me.

Thanks.

[code]

I also update th

[2020-05-12 07:28] zhangy10 commented on #8932
@saudet This issue is similar to a previous one that you posted https://github.com/eclipse/eclipse-collections/issues/510, please also check it out.

[2020-05-12 07:37] saudet commented on #8932
Yes, that's an issue with your version of the SDK. You'll need to figure out why it's not using the latest version...

[2020-05-12 08:37] zhangy10 commented on #8932
@saudet All right, thanks for that. I will check that and make sure to use the right version.

[2020-05-12 09:19] shyrma commented on #8569
done!

[2020-05-12 09:20] shyrma commented on #8824
corresponding changes are in master already

[2020-05-12 09:20] shyrma commented on #8832
done!

[2020-05-12 09:21] shyrma commented on #8874
cleaned up!

[2020-05-12 09:46] shyrma commented on #8880
corrected, now only integers types are allowed for output both on cpu and gpu.

[2020-05-12 11:36] atuzhykov opened #8940 "libnd4j: compare_and_bitpack returns incorrect shapes"
compare_and_bitpack op we expect returned shape divided by 8 but got without dividing
for INT64 datatype input of shape [16] we are getting shape [8] output instead of shape [2] output
stacktrace:
https://gist.github.com/atuzhykov/d7101ef23c5a086deaacfc3f800dd7b4
op description
https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/compare-and-bitpack

[2020-05-12 13:06] mateuszbugaj opened #8942 "Exception thrown while loading some *.h5 keras models with deeplearning4j 1.0.0-beta6"
#### Issue Description
I'm training models in keras and trying to use them in Java with dl4j and have encountered some unpredictable behavior. Some models successfully load while others throw `java.lang.NullPointerException`.
For example keras model from XOR example that looks like this:
[code]
will load and work just fine while model from iris classification example that looks like this:
[code]
w

[2020-05-12 14:20] atuzhykov opened #8943 "libnd4j: max_pool_with_argmax operation needs to support integer types (for TF import)"
The max_pool_with_argmax operation supports the following datatypes in tensorflow:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/resources/ops.proto#L17816
[code]
Our implementation does not seem to support integer datatypes.
For INT32 and INT64 dtypes of INPUT_VARIABLE  we have exception
Isolated test and stacktrace:
https://gist.github

[2020-05-12 15:37] AlexDBlack commented on #8890
linux-x86_64-cuda-10.0
[code]

[log (1).txt](https://github.com/eclipse/deeplearning4j/files/4616598/log.1.txt)

Edit: also:
[code]

We've got basically the same tests setup in DL4J and SameDiff... not sure why it's a problem but possibly a long GC pause or something...

[2020-05-12 18:05] treo opened #8944 "Version Check doesn't work with Spring Boot Uberjar packaging"
When one of the libraries from the dl4j family is used in a spring boot application that is packaged using the spring-boot-maven-plugin, it will fail to version check if other libraries from the family are using the same version.

This will show itself as one or more exceptions like the following:
[code]
This happens because Spring Boot is packaging actual jar files within the main jar file in con

[2020-05-12 19:28] mateuszbugaj commented on #8942
Ok, I got this. The issue is that in the first layer input dimension have to be specified and I didn't know about it. Now it loads every time from what I see.

[2020-05-13 08:51] treo commented on #8911
Some additional testing was done:

The same behavior can also be reproduced on a Jetson Nano, and on the Huawei Cloud.

It appears to only affect openblas GEMM, as I didn't manage to reproduce it with the entire nd4j fallback enabled (env: `ND4J_FALLBACK=1 SD_BLAS_FALLBACK=1`).

At first the Huawei Cloud Server did manage to run for hundreds of iterations before going to NaN, but on additional tri

[2020-05-13 09:22] atuzhykov opened #8946 "SameDiff: TF import - NonMaxSuppressionV4/V5 issue"
NonMaxSuppresionV4 and V5 testcases in TFGraphAllTestsSamediff fails with exception  type
`java.lang.IllegalStateException: Requested output variable NonMaxSuppressionV4:1 does not exist in SameDiff instance`

1. [stacktrace for V4](https://gist.github.com/atuzhykov/1e47697d9a088fc8807b8acef34518f6)
2. [stacktrace for V5](https://gist.github.com/atuzhykov/fb89588b77f6c349169cf59a3b240e92)

[2020-05-13 09:34] atuzhykov opened #8947 "libnd4j: non_max_suppression_v3 does not fit to TF NonMaxSuppressionV4/V5"
1.  [NonMaxSuppressionV4](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/non-max-suppression-v4) has 2 outputs (`selected_indices` and `valid_outputs`), although our op has only 1 (`selected_indices`)
2. [NonMaxSuppressionV5](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/non-max-suppression-v5) has 3 outputs (`selected_indices`, `selected_scores` and `valid_outputs`), al

[2020-05-13 10:24] saudet commented on #8911
So it's an issue with OpenBLAS?

[2020-05-13 10:31] treo commented on #8911
Yes, it appears to be. Maybe related to https://github.com/xianyi/OpenBLAS/issues/2496

[2020-05-13 11:25] raver119 commented on #8936
Fixed here: https://github.com/KonduitAI/deeplearning4j/pull/461

[2020-05-13 11:25] #8936 closed, assigned to raver119

[2020-05-13 13:03] AlexDBlack opened #8948 "DL4J Keras import: shared activation layers"
Currently if a user reuses an activation instance it'll be considered a shared layer by Keras, even though it doesn't make a lot of sense to do so (instead of simply creating a copy of the activation function)

https://community.konduit.ai/t/can-not-import-models-from-keras/510/10
https://gist.github.com/AlexDBlack/9100f75d35e40636eac8675d157b860a

In general we won't support shared layers in DL4J

[2020-05-14 12:05] zhangy10 opened #8951 "Android Model Loading Error with 1.0.0-beta6"
#### Issue Description

I got a runtime bug after updating the version to the latest 1.0.0-beta6. Please double-check the below log. It crashes when I am trying to normally load a model for inference.

It seems to be the ```multidex``` issue, and it cannot find the class "org.slf4j.LoggerFactory", but I have tried the solutions and they didn't work.

1.0.0-beta4 doesn't have this issue, and both 1

[2020-05-14 13:42] zhangy10 commented on #8951
Upate: training also has a similar issue that the class cannot be found, please see below.

[code]

[2020-05-14 22:15] LunaMK opened #8952 "Android Studio : load word2vec model error"
##  I need to connect my code in python with android
### so I try to load own model by:

File model = new File("model.bin");
Word2Vec vec = WordVectorSerializer.readWord2VecModel(model);

##### so i get this error:

java.lang.NoClassDefFoundError: Failed resolution of: Lorg/slf4j/LoggerFactory;
at org.deeplearning4j.models.embeddings.loader.WordVectorSerializer.<clinit>(WordVectorSerializer.java:1

[2020-05-14 22:56] saudet commented on #8951
Please try again with 1.0.0-beta7.

[2020-05-15 03:54] AlexDBlack opened #8953 "CI: JVM crash in EvalJsonTest"
we've seen this a number of times now on CI.

No crash log seems to be produced.

Problem is not reproducible locally on:
* Windows 10 + CPU (3990x)
* Ubuntu 20.04 + CPU (5930k)

[2020-05-15 04:27] zhangy10 commented on #8951
@saudet After trying the beta7, it seems I get the build error again. I already use the latest SDK and android studio, and beta6 and beta5 can work without this error.

I also put the gradle code and please double-check if anything is missing. Thanks.

[code]

[code]

[2020-05-15 04:30] saudet commented on #8951
@RobAltena Where are your working example projects?

[2020-05-15 05:34] #8890 closed, assigned to nobody

[2020-05-15 08:26] zhangy10 commented on #8951
@saudet I tried the example, which is the DL4JIrisClassifierDemo with the beta7 config. But, I get new build errors, and please check down below. I didn't modify any things.

[code]

[2020-05-15 08:42] zhangy10 commented on #8951
@saudet Update, I test beta6 works well using this example. So, the beta7 still shows the above build errors.

[2020-05-15 08:58] zhangy10 commented on #8951
@saudet After some updates compared with the example, my app works well with beta6. So, all good for me. But, beta7 still has build errors. So, please double-check that.

Thanks again.

[2020-05-15 09:39] atuzhykov opened #8954 "libnd4j: Mod operation sometimes failing on float32/64"
During TF import tests was noticed mod op failing on floating point dtypes
[Isolated test and stacktrace](https://gist.github.com/atuzhykov/ee768184d7c274b0dbddd5ea216af39c)

upd.
odd observation
this code fragment passed test
[code]
this not
[code]

[2020-05-15 20:23] Ben-Epstein opened #8955 "Keras RNN Import Error"
#### Issue Description

Trying to import a Keras LSTM model from a ByteArrayInputStream of an hdf5, but it fails with `Unsupported keras layer type RNN. Please file an issue at https://github.com/eclipse/deeplearning4j/issues.`

The reason I'm importing from an InputStream and not from a file is because I will be getting the model hdf5 from a remote location in production (a database), so I cannot

[2020-05-16 04:50] madhs53 opened #8956 "CentersHolder not serializable"
ClusterSet is serializable but when attempting to serialize it the following exception occurs:

java.io.NotSerializableException: org.deeplearning4j.clustering.cluster.CentersHolder

DL4J beta6.

[2020-05-16 05:00] madhs53 opened #8957 "NaN producted by cosinesimilarity operation when point is at zero"
Using k-means clustering can produce a NaN distance if any Point provided has all '0' values at each dimension. Such a point is still valid, but results in a divide-by-zero in the cosinesimilarity operation.

Note that some other implementations such as Apache check for this and return a result of zero before the division.

[2020-05-16 05:32] madhs53 opened #8958 "Suggestion: Silhouette Coefficient calculation on GPU"
Hi DL4J team,

Just wondering if it would be possible to increase performance of calculating the silhouette coefficient (ie. on a ClusterSet) by running these operations GPU. Calculating this score is very computationally expensive. On experiments we've run it can take 3 times as long to compute this score as it takes to generate the ClusterSet.

[2020-05-16 07:46] raver119 commented on #8954
Exception comes from integer division by zero.

That was a legacy consideration: Mod op was integer mod. FMod was separate floating-point implementation. Now mod works in the same way as FMod, and accepts both integer and floating point arguments. However, division by zero is still a bad idea for integer data types.

[2020-05-16 07:46] #8954 closed, assigned to raver119

[2020-05-16 12:45] AlexDBlack commented on #8312
New design has been created and merged here: https://github.com/KonduitAI/deeplearning4j/pull/467
Now it's simply a case of implementing that design.

[2020-05-18 10:13] nitin2212 opened #8959 "Failed to execute goal org.bytedeco:javacpp:1.5.3:build (javacpp-cppbuild-compile) on project libnd4j"
#### Issue Description

Please describe our issue, along with:
Executing mvn clean install throw this error

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version : 4
* Platform information (OS - Linux)
* CUDA version, if used- No
* NVIDIA driver version, if in use - No

#### Additional Information

Where applicable, please also provide:

Fa

[2020-05-18 11:36] atuzhykov opened #8960 "TF import / Nd4j : sort issue on CUDA"
During TF import tests was noticed, that `Nd4j.sort` method returns incorrect array (prelast element can be the same as next or previous). For e.g. take a look how sorted shuffled before array for TF and SD.
[code]
Also take a note for different implementations of `sort` for [CPU](https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native/src/main/java/

[2020-05-18 11:57] raver119 commented on #8960
1. How Nd4j.sort is related to SameDiff tests? Not quire following.
2. Can i see actual code that reproduces issue with Nd4.sort please?

[2020-05-18 12:20] atuzhykov commented on #8960
1. to compare results of tensorflow and samediff random_shuffle op I use
[code]
and this returns me in CI log

[code]
2.
[code]
but looks for even on some CUDA devices test can pass
 cc @AlexDBlack

[2020-05-18 12:25] treo commented on #8959
As a normal user, you don't have to build Deeplearning4j to use it. You can use it directly by specifying it as a dependency in your build tool.

Overall, we can't help you with the provided information. Please share a bit more about what you have tried doing, the full build log and why you are trying to build from source in the first place.

Also, there is no Deeplearning4J 4.

[2020-05-18 12:27] raver119 commented on #8960
As far as I understand, it also passes with longer arrays?

How about this test> https://github.com/KonduitAI/deeplearning4j/blob/69d91e272a5df21b763d80b5e11fe9f10d178fac/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/linalg/Nd4jTestsC.java#L5303-L5316

Also, what's your gpu model name on the system where your test fails?

[2020-05-18 12:33] atuzhykov commented on #8960
I see this bug only on CI, locally I have not gpu
Also Alex launched code for reproducing mentioned above on local gpu and test passed

[2020-05-18 12:34] raver119 commented on #8960
Okay, great. So this means yes, longer test passes.

[2020-05-19 06:36] AlexDBlack opened #8961 "ND4J: concat op fails with 3073 or more inputs on CPU"
**NOTE: A workaround is available** - this is a MKLDNN (OneDNN / DNNL)-specific issue.
`Nd4j.getEnvironment().allowHelpers(false);`
This can be set temporarily if the large concatenation is only performed once (for example, in word vectors loading).

-----

CUDA is fine. CPU fails.

With 3072 input arrays: test case is fine on CPU also. With 3073 or more: it fails.

Also we should put a limit on t

[2020-05-19 08:27] basedrhys opened #8962 "Multiply activations of different shapes?"
#### Issue Description

Is there some way for a layer to multiply activations of different size?
I'm trying to load the EfficientNet family of models using DL4J, however, they use a "Squeeze and Excite" block:

![image](https://user-images.githubusercontent.com/21359576/82302700-0f971280-9a0e-11ea-8a61-a67bc8734f9b.png)

The `Scale` block multiplies 1x1xC activations with WxHxC activations, result

[2020-05-19 08:46] raver119 commented on #8962
This looks like a regular broadcasting, and definitely it should work. At least it definitely does in underlying libnd4j/ND4j.

cc @AlexDBlack

[2020-05-19 11:51] AlexDBlack opened #8963 "SameDiff TF import tests: Set RNG seed for all tests for consistency"
Some of the new random distribution import tests are failing randomly as the SameDiff RNG seed is not set.
This requires SameDiff graph-level RNG control to be implemented properly first.

[2020-05-19 12:12] AlexDBlack commented on #8962
ElementWiseVertex forward pass itself should support that... but clearly `ElementWiseVertex.getOutputType(ElementWiseVertex.java:162)` itself does not.

If you were building the network from scratch (not via Keras import), there's an easy workaround in the form of SameDiffLambdaVertex (i.e., use that instead of ElementWiseVertex)... unfortunately that doesn't help here.

If you are building the ne

[2020-05-19 14:18] AlexDBlack opened #8964 "CI - intermittent test timeouts"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-435/8/pipeline/754

[code]

[log (3).txt](https://github.com/eclipse/deeplearning4j/files/4651029/log.3.txt)

[2020-05-19 14:37] Ben-Epstein opened #8965 "Documentation bug"
#### Issue Description

Documentation [here](https://deeplearning4j.konduit.ai/samediff/importing-tensorflow#finding-the-model-input-outputs-and-running-inference) states that you pass in a `List<String>, INDArray` for the `input` and `output` functions, but when I tried that I get the error
```error: no suitable method found for input(List<String>,INDArray)```

Looking at the docs [here](https://

[2020-05-19 14:46] treo commented on #8965
You are right, the documentation was misleading at that point. It shouldn't be reusing the `inputs` variable that was defined above. I changed it to state `.input(inputName, inputArray)` instead.

[2020-05-19 14:46] #8965 closed, assigned to nobody

[2020-05-19 15:33] Ben-Epstein commented on #8955
Are there any ideas on this issue?

[2020-05-19 16:18] Ben-Epstein opened #8966 "Extremely slow load time on LSTM Keras model"
#### Issue Description
When creating relatively large LSTM models (~200 mb), it takes ~45 seconds to load the model. Models of ~40mb take 800 ms

**Code to reproduce**
Python code to create a model (taken from https://adventuresinmachinelearning.com/keras-lstm-tutorial/)
[code]
The model is 138MB

My Code to read and Evaluate a model
[code]
Output:
[code]

The same code for a model of 50mb took 80

[2020-05-19 18:57] raver119 commented on #8961
Fixed. Seems to be MKLDNN limitation.

[2020-05-19 18:57] #8961 closed, assigned to nobody

[2020-05-20 01:25] basedrhys commented on #8962
Thanks for the quick replies, that sort of info is what I was after so I'll give the broadcasting a shot - thanks!

[2020-05-20 01:25] #8962 closed, assigned to nobody

[2020-05-20 07:34] nitin2212 opened #8967 "Fetching Layers conf in JSON from Zoo Models"
I need all layers conf as JSON array from a Zoo models which are implemented either using Multi-Layer (like AlexNet) or GraphBuilder (like ResNet50).

For **AlexNet**, I do the following :

_ZooModel zooModel = AlexNet.builder()
            .numClasses(1000)
            .seed(124)
            .build();
        MultiLayerConfiguration net = ((AlexNet) zooModel).conf();
        MultiLayerNetwork mn

[2020-05-20 09:22] #8967 closed, assigned to nobody

[2020-05-20 11:08] AlexDBlack opened #8968 "SameDiff profiler JSON format issue + performance issue"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/listeners/profiler/data/TraceEvent.java#L43

Should be `String cat` not `List<String> categories` to comply with the chrome profiler format
https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/edit

[2020-05-20 14:21] alexanderst commented on #8968
It might be useful to make SameDiff profiler available in API for re-usage and inheritance in another modules. There's useful basic implementation of async file writer.

[2020-05-20 14:28] AlexDBlack commented on #8968
This component of the code also needs to be fixed - we don't want the delay/overhead of sleep/flush in the master thread.
https://github.com/KonduitAI/deeplearning4j/blob/88d3c4867fb87ec760b445c6b9459ecf353cec47/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/listeners/profiler/ProfilingListener.java#L159-L175

[2020-05-21 01:25] nimishatandon opened #8969 "LSTM failing on GPU with cudaMalloc failed runtime exception"
#### Issue Description
Am training an LSTM classifier ( which worked perfectly well on CPU) on a GPU server and it is failing with a run-time exception for cudaMalloc failed.

#### Version Information
Cuda with Cudnn version 10.0
Dl4j and Nd4j version - Beta6

* Platform - Linux
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please also provide : attached a snap

[2020-05-21 01:29] nimishatandon commented on #8969
#
![IMG_20200520_181621](https://user-images.githubusercontent.com/56741349/82513349-99ef7d00-9ac7-11ea-84b2-883ff177e7a9.jpg)

[2020-05-21 01:42] sascha08-15 commented on #8969
1) you know, you can take "actual" screenshots on almost any OS, or?  ;)
2) It all depends on the memory configuration - so if anyone here should be able to help you, you need to provide those details. RAM of CPU used. VRAM of your GPU. The preferences for JavaCPP is also helpful as far as I saw in other issue descriptions.

I had a similar problem and constantly experiencing some memory - let's s

[2020-05-21 01:51] sascha08-15 commented on #8969
And btw. you may use nvidia-smi to actually monitor your GPU (incl. memory allocation). What I assume, it would have shown then, is, that you GPU memory was almost full such that the malloc of that exception above fails.

[2020-05-21 04:59] raver119 commented on #8969
1. Please try the latest dl4j/nd4j version, which is 1.0.0-beta7
2. If the problem is reproducible there - please show us all the output you'll get there. You can do that by copying it into service like https://gist.github.com/

[2020-05-21 13:56] AlexDBlack opened #8970 "SameDiff: add SameDiff.close() method"
MultiLayerNetwork.close() and ComputationGraph.close() - recently added.
These methods deallocate all memory (parameters, updaters, workspaces etc) immediately rather than relying on GC to do it (after clearing all references to model).

[2020-05-22 07:41] ticofab commented on #8744
I am really sorry I haven't been able to setup the system to reproduce this. I would close it for now. Thank you for you attention and efforts.

[2020-05-22 07:41] #8744 closed, assigned to sshepel

[2020-05-23 08:34] dayong0325 opened #8974 "the JVM crashes"
#### Issue Description
jvm crashes
#### Version Information

use: nd4j-native-platform
version: 1.0.0-beta6
The operating system：Linux version 3.10.0-693.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) ) #1 SMP Tue Aug 22 21:09:27 UTC 2017

[hs_err_pid51585.log](https://github.com/eclipse/deeplearning4j/files/4671411/hs_err_pid51585.log)

[2020-05-23 08:37] raver119 commented on #8974
Can you do 2 things please?
1) Can you try your code with latest nd4j version, which is 1.0.0-beta7
2) Can you share the code that reproduces this crash?

[2020-05-24 01:04] basedrhys opened #8975 "New DL4J version breaks Keras model importing"
#### Issue Description

I've had a few issues with using some Keras models in DL4J after updating to the most recent version.

These are using .h5 files that can be found [here](https://github.com/basedrhys/wekaDeeplearning4j/releases/tag/zoo-models)

### First Issue: Keras models now load with incorrect channel ordering.

Loading a model (e.g., VGG16.h5) previously worked fine (in 1.0.0-beta6) an

[2020-05-24 06:52] treo commented on #8975
We had to change the default behavior on keras model import, as there were just too many edge cases when converting the data order.

The release notes contain some more information about that.
https://blog.konduit.ai/2020/05/14/deeplearning4j-1-0-0-beta7-released/#keras-import-improvements
https://blog.konduit.ai/2020/05/14/deeplearning4j-1-0-0-beta7-released/#keras-default-channel-order
https://d

[2020-05-24 07:47] treo commented on #8955
The RNN layer that is included in keras is "SimpleRNN" (see: https://keras.io/api/layers/recurrent_layers/)

I guess the RNN you are seeing in your model is using the `RNN(Cell)` functionality (see https://keras.io/guides/working_with_rnns/#rnn-layers-and-rnn-cells),

Can you share your model json? That should allow me to tell you more about how you might be able to work around this problem.

[2020-05-24 08:42] basedrhys commented on #8975
Hi,

Thanks for detailed answer.
As per the first point, I should've been more specific with my question sorry: what exactly does one call .setInputType() on? The ComputationGraph returned by `KerasModelImport.importKerasModelAndWeights` can't be altered in that manner, and the KerasModelBuilder doesn't have a `.setInputType` method either.
Do I need to convert the loaded ComputationGraph into a t

[2020-05-24 09:24] treo commented on #8975
As the model is fixed in your case, you have to change the data input, i.e. create your image record reader with nchw_channels_first = false.

Or, if you can't change that, you can permute the channels yourself, just like the image record reader would have done:
https://github.com/eclipse/deeplearning4j/blob/master/datavec/datavec-data/datavec-data-image/src/main/java/org/datavec/image/recordreade

[2020-05-24 19:24] basedrhys commented on #8975
That's fine to change it at the `ImageRecordReader` level - wasn't sure if there was a model change possible, although I'll look into saving the Keras models so that their channel order matches the DL4J models.

I don't think the crash is caused by this channel issue but caused by something changing when updating to the new version - line 493 shows some exception methods which need some more inves

[2020-05-24 19:24] #8975 closed, assigned to nobody

[2020-05-25 13:05] Ben-Epstein commented on #8955
@treo Thanks for the reply. I don't have the model JSON anymore (but if need be can recreate it). But the layer I used was the
[code]

If I understand what you're saying/the docs correctly, I need to change that outer layer with `tf.keras.layers.SimpleRNN`

Is that correct? Is there a reason why the standard RNN layer isn't supported?

Thanks!

[2020-05-25 13:20] treo commented on #8955
You should replace that with  `tf.keras.layers.LSTM(units)` instead.

It isn't the standard in a sense, the docs (https://keras.io/guides/working_with_rnns/) say:

And https://keras.io/api/layers/ doesn't even mention the RNN(Cell) structure at all.

For this reason, when we import Keras models, we support importing the layers, but not the composites that are based on RNN(Cell).

[2020-05-25 13:22] Ben-Epstein commented on #8955
Got it, thanks for the clarification!

[2020-05-25 13:22] #8955 closed, assigned to nobody

[2020-05-25 21:34] basedrhys opened #8976 "ImageRecordReader crashes JVM with loaded Keras model in 1.0.0-beta7"
#### Issue Description

I encountered a strange problem in 1.0.0-beta7 while trying to run a Keras model loaded from a .h5 file (e.g., VGG16.h5 [from here](https://github.com/basedrhys/wekaDeeplearning4j/releases/tag/zoo-models)) - this model previously ran fine in 1.0.0-beta6.

Calling `computationGraph.feedForward(features, false)` would crash the JVM ([error log](https://gist.github.com/basedrh

[2020-05-26 06:50] treo commented on #8800
This affects RL4J, as it uses a random value here: https://github.com/eclipse/deeplearning4j/blob/master/rl4j/rl4j-core/src/main/java/org/deeplearning4j/rl4j/policy/ACPolicy.java#L80-L86

I'm aware that it can be worked around with `<=` instead of `<` in this case, but breaking the generally valid assumption that the number never is going to be exactly 1 makes bugs like this hard to spot.

[2020-05-27 05:27] raver119 commented on #8969
@sascha08-15 got any news?

[2020-05-27 07:27] nimishatandon commented on #8969
Thanks guys for your inputs. I was calling the datasetloss calculator to calculate score on the train and test data set after every epoch which was causing it to go out of memory . Which then resulted in this error.

Getting rid of that in my loop helped me get rid of the error.

[2020-05-27 07:27] #8969 closed, assigned to nobody

[2020-05-27 10:44] treo opened #8977 "JVM Crash in heavily threaded environment"
#### Issue Description
While training an RL4J model, a user has reported JVM Crashes (https://community.konduit.ai/t/fatal-error-terminate-called-after-throwing-an-instance-of-std-runtime-error-what-bad-data-type/447/14)

I used the shared code to reproduce the issue, but I had to crank up the thread count to 128 in order to force the crash to appear early in the run.

The error logs of the user i

[2020-05-27 18:15] #8833 closed, assigned to nobody

[2020-05-28 17:35] cagneymoreau opened #8978 "windows rl4j example gym errors"
Below is an error and a solution to running the gym in a windows machine.

When trying to use the cartpole example I encountered this error.
https://github.com/eclipse/deeplearning4j/issues/6275

I followed the thread advice and loaded python 2.7 along side my python 3.7.
The cartpole example would work but it would not render and crashed after training when the visualizations are set to occur usi

[2020-05-28 21:23] nitin2212 opened #8980 "Does BatchNormalization in DL4J has bias or weights as parameters other than running mean or running var ?"
I wanted to see how BatchNorm implementation is different from other frameworks like PyTorch. PyTorch uses weight and bias by default while DL4J does not. I observed this using ResNet50 model param table.

Please help !

[2020-05-28 23:22] saudet commented on #8978
Please try with 1.0.0-beta7 or 1.0.0-SNAPSHOT. CPython now gets bundled, so
no need to worry about what is installed on your machine.

[2020-05-29 01:13] cagneymoreau commented on #8978
thanks!

[2020-05-29 01:13] #8978 closed, assigned to nobody

[2020-05-30 09:33] dayong0325 commented on #8974
Thank you for your advice，I tried the beta7 version and it didn't work，

This is my code：
        ExecutorService executorService = Executors.newFixedThreadPool(5);
        for (int i = 0 ; i < 5 ; i++) {
            executorService.submit(() -> {
                INDArray src = Nd4j.zeros(new int[]{1, 2});
                INDArray tmp = Nd4j.create(new float[]{3, 4}, 2);
                src.put(ND

[2020-06-01 05:52] nitin2212 opened #8981 "MAX Pooling instead of AVG Pooling in Resnet50 ?"
Why does DL4J Zoo models - **Resnet50** has Max Pooling instead of Avg Pooling in its last layer ?

**See Line 231**
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-zoo/src/main/java/org/deeplearning4j/zoo/model/ResNet50.java

[2020-06-01 13:07] AlexDBlack opened #8982 "DL4J: MobileNet v2 keras model issue"
Using this model here:
https://github.com/KonduitAI/dl4j-test-resources/tree/master/src/main/resources/modelimport/keras/examples/mobilenet

Most of the layers are imported as NHWC format.
But one of the layers seems to expect NCHW:
[code]

[2020-06-02 07:17] #8960 closed, assigned to raver119

[2020-06-02 11:14] #8800 closed, assigned to nobody

[2020-06-08 05:42] #8943 closed, assigned to raver119

[2020-06-08 05:43] #8874 closed, assigned to shyrma

[2020-06-08 05:44] #8832 closed, assigned to shyrma

[2020-06-08 05:45] #8826 closed, assigned to quickwritereader

[2020-06-08 10:14] #8921 closed, assigned to shugeo

[2020-06-26 11:12] #8959 closed, assigned to nobody

[2020-10-06 02:37] #8964 closed, assigned to AlexDBlack

[2020-10-06 02:44] #8980 closed, assigned to nobody

[2020-10-06 02:47] #8911 closed, assigned to nobody

[2020-10-06 02:55] #8951 closed, assigned to nobody

[2020-10-06 02:55] #8952 closed, assigned to nobody

[2020-10-06 02:55] #8942 closed, assigned to nobody

[2020-10-06 03:05] #8841 closed, assigned to nobody

[2020-10-06 03:07] #8855 closed, assigned to nobody

[2020-10-06 03:09] #8799 closed, assigned to nobody

[2020-10-06 03:10] #8811 closed, assigned to nobody

[2020-10-06 03:13] #8759 closed, assigned to nobody

[2020-10-06 03:15] #8775 closed, assigned to nobody

[2020-10-06 03:19] #8730 closed, assigned to nobody

[2020-10-06 03:22] #8741 closed, assigned to nobody

[2020-10-06 03:23] #8722 closed, assigned to nobody

[2020-10-06 03:26] #8710 closed, assigned to nobody

[2020-10-06 03:27] #8655 closed, assigned to nobody

[2020-10-06 03:30] #8627 closed, assigned to nobody

[2020-10-06 03:31] #8620 closed, assigned to nobody

[2020-10-06 03:32] #8610 closed, assigned to nobody

[2020-10-06 03:35] #8546 closed, assigned to nobody

[2020-10-06 03:35] #8501 closed, assigned to nobody

[2020-10-06 03:38] #8469 closed, assigned to nobody

[2020-10-06 03:39] #8387 closed, assigned to nobody

[2020-10-06 03:41] #8367 closed, assigned to nobody

[2020-10-06 03:44] #8358 closed, assigned to nobody

[2020-10-06 03:44] #8378 closed, assigned to sshepel

[2020-10-06 03:46] #8255 closed, assigned to nobody

[2020-10-06 03:46] #8278 closed, assigned to nobody

[2020-10-07 22:47] #8580 closed, assigned to nobody

[2020-12-20 05:09] #8796 closed, assigned to nobody

[2020-12-28 09:02] #8813 closed, assigned to quickwritereader

[2021-01-16 13:39] #8455 closed, assigned to nobody

[2021-01-27 05:02] #8762 closed, assigned to agibsonccc

[2021-01-27 05:05] #8441 closed, assigned to nobody

[2021-01-27 05:10] #8924 closed, assigned to nobody

[2021-01-27 05:12] #8982 closed, assigned to agibsonccc

[2021-01-27 05:14] #8373 closed, assigned to agibsonccc

[2021-02-01 01:09] #8381 closed, assigned to nobody

[2021-03-07 11:49] #8878 closed, assigned to nobody

[2021-04-08 08:38] #8487 closed, assigned to nobody

[2021-04-08 08:38] #8478 closed, assigned to raver119

[2021-04-08 08:39] #8430 closed, assigned to sshepel

[2021-04-08 08:39] #8523 closed, assigned to nobody

[2021-04-08 08:40] #8499 closed, assigned to maxpumperla

[2021-04-08 08:40] #8583 closed, assigned to AlexDBlack

[2021-04-08 08:40] #8600 closed, assigned to nobody

[2021-04-08 08:41] #8716 closed, assigned to nobody

[2021-04-08 08:41] #8753 closed, assigned to nobody

[2021-04-08 08:42] #8863 closed, assigned to nobody

[2021-04-12 00:31] #8353 closed, assigned to maxpumperla

[2021-04-12 00:31] #8480 closed, assigned to sshepel, raver119

[2021-04-12 00:32] #8564 closed, assigned to nobody

[2021-04-12 00:32] #8483 closed, assigned to nobody

[2021-04-12 00:33] #8840 closed, assigned to nobody

[2021-04-12 02:06] #8881 closed, assigned to sshepel

[2021-04-12 02:08] #8616 closed, assigned to raver119

[2021-04-12 02:08] #8614 closed, assigned to nobody

[2021-04-12 02:08] #8618 closed, assigned to nobody

[2021-04-12 02:09] #8582 closed, assigned to nobody

[2021-04-12 02:09] #8552 closed, assigned to AlexDBlack

[2021-04-12 02:09] #8484 closed, assigned to nobody

[2021-04-12 02:10] #8416 closed, assigned to nobody

[2021-04-12 02:10] #8386 closed, assigned to nobody

[2021-04-12 02:11] #8276 closed, assigned to nobody

[2021-04-12 03:02] #8625 closed, assigned to nobody

[2021-04-12 03:03] #8709 closed, assigned to nobody

[2021-04-12 03:03] #8651 closed, assigned to nobody

[2021-04-12 03:04] #8907 closed, assigned to nobody

[2021-04-12 05:19] #8897 closed, assigned to sshepel

[2021-04-15 05:54] #8974 closed, assigned to nobody

[2021-04-15 05:54] #8976 closed, assigned to nobody

[2021-04-15 05:57] #8977 closed, assigned to nobody

[2021-04-15 05:58] #8958 closed, assigned to nobody

[2021-04-15 05:59] #8940 closed, assigned to nobody

[2021-04-15 05:59] #8882 closed, assigned to nobody

[2021-04-15 06:00] #8849 closed, assigned to nobody

[2021-04-15 06:09] #8743 closed, assigned to nobody

[2021-04-15 06:10] #8679 closed, assigned to nobody

[2021-04-15 06:11] #8617 closed, assigned to nobody

[2021-04-15 06:13] #8621 closed, assigned to saudet

[2021-04-15 06:19] #8467 closed, assigned to nobody

[2021-04-15 06:19] #8423 closed, assigned to nobody

[2021-04-15 06:56] #8956 closed, assigned to nobody

[2021-04-15 06:57] #8481 closed, assigned to nobody

[2021-04-15 06:57] #8953 closed, assigned to AlexDBlack, sshepel

[2021-04-15 06:58] #8253 closed, assigned to raver119

[2021-05-31 04:02] #8919 closed, assigned to nobody

[2021-06-09 08:54] #8876 closed, assigned to nobody

[2021-12-25 22:49] #8542 closed, assigned to AlexDBlack

[2022-10-31 23:31] #8306 closed, assigned to nobody

[2022-10-31 23:46] #8688 closed, assigned to saudet

[2022-11-01 00:01] #8944 closed, assigned to nobody

[2022-11-01 00:03] #8827 closed, assigned to nobody

[2022-11-01 00:03] #8757 closed, assigned to sshepel, raver119

[2022-11-01 00:03] #8740 closed, assigned to nobody

[2022-11-01 00:04] #8628 closed, assigned to nobody

[2022-11-01 00:04] #8547 closed, assigned to nobody

[2022-11-01 00:10] #8851 closed, assigned to sshepel

[2022-11-01 00:10] #8727 closed, assigned to saudet, RobAltena

[2022-11-01 00:10] #8724 closed, assigned to nobody

[2022-11-01 00:11] #8569 closed, assigned to shyrma

[2022-11-01 00:11] #8479 closed, assigned to nobody

[2022-11-01 00:12] #8377 closed, assigned to nobody

[2022-11-01 00:14] #8268 closed, assigned to nobody

[2022-11-01 00:15] #8264 closed, assigned to nobody

[2022-11-01 12:26] #8891 closed, assigned to nobody

[2022-11-01 12:27] #8885 closed, assigned to nobody

[2022-11-01 12:28] #8824 closed, assigned to shyrma

[2022-11-01 12:28] #8842 closed, assigned to nobody

[2022-11-01 12:29] #8785 closed, assigned to nobody

[2022-11-01 12:31] #8793 closed, assigned to nobody

[2022-11-01 13:17] #8284 closed, assigned to nobody

[2022-11-01 13:18] #8394 closed, assigned to nobody

[2022-11-01 13:19] #8246 closed, assigned to nobody