[2019-12-07 03:17] SidneyLann commented on #8496
using snapshots

[2019-12-07 05:58] eraly commented on #8483
[ignore-results.tar.gz](https://github.com/eclipse/deeplearning4j/files/3938039/ignore-results.tar.gz)

       1 ./arbiter/ignored_classes.csv
      10 ./arbiter/ignored_methods.csv
       1 ./datavec/ignored_classes.csv
      12 ./datavec/ignored_methods.csv
      26 ./deeplearning4j/ignored_classes.csv
      85 ./deeplearning4j/ignored_methods.csv
      30 ./nd4j/ignored_classes.csv
      65 ./n

[2019-12-07 11:54] AlexDBlack opened #8512 "SameDiff: (snapshots) imported BERT model producing NaNs (CPU)"
When running BERTGraphTest.testBert, I get NaNs in one of two possible locations:

* softmax - bert/encoder/layer_3/attention/self/Softmax
* add - bert/encoder/layer_2/output/LayerNorm/batchnorm/add_1

In both cases I have confirmed there are no NaNs in the input.

This appears to be related to SameDiff's array reuse memory management strategy, ArrayCacheMemoryMgr.
Using the simpler (but lower per

[2019-12-08 11:07] SidneyLann commented on #8512
should be the same reason as #8496

[2019-12-09 04:33] AlexDBlack commented on #8512
Looks like the underlying issue is a (recently introduced?) problem with broadcast mul op for some combinations of input shapes.

[2019-12-09 04:55] SidneyLann commented on #8496
exists after importing bert pb file and train. no this issue in beta5.

[2019-12-09 05:08] AlexDBlack opened #8513 "libnd4j: add lin_space start/stop/number targs support"
Currently it's via input arrays only.
Would be nice to have both options.
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/lin_space.cpp#L29

[2019-12-09 10:19] raver119 opened #8514 "libnd4j: HSVtoRGB and RGBtoHSV"
We need two operations implemented: HSVtoRGB and RGBtoHSV.
We have primitive function for conversion used in adjust_hue/adjust_saturation operations, but now we need this functionality exposed as standalone operations.

[2019-12-09 10:19] raver119 commented on #8514
cc @quickwritereader ^^^

[2019-12-09 10:20] raver119 commented on #8514
https://github.com/KonduitAI/deeplearning4j/blob/763a225c6a069e2f88f5f069c5fa7d5116874b6a/libnd4j/include/ops/declarable/helpers/adjust_hue.h#L68

[2019-12-09 10:47] DanielRaapDev opened #8515 "NativeImageLoader crashes JVM for empty InputStreams"
#### Issue Description

The JVM crashes when an empty `InputStream` is given to `NativeImageLoader.asImageMatrix()`.
The problem is in `streamToMat()` (line 290) where the result of `InputStream.read()` is not checked for `-1` which indicates end of file.

#### Version Information

Occurs in `datavec-data-image-1.0.0-beta5.jar` (from Maven) used by Deeplearning4j version 1.0.0-beta5.

#### Additio

[2019-12-10 01:11] #8515 closed, assigned to AlexDBlack

[2019-12-10 01:12] AlexDBlack commented on #8515
Thanks for reporting - it has been fixed here - https://github.com/KonduitAI/deeplearning4j/pull/121
Will be merged back to eclipse soon and will be in the upcoming 1.0.0-beta6 release.

I just added a check + exception for this.

[2019-12-10 01:17] AlexDBlack commented on #8512
Confirmed fixed and BERT import tests passing for both CPU and CUDA.
Will be merged back to eclipse/deeplearning4j soon (and hence in snapshots soon) and also in the upcoming release.

[2019-12-10 01:17] #8512 closed, assigned to AlexDBlack

[2019-12-10 01:17] AlexDBlack commented on #8496
https://github.com/eclipse/deeplearning4j/issues/8512#issuecomment-563515205

[2019-12-10 01:17] #8496 closed, assigned to nobody

[2019-12-10 01:19] AlexDBlack opened #8516 "libnd4j cuda: resize_bicubic test case failure - float64"
Passes on CPU. Passes for float32 cases.

Test failure: TF import test, "resize_bicubic/float64"

[2019-12-10 01:23] AlexDBlack opened #8517 "libnd4j: pad op - re-add long/int64 pad array support"
`Op [pad] failed check for input [1], DataType: [INT64]`

Reproduce with: TransformOpValidation.testPad

We'll need long/int64 support for the pad array (second input) for TF import.
Note we also saw some compiler issues with CUDA 10.2 on this op with long datatype.

[2019-12-10 02:29] kwatters commented on #8378
yeah, last i checked, latest version of jetpack for the jetson nano was 4.2 something and that included only cuda 10.0 ... so yeah, i agree, we should wait for a new release of cuda that hopefully is consistent across all platforms ( arm and x86 ) .. at that point it'll be easier to maintain.

[2019-12-10 04:51] raver119 commented on #8517
Plus, there's a difference: TF documentation says that op accepts int32 paddings only, but looks like ops.proto says that it's int32/int64

[2019-12-10 06:54] DanielRaapDev commented on #8515
Thx for the quick fix!

[2019-12-10 08:04] raver119 commented on #8507
Implemented, but it seems there's an issue with double dtype. There's separate issue open for that.

[2019-12-10 08:04] #8507 closed, assigned to nobody

[2019-12-10 08:08] raver119 commented on #8493
Implemented and merged

[2019-12-10 08:08] #8493 closed, assigned to nobody

[2019-12-10 08:10] raver119 commented on #8500
Implemented and merged AFAIK

[2019-12-10 08:10] #8500 closed, assigned to nobody

[2019-12-10 08:14] raver119 commented on #8464
@alexanderst any news here?

[2019-12-10 08:17] raver119 commented on #8450
@alexanderst i suppose it's resolved for all high-precision data types now? The only problem I'm aware of is bfloat16, is there any more problems?

[2019-12-10 08:18] raver119 commented on #8459
Implemented.

[2019-12-10 08:18] #8459 closed, assigned to nobody

[2019-12-10 10:34] raver119 commented on #8492
implemented

[2019-12-10 10:34] #8492 closed, assigned to nobody

[2019-12-10 12:36] alexanderst commented on #8450
BetaInc supports only float32, float64 in TF 1.15. So we have import tests for these two types only.

[2019-12-10 12:37] raver119 commented on #8450
So, do they pass now?

[2019-12-10 12:44] alexanderst commented on #8464
Not yet, failed to generate models so far. Planning to revisit soon.

[2019-12-10 12:51] alexanderst commented on #8450
Betainc tests are passing now. However I need to correct tests to use non-negative initialization.

[2019-12-10 12:58] raver119 commented on #8450
That's separate issue then. Nothing to do with libnd4j team :)

[2019-12-10 12:58] #8450 closed, assigned to nobody

[2019-12-10 15:54] yptheangel commented on #8272
@abdougrinzou can you breakdown the problem that you are facing?

If your main goal is to run on python, you would not need dl4j for that. You will need Eclipse DL4J if you want to do transfer learning on Java /JVM.

E.g. You can train a keras/tf model and import your model into DL4J and do transfer learning from there on, but it will be in Java

[2019-12-10 16:00] yptheangel opened #8519 "Mean Average Precision evaluation"
#### Issue Description

There is no evaluation class for object detection, correct me if I am wrong. I am thinking to have a evaluation method that calculates mean average precision to evaluate object detection models.

#### Contributing

I can help to add the code for calculating mAP.

[2019-12-10 22:33] AlexDBlack commented on #8272
Closing as unrelated to DL4J/ND4J/SameDiff etc

[2019-12-10 22:33] #8272 closed, assigned to nobody

[2019-12-10 22:46] AlexDBlack commented on #8519
Not yet unfortunately. It's something we've planned to do, and definitely want it.

In terms of actually implementing it, I'd be happy to provide some help here, if you want to try implementing it.
It would be implemented as a new IEvaluation instance, and ideally supporting (or more likely simply extensible) for different formats/models.

Currently DL4J only really supports YOLO (v2) models, wher

[2019-12-10 23:52] AlexDBlack opened #8520 "ND4J: Add a non-backend-specific way of accessing Environment at runtime"
Currently, to disable helpers for example:
`Nd4jCpu.Environment.getInstance().allowHelpers(false);` and `Nd4jCuda.Environment.getInstance().allowHelpers(false);`

The problem with this: it's backend specific.
Ideally, we should have something like: `Nd4j.getEnvironment().allowHelpers(false)` that routs to the appropriate backend methods.

[2019-12-11 05:42] agibsonccc opened #8521 "Replace arrow's java bindings with javacpp's"
#### Issue Description
Arrow's java bindings don't really keep up with the c++. Due to our reliance on ajavacpp for other
use cases already, it makes more sense from an ecosystem and performance perspective
to switch to the arrow bindings for javacpp:
https://github.com/bytedeco/javacpp-presets/tree/master/arrow

This affects datavec-api and datavec-arrow which currently use arrow
in its execution

[2019-12-11 08:47] nimishatandon commented on #8387
Hi Eraly, thanks for checking. We increased the xmx and the javacpp attributes to increase both the heap and the off-heap memory which helped but it still goes out of memory after about 2 hours of regression. Wondering if there is a way to estimate how much we need based on our model size or number of classes we are training for etc ?

[2019-12-11 08:55] AlexDBlack commented on #8387
@nimishatandon Did you try what I suggested here?
https://github.com/eclipse/deeplearning4j/issues/8387#issuecomment-558913282

[2019-12-11 09:07] nimishatandon commented on #8387
@AlexDBlack not yet, will try that by end of the week.

[2019-12-11 14:28] yptheangel commented on #8519
@AlexDBlack  thanks for the tip, I already have a working YOLOv2 example in DL4J, I only want to ask to see if there is a mAP evaluation that I can use out of the box.  Regardless of SSD or YOLO, we can calculate mAP for the trained model. Maybe I can come up with a mockup and will see how to integrate with Evaluation interface

[2019-12-11 15:58] smithagrg commented on #8437
Do you know when the next release is ? If not, can you send me the pom file to create a shaded jar myself with the versions we require?

Thanks

[2019-12-11 16:07] raver119 commented on #8437
We are building release binaries right now. So expect it +- tomorrow.

[2019-12-11 19:59] smithagrg commented on #8437
Thank you....we are experiencing another issue with the shaded jackson with
the system properties being set in the META-INF/Services. It is altering
behavior in other parts of our application which uses a different version
of Jackson as well. This means that I am not able to use the maven version
of the jar as is without modifying. We are also concerned about other
impacts of this dependency. Do y

[2019-12-11 22:22] christian83182 opened #8522 "Model Files cannot be downloaded"
#### Issue Description
Pretrained zoo models cannot be downloaded automatically or manually.
Issue arose when calling `zooModel.initPretrained(PretrainedType.IMAGENET)` on a VGG16 zoo model as described in the transfer training documentation available at https://deeplearning4j.org/docs/latest/deeplearning4j-nn-transfer-learning. The error specifies that the local file's checksum does not match the

[2019-12-11 22:44] eraly commented on #8483
Updated results including OpValidationSuite.IgnoreFailing

[ignore-results.tar.gz](https://github.com/eclipse/deeplearning4j/files/3952924/ignore-results.tar.gz)

Result summary (Files have headers so line count 1 is really empty):
[code]

[2019-12-12 03:00] k-tamura opened #8523 "Update Japanese translation for 1.0.0-beta5"
#### Issue Description

Please describe our issue, along with:
- expected behavior
Several labels and messages on DL4J Tinnag UI are displayed in English even if the language setting is set to Japanese.
- encountered behavior
They are displayed in Japanese.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-beta5
* Platform inform

[2019-12-12 04:28] AlexDBlack opened #8524 "ND4J: Reverse op with int[0] shouldn't be no-op"
This works fine:
[code]
[code]

This should be equivalent, but is a no-op:
[code]
[code]

[2019-12-12 04:35] AlexDBlack commented on #8522
this should work fine in beta5 still (I just checked with vgg16)
Note also that 1.0.0-beta6 will be out in the next 24-48 hours.

One workaround (if you really can't upgrade) is to set the `org.deeplearning4j.resources.baseurl` system property to `https://dl4jdata.blob.core.windows.net/`
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-common/src/main/java/org/de

[2019-12-12 04:35] #8522 closed, assigned to nobody

[2019-12-12 05:57] AlexDBlack commented on #8437
@smithagrg META-INF/services is for java service loader mechanism.
I took a look there, most of those are shaded (and hence shouldn't cause problems) except for javax.xml.stream.XMLOutputFactory, .XMLInputFactory and .XMLEventFactory
Are these what you are referring to?

They aren't added manually by us, but (as far as I can tell) simply part of jackson-dataformat-xml that is carried through the s

[2019-12-12 09:01] smithagrg commented on #8437
Yeah...they are what is causing issues.

Smitha

On Thu, Dec 12, 2019, 12:57 AM Alex Black <notifications@github.com> wrote:

[2019-12-12 14:21] smithagrg commented on #8437
We are not building an uber.jar. Infact we are adding each dependency required in pom.  But, I think it would be better for us to create this shaded jackson jar ourselves so we can control the version and such. I am not savvy with maven and am not sure how to get that accomplished.  Can you maybe send me a pom version to get this shaded jackson with relocation to "nd4j" package?

[2019-12-12 15:19] SidneyLann opened #8527 "Model save by CheckpointListener does not support dynamic dimension length"
#### Issue Description

Please describe our issue, along with:
- expected behavior
Can use -1 for placeholder

- encountered behavior
Invalid array shape: cannot associate an array with shape [128, 2, 18] with a placeholder of shape [128, 1, 18]:shape is wrong rank or does not match on one or more dimensions
	at org.nd4j.base.Preconditions.throwStateEx(Preconditions.java:641)
	at org.nd4j.base.Pre

[2019-12-12 19:58] drmathwin opened #8528 "package org.nd4j.shade.jackson.* does not exist"
#### Issue Description

Building a fresh installation of DL4J.  If I clone the repo with git and use `sudo mvn clean install -Dmaven.test.skip` to compile, it builds correctly.  If I then import the existing maven project into IntelliJ and export it as a single .jar file, that also works correctly.

However, if I attempt to use that .jar file, or if I try to clone the repo and build via IntelliJ d

[2019-12-12 21:35] drmathwin commented on #8528
Rebuilding the repo in the terminal, I'm seeing a lot of these errors:
`[ERROR] Error fetching link: /home/mathwin/git/deeplearning4j/nd4j/nd4j-shade/jackson/target/apidocs/package-list. Ignored it.`

[2019-12-12 23:26] AlexDBlack commented on #8528
Unless you are actually developing new functionality in DL4J/ND4J, you should use the releases on maven central, not build it yourself.

We also have snapshots for the latest fixes: https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

Now, if you really do need to build from source: This is an intellij-specific issue: it doesn't support the maven shade plugin, which we rely on f

[2019-12-12 23:26] #8528 closed, assigned to nobody

[2019-12-13 00:28] AlexDBlack commented on #8437
The shading occurs here: https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-shade/jackson/pom.xml
In theory it's as simple as excluding those `META-INF/services/javax.xml.stream` files using filters like this:
https://stackoverflow.com/a/46046022

Unfortunately the release got delayed (problems with our cloud provider), upside is I may be able to find time to look at this for 1.0.0-be

[2019-12-13 01:25] smithagrg commented on #8437
Thanks Alex for the help. I managed to create the shaded jar today and it
seem to work. We are just a bit concerned right now about more potential
issues that could be caused by the shaded jars.  Also, you mentioned the
next release to be beta 6? When are we planning to get out of beta? Do you
think it would be safe to use the beta version in an enterprise level
software?

As for the shaded Jackso

[2019-12-13 01:53] AlexDBlack commented on #8437
Shaded jars are a tradeoff - and the right one IMO.
The reason we use them is to avoid dependency issues. For example the Jackson libraries are widely used, and users are pretty much guaranteed to run into dependency problems any time they run DL4J or ND4J with Apache Spark, any of the web frameworks (Play, Vertx, etc), or with a ton of other popular libraries. In short, not shading isn't an optio

[2019-12-13 11:13] #8437 closed, assigned to nobody

[2019-12-13 11:17] AlexDBlack commented on #8437
@smithagrg I've added that exclusion here:
https://github.com/eclipse/deeplearning4j/pull/8529

nd4j-jackson service loader (META-INF/services) now looks like this:
![image](https://user-images.githubusercontent.com/2360237/70796355-264d9380-1df6-11ea-98b7-074f3e3521f4.png)

So just those 3 javax.xml.stream.XMLOutputFactory, .XMLInputFactory and .XMLEventFactory files have been removed; remaiving

[2019-12-13 11:26] smithagrg commented on #8437
Thankyou very much Alex. When will be the beta release be again?

Smitha

On Fri, Dec 13, 2019, 6:17 AM Alex Black <notifications@github.com> wrote:

[2019-12-13 11:28] AlexDBlack commented on #8437
Assuming we don't run into any more issues with our cloud provider, probably within 24 hours.
Early next week at the latest.

[2019-12-13 19:56] eraly opened #8531 "Unsupported ops for deep spech"
AudioSpectrogram and Mfcc are currently (beta6 snapshot) unsupported.

[2019-12-14 18:13] raver119 opened #8533 "Roll operations needs additional testing"
Roll operations needs additional testing. Different axis etc.

[2019-12-14 18:16] raver119 opened #8534 "StridedSlice op needs additional testing"
StridedSlice op needs additional testing. All configuration options must be covered.

[2019-12-14 18:22] raver119 opened #8535 "Segment* ops need more tests"
Segment* ops need more tests. List of ops:
- segment_max
- segment_mean
- segment_min
- segment_prod
- segment_sum
- unsorted_segment_max
- unsorted_segment_mean
- unsorted_segment_min
- unsorted_segment_prod
- unsorted_segment_sqrt_n
- unsorted_segment_sum

[2019-12-15 13:07] raver119 opened #8536 "libnd4j: RgbToGrayscale op"
We need to add implementation of TF RgbToGrayscale op

[2019-12-15 13:09] raver119 opened #8537 "libnd4j: RgbToYuv and YuvToRgb"
We need implementations of TF RgbToYuv and YuvToRgb operations

[2019-12-15 13:26] raver119 opened #8538 "libnd4j: RgbToYiq and YiqToRgb"
We need to add implementation of TF RgbToYiq and YiqToRgb ops.

[2019-12-16 05:59] olegsemeniv commented on #8536
Please reassign it back to me, my mistake.

[2019-12-16 06:01] olegsemeniv commented on #8536
Thanks

[2019-12-16 07:16] SidneyLann commented on #8527
Fixed in beta6

[2019-12-16 07:16] #8527 closed, assigned to nobody

[2019-12-16 08:52] AlexDBlack commented on #8468
Isolated to the following test case:
[code]

[code]

[2019-12-16 14:33] alexanderst opened #8539 "TF import tests fail for operation resize_bicubic"
TF import test failure:
```Failed tests:   testOutputOnly[resize_bicubic/float64](org.nd4j.imports.TFGraphs.TFGraphTestAllSameDiff): Predictions do not match on resize_bicubic/float64, node ResizeBicubic```

[2019-12-16 14:42] alexanderst opened #8540 ""pad" operation failure with long input"
nd4j test fails when input array contains elements of long type:

[code]

[2019-12-16 14:57] raver119 commented on #8514
This op was added in `qwr_clean` branch, now we need Java/SameDiff wrappers for this op.
cc @alexanderst

[2019-12-16 14:57] raver119 commented on #8445
Implemented

[2019-12-16 14:57] #8445 closed, assigned to nobody

[2019-12-16 15:32] alexanderst commented on #8539
Failing test:
[code]

[2019-12-16 17:17] alexanderst commented on #8539
Input data with max precision:
[code]

[2019-12-16 17:18] alexanderst commented on #8539
Expected TF output:
[code]

[2019-12-16 23:27] AlexDBlack commented on #8488
Op usage statistics for all of the TF frozen models I have:
https://gist.github.com/AlexDBlack/bf7c917e085bcd14a9c2216b4943704e

[2019-12-17 00:56] smithagrg commented on #8437
Many thanks Alex. We got the new build and all our current issues are
resolved.

Smitha

On Fri, Dec 13, 2019, 6:28 AM Alex Black <notifications@github.com> wrote:

[2019-12-17 01:55] SidneyLann opened #8542 "The values of variable loss2 always are zero"
#### Issue Description

Please describe our issue, along with:
- expected behavior
The value of variable loss2 should not be zero.

- encountered behavior
The values of variable loss2 always are zero.

Build model...
[main] INFO org.nd4j.linalg.factory.Nd4jBackend - Loaded [CpuBackend] backend
[main] INFO org.nd4j.nativeblas.NativeOpsHolder - Number of threads used for linear algebra: 4
[main] INF

[2019-12-17 06:46] raver119 commented on #8514
@alexanderst C++ implementations were merged to master today, so feel free to provide wrappers in your own branch.

[2019-12-17 11:07] alexanderst commented on #8514
@raver119  Wrappers added in my branch. There's mismatch with TF, for example rgb_to_hsv for float32 input

[code]

[2019-12-17 11:09] quickwritereader commented on #8514
you mean precision wise?

[2019-12-17 11:13] alexanderst commented on #8514
No, there's significant mismatch between results. First elements returned from tf.image,rgb_to_hsv is
0.215289578 and SameDiff (calling libnd4j) is 184.715530396.

[2019-12-17 11:14] quickwritereader commented on #8514
yes we return ~[0;360]~ wait I will recheck

[2019-12-17 11:42] quickwritereader commented on #8514
well even normalized they are not equal. it seems values re flipped. could you be sure that orders and dimensions match
0.21 not eq 184/360

[2019-12-17 11:58] quickwritereader commented on #8514
I checked tf.  our rgbs are not normalized as well. I followed internal rgb hsv convertors.
but first, let's find why they don't even match after normalization.

[2019-12-17 13:30] AlikJoke opened #8544 "Slow GPU training with CUDA10.2 (ParagraphVectors)"
Training model based on ParagraphVectors with GPU is very slow. At the same time, CPU training faster 440 times than GPU (at fixed period, see below).
After 20 minutes of training on GPU vectorized only 150 lines
GPU utilization while training - 30-40%
CPU utilization while training - 50-80%

At them same time, training on CPU is faster, after 20 minutes of training vectorized 65185 lines. While C

[2019-12-17 13:47] alexanderst commented on #8514
Simple test:

[code]

[2019-12-17 13:51] alexanderst commented on #8514
Python code for expected result calculation is:
tf.image.hsv_to_rgb(input)

where input is uniformly distributed array of float32 with [1,1,3] shape.

[2019-12-17 13:53] quickwritereader commented on #8514
I want the first case you posted above. Want to confirm that if it is just normalization problem.
Above code certainly not expected input. Think we need to change to tf ranges

[2019-12-17 14:08] alexanderst commented on #8514
Test for data I've posted earlier:
[code]

[2019-12-17 14:43] quickwritereader commented on #8514
OK I confirm that it is internal implementation ~~problem~~ that targets h [0,360] s [0,1] v [0,1]
and also rgb [0,255] instead of **tf ranges**
but the question is how you got   38.642787933,   36.721866608 and other values that is not in range [0,1]
[code]
it should not happen even with this range thing

as for values
[code]

[2019-12-17 15:39] alexanderst commented on #8514
This is exact output from Java test testRgbToHsv_1.  Input shape is [1,2,3].  Java code just calls operation from libnd4j, nothing else.

[[[  184.7220,   38.6438,   36.7227],
  [   46.0020,   12.6827,   12.5539]]]

But Java doesn't support any integer arguments according to TF prototype. I mean this code:
            const int arg_size = block.getIArguments()->size();
            const int dimC =

[2019-12-17 15:54] quickwritereader commented on #8514
yes I found just name call problem
instead of rgb to hsv we are getting hsv to rgb,

so there are two issues:
1) wrong name call
2) different range than tf range

[2019-12-17 16:04] alexanderst commented on #8514
Fixed wrong name locally, now output is

[[[   77.504241943,    0.095885336,    0.003141952],
  [  114.457771301,    0.751917899,    0.002851534]]]

[2019-12-17 16:08] quickwritereader commented on #8514
Yes now only range problem left. To match to tf you need to multiplly all input to 255 and with the result the first one shoul be divided by 360.
But we have to match  exactly tf side we need to solve it. I will discuss it tomorrow to see

[2019-12-18 04:50] raver119 commented on #8544
Due to GC I suppose. Unfortunately family of skipgram algorithms never was a priority for gpus for us.

With best regards,
raver119

________________________________
От: Alik <notifications@github.com>
Отправлено: вторник, декабря 17, 2019 15:30
Кому: eclipse/deeplearning4j
Копия: Subscribed
Тема: [eclipse/deeplearning4j] Slow GPU training with CUDA10.2 (ParagraphVectors) (#8544)

Training model b

[2019-12-18 06:31] AlexDBlack opened #8545 "SameDiff: operation names should be set when user specified output variable names"
Suppose I do:

[code]

The SDVariable `x` has name `myVariable` but the _operation_ added as part of this has the default name `mmul`.

[2019-12-18 06:51] zhangy10 commented on #8410
Already found an alternative solution for fast reading a batch data from files on mobile devices. This is close.

[2019-12-18 06:51] #8410 closed, assigned to nobody

[2019-12-18 07:19] ghost opened #8546 "Unsupported keras layer type PositionEmbedding"
I am trying to import a BERT text classifying model that was trained via Ktrain into DL4J via the Keras import function.

Before I encountered this error, I encountered it for layer TokenEmbedding but I was able to resolve it using registerCustomLayer. But PositionEmbedding does not exist in the keras.layer library.

Any help would be appreciated, thanks!

[2019-12-18 08:48] alexanderst commented on #8535
Unsorted_segment... has known problems

//2019/05/21 - Failing on AVX2/512 intermittently (Linux, OSX), passing elsewhere
//2019/05/21 - Failing on windows-x86_64-cuda-9.2 only -

[2019-12-18 08:53] AlikJoke commented on #8544
GC is very rare during training. STW time is very-very small. There are almost no major (full) GC (mostly minor).

[2019-12-18 10:35] christianmalek opened #8547 "Tutorial is deprecated"
There are no pretrain or backprop methods anymore in the ListBuilder class. But the tutorial at https://deeplearning4j.org/tutorials/00-quickstart-for-deeplearning4j demands to set the properties. So I guess you just have to remove the following lines:

![grafik](https://user-images.githubusercontent.com/2873986/71078870-8348a100-218a-11ea-892d-af8ad03445b8.png)

[2019-12-18 12:19] SidneyLann commented on #8546
https://github.com/CyberZHG/keras-pos-embd
here is the keras PositionEmbedding layer

[2019-12-18 12:29] SidneyLann commented on #8546
and you also can import tf pb model of bert to dl4j

[2019-12-18 13:18] ghost commented on #8546
Hi SidneyLann, thanks for the reply, the PositionEmbedding layer is not present in DL4J, hence I am unable to import the class file into the registerCustomLayer function.

[2019-12-18 14:37] raver119 commented on #8544
Ok, we'll take a closer look then during current sprint. Thanks for highlighting this problem

With best regards,
raver119

________________________________
От: Alik <notifications@github.com>
Отправлено: среда, декабря 18, 2019 10:53
Кому: eclipse/deeplearning4j
Копия: raver119; Comment
Тема: Re: [eclipse/deeplearning4j] Slow GPU training with CUDA10.2 (ParagraphVectors) (#8544)

GC is very rare

[2019-12-18 14:59] SidneyLann commented on #8546
There are 6 such custom layers need you to implement in DL4J, so I imported by tf pb

[2019-12-18 16:02] ghost commented on #8546
SidneyLann could you link me to a tutorial or write a snippet of the code that was implemented to achieve that? I keep encountering an activation layer error while trying to import the said model, much appreciated.

[2019-12-18 16:11] SidneyLann commented on #8546
I don't know how to write layers in dl4j, it is the reason that I import by tf but not by keras, no need to implement layers importing tf pb model to dl4j samediff model

[2019-12-18 16:29] ghost commented on #8546
Sorry SidneyLann I meant examples by Tensorflow as I encountered errors using the approach you just mentioned. Thanks!

[2019-12-19 00:01] SidneyLann commented on #8546
https://github.com/CyberZHG?tab=repositories

Here has all 6 custom keras layers what you need for bert model

[2019-12-19 01:34] philip-khor commented on #8477
Closed in #8548

[2019-12-19 01:34] #8477 closed, assigned to nobody

[2019-12-19 02:35] saudet commented on #8506
`NDArray` wasn't really designed to be closed manually. Could you try to add a call to `System.gc()` in the loop and see if that makes a difference? If so, it should be possible to use a workspace to manage this memory more efficiently: https://deeplearning4j.org/docs/latest/deeplearning4j-config-workspaces

Something like this should work but let us know if it doesn't:
[code]

[2019-12-19 03:29] yquemener commented on #8506
Yes I ended up solving this issue by calling `System.gc()` manually in the loop. I'll try the workspace solution

[2019-12-19 04:09] AlexDBlack opened #8549 "DL4J UI: Lock down webjars versions"
Basically: this issue again - https://github.com/eclipse/deeplearning4j/issues/7730

The version enforcement must have got lost in the Play -> Vertx transition :(

[2019-12-19 04:40] RobAltena opened #8550 "linspace in beta6."
The following sniplet:

INDArray x = Nd4j.linspace(1,10,1);
System.out.println(x);

prints  `[�]`  and seems to show a random uninitialized INDArray in the debugger.

#### Version Information
beta6 cpu, cuda.

[2019-12-19 04:48] AlexDBlack commented on #8550
I suspect this is just NaN from: `out[i] = lower + i * (upper-lower)/(num-1)` giving `1 + 0 * 9 / 0`
For the length 1 case, we should return the lower value.

[2019-12-19 06:56] SidneyLann commented on #8542
![image](https://user-images.githubusercontent.com/5990314/71151746-7b166180-226f-11ea-87a4-2661510df53b.png)

the loss2 is still zero at this line, and no chance to assign it after this line.

[2019-12-19 08:02] muzixizhu commented on #8373
I tried  a method to run around the bug, that is after Embedding for 2d for catagory id features, ,we just add another  Reshape layer to force the output layer to be same with the numeric features , and   then concate them together.   then it can be load right , but I met another problem ,the testoutput is not the same with my python keras version output

[2019-12-19 09:54] kris1710 commented on #8373
@muzixizhu : if you are doing deepfm on spark, i have written it in scala from scratch without using keras import. Let me know if you need any inputs towards that :)

[2019-12-19 10:10] #8453 closed, assigned to shugeo

[2019-12-19 11:34] AlexDBlack commented on #8488
Profiling results so far:
CPU (avx + mkldnn for both TF 1.15.0 and SD) on linux 3930k (6 core @ 4ghz), 3 warmup + 10 iterations of each. Batch size 32.

Mobilenet V2: https://gist.github.com/AlexDBlack/02daeff0b3d3824be947c8fa59a9963f
Inception Resnet V2: https://gist.github.com/AlexDBlack/05b36f20c967c4c076749885da50484f

Note that the "infinite" ratio means the op was profiled in SD but not TF,

[2019-12-19 11:39] AlexDBlack opened #8552 "SameDiff TF import: NPE during model import"
Reprodicible using the `faster_rcnn_resnet101_coco` case in CompareProfiles here: https://github.com/KonduitAI/dl4j-dev-tools/pull/30

Not sure why this doesn't show up in the SameDiff TF import tests...

[2019-12-19 11:58] AlexDBlack commented on #8488
[code]

Bias add, slow case: (3.09 ratio)
[code]

Bias add, fast case (0.31 ratio)
[code]

[code]

Reshape (9.24 ratio)
[code]

relu6 (ratio 6.05)
[code]

relu6 (ratio 0.29)
[code]
Same shape for fast vs. slow relu6 cases :/

[code]

[2019-12-19 12:53] AlexDBlack opened #8553 "SameDiff / libnd4j: implement helper "op fusion""
Obviously quite a bit of design work yet, but the basic idea is that MKLDNN (DNNL) can do some fused operations, such as conv2d+relu, in one op.
We should make use of such implementations at some point, as they will be faster than doing 2 separate operations.

[2019-12-19 13:35] raver119 commented on #8535
I'm not quite sure these issues are still reproducible, since ops got overhaul recently. Can you please confirm it's still a problem?

[2019-12-19 13:52] raver119 commented on #8488
BiasAdd should be fixed now. Hypothetically.

[2019-12-19 14:58] alexanderst commented on #8535
Not reproduced locally. I will activate those tests.

[2019-12-19 16:48] saudet commented on #8253
Is this still a problem with 1.0.0-beta6?

[2019-12-19 19:31] raver119 commented on #8253
Nope, it's reproducible with provided project. Looking into it now.

[2019-12-20 00:59] AlexDBlack commented on #8488
retesting mobilenet v2 today:
new: https://gist.github.com/AlexDBlack/d668ca009405ae69a2c6f12e9f7f5046
old: https://gist.github.com/AlexDBlack/02daeff0b3d3824be947c8fa59a9963f

Edit: Test was run without AVX2

Faster than TF in all but 2 cases
equal in 1
slower in 1 (see below)

[code]

[2019-12-20 04:00] AlexDBlack opened #8554 "ND4J: Log classifier (x86, avx2, avx512)"
We should list what classifier the user has loaded (x86, avx2, avx512)
[code]

Yes, we have the warning when configured incorrectly, it would be nice to actually report what is currently configured, rather than simply relying on "no warning == configured correctly" as the only way to tell what is used.

[2019-12-20 04:04] AlexDBlack commented on #8488
AVX2 test results, CPU:

densenet: https://gist.github.com/AlexDBlack/81490a348a987c2cc99e30abf38281a5
squeezenet: https://gist.github.com/AlexDBlack/52dc14ed34735a818397b855b7fb1c4a
nasnet_mobile: https://gist.github.com/AlexDBlack/187ba6ffc660952049df1cb78021afc4
inception_v4: https://gist.github.com/AlexDBlack/21d99add771fb8b11ad3ebdd137835b3
mobilenetv1: https://gist.github.com/AlexDBlack/8975

[2019-12-20 04:25] AlexDBlack commented on #8488
Also here's AVX2 vs. x86 on inception v4
(note ratio of > 1.0 means AVX2 is slower, <1.0 means AVX2 is faster)

https://gist.github.com/AlexDBlack/05ce0667fb42af8538e4e4d056deb6f1

The identity ops there can be ignored, they aren't actually executed (op is just passed through in java executioner as a no-op)

[2019-12-20 04:55] raver119 commented on #8488
AVX2 is a CPU issue, as discussed in slack.  3rd gen Intel was used for tests.

[2019-12-20 05:52] AlexDBlack opened #8555 "SameDiff: improve profiler"
Additional functionality that would be nice:
* Ability to filter - "only ops > 10uS, no identity ops, etc"
* Ability to output to CSV
* Profiling for things other than op-execution within graph - memory allocation, updaters, etc
* Handle TF's long op names spam (i.e., trim all the device, c++ op name etc back to just op name)
* Option to collect + print array shapes (for SameDiff profiling listene

[2019-12-20 06:50] raver119 opened #8556 "libnd4j: bias_add polishing"
libnd4j bias_add op needs some love on CPU:

1. Right now there's only one universal loop for both NCHW and NHWC cases, which is not good for performance. We need both loops optimized.

2. This op might be manyally optimized for target archs: SSE, AVX2, AVX512 for both NCHW and NHWC cases. Plus we should leave some space for future NEON optimization.

[2019-12-20 07:11] SidneyLann commented on #8542
This issue impacts the training result? or just impacts the UI?

[2019-12-20 07:19] alexanderst commented on #8514
Confirming fix in master. Tests are passing.

[2019-12-20 07:19] raver119 commented on #8514
tyvm!

[2019-12-20 07:19] #8514 closed, assigned to alexanderst

[2019-12-20 07:23] raver119 opened #8557 "libnd4j: DepthwiseConv2d & MKL-DNN"
At this moment, depthwise convolution doesn't use MKL-DNN. This should be changed for better performance on platforms supported by MKL-DNN.

[2019-12-20 09:09] cqiaoYc commented on #8253
when trying it with beta6, with or without object pools?

[2019-12-20 09:46] raver119 opened #8558 "LU op mapping"
We have LU decomposition op ready in C++, now we need Java wrapper and import tests for it.

[2019-12-20 09:47] raver119 commented on #8558
PR and branch are open here: https://github.com/KonduitAI/deeplearning4j/pull/126

[2019-12-20 10:17] AlexDBlack commented on #8486
Merged recently

[2019-12-20 10:17] #8486 closed, assigned to nobody

[2019-12-20 10:19] alexanderst opened #8559 "FusedBatchNorm operation - TF and SameDiff values mismatch"
1. Might be ND4J or test problem:
[code]
2. TF vs SameDiff mismatch, test to reproduce:
[code]

[2019-12-20 10:21] raver119 commented on #8559
Are you sure you're comparing proper op here? What's TF op name in the graph?

[2019-12-20 10:24] alexanderst commented on #8559
name: "FusedBatchNormV3"
  op: "FusedBatchNormV3"

[2019-12-20 10:24] raver119 commented on #8559
rgr, thanks

[2019-12-20 10:26] AlexDBlack opened #8560 "SameDiff CUDA performance analysis"
densenet: https://gist.github.com/AlexDBlack/2503742ca13c31358ceb53f14abb9a86
squeezenet: https://gist.github.com/AlexDBlack/5341036f60c4090ca8e2439c6d79d104
mobilenet_v1: https://gist.github.com/AlexDBlack/bf63b3035e78770e85921a9d73fa7089

Obviously we ignore batchnorm and conv2d etc, as SameDiff is running without cuDNN (and TF with). SameDiff cuDNN is in progress.

Hotspots:
* concat (densenet,

[2019-12-20 11:29] SidneyLann opened #8561 "None is set to 1 when import TF model"
#### Issue Description
Please describe our issue, along with:
- expected behavior
Dimension None should be set to -1

- encountered behavior
Dimension None is set to 1

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
beta6
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Infor

[2019-12-20 11:30] SidneyLann commented on #8561
1.x model not saved model format

[2019-12-20 11:43] raver119 commented on #8531
This issue basically requires minimal support of complex numbers added.

[2019-12-20 11:51] AlexDBlack commented on #8560
[code]
Concat on last axis of (standard strides) C order can be a memcpy - i.e., concatenate buffers

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-12-20 12:19] AlexDBlack commented on #8560
ReLU time - TF time is physically impossible on that card, which suggests it's async execution
https://gist.github.com/AlexDBlack/65c24030b7a8d3d71168f346b6188bd9
Seeing about 61% of theoretical memory bandwidth for GTX970 (120 vs. 196 GB/s spec) in both synthetic test and SameDiff op execution.
TF being 8.65x faster is simply not possible.

Edit: for a fair / non-biased comparison, I'll need to f

[2019-12-20 13:07] alexanderst commented on #8559
[code]

[2019-12-20 13:39] raver119 opened #8563 "testHistogram fails on macos"
testHistogram fails on macOS. Other platforms are ok.

[2019-12-20 13:40] raver119 commented on #8536
@alexanderst PR is up,  can you please add Java wrapper for this op + tests?

[2019-12-20 13:41] raver119 commented on #8536
P.s. https://github.com/KonduitAI/deeplearning4j/pull/138

[2019-12-20 14:12] saudet commented on #8554
As I explained before in issue https://github.com/eclipse/deeplearning4j/issues/7834#issuecomment-498170278, that's not how it should be done...

[2019-12-20 18:31] eraly opened #8564 "unsupported op, resource gather"
This is from our tf-import-examples IMDB example.

[imdb.pb.zip](https://github.com/eclipse/deeplearning4j/files/3989675/imdb.pb.zip)

pbtxt, [here](https://gist.github.com/eraly/c540a41ba8163db3cdb0fef288ba82db)

According to Raver this looks exactly like the gather operation. Not sure why this pb says resource gather.

Exception in thread "main" java.lang.IllegalStateException: Could not find cl

[2019-12-21 00:17] wmeddie opened #8565 "Calling toString() or hashcode() on NormalizerStandardize causes an Exception"
#### Issue Description

While not normally useful. Notebooks will typically call toString() on every abject created in a cell which causes an error when trying to initialize a NormalizerStandardize.

A notebook that reproduces this problem on beakerx is here:

https://gist.github.com/wmeddie/514781815aadb334fb38595c750bdf2d

#### Version Information

1.0.0-beta6

[2019-12-21 00:21] AlexDBlack opened #8566 "libnd4j: Hash code output shape calculation is incorrect; outputs float"
Also can't hashcode bool or String, which I think should be allowed.
And BOOL datatype is considered numerical, which should probably be changed...

[code]

[code]

[2019-12-21 05:07] raver119 commented on #8566
Fixed

[2019-12-21 05:07] #8566 closed, assigned to nobody

[2019-12-21 10:28] xlorne opened #8567 "e was R"
#### Issue Description

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please also provide:

* Full log or except

[2019-12-21 12:32] #8567 closed, assigned to nobody

[2019-12-21 15:02] SidneyLann commented on #8542
List<String> outputVars = new ArrayList<>(gradVarToVarMap.keySet());
outputVars.addAll(lossVariables);//the loss2 has values now after added this line in TrainingSession.java, the result should be correct?
Map<String, INDArray> m = output(outputVars, placeholders, batch, requiredActivations, listeners, at);

[2019-12-22 01:41] SidneyLann commented on #8561
Maybe py translate None to 1 when convert checkpoint to pb

[2019-12-23 02:01] AlexDBlack opened #8568 "ND4J minor optimization - ArrayUtil.flatten"
Flatten methods can use System.arrayCopy instead of the inner loop:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-common/src/main/java/org/nd4j/linalg/util/ArrayUtil.java#L2069-L2404

Might make Nd4j.create(double[][]),  Nd4j.create(float[][][]) etc a little faster...

[2019-12-23 02:19] AlexDBlack opened #8569 "libnd4j CPU optimization: Add DNNL (MKLDNN) concat helper"
I don't believe we have this implemented already...
https://intel.github.io/mkl-dnn/dev_guide_concat.html

Given the importance of the concat operation in CNNs like inception, it would be good to use the MKLDNN implementation.

Not sure if MKLDNN softmax is also worth adding...
https://intel.github.io/mkl-dnn/dev_guide_softmax.html

[2019-12-23 04:21] AlexDBlack commented on #8560
No luck so far in finding a way to force synchronous execution (for TF or CUDA generally)
The only thing I've been able to find is references to "CUDA_LAUNCH_BLOCKING" - which doesn't seem to make a difference...
(one reference also said it didn't impact CUDA streams API)
I have implemented aggregation of TF sub-ops for CUDA, as well as filtering of TF's op names,

At any rate, aggregated / cleane

[2019-12-23 04:24] #8555 closed, assigned to nobody

[2019-12-23 05:04] saudet commented on #8560
[`cudaDeviceSynchronize()`](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#group__CUDART__DEVICE_1g10e20b05a95f638a4071a655503df25d) is what you're looking for I believe?

[2019-12-23 07:26] AlexDBlack commented on #8560
@saudet Yes, but I don't believe I can (in any easy/practical sense) insert that into tensorflow after each operation's execution... that's what I really need here to ensure the profiler timing is "real" not just counting launch time.

[2019-12-23 10:50] raver119 opened #8570 "libnd4j: Multinomial op"
We need to implement Multinomial op

[2019-12-23 11:37] raver119 commented on #8559
Fixed

[2019-12-23 11:37] #8559 closed, assigned to shyrma

[2019-12-23 11:37] raver119 commented on #8468
Fixed

[2019-12-23 11:37] #8468 closed, assigned to shyrma

[2019-12-24 00:28] AlexDBlack commented on #8561
Where is this model from?
If it's the official BERT repo (here: https://github.com/google-research/bert ), they unfortunately made (a very bad IMO) design decision to have the model use a fixed minibatch size only.
There's nothing in the transformer model itself that requires a fixed minibatch size; it's something specific to their implementation. When working with BERT, I have looked at changing

[2019-12-24 01:08] SidneyLann commented on #8561
yes, I download from  https://github.com/google-research/bert.

[2019-12-24 01:08] SidneyLann commented on #8561
Is below model trained fine to use? https://dl4jdata.blob.core.windows.net/testresources/bert_mrpc_frozen_v1.zip?

And where is it from? It has the different placeholder names between offical one, it has also fixed mini batch size!

[2019-12-24 02:03] AlexDBlack commented on #8561
Right, so this is what I expected - the model has a hardcoded minibatch size at the TensorFlow level.
Unfortunately other than trying to "fix" the model manually, there's not much we can do here. It's not an import problem, the SameDiff model is imported correctly, and is the same as the TF model.

That's converted from the same repo that you used. IIRC it has fixed minibatch size of 4 instead of

[2019-12-24 02:03] #8561 closed, assigned to nobody

[2019-12-24 02:05] AlexDBlack commented on #8561
As for that model - it was produced using the instructions here: https://github.com/KonduitAI/dl4j-dev-tools/tree/master/import-tests/model_zoo/bert

[2019-12-24 05:48] AlexDBlack opened #8571 "ND4J: Review BaseNDArray.gt, neq, eq, etc INDArray signatures"
Some of these handle broadcast case, others don't.
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ndarray/BaseNDArray.java#L1485-L1570

Also result array allocation can probably just rely on op auto-allocation, instead of having code duplication in every signature...

[2019-12-24 07:02] AlexDBlack opened #8572 "libnd4j: reshape with empty & -1s does not work"
Currently, reshape op on an empty array, with a -1 in the output shape doesn't work. This is allowed in TF and is therefore needed for import.
In this case, the -1 should be replaced with a 0
For example [2,0].reshape(2,0,-1) = [2,0,0]
or [0,1,2].reshape(10,-1) = [10,0]

Running into this for a few TF import zoo models.

[code]

[2019-12-24 10:23] #8572 closed, assigned to nobody

[2019-12-24 12:34] AlexDBlack commented on #8560
SameDiff CUDA vs. CPU
densenet: https://gist.github.com/AlexDBlack/e57c0bff9e551c87050318b0a1f1d90a
squeezenet: https://gist.github.com/AlexDBlack/fc5dc5303e8d8f45a66776513f2fb698
nasnet_mobile: https://gist.github.com/AlexDBlack/3dfbbc93947bb4462facb0c53cd01eb3
inception_resnet_v2: https://gist.github.com/AlexDBlack/0d444f6e985f4126da0841952d6aa60e

[2019-12-24 13:07] AlexDBlack commented on #8560
Note above tests were ubuntu 18.04, CUDA 10.2, gtx 970

To reproduce: https://github.com/KonduitAI/dl4j-dev-tools/pull/35
Links to models can be found here: https://github.com/KonduitAI/dl4j-dev-tools/blob/master/import-tests/profiling/zoo_model_profiling.py
(download + extract)

Shapes from a few of the above tests:
[code]

[code]

[code]

[code]

[2019-12-24 13:46] raver119 commented on #8560
Concat: https://github.com/KonduitAI/deeplearning4j/pull/148/files

However, for me (2060S)  it was 350-440 us before tweak, 200-250 us after tweak.

[2019-12-24 15:33] alexanderst opened #8573 "yiq_to_rgb operation doesn't process empty input correctly"
TF implementation of yiq_to_rgb is able to accept empty array as input and generate model.

C++ exception thrown in libnd4j for such case:
NDArray::strideAt: Bad size index requested

rgb_to_yiq might be affected too.

[2019-12-24 15:46] raver119 commented on #8573
Fixed. Thanks for highlighting this one.

[2019-12-24 15:46] #8573 closed, assigned to raver119

[2019-12-24 17:19] raver119 commented on #8538
Implemented

[2019-12-24 17:19] #8538 closed, assigned to quickwritereader

[2019-12-24 17:19] raver119 commented on #8537
Implemented

[2019-12-24 17:19] #8537 closed, assigned to olegsemeniv

[2019-12-24 17:20] raver119 commented on #8536
Implemented

[2019-12-24 17:20] #8536 closed, assigned to alexanderst, olegsemeniv

[2019-12-25 06:47] olegsemeniv commented on #8570
To keep in mind v1.multinomial in v2 -> random.categorical

[2019-12-25 14:56] ChangbingChen opened #8574 "How to fetch the hidden layer output of a keras sequential model?"
#### Issue Description
I have a keras sequential model with four hidden layers.
Right now, I can only get the final output by:
[code]
However, I want to fetch each hidden layer output besides the final output. How to do?

#### Version Information
* Deeplearning4j version: 1.0.0-beta6
* Platform information (OS, etc): linux-x86_64
* CUDA version, if used: none
* NVIDIA driver version, if in use: no

[2019-12-25 14:59] ChangbingChen opened #8575 "How to fetch each hidden layer output besides the final output?"
#### Issue Description

I have a keras sequential model with four hidden layers.
Right now, I can only get the final output by:
[code]
However, I want to fetch each hidden layer output besides the final output. How to do?

#### Version Information

* Deeplearning4j version: 1.0.0-beta6
* Platform information (OS, etc): linux-x86_64
* CUDA version, if used: none
* NVIDIA driver version, if in use:

[2019-12-25 15:00] #8574 closed, assigned to nobody

[2019-12-25 22:45] frakc opened #8576 "Op [hashcode] failed check for output [0], DataType: [FLOAT];"
#### Issue Description
When running ticktoe example I encounter the following error.  Interesting thing - I don't have drive D

INFO: Data Processing Started
o.n.l.f.Nd4jBackend - Loaded [CpuBackend] backend
o.n.n.NativeOpsHolder - Number of threads used for linear algebra: 4
o.n.l.c.n.CpuNDArrayFactory - *********************************** CPU Feature Check Warning *******************************

[2019-12-26 02:09] saudet commented on #8576
Duplicate of #8554

[2019-12-26 02:10] saudet commented on #8576
Sorry, I thought this was related to the AVX warning, but maybe it's not related @raver119 ?

[2019-12-26 04:43] raver119 commented on #8576
It's a bug, described here: https://github.com/eclipse/deeplearning4j/issues/8566
Already fixed on master. Will be available in snapshots shortly.

[2019-12-26 04:43] #8576 closed, assigned to nobody

[2019-12-26 10:03] raver119 opened #8577 "MatMul with empty inputs"
At this moment we don't have tests for MatMul with empty inputs, and apparently we'll see couple of minor issues there. So, we need to add corresponding import tests and, presumably, fixes.

[2019-12-26 22:35] otto-dev opened #8578 "Reading DataSet from Streams"
#### Issue Description

This is a feature request to provide an inteface for steaming of DataSets. The purpose of this is to allow training and evaluation of neural networks using non-local data sources.

I've had a look for this functionality and other issues, but the only thing I found was this gitter comment from March:

maybe open an issue describing what you want to do, and we can look at add

[2019-12-27 01:16] saudet commented on #8578
Please send a pull request, even just as a WIP. It will be easier to review! Thanks

[2019-12-27 01:24] otto-dev commented on #8578
If you can, could you please give me a starting point? I'll have to see if I am able to, within reasonable time. The reason why I'm opening this issue in the first place is because I'm not sure how to do this even as an end-user, and I have no familiarity with the code-base apart from the publicly visible API.

[2019-12-27 01:36] saudet commented on #8578
There's a nice guide about pull requests here:
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request
If you're talking about the code of Deeplearning4j itself, I'm afraid you'll need to read it a bit to get familiar with it, but we're here to help if you have any questions.

[2019-12-27 18:44] novog opened #8579 "SameDiff generation of unsigned integers produces unexpected results"
#### Issue Description

Hello, new user here. I can use the following Kotlin code to successfully generate uniform random `DataType.INT` values. (If there is a more efficient way to generate the needed shape `SDVariable`, or a direct way to generate random `UINT64`s using the standard ND4J random functions instead of SameDiff, please let me know).

    val sameDiff = SameDiff.create()
    val floa

[2019-12-27 18:54] raver119 commented on #8558
Implemented and will be merged soon.

[2019-12-27 18:54] #8558 closed, assigned to alexanderst

[2019-12-27 18:59] raver119 commented on #8579
I'm afraid it was never tested tested against unsigned types, and wasn't even supposed to work with unsigned types. So we should either fix validation, or tweak operation. Probably tweak operation would be a better choice here.

cc @AlexDBlack

[2019-12-28 03:40] agibsonccc opened #8580 "Python execution missing support for boolean type"
#### Issue Description
We're missing boolean type here:
https://github.com/eclipse/deeplearning4j/blob/master/datavec/datavec-python/src/main/java/org/datavec/python/PythonUtils.java#L110

We're missing it here as well: https://github.com/eclipse/deeplearning4j/blob/master/datavec/datavec-python/src/main/java/org/datavec/python/PythonTransform.java#L232

Please describe our issue, along with:

###

[2019-12-30 00:23] AlexDBlack commented on #8575
There's a few options here
MultiLayerNetwork.feedForward() - gives you activations for all layers
.feedForwardToLayer(...) - gives you activations for layers 0 to N
.activateSelectedLayers(0, N, input)

[2019-12-30 00:23] #8575 closed, assigned to nobody

[2019-12-30 00:48] AlexDBlack commented on #8578
As a basic approach, the code you have provided is fine.
It might be possible to optimize it slightly - for example if your Seq is already in batches of the correct size, you can simply do:
[code]

If this is all you need, I think we can close this issue, and don't need to modify the API.
But if this isn't suitable for some reason, can you elaborate on why?

The only issue I can forsee here is tha

[2019-12-30 00:51] cqiaoYc commented on #8253
@saudet Yes, this is still a problem with 1.0.0-beta6.

[2019-12-30 00:53] AlexDBlack commented on #8579
Hm... that stack trace doesn't look specific to random, it's about INDArray.toString.

As for uniform random - separate issue, but if `sameDiff.random().uniform` doesn't work for unsigned integers, I see no harm in adding that, with appropriate validation of course (non-negative lower bound, mainly)

[2019-12-30 03:05] AlexDBlack commented on #8560
retesting concat on CUDA GTX970 after recent optimizations:

[code]

So, definitely faster, but not much faster...

[code]

[code]

[code]

[2019-12-30 03:13] AlexDBlack commented on #8488
Retesting bias add, 5930k (no AVX)

(And yes, the op names are ".../FusedBatchNorm", but the actual ops are biasadd)

[code]

[2019-12-30 06:24] AlexDBlack commented on #8579
So, the exception above was due to an issue in one constructor in BaseCudaDataBuffer, easy fix (fixed in my branch, will be merged soon).

As for actual values, the following datatypes look off for U(0,10):
- BYTE (0s out)
- SHORT (0s out)
- UBYTE (0 or 1 only)
- UINT16 (0 or 1 only)
- UINT32 (garbage values, out of range)
- UINT64 (garbage values, out of range)

[2019-12-30 06:26] raver119 commented on #8579
Right, it was never introduced there, since the goal was float types + int32. I will add support for these types somewhere this week.

[2019-12-30 08:21] AlexDBlack opened #8582 "Nd4J: need UInt32 and UInt64 indexers"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-buffer/src/main/java/org/nd4j/linalg/api/buffer/BaseDataBuffer.java#L578-L587

Unsurprisingly, this overflows for large values in toString, and is also returning incorrect values in getDouble, getInt etc
[code]

These indexers would need to go in JavaCPP though

https://github.com/bytedeco/javacpp/tree/master/src/main/java/org/bytedec

[2019-12-30 12:13] AlexDBlack opened #8583 "SameDiff Dropout"
Currently gives:
`java.lang.UnsupportedOperationException: Dropout SameDiff support disabled pending backprop support`

[2019-12-30 12:56] thomas-trendsoft opened #8584 "Word2Vec fails on spark to average results"
I have a small code piece to calculate a word2vec model from some sentences inside a cassandra database. everything runs good until the end steps of the learning. then i got an exception:

[code]
I use the current snapshot version from maven build with:

No cuda only cpu backend is used on rasperry pi with openblas.

Build is from today (30.12.2019)
My pom is following:

[code]

I tried to report

[2019-12-31 00:13] thomas-trendsoft commented on #8584
forgot the code...
[code]

[2019-12-31 00:53] agibsonccc commented on #8582
@saudet

[2019-12-31 05:31] AlexDBlack commented on #8488
Testing master vs. shyrma_depthconv on mobilenetv1: (same linux 5930k as before)
cc @shyrma

master:
[code]

shyrma_depthconv:
[code]

mobilenetv2 is similarly improved.
Still showing slowed than TF, but considerably faster than before MKLDNN support was added

[2019-12-31 06:38] AlexDBlack commented on #8560
Testing concat on GTX970 (CUDA 10.2, ubuntu 18.04)
https://gist.github.com/AlexDBlack/a7371f5c3bf1b209a253214a8038a913
Earlier test by @raver119 (that should have been the same dimensionality as the first case), Windows 2080ti:
[code]

Need to validate that result on other GPUs, but a GTX970 should be nowhere near that slow in comparison to a 2080ti...

[2019-12-31 12:51] raver119 commented on #8577
@alexanderst i've applied fixes in your branch, but have you added additional tests?

[2019-12-31 12:52] raver119 commented on #8516
Fixed, as far as I know

[2019-12-31 12:52] #8516 closed, assigned to shugeo

[2019-12-31 12:53] raver119 commented on #8560
First suspect here would be int64 arithmetics used for indexing these days

[2019-12-31 12:56] raver119 commented on #8517
Re-implemented

[2019-12-31 12:56] #8517 closed, assigned to shugeo

[2019-12-31 12:56] raver119 commented on #8451
Fixed

[2019-12-31 12:56] #8451 closed, assigned to nobody

[2019-12-31 17:02] reckart opened #8585 "Getting AVX-2 warning despite AVX-2 being the only binaries available"
#### Issue Description

I have a project which depends only on the 1.0.0beta6 ND4J AVX 2 native JARs but still I get the warning that I am trying to run using the generic x64 binaries on an AVX2-capable platform.

In the output below, the `jar:file:/Users/USERNAME/.m2/repository/...`and `/Users/USERNAME/.javacpp/cache/...` lines come from debug-log-breakpoints added at these locations respectively

[2019-12-31 17:04] reckart commented on #8585
Btw. I had to add excludes to the POM, otherwise ND4J would transitively always also include the non-AVX dependency:

[code]

[2020-01-01 07:12] raver119 commented on #8585
1) show full pom.xml please
2) tell us, what's your CPU model name please

[2020-01-01 11:17] reckart commented on #8585
The POM is [here](https://github.com/inception-project/inception/blob/52a77d5a7152bb744a6c8ad9d6aa6ecc9f8214b5/inception-imls-dl4j/pom.xml).

[2020-01-01 11:19] reckart commented on #8585
CPU info:

[code]

[2020-01-01 11:21] reckart commented on #8585
Note the POM is a bit verbose because I am trying to not include binaries that are not needed for my target environments.

[2020-01-01 13:54] CCH0124 opened #8586 "DataAnalysis Exception"
#### Issue Description

Please describe our issue, along with:
- expected behavior

- encountered behavior
[code]
#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version  1.0.0-beta4
* Platform information (OS, etc) Windows10
* CUDA version, if used 10.0
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please

[2020-01-01 18:08] Paranormaly opened #8587 "Object Detection using Darknet19"
I used DL4J Yolo and TinyYolo examples for object detection using opencv it works fine
But When I first used Darknet19 I saw that there is no way to get the detected object boundaries
Yolo has Yolo2OutputLayer but Darknet19 has loss output layer and there is no way to get boundaries.
I checked documentation/examples/tests but couldn't find a way.
Is there any guide or documentation for such an iss

[2020-01-02 00:37] RobAltena opened #8588 "INDArray toString should print the datatype"
INDArrays are compared by datatype and value. But the default toString only prints the values. In unit testing this gives confusing output:

    @Test
    void TestEqual() {
        INDArray y = Nd4j.createFromArray(0.0f, 1.0f, 2.0f);
        INDArray y_exp = Nd4j.createFromArray(0.0, 1.0, 2.0);
        assertEquals(y_exp, y);
     }

fails correctly with the following message:

    org.opentest4j

[2020-01-02 06:32] saudet commented on #8587
Darknet doesn't do object detection on its own. That's what the Yolo layers do.

[2020-01-02 06:33] #8587 closed, assigned to nobody

[2020-01-02 06:37] saudet commented on #8582
I've added a `UIntIndexer` for that in commit https://github.com/bytedeco/javacpp/commit/11e20d81c657a0155a43a6a90a482cd83d9d24b2 as well as a `ULongIndexer` in commit https://github.com/bytedeco/javacpp/commit/b1f29bec7bed3c30a9ebe63f8fed1f83acace59c.

[2020-01-02 07:02] SelfEvoAI opened #8589 "How to load model from hdfs on flink taskmanger?"
there is many LSTM model (lstmmodel.h5) stored in hdfs.

## How to load the model from hdfs?

And I find the issure #5241 , but it did not worked for me.

I am try the two function, but get out errors.

[code]

[code]

when I input a local path (D:\project\opsDataWarehouse\model\mutiTimestepsLstm.h5), it worked.

How shoud I do to load model from hdfs?

Thanks.

[2020-01-02 09:27] AlexDBlack commented on #8585
Two more things that might help us debug this:
1. Output of `mvn dependency:tree` for your project
2. Output of running your code with `-Dorg.bytedeco.javacpp.logger.debug=true -Dorg.bytedeco.javacpp.logger=slf4j` passed on the command line

[2020-01-02 12:17] AlexDBlack commented on #8586
This doesn't look like a bug. You have text values in your integer column, that (by definition) don't match your schema.
`java.lang.NumberFormatException: For input string: "RowNumber"`

Possibly a header line that needs to be removed/filtered before analysis?

[2020-01-02 12:17] #8586 closed, assigned to nobody

[2020-01-02 12:23] AlexDBlack commented on #8589
You can't use ClassPathResource to load from a remote location.
ClassPathResource, by definition, is for loading things that are on the class path - i.e., local, and within the JVM's class path. Basically it's only useful for things within JARs (or in some cases your project directories).

To load from HDFS, you'll need to use input streams. DL4J models and Keras import has methods for it.
I'm not

[2020-01-02 12:23] #8589 closed, assigned to nobody

[2020-01-02 12:58] AlexDBlack opened #8590 "SameDiff: Intermittent test failure (TF import)"
[code]

Not reproducible in isolation

[2020-01-02 21:46] reckart commented on #8585
Here is the `dependency:tree` output.

<details>
<summary>Dependency tree</summary>

[code]
</details>

Setting the log level of JavaCPP to debug generates a **lot** of output. I assume only the early output is relevant.

<details>
<summary>JavaCPP debug output</summary>

[code]
</details>

[2020-01-03 00:24] AlexDBlack commented on #8585
Thanks @reckart
So it's definitely loading avx2 binaries.

Best guess is it's one of these methods returning the wrong value on mac?
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native/src/main/java/org/nd4j/linalg/cpu/nativecpu/CpuNDArrayFactory.java#L105-L110

[code]

@reckart I'm pretty sure this is the underlying cause, but can you provide th

[2020-01-03 05:13] raver119 commented on #8585
Or macOS binary is built without avx...

[2020-01-03 05:13] raver119 commented on #8585
cc @sshepel ^^^

[2020-01-03 10:03] reckart commented on #8585
I put the println lines above into a new empty test class in the same project. Here is the output:

[code]

[2020-01-03 10:16] raver119 commented on #8585
So, that's a build bug then. Binary wasn't built with avx2 enabled. We'll find out why and fix that.

Thanks for highlighting this issue.

[2020-01-03 12:17] raver119 commented on #8585
Fixed, thank you. It'll hit snapshots in few days.

[2020-01-03 12:17] #8585 closed, assigned to raver119

[2020-01-03 16:25] otto-dev commented on #8578
Thank you very much @AlexDBlack, I appreciate that you had a look at this. I'll proceed with the above method, and we can close this issue - in the end I only needed  confirmation from someone more knowledgeable with dl4j.

[2020-01-03 17:34] raver119 commented on #8540
Fixed.

[2020-01-03 17:34] #8540 closed, assigned to shugeo

[2020-01-03 17:40] alexanderst commented on #8577
Added locally, but resources not in pr yet.

[2020-01-03 17:52] raver119 commented on #8577
Turns out it's already merged.

[2020-01-03 17:52] #8577 closed, assigned to alexanderst, shyrma

[2020-01-04 00:44] #8578 closed, assigned to AlexDBlack

[2020-01-04 01:45] AlexDBlack opened #8591 "ND4J: CI Test Failures"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-143/9/pipeline/66

linux-x86_64-cuda-10.0, windows-x86_64-cuda-10.0 etc
[code]

macosx-x86_64-cpu, macosx-x86_64-cpu-avx2
[code]

windows-x86_64-cuda-10.0
[code]
Not reproducible locally on windows (CUDA 10.2)

Note I've already fixed the linux-x86_64-cpu timeout also flagged in that CI run.

[2020-01-04 02:41] AlexDBlack opened #8592 "Modification required for empty reshape with -1s"
Following up on this issue: https://github.com/eclipse/deeplearning4j/issues/8572

Turns out I was wrong regarding TF's behaviour for reshape with -1 and 0s.

Seems like the behaviour is "keep the product of the non-0 (and non -1) elements the same".

Here's some test cases:
[code]

[code]

[2020-01-04 02:45] #8568 closed, assigned to AlexDBlack

[2020-01-04 02:45] #8497 closed, assigned to nobody

[2020-01-04 02:45] #8504 closed, assigned to nobody

[2020-01-04 02:45] #8509 closed, assigned to nobody

[2020-01-04 02:45] #8520 closed, assigned to AlexDBlack

[2020-01-04 02:45] #8549 closed, assigned to nobody

[2020-01-06 02:15] AlexDBlack opened #8593 "ND4J: nd4j-parameter-server-node test memory issues"
Running the nd4j-parameter-server-node tests on a linux (32GB) system, cpu backend, with the following command line fails:
[code]

Previously I haven't had any issues with these tests failing due to memory issues, so it's probably related to the recent nd4j/libnd4j memory management changes.

[code]

[code]

See gist for logs:
https://gist.github.com/AlexDBlack/b12b16575a69eb8eaeaeeaa50e41624c

[2020-01-06 11:45] AlexDBlack opened #8594 "ND4J: Review header files to parse for JavaCPP (CPU/CUDA)"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native/src/main/java/org/nd4j/nativeblas/Nd4jCpuPresets.java
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-cuda/src/main/java/org/nd4j/nativeblas/Nd4jCudaPresets.java

Right now, I'm seeing around 2 minutes to build nd4j-native module (linux, 6 core 59

[2020-01-06 12:16] saudet commented on #8594
What takes most time is `lapacke.h`, which is something that we can skip with some hacking...

[2020-01-07 06:24] AlexDBlack opened #8597 "libnd4j: batchnorm op (cpu, no mkldnn) with permuted input gives incorrect output"
[code]

Note MKLDNN is disabled here. I will confirm it passes (or not) with MKLDNN soon.

[2020-01-07 07:07] AlexDBlack commented on #8597
Confirmed passing on MKLDNN, so it's only our batchnorm implementation that is impacted.

[2020-01-07 07:30] AlexDBlack commented on #8597
Confirmed OK on CUDA

[2020-01-07 08:47] raver119 opened #8598 "libnd4j: autovectorizer validation"
We want to rely on autovectorization in our legacy ops loops, so it would be awesome to validate it actually works as intended. And, probably, fix it, if some loops are not vectorizer properly.

In order to do this we need:
- Add an option for build script that will enable missed vectorization reporting in file
- Python script that will parse vectorizer log and give us human-readable representatio

[2020-01-07 09:09] AlexDBlack opened #8599 "ND4J: TensorFlowConversion doesn't support many ND4J datatypes"
Essentially it hasn't kept up with our new datatype additions:

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-tensorflow/src/main/java/org/nd4j/tensorflow/conversion/TensorflowConversion.java#L109-L129

For example missing unsigned, bfloat16, etc.
We should also test these.

[2020-01-08 04:27] AlexDBlack opened #8600 "DL4J/ND4J Java tests: add GPU memory check (+ skip if not enough)"
The idea: some tests (mainly large DL4J/SameDiff import and model zoo tests) require a particular amount of GPU memory, and may not be able to run on say a 4GB GPU.

Rather than failing (via OOM) in these cases, we should check GPU total memory, log a warning and skip them instead.

[2020-01-08 04:46] AlexDBlack opened #8601 "ND4J/libnd4j: Setting max master threads not working"
[code]

[code]

[2020-01-08 05:52] AlexDBlack commented on #8590
https://github.com/KonduitAI/dl4j-test-resources/pull/19

[2020-01-08 05:52] #8590 closed, assigned to AlexDBlack

[2020-01-08 05:59] AlexDBlack opened #8602 "SameDiff/ND4J: Some RNG ops not updating seed?"
Both of these tests fail, producing same values in each execution...
Note that the non-custom-op RNG ops seem fine.

[code]

[2020-01-08 08:39] cqiaoYc commented on #8253
@raver119 Dl4j and nd4j are excellent projects, and I like them very much. But they are not suitable for this project. I plan to implement this project with CUDA and cudnn. I need to build a multi-layer LSTM network with cudnn, which contains several LSTM layers and a softmax output layer. I found an example of how to build an LSTM layer with cudnn:
1. https://github.com/Hardware-Alchemy/cuDNN-sam

[2020-01-08 08:47] raver119 commented on #8253
Sorry for late response
 I’ve checked your project, but it’s apparently over engineered in terms of memory use. Mix of workspaces and references, and eventually it blows up in natural way - lots of arrays still have valid references.  I’m not sure how to fix it without redesign 🙁

With best regards,
raver119
8 янв. 2020 г., 10:39 +0200, cqiaoYc <notifications@github.com>, писал:

[2020-01-08 09:01] cqiaoYc commented on #8253
@raver119 Thank you for your reply. If CUDA is used, a GA operation can be completed with a kernel function, but with nd4j, it needs to switch between CPU and GPU many times. This is not a problem with nd4j, it was not designed specifically for GA. So, I plan to redevelop this project with CUDA and cudnn. I will use dl4j for other supervised learning projects.
      If you have used cudnn, I hope

[2020-01-08 09:06] raver119 commented on #8253
You can check Dl4j source code, there’s cudnn used via javacpp wrappers

With best regards,
raver119
8 янв. 2020 г., 11:01 +0200, cqiaoYc <notifications@github.com>, писал:

[2020-01-08 10:07] saudet commented on #8253
Yeah, cuDNN is easy to use from Java with JavaCPP. There's standalone sample code here:
https://github.com/bytedeco/javacpp-presets/tree/master/cuda#the-pomxml-build-file

[2020-01-08 12:50] AlexDBlack opened #8603 "libnd4j: split op with empty arrays (0s in shape) should also return 0s in shape"
We should be getting shape [0, 1] on the test below, but we're getting rank 0 empty instead.

[code]

[code]

[code]
[code]

[2020-01-08 12:51] AlexDBlack commented on #8603
@alexanderst Can you add some tensorflow import test cases for this also? Thanks.

[2020-01-08 18:07] syshex opened #8604 "CSVRecordReader with SkipLines problem with JavaRDD"
#### Issue Description

When using a CSVRecordReader for a transformation process , when we use the SkipLine arg different than 0, problems happen:

Example code :

[code]
Works fine.

When `CSVRecordReader rr = new CSVRecordReader(1);`  , then the result is :

java.util.NoSuchElementException: No more elements found!
	at org.datavec.api.records.reader.impl.LineRecordReader.next(LineRecordReader.j

[2020-01-09 04:02] AlexDBlack opened #8605 "libnd4j: ones_as / ones_like and zeros_as / zeros_like needs output dtype arg"
https://www.tensorflow.org/api_docs/python/tf/ones_like?hl=en
https://www.tensorflow.org/api_docs/python/tf/zeros_like?version=stable

Note the dtype arg. In our ops, if not set, we should use the input datatype.

https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/ones_as.cpp
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/

[2020-01-09 04:22] AlexDBlack opened #8606 "libnd4j: range op needs to support output dtype arg"
Similar to https://github.com/eclipse/deeplearning4j/issues/8605

https://www.tensorflow.org/api_docs/python/tf/range?version=stable
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/range.cpp

[2020-01-09 05:24] AlexDBlack opened #8607 "libnd4j: onehot op needs the ability to specify the output datatype"
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/onehot.cpp
https://www.tensorflow.org/api_docs/python/tf/one_hot?version=stable

[2020-01-10 06:18] SidneyLann opened #8608 "should allow 6 inputs for BatchNorm"
In BatchNorm.java, need input, mean, variance, gamma, beta, batchNorm-grad for batchNormDerivative.outputVariables(), but it only allow 5.

    @Override
    public List<SDVariable> doDiff(List<SDVariable> f1) {
        List<SDVariable> ret = new ArrayList<>();
        List<SDVariable> inputs = new ArrayList<>(Arrays.asList(args()));
        inputs.add(f1.get(0));
        BatchNormDerivative batch

[2020-01-10 07:44] SidneyLann opened #8609 "Exception in BatchNorm.java"
java.lang.IllegalStateException: Incorrect number of output datatypes: got 1 but expected datatypes for 3 outputs - [FLOAT] (op: BatchNormDerivative)
	at org.nd4j.base.Preconditions.throwStateEx(Preconditions.java:641)
	at org.nd4j.base.Preconditions.checkState(Preconditions.java:412)
	at org.nd4j.autodiff.samediff.SameDiff.generateOutputVariableForOp(SameDiff.java:3844)
	at org.nd4j.linalg.api.op

[2020-01-10 08:33] zhongzh1992 opened #8610 "What i can do when it occured exceptions such as Unsupported keras layer type FactorizedEmbedding?"
#### Issue Description
org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type FactorizedEmbedding. Please file an issue at https://github.com/eclipse/deeplearning4j/issues.
	at org.deeplearning4j.nn.modelimport.keras.utils.KerasLayerUtils.getKerasLayerFromConfig(KerasLayerUtils.java:320)
	at org.deeplearning4j.nn.modelimport.keras.Ke

[2020-01-10 08:55] SidneyLann opened #8611 "Argument dimensions not save to model file"
1. add mmul1 = sd.nn.layerNorm("layerNorm", mmul1, gain, false, 2);
2. train and save model
3. restore model
4. throw exception:
 LayerNormBp: You have to provide dimensions
	at org.nd4j.base.Preconditions.throwEx(Preconditions.java:636)
	at org.nd4j.base.Preconditions.checkArgument(Preconditions.java:64)
	at org.nd4j.linalg.api.ops.impl.transforms.custom.LayerNormBp.setDimensions(LayerNormBp.java

[2020-01-12 04:45] Ghulam-Sarwar commented on #8584
Hi, I am facing the same problem. I tried to point the spark library to 1.0.0-SNAPSHOT as well. Still same error. Can anyone help?

[2020-01-12 04:47] Ghulam-Sarwar commented on #8288
@AlexDBlack I tried to follow the instructions to run on 1.0.0-SNAPSHOT as well. I am facing the same issue. Any help would be great.

[2020-01-12 09:57] george-toma opened #8612 "deeplearning4j-core - Trojan warning in its Java dependencies"
Hi folks,

Windows Defender antivirus shows a trojan in one of the transitive dependencies from deeplearning4j-core/examples package/project and to be more specific in opencv for MacOS.

By default when you compile the project all OS dependencies are downloaded from the central Maven repository, so everyone has this trojan in their machines.

In case this is not a false alarm of Windows Defender,

[2020-01-12 15:11] raver119 commented on #8612
That’s kind of strange, since we all have defender on windows machines. So we should have been notified loooong before binary gets into release repo.

So I doubt that’s the case, but we should check that.

Can you please provide use with sha256 hash of the jar file?

With best regards,
raver119
12 янв. 2020 г., 17:57 +0800, george-toma <notifications@github.com>, писал:

[2020-01-12 16:15] george-toma commented on #8612
Hi Raver119,

Thanks for the quick response.

Maven sha1 is f5ba57e5c0999cece8bc7171f639d876abab5ff6.

By default, I don't believe Windows Defender scans inside archives files and it does this only when a manual scan is started.

I scanned with Kaspersky and Avast and I got no warning, so this might be a false alarm of Windows Defender.

Thanks,

[2020-01-13 01:25] quickwritereader commented on #8556
this issue is still in progress as several helper experiments are conducted on this.
Here is the current state from the latest commit:

Bias Add Optimizations: [[Experimental]]

Channel at the end case:
+ Vectorized continuous case for C and Fortran order
+ Vectorized and ordinary case for the same strided and same orders
+ generic case
+ Operations to flatten bias for smaller cases

Channel at th

[2020-01-14 11:46] olegsemeniv opened #8613 "StringUtils for utf convertor"
Methods:
as inputs int8_t*, unsigned char*, void* calculate buffer length
UTF8 <-> UTF16
UTF8 <-> UTF32
UTF16 <-> UTF32

[2020-01-14 12:55] quickwritereader commented on #8598
I checked gcc. we can use `-fopt-info-*` flag options for checked cpp files. it can save its output but it is overwritten for each trasnlation unit so its advised to use stderr output.
gcc also has `-fsave-optimization-record ` json output. but its experimental
[gcc-Developer-Options](https://gcc.gnu.org/onlinedocs/gcc/Developer-Options.html#Developer-Options)

but it seems clangs-llvm is more mat

[2020-01-14 14:03] alexanderst opened #8614 "Add fluent syntax for linear solve to nd4s"
Add some fluent syntax construction to implement linear solve (like numpy.linalg.solve) in scala.
Analogue from Breeze: a \ b.  But this operator is used in nd4s.

[2020-01-14 16:10] thofer opened #8616 "BarnesHutTsne does not produce expected output"
#### Issue Description

I’m using BarnesHutTsne, but the result does not look like as expected. I tried MNist data and expected a typical clustering similar to https://lvdmaaten.github.io/tsne/examples/mnist_tsne.jpg.

The output of BarnesHutTsne (and Tsne) looks like a donut with randomly arranged points that is really untypical.

#### Version Information

I'm using Deeplearning4j version 1.0.0-b

[2020-01-14 22:41] nimishatandon commented on #8387
@AlexDBlack we did exhaustive testing and the server does not seem to be crashing now . However, the model accuracy on the same data set went down by 2-3 percent. Have you also observed this in your testing .

[2020-01-15 00:04] raver119 commented on #8616
Can you please try the latest version, which is beta6 and if the problem is reproducible there - post your code of both Tsne and BarnesHutTsne?

With best regards,
raver119
15 янв. 2020 г., 00:11 +0800, thofer <notifications@github.com>, писал:

[2020-01-15 00:09] raver119 commented on #8613
Huh?

[2020-01-15 05:52] olegsemeniv commented on #8613
Hi @raver119 ,

I opened this one to systematizy info for the new task, but seems I do not have rights to add watchers and assign. So, you can open new (or update this) and assign it to me. Maybe, you also have any corrections to description.

Thanks

[2020-01-15 05:54] #8611 closed, assigned to nobody

[2020-01-15 13:21] chentao106 opened #8617 "INDArray[CpuBackend] has significant performance differences with double[] on similar operations"
#### Issue Description

Please describe our issue, along with:
- expected behavior
- encountered behavior
INDArray[CpuBackend] has significant performance differences with double[] on similar operations, such as:
INDArray[512].sum1,000,000 times cost 14697ms
double[512] sum1,000,000 times cost 36ms

ClusterUtils.computeSquareDistancesFromNearestCluster call with 1 cluster and 10000 points 100 time

[2020-01-15 16:31] thofer commented on #8616
This is my code for BarnesHutTsne: https://gist.github.com/thofer/e038f747862d3d2e2a3172b9e4a216cb

I updated to beta6, but I cannot tell you yet, whether it runs or not, because it code takes forever to complete (i7-6567U CPU @ 3.30GHz). Compared to t-SNE implementation of Leif Jonsson, that runs within a few minutes for the same data.

mnist-25.csv is 25% of the full MNIST data.

[2020-01-15 23:58] nimishatandon opened #8618 "Drop in model F1 score across all classes after upgrading from Beta-2 to Beta"
#### Issue Description

We are observing a drop in our model performance after upgrading from Beta-2 to beta5 with the exact same dataset.

#### Version Information

1.0.0-beta5

[2020-01-16 10:05] SelfEvoAI opened #8619 "java.lang.NoClassDefFoundError: org/deeplearning4j/nn/conf/NeuralNetConfiguration$Builder"
When I import model.h5, I have the two errors.

[code]

[code]

but I am add the dependency
[code]

# pom.xml

[code]

[2020-01-16 10:28] saudet commented on #8619
Please remove all the explicit "javacpp" dependencies.

[2020-01-16 15:00] thofer commented on #8616
I could verify that BarnesHutTsne does not run on beta6. The linked code above leads to a final vector of `NaN` values only.

[2020-01-16 15:23] thofer commented on #8616
Plain t-SNE fails with

`16:07:52.718 DEBUG org.deeplearning4j.plot.Tsne - Y:Shape is = [6000, 2]`
`16:07:52.855 DEBUG org.deeplearning4j.plot.Tsne - sumX shape: [6000]`
`16:07:52.997 DEBUG org.deeplearning4j.plot.Tsne - times shape: [6000, 6000]`
`16:07:53.015 DEBUG org.deeplearning4j.plot.Tsne - prodSum shape: [6000, 6000]`
`Exception in thread "main" java.lang.IllegalStateException: Can't trans

[2020-01-16 21:26] arpieb opened #8620 "Keras import error: InvalidKerasConfigurationException: Cannot assign arrays: arrays must both be scalars, both vectors, or shapes must be equal other than size 1 dimensions"
#### Issue Description

Please describe our issue, along with:
- expected behavior \
  Sequential model created, trained and saved in Keras 2.3.1 + TF 2.0.0 under Python 3.7 would load into a Dl4j model
- encountered behavior \
  Exception thrown on import into Dl4j

Model was created, trained, and saved from a DL rig running Ubuntu 18.0.4 LTS with the software versions listed above, and has been

[2020-01-17 06:27] raver119 commented on #8616
Thank you very much, we’ll investigate that

With best regards,
raver119
16 янв. 2020 г., 18:00 +0300, thofer <notifications@github.com>, писал:

[2020-01-17 07:27] SelfEvoAI commented on #8619
thanks.

I am try remove all the explicit "javacpp" dependencies, it works in local idea env.

But not worked in Flink cluster, throw the same exception.

So I add the `nd4j-api-1.0.0-beta5.jar` and `deeplearning4j-nn-1.0.0-beta5.jar` to flink cluster lib.

Throw the new exception:

[code]

why?

[2020-01-17 07:48] saudet commented on #8619
It looks like some of the classes are loaded by a different class loader for some reason. Try to get everything loaded with the same class loader.

[2020-01-17 10:15] reckart opened #8621 "Failure to choose compatible binaries when both generic and AVX2 are on the classpath"
#### Issue Description

I want to be able to build an application which uses DL4J and is able to run on CPUs supporting AVX2 and on CPUs which do not support it. I am adding both binaries to the classpath / both dependencies to the POM.

I expect that DL4J is able to automatically determine if the CPU supports AVX2 or not. If AVX2 is supported, I expect it to load the AVX2 binaries, otherwise I ex

[2020-01-17 13:46] saudet commented on #8621
See https://github.com/eclipse/deeplearning4j/issues/7834#issuecomment-498170278 for some discussion.

[2020-01-17 19:04] arpieb commented on #8620
Taking a swing at a fix here:
https://github.com/arpieb/deeplearning4j/tree/issue-8620

[2020-01-17 19:46] fmorbini opened #8622 "error in FeedForwardToRnnPreProcessor when passing batch of different size in testing"
#### Issue Description

test code is provided in the gist below:

https://gist.github.com/fmorbini/62c9588ce36d4a2b441704b0a6435474

was working fine in beta4. switched to beta6 because of https://github.com/eclipse/deeplearning4j/issues/8156 but now the same code does not work.

expected behavior is that the batch sizes used in training and eval should not matter.

#### Version Information
beta6

[2020-01-17 21:03] fmorbini commented on #8622
it seems that adding
ComputationGraph.setLabels((INDArray[])null);
before testing fixes the problem. i'll investigate more.

[2020-01-17 21:43] fmorbini commented on #8622
yes the above change seems to work fine. i'll close the ticket.

[2020-01-17 21:43] #8622 closed, assigned to nobody

[2020-01-18 05:22] #8608 closed, assigned to nobody

[2020-01-18 05:23] #8609 closed, assigned to nobody

[2020-01-18 05:27] SidneyLann opened #8623 "The gamma or beta's gradient is null"
When using sd.nn.batchNorm(...), at the line SDVariable g = v.gradient(); in SameDiff.java, the gamma or beta's gradient g is null, Is it normal?

[2020-01-19 07:26] SidneyLann commented on #8623
@Override
  public List<DataType> calculateOutputDataTypes(List<DataType> inputDataTypes) {
    if (inputDataTypes.get(0).isFPType()) {
      List<DataType> outputDataTypes = new ArrayList<>(3);
      outputDataTypes.add(inputDataTypes.get(0));
      outputDataTypes.add(inputDataTypes.get(0));
      outputDataTypes.add(inputDataTypes.get(0));
      outputDataTypes.add(inputDataTypes.get(0));

[2020-01-19 07:27] SidneyLann commented on #8623
add this 2 methods to BatchNormDerivative solved the problem. but the batchnorm_bp should have 5 outputs?

[2020-01-19 18:54] raver119 commented on #8617
1) Unfortunately you vastly undervalue what "framework expenses" are.
When you create array of doubles and rolling through it - you're basically doing a loop over primitives that perfectly fit into CPU cache. Just a plain loop.

In case of framework use - you have to check everything - array lengths. Calculate output array length. Allocate output array. Make sure input array & output array have th

[2020-01-20 02:28] AlexDBlack commented on #8610
Apologies for the delayed reply.
Is this a standard Keras model, or one built with tf.keras?
The former doesn't have a layer of that type - https://keras.io/layers/embeddings/
For tf.keras, they introduced a whole lot of incompatible changes to the file format that we are working to support (if this is the case, you wouldn't be able to load it in "normal"/multi-backend keras either)

https://githu

[2020-01-20 02:36] AlexDBlack commented on #8288
@Ghulam-Sarwar Are you seeing this on Word2VecRawTextExample? Or somewhere else?
The current/latest version of the examples (using 1.0.0-beta6), Word2VecRawTextExample runs without any problems for me (I just checked again now). Make sure to pull the latest version of the examples before trying again.

If it's somewhere else (not that example), then getting that exception it most likely means the

[2020-01-20 03:11] AlexDBlack commented on #8387
@nimishatandon what specifically did you change? Changing memory configuration/limits should have zero impact on accuracy.

Perhaps you changed the minibatch size as well? That can definitely impact accuracy, the optimal learning rate (and number of epochs, etc) is a function of minibatch size

[2020-01-20 03:16] AlexDBlack commented on #8618
Hard to say without more details, such as the model configuration.
Only thing that comes to mind is a fix in 1.0.0-beta3 regarding l2 regularization.
See release notes: "Fixed an issue where L1/L2 and updaters..."- https://deeplearning4j.org/release-notes.html#onezerozerobeta3-dl4j

Try reducing the learning rate and L2 regularization when training.
For inference, things should be the same (we hav

[2020-01-20 04:19] AlexDBlack opened #8624 "Multiple projects: Clean up old/unmaintained modules"
We want to clean up the projects/modules in our repo. Here's a list of changes we want to make in the short-term:

ND4J:
* nd4j-buffer: Move content into nd4j-api and delete module
* nd4j-content: as above
* nd4j-camel-routes: delete module
* nd4j-gson: delete
* nd4j-jackson: delete (already deprecated and moved to nd4j-api)

DataVec:
* datavec-camel: delete
* datavec-geo: move under datavec-data

[2020-01-20 05:23] raver119 commented on #8601
Fixed in my branch. Will be merged later.

[2020-01-20 05:23] #8601 closed, assigned to raver119

[2020-01-20 08:51] montardon opened #8625 "Unexpected result when training (vs same Keras model)"
#### Issue Description
I have a Keras/Python model as .hdf5.
I build what I think is a same version using DL4J.

Learning curves looks good. Result is bad.
I can not explain it.
Here is the DL4J model : https://gist.github.com/montardon/2f0637c3ee038363109325eb62ce5d47
Here is the .hdf5 model : https://drive.google.com/open?id=1hsrPy1uflNlDrPiBF4AeSrtuxpFWY4-6

Anything wrong with the DL4J model ?

[2020-01-20 08:52] nimishatandon commented on #8387
Hi @AlexDBlack no change in hyper-parameters . But the only significant change I recall is that I had to change a few indarrays to use double instead of float . Not sure of that is what could be causing so much of an impact.

[2020-01-20 08:53] nimishatandon commented on #8387
No change in minibatch size.

[2020-01-20 10:18] Murazyan opened #8626 "java.net.UnknownHostException: blob.deeplearning4j.org"
#### Issue Description

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information deeplearning4j-zoo : 1.0.0-beta6

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (Windows)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

import org.deeplearning4j.z

[2020-01-20 10:26] agibsonccc commented on #8626
See: https://stackoverflow.com/questions/59096226/caused-by-java-net-unknownhostexception-blob-deeplearning4j-org-problem-with-d/59097874#59097874

[2020-01-20 10:26] #8626 closed, assigned to nobody

[2020-01-21 07:33] SelfEvoAI commented on #8619
Thank you.

I am add the nd4j/deeplearnning dependencies to flink cluster env, it works.

[code]

I do not known why fat jar does not work in flink cluster. Maybe the flink window task and zookeeper watch task excuted different Thread, and the zookeeper watch Thread did not use the prarent dependencies.

[2020-01-21 07:33] #8619 closed, assigned to nobody

[2020-01-21 08:32] SidneyLann commented on #8623
SDVariable mean = sd.var("mean", new XavierFanInInitScheme('c', NerUtil.MAX_SENTENCE_LENGTH * 6), NerUtil.MAX_SENTENCE_LENGTH * 6);
          SDVariable variance = sd.var("variance", new DistributionInitScheme('c', new UniformDistribution(0, 1)), NerUtil.MAX_SENTENCE_LENGTH * 6);
          SDVariable gamma = sd.var("gamma", new XavierFanInInitScheme('c', NerUtil.MAX_SENTENCE_LENGTH * 6), DataType.

[2020-01-21 08:35] SidneyLann commented on #8623
Are the 4 arguments used in the right way?  the variance and mean change to a final value 1e-44 after about 200+ epoches by using this way.

[2020-01-21 09:13] daanvdn opened #8627 "Is Node2vec functional?"
#### Issue Description

hi could somebody tell me if `org.deeplearning4j.models.node2vec.Node2Vec` is usable? Already there seems to be a lot of implementation code, but it's been marked as 'under construction' (and also `@deprecated`)  for quite a few releases. Does anybody have an idea to what extent  `Node2Vec` can already be used? Or are parts of the implementation missing that make it complet

[2020-01-21 10:04] saudet commented on #8619
For uber JARs, we need to be careful to include all required resources, as per the examples:
https://github.com/eclipse/deeplearning4j-examples

[2020-01-21 20:54] thhart commented on #8264
I have observed the same with a convolution network like in HouseNumberDetection from examples. GPU and CPU learning work well, while enabled cuDNN support fails giving NaN scores from 1. iteration on.

Version: 1.0.0-beta6
libcudnn7_7.6.5.32-1+cuda10.1
inux seal 5.4.0-9-generic #12-Ubuntu SMP Mon Dec 16 22:34:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

o.n.n.Nd4jBlas - Number of threads used for

[2020-01-21 21:55] rodrigodesalvobraz opened #8628 "Quickstart web page is confusing on Maven configuration"
This is an issue on the [Quickstart web page](https://deeplearning4j.org/docs/latest/deeplearning4j-quickstart). Sorry if this is not the right place for this type of issue report.

The page seems confusing regarding Maven configurations. It has a section called "Using DL4J In Your Own Projects: Configuring the POM.xml File", which sounds like the usual Maven dependencies information that so many

[2020-01-22 06:37] madhs53 opened #8629 "Build from source failed - CUDA_cublas_device_LIBRARY (ADVANCED) not found"
I'm attempting to build beta6 from source and I'm receiving this error:

[code]
**OS:** Red Hat Enterprise Linux Server release 7.5 (Maipo)
**RHEL kernel version:** 3.10.0-693.17.1.el7.ppc64le
**CUDA:** 10.0

NVIDIA details:

[code]

[code]

Note that we successfully built beta(1) on this same machine previously. Now we are attempting to build beta6.

[2020-01-22 06:55] raver119 commented on #8629
That's cmake problem. Just install the latest one, and it will work. I've saw that before.

[2020-01-22 06:55] #8629 closed, assigned to nobody

[2020-01-22 09:09] christianmalek opened #8630 "Error during LineRecordReader reset when using FileSplit with Random initialization"
#### Issue Description

Please describe our issue, along with:
- expected behavior: Shouldn't throw a exception `java.lang.RuntimeException: Error during LineRecordReader reset`
- encountered behavior: If I use FileSplit without Random init it works. If I use it, it throws an exception.

Here's the reduced code: https://gist.github.com/christianmalek/088f2d98dfb34d18590244c061e9cddc
Here's a dummy

[2020-01-22 09:48] saudet commented on #8629
@raver119 We should specify the version required here so that a proper error gets generated:
https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/CMakeLists.txt#L1

[2020-01-22 09:52] raver119 commented on #8629
We did that: https://github.com/KonduitAI/deeplearning4j/blob/master/libnd4j/CMakeLists.txt
The changes were not merged to eclipse yet. So the problem OP faced isn't related to 3.15 as requirement. It's some issue with 3.11 IIRC...

[2020-01-22 11:10] raver119 opened #8631 "libnd4j: random ops cpu"
During autovect report tool testing we've found out that legacy random ops miss the most basic loops: for case where ews == 1. All 3 random signatures miss it. So it should be added ASAP.

[2020-01-22 11:27] #8482 closed, assigned to AlexDBlack

[2020-01-22 19:19] lpaatero opened #8633 "Memory leak in inference"
#### Issue Description

Attached model and simple inference program (maven project) seems to demonstrate memory leak.
Program makes inference calls and as byproduct generates AllocationPoint (and some other) objects, until it runs out of memory (in some hours of time).

Maven project & model zip file in [memleak.zip](https://github.com/eclipse/deeplearning4j/files/4099475/memleak.zip)

#### Versio

[2020-01-22 19:23] raver119 commented on #8633
please upgrade to beta6 or add System.gc() call somewhere in your training loop too fix this. Just not enough pressure to trigger gc. Fixed in beta6.

With best regards,
raver119
22 янв. 2020 г., 22:20 +0300, Lauri Paatero <notifications@github.com>, писал:

[2020-01-22 19:39] lpaatero commented on #8633
Sorry, I put wrong version into report; Corrected the version to beta6, as it is in pom.xml.
System.gc() does NOT resolve the problem.
There is no training at all, but just inference.

[2020-01-23 06:34] raver119 commented on #8633
Native/GPU memory use seems to be absolutely flat. So whatever happens - happens in java.

Thanks for highlighting this problem, I'll take a look, and once it's confirmed fixed - it'll be in snapshots. However, we've already got rid of AllocationPoint references in current dev master, so it might be already resolved.

[2020-01-23 10:55] orausch opened #8634 "Non-deterministic Word2Vec if Seed is 0"
#### Issue Description

The following test fails for `seed = 0` but passes for (as far as I can tell) any other seed (e.g. `seed = 1`)

https://gist.github.com/orausch/9a42e24b782319447a515e8c29b364a0
#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: `beta6`
* Platform information (OS, etc): Ubuntu 19.10
(cc @rpatra)

[2020-01-23 10:58] raver119 commented on #8634
Seed 0 means "no seed", and effectively is the same as using System.currentTimeMillis() as seed. So this is intentional behavior.

[2020-01-23 11:01] orausch commented on #8634
Ah okay, I was thinking that it was something among those lines. Does this also hold for Nd4j?

It may be helpful to update the docs, since this isn't really common from other ML frameworks. While debugging I looked here and didn't find anything:
https://deeplearning4j.org/api/latest/org/nd4j/linalg/api/rng/Random.html#setSeed-int-
https://deeplearning4j.org/docs/latest/nd4j-overview#createrandom

[2020-01-23 11:02] raver119 commented on #8634
Mmmm, good point, thank you

[2020-01-23 11:40] AlexDBlack opened #8635 "DL4J: Add 1.0.0-beta6 regression tests"
We need some regression tests for 1.0.0-beta6.

We have regression tests for 1.0.0-beta4 and earlier here:
https://github.com/eclipse/deeplearning4j/tree/master/deeplearning4j/deeplearning4j-core/src/test/java/org/deeplearning4j/regressiontest
The idea is to ensure that models saved in past versions of DL4J still can be loaded and produce the same outputs.

How these regression tests should be cre

[2020-01-24 10:31] orausch opened #8637 "ParagraphVectors is not Deterministic"
#### Issue Description
ParagraphVectors does not seem to work deterministically when `trainWordVectors(false)` is applied. The following gist has a failing example test:
https://gist.github.com/orausch/2e052ee464ea5700dfa8d54767ca7436
Is this expected behavior? Is it possible to make this deterministic (I'm not very familiar with the model)?

#### Version Information

Please indicate relevant vers

[2020-01-24 12:52] AlikJoke commented on #8544
Sorry, but when any results will be known for that issue (atleast approximately: at this month, February, March, and so on)?

[2020-01-24 12:53] raver119 commented on #8544
I hope it will get in next release. I'll post a message once it gets into snapshots, so you'll be able to test it early.

[2020-01-24 12:58] AlikJoke commented on #8544
Thanks, I will wait.

[2020-01-24 19:29] ghost opened #8639 "DL4JInvalidInputException after update to latest snapshots"
#### Issue Description

I developed my project on windows 1O under beta 5, everything worked as exptected, but now i have purchased a mac and started crashing on something with lib error, so i decided to update my pom to beta 6 and i have luck im getting exception on same code

#### Version Information

Please indicate relevant versions, including, if relevant:

* I have used beta 5
* Mac OS Catal

[2020-01-25 01:15] saudet commented on #8639
Can you try with ALEMDP, without any modifications?

[2020-01-25 03:43] SidneyLann opened #8640 "sd.rnn.lstmLayer(...) can not be used"
java.lang.UnsupportedOperationException: Not yet implemented
	at org.nd4j.linalg.api.ops.impl.layers.recurrent.LSTMLayer.doDiff(LSTMLayer.java:105)
	at org.nd4j.autodiff.functions.DifferentialFunction.diff(DifferentialFunction.java:560)
	at org.nd4j.autodiff.samediff.SameDiff$1.define(SameDiff.java:4443)
	at org.nd4j.autodiff.samediff.SameDiff.defineFunction(SameDiff.java:3987)
	at org.nd4j.autodi

[2020-01-25 04:58] raver119 commented on #8640
It means "can't be used for training", but still can be used for inference.
And, yes, it's WIP.

[2020-01-25 04:58] #8640 closed, assigned to nobody

[2020-01-25 10:06] ghost commented on #8639
Sure, will be back with result

[2020-01-25 11:44] ghost commented on #8639
Ok, i have cloned your ALEMDP running on beta6.
No changes were made.

OS: Catalina 10.15.2

Getting following output similar to output above in my project:

`"/Applications/IntelliJ IDEA CE.app/Contents/jbr/Contents/Home/bin/java" "-javaagent:/Applications/IntelliJ IDEA CE.app/Contents/lib/idea_rt.jar=50924:/Applications/IntelliJ IDEA CE.app/Contents/bin" -Dfile.encoding=UTF-8 -classpath /Users/m

[2020-01-26 07:12] saudet commented on #8639
Strange, doesn't happen here.

@aboulang2002 What about you?

[2020-01-26 14:41] aboulang2002 commented on #8639
With unmodified ALEMDP, I have the same exception as @dobretotamje when using 1.0.0-beta6
Everything works fine with 1.0.0-SNAPSHOT

[2020-01-27 05:16] raver119 commented on #8633
Updated snapshots should be out tomorrow. Can you please try to run your app with snapshots, and confirm issue is gone?

[2020-01-27 09:48] ghost commented on #8639
Cool, its working.
Thank you

[2020-01-27 13:57] raver119 opened #8643 "SameDiff: solve op wrapper/tests"
solve op added here: https://github.com/KonduitAI/deeplearning4j/pull/191 needs Java/SameDiff wrappers and import tests.

cc @alexanderst @atuzhykov

[2020-01-27 19:47] AbdelmajidB opened #8644 "Test issue in semantic segmentation using DL4J"
I have trained a U-net based model on DL4J on medical images. The code above is for testing the model. my objective is to test the model on 34 2d medical images separately and get the segmentation metrics (accuracy, recall…) for each image, so i tried two ways:
1- when i put all the 34 images in the test folder (“testI”) and i run the code which will load all the images and test image by image, i

[2020-01-27 19:48] eraly commented on #8644
Thanks!

[2020-01-27 21:32] AbdelmajidB opened #8645 "Add Dice loss op and Dice loss loss function for semantic segmentation"
Hi everyone,

In semantic segmentation and specially in biomedical segmentation usually we use Dice loss layer as a loss function (presented here:https://arxiv.org/pdf/1606.04797.pdf ), because has a unique advantage that is adaptive to unbalanced data, which is very important for brain tumor segmentation for example because some sub-tumoral regions may only count for a small portion of the whole

[2020-01-28 01:13] AlexDBlack opened #8646 "libnd4j: depthwise_conv2d fails with Float16 (+MKLDNN/DNNL)"
The following test runs fine on float32 and bfloat16, fails on float16.
Also runs OK on float16 if I disable helpers, so it's MKLDNN-related.

[code]

[code]

[2020-01-28 01:51] saudet commented on #8645
It is possible to implement custom loss layers, yes:
https://deeplearning4j.org/docs/latest/deeplearning4j-nn-custom-layer
https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/misc/lossfunctions/CustomLossExample.java

[2020-01-28 08:57] AbdelmajidB commented on #8645
Thanks,

But how we can implement that dice loss? I'm a beginner in DL4J.

Please @AlexDBlack have you any idea about this issue??

[2020-01-28 10:43] AlexDBlack opened #8648 "SameDiff: NPE instead of missing placeholder exception in test case"
[code]

The labels placeholder isn't provided in the test case; we should get an exception saying there's a missing placeholder (and identify which one is missing by name), instead of getting a NPE.

[2020-01-28 15:59] raver119 commented on #8646
float16 is excluded now.

[2020-01-28 15:59] #8646 closed, assigned to nobody

[2020-01-28 21:01] lpaatero commented on #8633
Testing full application with current snapshot:
Java -side memory leak is gone.
Unfortunately there is even faster native side leak. I will try to create testcase for it.
Another observation is that toFoatMatrix is now a quite a bit slower.

[2020-01-28 21:30] lpaatero commented on #8633
The original example seems to create native side memory leak with current snapshot, when evaluation loop is changed to

[code]

[2020-01-29 01:14] sachag678 opened #8649 "ComputationGraph: Two LSTMs into MergeVertex into Dense layer Configuration Issue"
I have a computation graph which will have the following design -->
[code]

I am getting the following error:

org.deeplearning4j.exception.DL4JInvalidInputException: Input that is not a matrix; expected matrix (rank 2), got rank 3 array with shape [1, 6, 1]. Missing preprocessor or wrong input type? (layer name: hidden, layer index: 5, layer type: DenseLayer)

Since the merge layer handles time s

[2020-01-29 01:34] sachag678 commented on #8649
Found out about Preprocessers which allow for connecting between LSTM and FeedForward layers.

[2020-01-29 01:34] #8649 closed, assigned to nobody

[2020-01-29 04:44] raver119 commented on #8633
Thank you very much! Let me check it out.

[2020-01-30 05:50] raver119 opened #8650 "libnd4j: legacy ops review"
We should review legacy operations in `ops.h` and `random_ops.h` and eliminate issues that prevent vectorization.

If some op can't be effectively vectorized in element-wise approach, we should consider moving such op to customop design, since in this case we won't be limited by legacy op design.

[2020-01-30 05:55] AlexDBlack commented on #8645
Right, DL4J support custom losses, but the problem there is to implement the gradients (which aren't easy for something like dice loss, though they are provided in that paper).

An easier alternative may be to implement a SameDiff loss layer - that allows you to avoid implementing the gradients.

Here's an example of implementing mean squared error:
https://github.com/eclipse/deeplearning4j/blob/m

[2020-01-30 06:05] AlexDBlack commented on #8644
If I understand the problem description correctly, this means that somehow you're getting a different labels array, or maybe different network outputs, depending on how you create the iterators.
Have you been able to narrow it down to which one is the problem?

A test case that creates both data pipelines, compares the labels, and compares the output arrays, and shows a difference, would help us h

[2020-01-30 06:29] AlexDBlack opened #8651 "Remove deeplearning4j-ui-standalone and nd4j-uberjar; provide alternatives"
Last few items from this issue: https://github.com/eclipse/deeplearning4j/issues/8624

[2020-01-30 06:29] AlexDBlack commented on #8624
Most of these were merged recently. deeplearning4j-cuda can't be done until libnd4j CUDA integration is finished.
Last 2 have a new issue here: https://github.com/eclipse/deeplearning4j/issues/8651

[2020-01-30 06:29] #8624 closed, assigned to alexanderst

[2020-01-30 06:59] AlexDBlack opened #8652 "DL4J: Add a SameDiffLoss class for DL4J loss functions based on SameDiff"
Loss functions for DL4J are defined here: https://github.com/eclipse/deeplearning4j/tree/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/lossfunctions/impl

Though these work fine, there is no easy way to add custom loss functions for DL4J using SameDiff, outside of implementing a whole SameDiffOutputLayer instance.
And if users don't use SameDiff, they have to wor

[2020-01-30 09:07] printomi commented on #8438
@AlexDBlack I think this issue started in 1.0.0-beta5. Could you inspect this?

[2020-01-30 09:19] AlexDBlack commented on #8438
Around beta5 we had to change the UI theme, it was likely introduced then.
Thanks for flagging this.

[2020-01-30 11:27] Hely0n opened #8653 "h5 import from Google Teachable Machine: UnsupportedKerasConfigurationException"
When I try to import a generated .h5 file of an Image model from https://teachablemachine.withgoogle.com , it throws this Exception.
It would be nice if deeplearning4j would support those for many people I think.

`org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type Sequential. Please file an issue at https://github.com/eclipse/de

[2020-01-30 13:24] AlexDBlack opened #8654 "SameDiff: Add proper tests for SameDiff multi-threaded inference"
SameDiff is set up for multi-threaded inference (lazily-initialized device local parameters/constants, per-thread inference sessions, etc).

However, this functionality is not adequately tested.
We should add thorough tests, and fix any issues that are identified.

[2020-01-30 15:46] raver119 commented on #8605
Implemented

[2020-01-30 15:46] #8605 closed, assigned to raver119

[2020-01-30 15:46] raver119 commented on #8607
Implemented

[2020-01-30 15:46] #8607 closed, assigned to raver119

[2020-01-31 00:57] AlexDBlack opened #8655 "DataVec python executor: redirect python-level stdout/stderr to logging"
See this comment for details:
https://github.com/KonduitAI/deeplearning4j/pull/134/files#r372741255

[2020-01-31 05:58] raver119 commented on #8631
Implemented and merged

[2020-01-31 05:58] #8631 closed, assigned to quickwritereader

[2020-01-31 05:58] raver119 commented on #8570
Implemented and merged

[2020-01-31 05:58] #8570 closed, assigned to olegsemeniv

[2020-01-31 05:59] raver119 commented on #8563
Fixed

[2020-01-31 05:59] #8563 closed, assigned to raver119

[2020-01-31 05:59] raver119 commented on #8398
Fixed

[2020-01-31 05:59] #8398 closed, assigned to nobody

[2020-01-31 06:08] AlexDBlack opened #8656 "SameDiff: Add DType arg for ZerosLike, OnesLike, OneHot ops"
Supported now at the libnd4j level:
https://github.com/eclipse/deeplearning4j/issues/8605
https://github.com/eclipse/deeplearning4j/issues/8607

We should update SDBaseOps zeros/ones like methods to have an extra overload with dtype arg:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/samediff/ops/SDBaseOps.java#L308

[2020-01-31 06:18] #8550 closed, assigned to nobody

[2020-01-31 06:18] raver119 commented on #8550
Fixed

[2020-01-31 07:46] #8606 closed, assigned to raver119

[2020-01-31 07:46] raver119 commented on #8606
Implemented

[2020-01-31 07:49] raver119 commented on #8557
Implemented some time ago.

[2020-01-31 07:49] #8557 closed, assigned to shyrma

[2020-01-31 09:40] raver119 commented on #8597
Should be fixed by now.

[2020-01-31 09:40] #8597 closed, assigned to shyrma

[2020-01-31 11:13] raver119 commented on #8633
Confirmed. Fix coming.

[2020-01-31 22:01] sachag678 opened #8658 "Configuration Issue: Seq Classification LSTM into Dense"
#### Issue Description

I want to take the output of two LSTMs that are classifying two sequences by using the output from the final timestep, and put them into a Dense layer and then get a combined classification. I currently have the following model:

[code]
The shape of input1 = [1, 1, 100] and input2 = [1, 1, 100].

I know that the RNNtoFeedForwardPreProcessor() squashes the entire output of t

[2020-01-31 23:59] AlexDBlack commented on #8656
Also range op - @alexanderst
https://github.com/eclipse/deeplearning4j/issues/8606#issuecomment-580622993

[2020-02-01 01:48] AlexDBlack opened #8659 "ND4J: NPE for CUDA an Nd4j.create(new double[0])"
OK on CPU, NPE on CUDA

[code]

[code]

Causing a couple of test failures in nearestneighbor-core currently on master

[2020-02-01 02:55] AlexDBlack commented on #8612
I didn't realize this issue was still open until now.
I've run both the JAR and the .dylib file (extracted from the JAR) through virustotal.com
Microsoft is the only one (out of 59 total) that is flagging this. Given that, I'm going to close this as a false positive.

You can see the summary results here, or run it yourself to confirm.
[Scan_1.pdf](https://github.com/eclipse/deeplearning4j/files/4

[2020-02-01 02:55] #8612 closed, assigned to nobody

[2020-02-01 02:57] AlexDBlack commented on #8591
These are all passing on more recent CI runs.

[2020-02-01 02:57] #8591 closed, assigned to nobody

[2020-02-01 06:53] AlexDBlack commented on #8658
Ok, couple of things here
First - upgrade to 1.0.0-beta6, you're using a pretty old version there.
Second - you can use LastTimeStep wrapper layer to get the last time step activations
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/recurrent/LastTimeStep.java#L30-L39

Like this:
[code]

That also works as you'd

[2020-02-01 06:53] #8658 closed, assigned to nobody

[2020-02-01 06:55] AlexDBlack commented on #8658
I'll add that another option for sequence classification (sometimes it's better, especially if you don't want the network paying attention to more recent time steps) is to use a global pooling layer.
So LSTM1 -> GlobalPooling -> merge

https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/GlobalPoolingLayer.java#L36-L

[2020-02-01 07:14] AlexDBlack opened #8660 "libnd4j: Conv1d_bp causal mode fails for both CUDA and CPU"
Built locally on current master with MKLDNN (no libnd4j CUDNN).
Essentially same stack trace on both ("Can't find requested...")

Pulled out of CNN1DGradientCheckTest.testCnn1dCausal

[code]

[code]

[2020-02-01 07:19] #8648 closed, assigned to AlexDBlack

[2020-02-01 07:52] agibsonccc commented on #8620
@farizrahman4u

[2020-02-01 18:55] AbdelmajidB commented on #8645
Dear @AlexDBlack, thank you so much, i really appreciate your effort.

I tested it and it gives really good results, this is my SameDiffDiceLossLayer: https://gist.github.com/AbdelmajidB/2a6a73f074925c412570cc63b915fdcd#file-samediffdicelosslayer-java, i added a epsilon to the  denominator to avoid division by zero, and i used it in U-net as here: https://gist.github.com/AbdelmajidB/ee14ab6fe35348

[2020-02-01 19:12] AbdelmajidB commented on #8645
There is two things about U-net zoo implementation that should be fixed, as its still different to the original paper:
1- Remove the last conv layer ("conv10"), this layer does not exist in the original paper, as descripted in this issue: https://github.com/eclipse/deeplearning4j/issues/6955
2- The kernel size in layer ("conv9-3") is 1 by 1 not 3 by 3 as i  described in this issue: https://github.

[2020-02-01 23:17] AbdelmajidB commented on #8644
the problem is that i get different network outputs for the same images using the code above. as i described before i want to get the segmentation evaluation metrics (F1 score, accuracy...) for each image separately. so when i put in test folder an image with ground truth and i execute the code, i get the output segmentation for that image, but when i add a second image and i execute the code i ge

[2020-02-02 09:53] AbdelmajidB commented on #8644
you can find here:
1- The test images: https://drive.google.com/file/d/1nF-Rmqa76F9Wl86YMVwKDs75M9D615eV/view?usp=sharing
2- The pretrained model: https://drive.google.com/file/d/196w4g_ZibH9evPj5HTCB29u25aAxovOC/view?usp=sharing
3- MyPathLabelGenerator :https://gist.github.com/AbdelmajidB/fccb871836746dd4f0d6e32828eadcdf
4- The code for testing: https://gist.github.com/AbdelmajidB/92f5fc3013c81b2

[2020-02-02 16:17] raver119 commented on #8659
Fixed

[2020-02-02 16:17] #8659 closed, assigned to raver119

[2020-02-02 20:14] raver119 commented on #8660
Fixed

[2020-02-02 20:14] #8660 closed, assigned to raver119

[2020-02-03 02:49] zhangy10 opened #8662 "Questions about Convolution1D Example for Multi-channel Use Case"
Hey Team,

I am just wondering do you have Convolution1D example available for multi-channel use cases, like for multi-channel sensing data. If not, can you please advise how to make the Convolution1D to fit the multi-channel cases?

Many thanks.

[2020-02-03 03:18] AlexDBlack commented on #8662
No conv1d examples specifically that I'm aware of.
In terms of data pipelines though, DL4J's conv1d are basically the same as RNN layers. i.e., both types of layers use NCW - [minibatch, channels, width] / [minibatch, size, sequenceLength]

Was there something specifically you're stuck on? Constructing the net configuration? Building the data pipeline for a specific type of data?

[2020-02-03 03:28] AlexDBlack commented on #8645
@AbdelmajidB great that you got it working.
As for Tversky loss - I haven't come across it before, but looking at the paper and your implementation, I thikn you've got some slight issues in order of operations - i.e., bracket should be after the mul(alpha0 and .mul(beta), not before.

Otherwise looks OK to me

[code]

As for the unet implementation, you're referring to 2 closed issues. Are you on

[2020-02-03 03:34] AlexDBlack commented on #8620
@arpieb Sorry for the delay here.

This looks like a weight layout issue, i.e., right numbers, wrong order.
```[32, 1, 3, 3] vs. [3, 3, 1, 32]```

Was this with multi-backend Keras, or tf.keras? It's inclear from your code.

[2020-02-03 04:07] zhangy10 commented on #8662
Hi Alex, thanks.
My case is that I would like to make a simple CNN model fit a bunch of acceleration sensing data but with multi-channel to classify user behavior. So, I am wondering how to construct a [minibatch, channels, width] net by using conv1d layer. For example, I have the input shape for [16, 8, 128] which refers to the NCW, how should I make the configuration by using conv1d layers to do

[2020-02-03 04:20] zhangy10 commented on #8662
Should I do like this, taking the LeNet as an example, and input shape: [batch 16, height 1, width 128, depth 8]?

[code]

I am not sure if it works. If it works, It seems that we just need to replace the standard ConvolutionLayer to Convolution1DLayer, and update all height to be 1, right?

[2020-02-03 04:34] zhangy10 commented on #8662
Also, if I would like to make an RNN model for the multi-channel case, how should I configure the net? It's like we have 8 lstm layers parallelly to fit the 8 channel time-series data and each channel should parallelly go through each lstm layer and flat the outputs before the final output layer.

In this case, the net structure looks like a standard CNN with 3 channel image data pipeline, but rep

[2020-02-03 09:16] AbdelmajidB commented on #8645
Yes i'm in the last version, i think those closed issues not fixed correctly.
i just want to report about dice loss funcion, i see in the literature three ways of implmentation:
1- adding smal value epsilon  only to the denominator  like here: https://www.jeremyjordan.me/semantic-segmentation/
2-adding small value epsilon to the denominator and the numerator like in tf implementation: https://tens

[2020-02-03 12:49] AlexDBlack opened #8663 "DL4J: Weight initialization for embedding layers needs review"
Currently users can use standard Xavier etc initialization, which as it stands seems to use fanIn == vocabSize, which results in very small initializations.

This should be checked, and a better scheme implemented (maybe treat fanIn as 1, or warn the user or something)

[2020-02-03 14:56] arpieb commented on #8620
No worries - it's the TF 2 backend.  I did get as far as tracing through the layer reconstruction in Dl4j, and it _looks_ like the Conv2D layers are getting set up properly, but maybe the pooling layers aren't...?

Got pulled off on another project temporarily, so haven't had a chance to carry through debugging.

[2020-02-03 20:22] tobq opened #8664 "Gym java client"
I'd been trying for a couple of weeks to set up the java client for openAi's gym, implemented by deeplearning4j.

I asked this question on stack overflow but got no response: https://stackoverflow.com/questions/59439529/using-openais-gym-java-client

And now, the sub-module, previously at: https://github.com/eclipse/deeplearning4j/tree/master/gym-java-client, has vanished from the mono repo...

I'

[2020-02-03 21:20] tc64 opened #8665 "beta6 seems to force OPENBLAS"
#### Issue Description
After upgrading to beta6 from beta5, I see in logs:

Previously I saw MKL in the brackets.

In addition I see the warning mentioned in #8585 - not sure if it could be related.

Also I noticed that in load testing the application that uses deeplearning4j models, which is a webapp running in tomcat, CPU usage was much lower after upgrading to beta6.

#### Version Information

[2020-02-03 21:28] tc64 commented on #8585
@raver119 do your recent comments mean in fact that ND4J is not being used with AVX if one's logs look like @reckart 's? I'm seeing the warning in Windows and will try the additional logs/print statements mentioned above.

Do you know about when beta7 will be released? Asking because in my current situation its hard to use snapshots.

[2020-02-03 22:43] saudet commented on #8665
You'll need MKL to be able to use it! Details here: https://github.com/bytedeco/javacpp-presets/tree/master/openblas#documentation

[2020-02-03 23:30] tc64 commented on #8665
@saudet I might be misunderstanding, but just to clarify, prior to upgrading to beta6 it seemed like MKL was being used (since logs said Blas vendor: [MKL]).

I did look at the link you sent. Do you mean to imply I will need to update my pom.xml after the upgrade from beta5 to beta6 to keep using MKL?

[2020-02-04 01:14] saudet commented on #8665
That or have MKL installed on the system, yes. I believe that was in the
release notes somewhere for beta6...

[2020-02-04 01:38] saudet commented on #8664
Yes, that module is gone and isn't coming back, but we can still use OpenAI Gym if that's what you're interested. See pull #8595 for details.

No need to build or compile anything. Please give it a try with the snapshots:
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2020-02-04 01:38] #8664 closed, assigned to nobody

[2020-02-04 01:40] saudet commented on #8665
Nope, it's not: https://deeplearning4j.org/release-notes#onezerozerobeta6

[2020-02-04 03:16] AlexDBlack opened #8666 "ND4J: Add simple sanity check tests for new ND4J namespaces"
CNN, RNN and Image namespaces were added here: https://github.com/KonduitAI/deeplearning4j/pull/176

I also added Math namespace earlier.

For Base namespace, we have decent sanity check tests for these methods (i.e., "make sure it executes via this method" - actual op validation is already tested elsewhere).
We should have the same level of basic coverage for all of these namespaces.

[2020-02-04 04:10] #8639 closed, assigned to saudet

[2020-02-04 04:36] AlexDBlack opened #8667 "DL4J NLP: BERT iterator character encoding issues on CI"
Passes locally, fails on CI.
I suspect this is due to character encoding issues...

[code]

[2020-02-04 04:59] raver119 commented on #8585
[code]

It says it right here. However it all depends on ops you're using in practice.

[2020-02-04 05:59] raver119 commented on #8643
Implemented and merged

[2020-02-04 05:59] #8643 closed, assigned to nobody

[2020-02-04 07:29] raver119 opened #8669 "Nd4j linalg namespace"
Recently c++ team added bunch of linear algebra stuff we never had in Java before, like solvers etc.

It would make sense to introduce new namespace for pure linear algebra stuff and standardize the use of it, including BLAS/LAPACK stuff. Right now things we have  are slightly "all over the place". Namespace would help to improve UX here.

[2020-02-04 08:58] SelfEvoAI opened #8670 "Which friend can help to translate python code to java/scala?"
[code]

How to translate this python code to java/scala?

I am read the dn4j documents, but still no success.

Thanks.

[2020-02-04 12:31] tc64 commented on #8585
@raver119 right, I see the warning. But it seemed possible that the warning message was wrong per @AlexDBlack 's comments

Just wanting to confirm that your most recent comments (after his) implied that avx2 binaries were in fact not loaded, is that right?

[2020-02-04 16:26] tc64 commented on #8665
@saudet thanks for the info.

If MKL (or MKL-DNN) is installed on the system, is there a VM argument I can use to provide a path to the installation?

[2020-02-04 16:28] tc64 commented on #8665
ah ok i see, I guess it is `-Djava.library.path`, will try this

[2020-02-04 20:16] NeetaJoshi opened #8672 "KerasTokenizer textToWordSequence returns letters instead of words in the sequence"
I am creating a KerasTokenizer using a JSON which is saved from Python. Everything gets initialized correctly. However what I noticed is that when I call "textsToMatrix", it returns different values than what my original tokenizer returned.

On debugging the issue further, I noticed that "textsToSequences" returned wrong values too. Debugging further, I think the error lies in "textToWordSequence"

[2020-02-05 05:45] raver119 opened #8673 "libnd4j: upgrade mkldnn version"
We should upgrade mkldnn version to 1.2 and start using its new MatMul primitive as gemm replacement for F32/F16/BF16/I8/U8 data types

[2020-02-05 05:49] saudet commented on #8673
Let's be careful not to rely on MKL-DNN/DNNL too much.
It might never support, for example, ARM: https://github.com/intel/mkl-dnn/issues/27

[2020-02-05 05:50] raver119 commented on #8673
absolutely agreed!

With best regards,
raver119
5 февр. 2020 г., 08:49 +0300, Samuel Audet <notifications@github.com>, писал:

[2020-02-05 06:07] saudet commented on #8264
Could you please give it a try with the snapshots as well?
https://deeplearning4j.org/docs/latest/deeplearning4j-config-snapshots

[2020-02-05 06:07] #8667 closed, assigned to nobody

[2020-02-05 08:17] zhangy10 commented on #8662
@AlexDBlack I just found an old post to deal with the multivariate time series   https://github.com/eclipse/deeplearning4j/issues/2821.

In this code https://gist.github.com/turambar/b0e1f7eba07e2f0964e2849912093946#file-temporalconvolutionregressionexample-java-L122, it uses a standard ConvolutionLayer and sets the height as 1 to treat a multivariate time series with L timesteps and P variables a

[2020-02-05 09:04] alexanderst opened #8674 "Operation sequence_mask in libnd4j doesn't support arbitrary output types"
Currently sequence_mask supports only boolean output types, though there's data type argument.
Tensorflow version supports any data types, including floating.

[code]

Result is:
array([[1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 0., 0., 0.]], dtype=float32)

Also consider changing data type argument type from INT_ARG to D_ARG if feasible.

[2020-02-05 09:09] raver119 commented on #8674
@shyrma @shugeo ^^^

[2020-02-05 10:46] alexanderst opened #8675 "libnd4j: triangular_solve returns values different from TF"
Inputs are:
[code]

Produced results are in mismatch:
[code]

[2020-02-05 12:05] alexanderst opened #8676 "libnd4j: unsorted_segment_sqrt_n fails for certain inputs"
When running Java test got this error:
unsorted_segment_sqrt_n: segment indices should be in range [0, 1), but -458538736 > 1

Failing test :
[code]

[2020-02-05 13:28] AlexDBlack opened #8677 "DL4J: Paragraph vectors (CBOW) JVM crash on CUDA"
This is adapted from ParagraphVectorsTest.testDirectInference(), only difference is the 500 lines limit for the source data (getIterator method). (Reduction is to attempt to reduce CI runtime for CUDA, due to currently timing out at even 4 minutes).

Tested on current master. CPU is confirmed ok (test passes), just CUDA is crashing.

https://gist.github.com/AlexDBlack/e016a9f313d84b45345e77ed9186f

[2020-02-05 18:50] tc64 commented on #8665
@saudet I tried pointing `java.library.path` to where I believe MKL files are. I confirmed it is properly set with JMX, looking at System properties. I'm running the app in tomcat, and the path I used is the WEB-INF\lib directory for this webapp. I also have `org.bytedeco.openblas.load=mkl_rt` set.

I can't post to github from the relevant computer but here is a screenshot of relevant part of that

[2020-02-05 23:49] AlexDBlack commented on #8662
Other than the data pipeline, you don't construct it - that's just what the conv1d uses.

There's a few things wrong with this configuration
First, you are mixing conv1d layers and 2d subsampling layers (SubsamplingLayer).
if you use conv1d, and you want pooling, you should use Subsampling1DLayer instead

second, your input type is wrong - `.setInputType(InputType.convolutional(1, 128, 8))`
that,

[2020-02-05 23:53] AlexDBlack commented on #8676
This looks like a bad test to me, coupled with a simple formatting error message for legitimate validation.
`new UnsortedSegmentSqrtN(data,segments,1)` - that constructor is:
`public UnsortedSegmentSqrtN(SameDiff sameDiff, SDVariable data, SDVariable segmentIds, int numSegments) {`
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/n

[2020-02-06 00:46] saudet commented on #8665
If you're looking for a simple solution, please use the -redist artifacts like this:
https://github.com/bytedeco/javacpp-presets/blob/master/mkl/README.md#the-pomxml-build-file

[2020-02-06 08:12] alexanderst commented on #8675
Complete Python code for failing test:
[code]

[2020-02-06 08:14] raver119 opened #8678 "libnd4j: mkldnn causal conv + dilation"
It looks like conv1d can't work in causal mode with dilation. This should be investigated and either fixed, or disabled in PLATFORM_CHECK

[2020-02-06 10:29] AlexDBlack opened #8679 "DL4J: deeplearning4j-nlp-uima tests timeouts on CUDA (ignored for now)"
I've set these to be integration tests only, not running as part of normal unit tests.
Currently they are all timing out out even with 5 minutes.

Though one is giving NaNs for both expected and actual arrays (Word2VecTests.testWordVectorsPartiallyAbsentLabels)

Making an issue to ensure they don't get forgotten.

![image](https://user-images.githubusercontent.com/2360237/73928730-b1936300-4927-11

[2020-02-06 12:26] alexanderst commented on #8675
Might be problem in Java wrapper, investigating.

[2020-02-06 18:06] #8674 closed, assigned to nobody

[2020-02-06 23:24] tobq opened #8680 "RL4J: Can't get pendulum task working"
#### Issue Description

I'm creating a pendulum env like so: `new GymEnv<Box, Integer, ActionSpace<Integer>>("Pendulum-v0", false, false)` but an error is thrown on initialisation: `Python error occured`.

#### Version Information

* Deeplearning4j version: 1.0.0-SNAPSHOT
* Platform: Windows

#### Additional Information

Full Error:
[code]

pom.xml: https://gist.github.com/tobq/6e5bff34cab3c2d226c

[2020-02-07 05:21] AlexDBlack opened #8681 "DL4J: CUDA in-place parallel inference - "Affinity for thread [X] wasn't defined yet""
![image](https://user-images.githubusercontent.com/2360237/74003042-544def00-49c5-11ea-8e57-6d69cf2a1b79.png)

This is on a single-GPU (Titan X) windows system on current master.

All except testMultiOutputNet are failing with errors like the following:
[code]

testMultiOutputNet is failing with:
[code]

[2020-02-07 06:55] AlexDBlack opened #8682 "ND4J init: don't log "Number of threads used for OpenMP BLAS" for CUDA"
As per title.

[code]

[2020-02-07 07:06] AlexDBlack opened #8683 "ND4J: bad Nd4j.write performance for CUDA"
Tested on Windows 10, Titan X system (with fast NVME SSD).
CPU times are a little slower than beta6 too (4.8-4.9 seconds there).

Though CPU is faster, 5-6 seconds per GB is only 180 MB/s, which also seems a little low...

[code]

CPU:
[code]

CUDA:
[code]

[2020-02-07 07:17] AlexDBlack opened #8684 "RL4J: unit test failure on CUDA"
Currently seeing this on master for CUDA only (Windows) - all tests on CPU (native backend) pass.
https://gist.github.com/AlexDBlack/810978ab5365ba1cc965ce69b37dd8d3

[code]

I haven't looked into the details or tried to isolate it though.

[2020-02-07 07:25] AlexDBlack opened #8685 "ND4S: Unit test failure on CUDA"
2 tests in ND4S are currently failing on CUDA (look like the same thing)
Looks like maybe a simple datatype issue, but that should not be backend specific...

[code]

Reproducible using:
[code]

[2020-02-07 07:37] AlexDBlack commented on #8681
This also impacts JsonModelServerTest.basicServingTestForDLSynchronized on CUDA, looks to be exact same issue:
[code]

[2020-02-07 07:39] raver119 commented on #8633
Thanks for highlighting this problem. Things were fixed, and will be available in snapshots later today/early tomorrow.

[2020-02-07 07:39] #8633 closed, assigned to raver119

[2020-02-07 11:25] tobq opened #8686 "PyErr_Print not outputting anything"
#### Issue Description

From the `GymEnv#checkPythonError()`, nothing is outputted to the console when an error occurs

#### Additional Information

* Platform: Windows
* pom.xml: https://gist.github.com/tobq/6e5bff34cab3c2d226cea0bc26e86990

[2020-02-07 12:30] saudet commented on #8686
If you could, please ask upstream whether it's possible to do that or not. It would be helpful! Thanks

[2020-02-07 12:32] saudet commented on #8686
@farizrahman4u In the end, have you found a way around that?

[2020-02-07 13:10] saudet commented on #8680
`Pendulum-v0` has a continuous action space. That's not supported by RL4J, yet.

/cc @aboulang2002 @Bam4d @RobAltena

[2020-02-07 13:11] saudet commented on #8680
Duplicate of #5264

[2020-02-07 13:11] #8680 closed, assigned to nobody

[2020-02-07 14:57] tobq commented on #8686
Who are you referring to when you mention "upstream"? Are they the author(s) of the CPython library you're using?

[2020-02-07 15:35] tobq opened #8688 "Lack of functional environments"
#### Issue Description
I opened an issue earlier regarding the pendulum task not working (which is because it has a continuous action-space).

From the classic control section of the available tasks, the working tasks are
* Acrobot-v1,
* CartPole-v1
* and MountainCar-v0

MountainCarContinuous-v0 and Pendulum-v0 (for now) expectedly don't work, due to their continuous action-spaces.

However, from

[2020-02-07 17:18] zhangy10 commented on #8662
@AlexDBlack Thanks for that.

I checked the ``` InputType recurrent(long size, long timeSeriesLength)```, but it seems that I cannot put the channel in this form because I need to process multivariate time series data which usually has more than 3 channels. So, how to config the net for the case? And, I didn't find any InputType that I could set the number for channels for conv1d or LSTM.

[2020-02-07 17:34] alexanderst commented on #8685
Fixed in branch.

[2020-02-07 17:54] alexanderst commented on #8675
Fixed.

[2020-02-07 17:55] #8675 closed, assigned to shugeo

[2020-02-07 18:08] tobq commented on #8686
It seems this was an issue with intellij (when "running project"). Ive I build and execute my project outside of intellij I start getting python logs. I don't know why this happens though

[2020-02-08 01:20] saudet commented on #8686
Yes, I'm talking about CPython:
https://www.python.org/community/lists/
https://docs.python.org/3/bugs.html

[2020-02-08 01:22] saudet commented on #8686
If this looks like a problem with IntelliJ IDEA, then "upstream" means there:
https://youtrack.jetbrains.com/issues/IDEA

[2020-02-08 01:25] saudet commented on #8688
The ones listed here use continuous actions, so they won't work: https://github.com/eclipse/deeplearning4j/issues/5264#issuecomment-390607276
Apart from those, which ones exactly are not working?

[2020-02-08 01:48] AlexDBlack commented on #8662
Using InputType.recurrent has no such restriction to 3 channels or anything.
Note the size parameter - that's the number of channels for input. So if you have say 10 time series (10 channels), you set size=10

[2020-02-08 01:50] zhangy10 commented on #8662
@AlexDBlack All right, I see. Thanks for that. I will have a try.

[2020-02-08 02:15] tobq commented on #8688
For bipedal walker i get the error: `AttributeError: module 'gym.envs.box2d' has no attribute 'BipedalWalker'`

[2020-02-08 03:42] saudet commented on #8688
BipedalWalker has continuous actions.

[2020-02-08 10:48] AlexDBlack opened #8690 "Java: conv2d - add support for weights format arg (for cuDNN)"
Currently we hardcode YXIO (kH, kW, iC, oC) format.

For efficient cuDNN execution, I believe we need OIYX and OYXI formats for conv2d weights.

We also need to check:
* Other operations for cuDNN - conv3d, depthwise, etc etc
* Operations for MKLDNN (DNNL) - presumably there's a preferred

[2020-02-08 14:50] liweigu opened #8691 "FineTune failed by SameDiffLayer's UnsupportedOperationException"
#### Issue Description

Please describe our issue, along with:
- expected behavior
1) define a graph model with **RecurrentAttentionLayer**, the layer is added by the code like
`graphBuilder.addLayer("attension1", new RecurrentAttentionLayer.Builder().activation(Activation.SOFTSIGN)
		.updater(new Adam(learningRateSchedule)).nHeads(5).headSize(40).nIn(nIn).nOut(nOut).build()
		, "lstm1");`
2) trai

[2020-02-08 19:36] tobq commented on #8688
Same for `LunarLander-v2`, which has a discrete action space

[2020-02-08 19:41] tobq commented on #8688
@saudet I've checked around and this is seems to be a dependency issue - box2d-py missing. Is the gym supposed to have this set up?

[2020-02-08 19:50] #8686 closed, assigned to saudet

[2020-02-09 05:54] j1234d2003 opened #8692 "Imported Pretrained Keras Model Produces Wrong Output in DL4J"
#### Issue Description

Keras prediction outputs don’t match DL4J outputs for a CNN model created and trained in Keras and imported in DL4J.

I have a Keras 2.3.1 h5 CNN fully trained model that I import using DL4J 1.0.0-beta6 version. I intend to use DL4J for evaluating outputs for specific input images. Currently Keras prediction outputs don’t match DL4J outputs. The shapes of the inputs are dif

[2020-02-09 12:28] vincenzocaselli opened #8693 "Problems trying to visualize Network Training with the Deeplearning4j Training UI"
I tried to follow the guide here
https://deeplearning4j.org/docs/latest/deeplearning4j-nn-visualization
but during training there is apparently nothing published at
http://localhost:9000/train

I tried to apply the guide to an existing and working project with the following initial pom.xml dependencies:
[code]
Following the deeplearning4j-nn-visualization page I tried to add this dependency
[code]

[2020-02-09 23:24] AlexDBlack commented on #8693
First - don't use mixed versions, everything (all ND4J/DL4J/DataVec etc dependencies) should always be the same version. You probably got a warning about that.
(But yes, that page is outdated listing 1.0.0-beta4 deeplearning4j-ui_2.10 instead of 1.0.0.-beta6 deeplearning4j-ui, cc @treo )

As for not being able to see anything: I think that's probably code related.
The UI server doesn't initialize

[2020-02-09 23:52] vincenzocaselli commented on #8693
Hi Alex,
I am now using 1.0.0-beta6 for all dependencies.
I followed exactly the code in the guide, that is:
[code]
but things doesn't change.
I also was able to reproduce the behavior cloning repo
https://github.com/eclipse/deeplearning4j-examples.git
and executing class
**org.deeplearning4j.examples.userInterface.util.UIExample.java**
The execution hangs at line
`net.fit(trainData);`
where the c

[2020-02-10 00:07] AlexDBlack commented on #8693
Yes, that's the correct address.

That's unexpected, there are no known issues with freezing during training, with or without the UI.
Furthermore even if there was an issue during training, it should not make any difference what-so-ever to the UI web server - they are relatively independent systems.

Can you confirm that the examples were a fresh clone, completely unmodified?
And is this being run

[2020-02-10 00:29] saudet commented on #8688
LunarLander also needs continuous actions. If you find any environment that doesn't use continuous actions and does not work, then, yes, please let me know.

[2020-02-10 00:42] saudet commented on #8693
I'm pretty sure those builds are not up and running yet @sshepel?

Not seeing anything here, for example:
https://jenkins.konduit.ai/blue/organizations/jenkins/eclipse%2Fdeeplearning4j/detail/master/77/pipeline

[2020-02-10 03:30] AlexDBlack commented on #8691
Thanks for reporting this, I'll take a look and report here once I have something to share.

[2020-02-10 03:40] AlexDBlack commented on #8692
Looking at the type of layers you have here (which are all well tested), my first guess would be the data pipeline differences - you already noted the NCHW vs. NHWC layout, but another thing to be aware of is RGB vs. BGR for the input images. IIRC NativeImageLoader has methods for both.
Plus differences in normalization of course can cause differences here.

One thing I can suggest is preprocessin

[2020-02-10 06:56] AlexDBlack opened #8694 "libnd4j - conv2d: add support for 'fused activations'"
One feature of MKLDNN (DNNL) is the idea of setting a "post op" elementwise function - i.e., an activation function.
https://intel.github.io/mkl-dnn/group__c__api__attributes__post__ops.html

This is likely to be faster than just doing 2 separate ops (conv2d followed by separate activation function).
If the conv2d op supported it, then we could use it in mkldnn, and then get the benefit of it for

[2020-02-10 14:44] tobq commented on #8688
@saudet It uses (4) discrete actions.

[2020-02-11 06:29] AlexDBlack opened #8695 "SameDiff: Shannon entropy gradient failing (java issue)"
New test added: ReductionOpValidation.testShannonEntropy() - gradient check is failing.

Note that backprop is implemented at the java level - this is not a libnd4j issue.

[2020-02-11 14:30] AbdelmajidB commented on #8644
Hello @AlexDBlack , please have you any idea about this issue? i uploaded in the last post resources that can you need .

[2020-02-11 19:15] treo commented on #8644
Looking at your code for testing, it looks very much like you are just seeing the randomization in filesplit doing what it is supposed to do.

If you pass a random instance to file split, you will get the files back in random order.  So if you add files to a directory between runs, the output will be in different orders.

If I'm right, the easiest way to solve that problem is to not pass `rng` in

[2020-02-11 20:31] AbdelmajidB commented on #8644
@treo thank you for your reply. If doesn't fix the issue.

i removed rng from line 18, and i show the path of loaded images in MyPathLabelGenerator to see the results of metrics for each image, so if i put all the 59 images in test folder i get the following results: https://gist.github.com/AbdelmajidB/2d48e945bd81e59a37d461b0eee05572
and if i put just image "1.png" i get this results: https://gis

[2020-02-11 22:47] manishpatelUK opened #8696 "Core Dump when creating CNN to learn over images"
#### Issue Description

Creating a fairly shallow CNN. Using a (semi-but-sensible) randomly generated CNN config, to the effect of:

- 11 layers, alternating between convoluted and subsampling
- kernel sizes at 5,5 (input layer) 2,2 (otherwise)
- stride at 1,1
- padding at 3,3
- simple output layer with loss function set to negative liklihood, activation set to softmax.
- I have this (from example

[2020-02-11 23:04] vincenzocaselli commented on #8693
Hi Alex,
git is up-to-date (commit 02c1489... as of 2020-02-05), no unstaged/staged changes.

Class **org.deeplearning4j.examples.userInterface.UIExample.java** is launched from **Eclipse** IDE with JDK **java-13-openjdk**.

I am using **Linux Arch 64-bits** (Manjaro) on Dell Precision 5530.
The launch hangs with these messages in console:

[code]
At this point address
http://localhost:9000/train

[2020-02-12 01:48] saudet commented on #8688
I see, we need an additional dependency on Box2D for this to work...

[2020-02-12 03:58] AlexDBlack commented on #8696
Best guess is that this is an invalid configuration that is slipping through validation.

First: I noticed that you're on 1.0.0-beta4. Upgrade to 1.0.0-beta6 and try again (no point us debugging this if it's already fixed).

If it still happens on 1.0.0-beta6, can you share the Java code for us to try and reproduce/debug this?

[2020-02-12 04:05] AlexDBlack commented on #8693
cc @raver119 - any thoughts?
Looks like it might be a c++ deadlock on `Nd4jCpu.execSummaryStatsScalar`, but I can't see how/why that would happen (never seen this on any of our machines, or CI machines).
Java version and linux variant shouldn't make any difference AFAIK.

@vincenzocaselli what exactly is the processor model? I saw a couple of different possibilities for the Dell 5530

[2020-02-12 04:12] AlexDBlack commented on #8683
https://github.com/KonduitAI/deeplearning4j/pull/221

[2020-02-12 04:12] #8683 closed, assigned to nobody

[2020-02-12 04:18] AlexDBlack commented on #8662
I'l close this as resolved - if you need more help, we can re-open the issue

[2020-02-12 04:18] #8662 closed, assigned to nobody

[2020-02-12 04:34] raver119 commented on #8693
@vincenzocaselli so, you're using example as is, and it deadlocks for you?

[2020-02-12 05:09] AlexDBlack commented on #8693
@raver119 That's my understanding, yes, unmodified latest version of dl4j-examples (1.0.0-beta6)
I've tried that same example on my machines, and it's fine.
(We also run it as part of pre-release QA anyway)

[2020-02-12 06:50] vincenzocaselli commented on #8693
As a side note I tried both with
[code]
and
[code]
with same results.

Intel Core i7-8850H (Six Core 2.60GHz, 4.30GHz Turbo, 9MB 45W)

yes

Let me know if I can make other tests: different JVMs, change some env variable, ...

[2020-02-12 07:01] raver119 commented on #8693
Can you please `export OMP_NUM_THREADS=1` and run again? Things will get slower, but we'll rule out parallelism.

[2020-02-12 07:50] AlexDBlack opened #8698 "Looking for Help? Need Support? (Read this first)"
**For bugs, open a [GitHub issue](https://github.com/eclipse/deeplearning4j/issues)**
**For general support, please use Discourse: https://community.konduit.ai**

Welcome to the Github issues section for Eclipse Deeplearning4j, ND4J, RL4J, SameDiff, DataVec and Arbiter.

Previously we have accepted support / help requests in addition to bugs in Github issues. However, this resulted in many unanswe

[2020-02-12 08:02] manishpatelUK commented on #8696
Thanks, yes it's probably a misconfig - upgrading gives me an error instead of a core dump. This is in evaluation phase rather than `fit()`. Will post code when I find what combination of params is causing it.

[code]

[2020-02-12 09:06] vincenzocaselli commented on #8693
@raver119  done, but unfortunately the behavior is exactly the same

[2020-02-12 09:28] AlexDBlack commented on #8696
Thanks for testing.
OK, so I'll close this then. Maybe it was a bug on our end in 1.0.0-beta4 (specific to MKLDNN or something).

NaNs could be due to bad tuning - i.e., learning rate too high. Or lack of normalization for input data. Or bad combination of loss function + activation function for output layer, for example.

I'll close this as resolved, if you can't work out the NaNs feel free to as

[2020-02-12 09:28] #8696 closed, assigned to nobody

[2020-02-12 09:31] raver119 commented on #8693
Hm. That doesn't sound realistic to me. Can you please disable UI stuff, and put regular score listener there with frequency of 1?

[2020-02-12 09:40] vincenzocaselli commented on #8693
@raver119 by skipping UI stuff it works like a charm
[code]

[code]

[2020-02-12 09:41] raver119 commented on #8693
Great. Now enable UI listener again, but keep score listener too.

[2020-02-12 10:13] vincenzocaselli commented on #8693
@raver119 now I see the training going on (sure enough it has always been working on background also before), but still the url is unreachable. Seems like the UI stuff doesn't start or something is blocking it on my system (firewall is off however).

[2020-02-12 10:18] raver119 commented on #8693
So, there's no deadlock, and probably there never was any deadlock... Probably that's just operation that takes significant time and you just tend to see it more often there. We'll check it out.

[2020-02-12 10:29] AlexDBlack commented on #8693
@vincenzocaselli OK, can you try running this exact same example through maven or intellij instead of Eclipse IDE?
looking back over what you've posted this looks off
[code]

There shouldn't be anything gradle-related on the classpath in the examples. Suggests that maybe Eclipse IDE is causing problems with logging, and we're simply not seeing some other output (like an error saying port 9000 is a

[2020-02-12 10:52] vincenzocaselli commented on #8693
@raver119 wow! A step forward: since I would have some problem using IntelliJ right now and don't know exactly how to use directly maven to run I followed your hint.
I therefore cleared my home .gradle/caches/ folder and now I see something different:
1. the console is messaging in black color (before was almost all in red), see below its content
2. the url is reachable!!! But it shows just "Resou

[2020-02-12 11:41] AlexDBlack commented on #8693
@vincenzocaselli for maven execution, use this:
[code]

[2020-02-12 14:27] tintinxue1 opened #8701 "DL4J KerasSequentialImport problem"
#### Issue Description
Simple LSTM models trained using Keras give wrong predictions after imported in Java using Keras Sequential Import.
The model start with a Masking Layer, then LSTM layer, and Dense Layer.
When the model is small untrained, the java imported version would give the same predictions as the python version.
But whenever I provide a trained model or relatively larger model. I get

[2020-02-12 15:02] treo commented on #8701
Originally started on https://community.konduit.ai/t/imported-keras-lstm-layer-mismatch/124.

Even though this looks like it might be a bug, it would be better if you had waited to get a confirmation of it instead of cross posting.

[2020-02-12 15:15] s-bernard commented on #8361
@AlexDBlack Have you consider porting the CUDA code to [HIP](https://github.com/ROCm-Developer-Tools/HIP)?

It *shouldn't* be too time consuming with the HIPIFY tools (which can automatically convert source from CUDA to HIP) and the result source code could be compiled to run on both NVIDIA or AMD GPUs.

[2020-02-13 07:21] vincenzocaselli commented on #8693
@raver119 done with maven direct. Same result ... that is: url http://localhost:9000/train is unreachable.
But I noticed the message:
`o.d.u.VertxUIServer - Deeplearning4j UI server started at: http://localhost:9000`
so tried removing /train and ... it worked!
The final target Url is indeed http://localhost:9000/train/overview
but anyway just /train doesn't work.
Thank you @raver119 !!!
I tried ag

[2020-02-13 09:53] AlexDBlack commented on #8693
OK, great. I'll close this. :+1:

Only thing I think we can do here is provide a simple redirect from `/train` to `/train/overview`. I thought we already had that, but apparently not.
I'll open a separate issue for that.

[2020-02-13 09:53] #8693 closed, assigned to nobody

[2020-02-13 09:54] AlexDBlack opened #8704 "DL4J UI: Add simple redirect from /train to /train/overview"
https://github.com/eclipse/deeplearning4j/issues/8693#issuecomment-585642989

[2020-02-13 12:57] AlexDBlack opened #8705 "SameDiff: Additional InferenceSession optimizations (Java)"
Here's a few additional optimizations for InferenceSession we can add to improve performance:
* Zero-copy reshapes, also expand dims etc
* Zero-copy views (slice/strided slice)
* "Passthrough" for any remaining "identity-like" ops, such as stop_gradient

[2020-02-13 13:17] tobq commented on #8688
@saudet I ended up implementing my own "gym4j" with box(any-dimensional)/discrete actions and box2d tasks working https://github.com/tobq/gym4j

[2020-02-13 18:36] tc64 commented on #8665
I added:

[code]
In order to get MKL to be used (evidenced by nd4j logs) I had to use flag -Dorg.bytedeco.openblas.load=mkl_rt

[2020-02-13 18:36] #8665 closed, assigned to nobody

[2020-02-13 19:23] alexanderst commented on #8685
Fix merged.

[2020-02-13 21:46] eraly commented on #8701
"Only when the model is extremely small or untrained, they do match"

Try giving the larger model a random input and you will find the outputs match for the larger model too. This is a bug in our keras import of the masking layer. With a random input where none of the time steps have all values in the input equal to the mask_value the mask layer does nothing in keras and that is why the outputs ar

[2020-02-13 23:38] AbdelmajidB commented on #8644
@treo @AlexDBlack, please, have you any idea about this issue??

[2020-02-13 23:56] eraly commented on #8701
Tagging @AlexDBlack as per Paul's instructions to assign someone (me?) to work on the fix for the bug.
Unit test in repo linked [here](https://github.com/eraly/keras-test-import/blob/master/src/main/java/org/deeplearning4j/MyTest.java#L24
)

[2020-02-13 23:57] eraly commented on #8701
In the unit test note that the model passes for the random input and doesn't for the other due to the bug I described earlier.

[2020-02-14 00:10] treo commented on #8644
Can you create a self-contained project that we can run? that would make debugging this a lot easier

[2020-02-14 03:50] saudet commented on #8688
That's cool. We can do the same with JavaCPP and it's going to be a lot more efficient. If you'd like to make a contribution, you're more than welcome!

[2020-02-14 07:18] AbdelmajidB commented on #8644
@treo @AlexDBlack you can find here the project that you can run: https://drive.google.com/file/d/16Ov_8Zxj5KDATc78nBXSek3GA07-AYOJ/view?usp=sharing

[2020-02-14 12:17] wmeddie opened #8707 "Graph imported from FlatBuffers in C++ has an extra variable."
#### Issue Description

I created the attached FlatBuffer graph with the following Java code.

[code]

And then loaded and execute it in C++ with the following code:

[code]

The graph in C++ has two variables: `input` and `mul_scalar` which apparently need to be set to the same value for the graph to execute correctly.  If they are set to different values, the value of `input` is output.

It shou

[2020-02-14 13:36] mexeniz commented on #8284
@raver119 Hi, any update about the optimization?

[2020-02-14 14:49] tintinxue1 commented on #8701
Using the SequenceRecordReader with the Alignment made it work, although i have to write the inputs into txt file and read them back in. but It'll do for now, hope you can fix the bug soon. thanks

[2020-02-14 16:49] botnaeasy opened #8708 "Bug in multiclassification"
#### Issue Description

I think i found bug in multiclassification when i load csv data by DataSetIterator.
Bug appears when classification label index is set as 0.

version: 1.0.0-beta6

**code:**
DataSetIterator it = new RecordReaderDataSetIterator.Builder(recordReader, someSize)
                .classification(0, 3).build();

MultiLayerConfiguration conf = new NeuralNetConfiguration.Builder()

[2020-02-14 22:58] tobq commented on #8688
That'll be good to see

[2020-02-15 02:33] AlexDBlack commented on #8361
@s-bernard We have looked at a few of these options a while back.
Given the size of our codebase, our expectation is that such tools will never work quite as well as advertised - i.e., will still need manual post-processing. And even if they do work (in terms of providing correct output), it's unlikely they will be optimized as well as we can do so manually.

There's a _lot_ more to adding AMD sup

[2020-02-15 02:37] saudet commented on #8361
@AlexDBlack BTW, Intel oneAPI also offers something similar these days:
https://software.intel.com/en-us/oneapi/dpc-compiler

[2020-02-15 03:47] AlexDBlack commented on #8361
Yep, we're aware of that OneAPI has a similar CUDA code conversion tool.
We haven't evaluated OneAPI in depth yet, but it's an option worth considering. to expand our hardware support

[2020-02-15 10:08] AlexDBlack opened #8709 "libnd4j - iOS x86/ARM CI Build Issue"
As this isn't a high priority, CI for iOS will be disabled for the near future. All other

[code]

[2020-02-15 12:46] wmeddie opened #8710 "Add support for FusedBatchNormV3"
#### Issue Description

After training an resnet50 and inceptionv3 model from keras.application on using tensorflow 1.15 I was unable to import the model with TFGraphMapper since it is missing the op for FusedBatchNormV3.

[code]

I've included the pbtxt of the inceptionv3 model.

[inceptionv3-docclas-77acc.h5.zip](https://github.com/eclipse/deeplearning4j/files/4208460/inceptionv3-docclas-77acc.h

[2020-02-15 16:15] vincenzocaselli commented on #8693
Hi @AlexDBlack, @raver119
I am adding a comment here since the problem at the root of this post is back again.
Let me know if I should better open another issue and I'll do; for now I'll explain here below.
The problem was solved for the DL4L **UIExample**, but it is still present for a brand new project.

In fact I started (with Eclipse IDE, but don't think this can make a difference) a brand **n

[2020-02-16 09:56] ticofab commented on #8322
I would like to try again soon with the latest version. Will update this issue accordingly.

[2020-02-16 23:20] dominics opened #8712 "WordVectorSerializer calls Class.forName without a way to specify classloader"
WordVectorSerializer attempts to dynamically load a tokenizer factory configured by the user, via `Class.forName`: https://github.com/eclipse/deeplearning4j/blob/4b46aaedd3cc4bcffc878cb75ea2c558ccdf99d9/deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp/src/main/java/org/deeplearning4j/models/embeddings/loader/WordVectorSerializer.java#L2698

But when it does, it hard-codes the use of the

[2020-02-17 02:54] AlexDBlack commented on #8693
@vincenzocaselli so those stack traces you posted are likely irrelevant. You'll note they are debug level in netty, checking for certain JDK features - with properly configured logging (i.e., a logback.xml in the project resources directory like the link below) you wouldn't even see that.
https://github.com/eclipse/deeplearning4j-examples/blob/master/standalone-sample-project/src/main/resources/lo

[2020-02-17 03:16] AlexDBlack commented on #8708
Can you provide the data for us to review?

If i set label column as last is working fine.

Which label index value is correct depends on the actual data layout. If your labels are actually the last column in your CSV, then the only valid configuration for label index is the last column. Set to anything else and it won't/can't work.

[2020-02-17 05:51] agibsonccc opened #8714 "Libnd4j fails to compile on armv8 jetson nano"
#### Issue Description

LIbnd4j fails to compile due to the attached screenshot
![IMG_20200217_141125](https://user-images.githubusercontent.com/1144306/74627008-e52a8480-5194-11ea-8aff-061bf01c538b.jpg)

Please describe our issue, along with:
- expected behavior
Compiles
- encountered behavior
Does not compile
#### Version Information
Snapshots
Please indicate relevant versions, including, if rel

[2020-02-17 07:53] botnaeasy commented on #8708
Hey, here is example od data where first column is label and the rest ot them are features.

[input_2.txt](https://github.com/eclipse/deeplearning4j/files/4212412/input_2.txt)

[2020-02-17 08:12] vincenzocaselli commented on #8693
Hi @AlexDBlack ,
here they are:

(a) Java class & pom.xml
[Step1MnistMLP.java.txt](https://github.com/eclipse/deeplearning4j/files/4212409/Step1MnistMLP.java.txt)
[pom.xml.txt](https://github.com/eclipse/deeplearning4j/files/4212416/pom.xml.txt)

(b)
https://gist.github.com/vincenzocaselli/7fe545ed44551101228142822b7d95a8

(c)
o.s. = Linux Arch 64bits (Manjaro Deepin 18.0.2)
Java JDK 13 (tried bot

[2020-02-18 00:04] AlexDBlack opened #8715 "ND4J ArchiveUtils - add option to not log every extracted file"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-common/src/main/java/org/nd4j/util/ArchiveUtils.java#L115

In the case of SVHN (run as part of tests in CI) this is around 250k log lines.
In the case of LFW (also in CI) this is around 20k log lines.

[2020-02-18 06:23] raver119 commented on #8673
Implemented and merged

[2020-02-18 06:23] #8673 closed, assigned to shyrma

[2020-02-18 10:47] sshepel opened #8716 "CI | Exclude files list for CI"
#### Issue Description

To reduce the load on CI, would be nice to collect a list of files or patterns that can be used to skip builds when changes were made to one of the file in list.

Example:
[code]

[2020-02-18 14:59] treo commented on #8644
The issue is actually pretty simple: You are using `NormalizerMinMaxScaler` to normalize your data.
This is a scaler that has to be fit to your data, and you do fit it here:
https://gist.github.com/AbdelmajidB/92f5fc3013c81b28c898b64118b6adb5#file-semanticsegmentationload2-java-L29-L31

The problem with the approach you have taken here is that you did a classic data prep mistake:
You fit it to the

[2020-02-18 14:59] #8644 closed, assigned to nobody

[2020-02-18 15:39] saudet commented on #8688
For me, after calling `pip3.7 install --user gym[box2d]`, RL4J works just fine with `LunarLander-v2`. If you're installing these libraries in a non-standard location though, I've added a `Py_AddPath()` helper method for those cases in pull #8717. We can call it like this before initializing RL4J:
[code]
Still, for a more user-friendly experience, we could obviously bundle Box2D and anything else a

[2020-02-18 16:41] treo opened #8718 "model.doEvaluation does not pass metadata"
For both [MultiLayerNetwork](https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/multilayer/MultiLayerNetwork.java#L3436-L3463) and [ComputationGraph](https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/graph/ComputationGraph.java#L4190-L4236) the meta data

[2020-02-20 00:42] AlexDBlack opened #8719 "DataVec Python: incorrect address returned for python object + no validation"
So I'm trying to run the datavec-python tests on locally on Windows, in IntelliJ.
Happens for both CPU and CUDA.
Windows 10, Python 3.7.4 is also installed and on the Path via Anaconda (though happens without Anaconda installed too).
Perhaps it's a system configuration issue - I'm pretty sure I ran these tests OK on my old machine.

Running on branch sa/new-datatypes-pythonexecutioner - https://gi

[2020-02-20 00:52] saudet commented on #8719
This is using ctypes, which isn't the most efficient API out there. If we use NumPy's C API everywhere, I don't think we'd need to use ctypes anyway?

[2020-02-20 11:13] AlexDBlack opened #8720 "DL4J FastText - wordsNearest and similar methods"
Currently, if we do .wordsNearest(word, n) on a FastText binary model, we get a NullPointerException, due to the modelUtils field being null.

[code]

We need one of 2 things here:
1. If FastText binary models _can_ support words nearest, we should make it work, OR
2. If we can't support words nearest, we should throw a useful exception (explaining to the user why it's not possible, and their opti

[2020-02-20 12:35] Cocoa-Puffs opened #8721 "Can't import Keras model"
#### Issue Description

I'm working on a project that has machine learning elements in it. One of my colleagues has trained a model and gave me the .h5 file to test. I'm trying to import it using the

KerasModelImport.importKerasSequentialModelAndWeights(String filePath)

method call. However the import failes with the stack I've provided further down below in a gist.

I've looked into it a bit an

[2020-02-20 13:08] treo commented on #8721
What version of keras was used to train that model?

[2020-02-20 13:58] aliakhtar commented on #8720
Alternatively, since there's a `setModelUtils` method on `FastText.java`, perhaps there's a way to provide a modelUtils using the binary model (or one could be created automatically when the binary model is passed in)?

[2020-02-20 15:23] Cocoa-Puffs commented on #8721
I'm told it was TensorFlow 2.0

[2020-02-20 16:08] YusufuShehu opened #8722 "Unable to import Many-to-one LSTM Keras model"
#### Issue Description

Importing an LSTM model using Keras (Functional API) v2.3.1 with Tensorflow v2.1.0. I am using the configuration return_sequences=False for my LSTM layer. I am importing the model using:

ComputationGraph graph = KerasModelImport.importKerasModelAndWeights(model,true);

I get the following stack trace:

https://gist.github.com/YusufuShehu/19cf57ccc908ccd69e6969d9e471cfc4

I

[2020-02-20 16:16] treo commented on #8721
Unfortunately we can't import keras models that are built with tf.keras (neither can multi-backend Keras) at the moment, as they've changed the model format.

[2020-02-20 16:33] Cocoa-Puffs commented on #8721
Alright, thank you. I will close the issue.

[2020-02-20 16:33] #8721 closed, assigned to nobody

[2020-02-21 01:27] AlexDBlack commented on #8719
So I've tried Java 8 (OpenJDK 8) in addition to Java 11 that I was using when I opened the issue.
Same result.

Tried a couple of other random things, all that didn't help:
* Not inheriting the system environment variables (PATH etc)
* Setting OMP_NUM_THREADS=8
* Clearing JavaCPP cache

All result in the same -1 address and hence the JVM crash (CPU) or memcpy issue (CUDA).

So still not sure what'

[2020-02-21 06:23] AlexDBlack commented on #8635
Merged recently

[2020-02-21 06:23] #8635 closed, assigned to atuzhykov

[2020-02-21 06:44] AlexDBlack commented on #8384
Implemented some time ago.

[2020-02-21 06:44] #8384 closed, assigned to nobody

[2020-02-21 07:18] AlexDBlack commented on #8719
This may be Windows specific somehow.
The same machine (3990x) on Linux (Clear Linux 32370) runs the tests fine on CPU - no crashes, I'm getting a valid pointer address.

[2020-02-21 11:31] raver119 commented on #8714
Workaround merged.

[2020-02-21 11:31] #8714 closed, assigned to nobody

[2020-02-21 12:42] saudet commented on #8719
@farizrahman4u Can we try to replace ctypes with numpy everywhere?

[2020-02-22 09:04] treo opened #8724 "UI: Netty version clash"
#### Issue Description
`deeplearning4j-ui` uses vert.x, which in turn uses netty.
Other modules, like `datavec-hadoop` or `datavec-arrow` also have transient dependencies on netty - often in very different versions.

This results in problems that show themselves as `NoSuchMethodError` or `ClassNotFoundException`.

The devious thing about it, is that it depends on the order of dependencies in the p

[2020-02-22 11:05] lpaatero opened #8725 "UI in snapshot is broken"
#### Issue Description

When creating UI, it should be available, and
` Deeplearning4j UI server started at: http://localhost:9000 `
should be in the log.

In current snapshot, UI is not available, and log entry is not generated.

#### Version Information

Current snapshot.

#### Additional Information

`
2020-02-22 10:51:41.190 - SEVERE: The FreeMarker version requested by "incompatibleImprovemen

[2020-02-22 11:08] treo commented on #8725
You are probably affected by a variant of https://github.com/eclipse/deeplearning4j/issues/8724
please share your pom.xml file, and the output of `mvn dependency:tree` so we can help you find a workaround.

[2020-02-22 15:02] s-bernard commented on #8361
Thanks a lot @AlexDBlack for your detailed answers. I hope I don't bother you with my questions.

I've recently come across [TornadoVM](https://github.com/beehive-lab/TornadoVM), a *plug-in to OpenJDK and GraalVM that allows programmers to automatically run Java programs on heterogeneous hardware* aka CPUs, GPUs, and FPGAs.

Have you heard about it? What do you think?

[2020-02-22 15:14] raver119 commented on #8361
All these simplified tools are great if all you need is element-wise operations. Once you need anything slightly more complex, anything  that can’t be expressed as elementary operation along some dimension, or require platform-specific algorithms/tweaks  - you have to get back to old good C.

[2020-02-22 19:43] lpaatero commented on #8725
I have already workaround for this, so no need to find one.

I think problem is already visible in conflicting pom definitions; the 2 poms below should specify same version.
`
 deeplearning4j/deeplearning4j/deeplearning4j-ui-parent/deeplearning4j-ui-components/pom.xml
<properties>
   <freemarker.version>2.3.23</freemarker.version>
</properties>
`
and
`
deeplearning4j/deeplearning4j-ui-parent/deepl

[2020-02-22 23:14] agibsonccc commented on #8724
@treo  I think deeplearning4j-hadoop can be eliminated? I've found in konduit-serving which uses the same dependency tree, that all you have to do is do dependencyManagement on the netty versions. That might be enough? Either way, spark/play was a similar issue we had in the past.

[2020-02-23 08:33] agibsonccc opened #8726 "Jetson Nano resolves to non existing architecture (linux-aarch64)"
#### Issue Description
Builds on jetson nano resolve to wrong javacpp architecture:
Relevant snippet:
[code]

The platform appears to be linux-aarch64. We have linux-arm64 in snapshots already.
I imagine we just need an alias?
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information
SNAPSHOTS
Linux for Tegra on Jetson Nano (based on ubuntu 18.04)

[2020-02-23 10:29] treo commented on #8724
The problem with forcing a dependency here, is that just because this fixes the UI, it doesn't fix the underlying problem that two different versions of netty are required. In the Hadoop case it is 3.8, so forcing 4.x to be used instead is going to just push the problem to a different part of the application.

[2020-02-23 10:48] saudet commented on #8724
Another more permanent solution to this kind of issue could be to adopt OSGi...

[2020-02-24 02:01] hanbaoan123 opened #8727 "The Cartpole example can't converge"
#### Issue Description

When I run the example cartpole with the default parameters, it can not converge to the max reward 200, I wonder what went wrong.
![360截图20200224095510956](https://user-images.githubusercontent.com/32160782/75124829-a2186600-56ec-11ea-88da-b648bb1530a4.jpg)

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version beta6

[2020-02-24 02:09] agibsonccc commented on #8714
Confirmed compiles.

[2020-02-24 02:09] saudet commented on #8727
@RobAltena

[2020-02-24 03:12] RobAltena commented on #8727
There is an updated cartpole example here: https://github.com/RobAltena/cartpole

But it uses the daily snapshots for now.

[2020-02-24 03:20] hanbaoan123 commented on #8727
So what's going on? Are the parameters inappropriate？

[2020-02-24 07:12] DanielRaapDev opened #8728 "Download of zoo models not possible"
#### Issue Description

I wanted to use a pretrained network from the zoo (YOLO2). But the download of the data failed:
[code]
When calling the URL with a browser the result is the following XML:
[code]
This error seems not specific to that file. It is also displayed for https://deeplearning4jblob.blob.core.windows.net/models/

#### Version Information

Deeplearning4j version:
I used 1.0.0-beta5,

[2020-02-24 07:28] treo commented on #8728
I think your eyes played a trick on you there, the url on [master](https://github.com/eclipse/deeplearning4j/blob/47d19908f46239f44c381059fa5608eb0d6218ac/deeplearning4j/deeplearning4j-common/src/main/java/org/deeplearning4j/common/resources/DL4JResources.java#L47), and [beta6](https://github.com/eclipse/deeplearning4j/blob/deeplearning4j-1.0.0-beta6/deeplearning4j/deeplearning4j-common/src/main/j

[2020-02-24 07:47] DanielRaapDev commented on #8728
Thx. Haven't seen that difference. I just read dl4j...blob....windows.net :/

[2020-02-24 07:47] #8728 closed, assigned to nobody

[2020-02-24 09:09] farizrahman4u commented on #8719
@saudet Done: https://github.com/KonduitAI/deeplearning4j/pull/241

[2020-02-24 09:27] farizrahman4u commented on #8719
@AlexDBlack can you pull `sa/new-datatypes-pythonexecutioner` and try again?

[2020-02-24 09:32] FelipeQuirce opened #8730 "UnsupportedKerasConfigurationException: Unsupported keras layer type TokenEmbedding."
#### Issue Description

Please describe our issue, along with:
I'm trying to import keras model (BERT), and I'm getting the following exception.
org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type TokenEmbedding

#### Version Information
 1.0.0-beta6

#### Additional Information

Where applicable, please also provide:
[exception s

[2020-02-24 11:17] treo opened #8731 "ImagePreProcessingScaler can not be configured to preprocess labels"
#### Issue Description
When using ImagePreProcessingScaler for segmentation tasks, both features and labels have to be processed.

https://github.com/eclipse/deeplearning4j/issues/8135 has added support for `transformLabels` and `revertLabels`, but setting `fitLabels` is a no-op and `preProcess` still processes only the features.

When the scaler is used as a normalizer for a DataSetIterator this

[2020-02-24 12:24] RobAltena commented on #8727
I do not know what exactly was wrong with the old example. But the new one uses an entirely different neural network. I has more nodes and we use a different optimizer.

[2020-02-24 14:45] treo opened #8732 "CUDA behaves non-deterministically even without cuDNN"
#### Issue Description
This project doesn't run deterministically when using the cuda backend.
https://github.com/treo/undeterministicCuda

#### Version Information

* Deeplearning4j version: 1.0.0-beta6
* Platform information (OS, etc): Windows, Linux
* CUDA version: 10.0
* NVIDIA driver version, if in use: 442.19

#### Additional Information

Originally reported here: https://community.konduit.a

[2020-02-24 17:18] zhangy10 commented on #8662
@AlexDBlack I found a confusing question when using the ```InputType.recurrent``` to Convolution1DLayer.

For example, I have a conv layer, and the output shape is [16, 72, 3] represents [batch, channel, length]. And the output will be flatted as expected [16, 216] to a full layer. However, the output will be modified as [48, 72] by the ```RnnToFeedForwardPreProcessor``` when using ```InputType.re

[2020-02-24 23:38] madhs53 opened #8733 "Increasing JVM Heap while training CNN"
Hi DL4J team.

We are training a CNN for OCR and have observed an ever increasing heap growth over time and eventually throws an OutOfMemoryError (at around epoch 100 with a batch size of 64). Below is a screenshot of Visual VM:

![increasing_heap](https://user-images.githubusercontent.com/45612516/75200713-84b1cd80-57ba-11ea-89c9-d146d4fa8936.png)

Below is the code used (modified from a CNN exam

[2020-02-25 01:03] saudet commented on #8733
Could you try to add something like `System.gc(); Thread.sleep(100)` in the loop to see what that gives?

[2020-02-25 01:35] zhangy10 commented on #8662
@AlexDBlack  I print both of using 1D cnn and 2D cnn with the same dataset as examples. The model is LeNet with 2 conv layers, 2 pooling layers, and 1 full layer.

[code]

[code]

As we can see, the major difference is the number of ffn1 nIn, 72 for conv1d and 216 for conv2d (expected). And it's because of using ```RnnToFeedForwardPreProcessor``` in the DenseLayer mentioned above. So, I am wonderi

[2020-02-25 01:35] AlexDBlack commented on #8719
So, retesting this: I've run a bunch of times each on CPU and CUDA on windows, for branch `sa/new-datatypes-pythonexecutioner` - no crashes :tada:

I am however seeing a test failure on TestPythonExecutioner.testByteBufferInplace (IIRC Shams flagged this already; now that I can run without crashing I'll look into it)

[2020-02-25 04:59] raver119 commented on #8733
@madhs53 please try latest snapshots, this issue should be resolved there now.

[2020-02-25 05:15] madhs53 commented on #8733
@saudet Thanks, unfortunately in this case that didn't seem to help.
@raver119  Thanks, we are trying with the latest snapshots now.

[2020-02-25 06:17] AlexDBlack opened #8734 "ND4J/libnd4j CUDA: Mmul op can provide incorrect results in multi-threaded environment"
Take a look at the following gist: https://gist.github.com/AlexDBlack/985c6ce4fa15786b0b6f865ae240c503

Note that:
* The mmul op can sometimes _randomly_ provide incorrect results in multi-threaded environments
* No arrays or ops are shared between threads
* Using whole numbers in input - so no rounding issues should be possible
* The l3 BLAS gemm method is OK (never fails) (similarly INDArray.mmu

[2020-02-25 12:07] raver119 commented on #8598
Implemented.

[2020-02-25 12:07] #8598 closed, assigned to quickwritereader

[2020-02-25 15:05] alexanderst commented on #8656
Implemented.
I assume Range op was implemented earlier:
[code]

[2020-02-25 15:16] horschi opened #8735 "restoreMultiLayerNetwork() needlessly writes temp-file"
#### Issue Description
restoreMultiLayerNetwork(InputStream is, boolean loadUpdater) internally writes a temporary ZIP file and then reads it.
My expectation would be that the InputStream is directly read using a ZipInputStream.

This would be faster, more robust and does not rely on the fact that there is write-access on the temp folder.

#### Version Information
* Deeplearning4j version: 1.0.0-b

[2020-02-25 15:18] raver119 commented on #8735
Great! Send us PR please!

[2020-02-25 23:05] vincenzocaselli commented on #8693
Hi @AlexDBlack ,
I managed to follow **exactly the same steps above except** for just the following variants:
1) **IntelliJ** instead of Eclipse (but still on Linux Manjaro)
2) on **Windows10** instead of Linux Manjaro (but still with Eclipse)

and .. well, the results are exactly the same as above in both cases.

So there must be something wrong with the **pom.xml**.
What do you think?
Thank you

[2020-02-25 23:46] AlexDBlack commented on #8656
Yes, all look OK on current master.
@alexanderst feel free to close issues (you should have rights like in this case?) when resolved.

[2020-02-25 23:46] #8656 closed, assigned to alexanderst

[2020-02-25 23:54] madhs53 commented on #8733
Using the latest snapshots, the memory leak issue has been resolved.
Thanks for your help.

[2020-02-25 23:54] #8733 closed, assigned to nobody

[2020-02-26 01:07] madhs53 opened #8736 "CNN inference - different results to evaluation"
Hi DL4J team,

When we perform evaluation on a CNN we are seeing a very high accuracy rate. However when we perform inference on the same dataset we are seeing different results (a much lower accuracy rate). Additionally we are seeing 1.0 confidence scores on at lot of labels, and in some cases the total confidence across labels does not add up to 1.0.

I was hoping you could have a look at our co

[2020-02-26 10:41] treo commented on #8736
When running inference, you aren't applying the normalization that you've applied during training. So the model gets data in ranges it has never seen before.
By using the normalizer only in training, you get into a garbage in garbage out situation during inference.

You have to save and restore the Normalizer you've used for training. Use `ModelSerializer.addNormalizerToModel(...);` and `ModelSeri

[2020-02-26 10:41] zhangy10 commented on #8662
@AlexDBlack I double-check other LSTM examples again. I found the ```RnnToFeedForwardPreProcessor``` was consistently used through these examples. So, it is fine. I got a mistake about how to use conv1d or LSTM. And the way how I put the data into the models was incorrect.

For example, I put [16, 8, 1, 20] as input and [16, 6] (batch, class) as labels into conv2d model, and it works fine. But I c

[2020-02-26 10:58] AlexDBlack opened #8737 "DL4J: Weight decay results in lack of convergence (sometimes?)"
In a sequence embedding + LSTM sequence classification model that @atuzhykov has been working on - adding weight decay on the order of 1e-6 causes the network to not converge.
When using L2 (which is obviously similar), the network converges.

This could simply be a tuning issue, but it looks suspicious to me - it needs to be looked into to ensure it is not a bug.

Machine: CUDA 10.0, Ubuntu 18.04

[2020-02-26 12:19] AlexDBlack commented on #8730
Is this a TensorFlow 2.0 Keras model? TF 2.0 Keras model format is incompatible with the original "multi-backend" Keras model format that DL4J supports (you'd very likery run into an issue if you went from tf.keras to multi-backend keras too).

TF 2.0 Keras model format support is being worked on, but it's a know issue for 1.0.0-beta6.
https://github.com/eclipse/deeplearning4j/issues/8348

[2020-02-26 12:20] AlexDBlack commented on #8719
`sa/new-datatypes-pythonexecutioner` isn't merged yet, but it's close... I'll close this issue as resolved.

[2020-02-26 12:20] #8719 closed, assigned to nobody

[2020-02-26 12:29] AlexDBlack opened #8738 "Maven build: Add dependency convergence checking"
https://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html

To automatically detect issues like this: https://github.com/eclipse/deeplearning4j/issues/8724

The check of course doesn't _fix_ the issue, but at least we won't be surprised by them (the aforementioned issue slipped through 1.0.0-beta6 pre-release testing due to luck - a different order of a couple of dependencies in t

[2020-02-26 12:44] AlexDBlack commented on #8662
So, to be clear: the RnnToFeedForwardPreProcessor does exactly one thing: it stacks time steps along the batch dimension, so that we can have time-distributed dense/CNN layers. You seem to expect it to do something else, closer to what I've described below?

Depending on the task, you have a couple of options.

For squence classification (time series in, single prediction for the whole time series

[2020-02-26 13:20] treo commented on #8692
Answered in https://community.konduit.ai/t/imported-pretrained-keras-model-produces-wrong-output-in-dl4j/120/5

It was because of the RGB vs BGR difference.

Closing here, because the user cross posted.

[2020-02-26 13:20] #8692 closed, assigned to nobody

[2020-02-26 14:12] horschi commented on #8735
@raver119 Sorry, I had to make a typo fix.

I am currently testing the ModelSerializer with my application.

[2020-02-26 14:56] horschi commented on #8735
@raver119 I merged my changes into my local dl4j beta6 and tested successfully with my application. I was able to write/read my models from and to streams.

The reason why i stumbled on this was because of a weird performance issue, where the model load would take up to 3 minutes. This behaviour is now gone. Unfortunetaly I was not able to exactly pin point the root cause of the delay.

[2020-02-26 15:03] saudet commented on #8692
So this is a duplicate of #8258, etc. We can easily solve that this way: https://github.com/eclipse/deeplearning4j/issues/8258#issuecomment-540260738

[2020-02-26 15:07] raver119 commented on #8735
great! is your pr ready for review/testing?

[2020-02-26 15:16] horschi commented on #8735
@raver119 Yes. Are there any automated tests that cover this? I only tested the serialization from my application. Could anyone run the automated tests? The DL4j project does not compile properly on my machine.

[2020-02-26 15:17] raver119 commented on #8735
Yep, that's trivial. However, you also need to sign eclipse contributor agreement there

[2020-02-26 15:28] horschi commented on #8735
@raver119 I squashed and signed. Is that what you had in mind?

[2020-02-26 15:30] raver119 commented on #8735
I mean this thing: https://www.eclipse.org/legal/ECA.php

[2020-02-26 15:30] raver119 commented on #8735
https://accounts.eclipse.org/user/eca

[2020-02-26 15:45] horschi commented on #8735
@raver119 Signed.

[2020-02-26 15:47] raver119 commented on #8735
:+1: now we're waiting for jenkins then

[2020-02-26 15:53] horschi commented on #8735
@raver119 Thanks for all your help, also on stackoverflow ;-)

[2020-02-26 18:59] treo commented on #8693
@vincenzocaselli
I've tried to reproduce your problem, but it works on all machines I've tried.

Can you step through `VertxUIServer.start` and see if something hinders it getting to the final log line?

Edit;
While trying to solve a similar issue with another user, we ran into a possible solution. Can you try adding this to your pom.xml?
[code]

[2020-02-26 22:36] vincenzocaselli commented on #8693
Hi @treo !
wow, just by adding **freemarker** dependency make it work instantly!!!
Thank you, but what was happening?

[2020-02-27 02:28] madhs53 commented on #8736
Thanks for describing the problem, this has now been resolved.

[2020-02-27 02:28] #8736 closed, assigned to nobody

[2020-02-27 03:41] #8670 closed, assigned to nobody

[2020-02-27 05:57] RobAltena opened #8740 "RL4J does an image preprocessing step in the HistoryProcessor"
It is causing trouble when I try to write a simple player sample that shows how to play an ALE game with a trained network.
The offending image resizing code is here:
https://github.com/eclipse/deeplearning4j/blob/master/rl4j/rl4j-core/src/main/java/org/deeplearning4j/rl4j/learning/HistoryProcessor.java#L111

It is called from only one location here. The observation gets resized before adding to t

[2020-02-27 06:36] saudet commented on #8740
Please check out pull #8711 and add your comments about that there!

[2020-02-27 06:39] alexanderst commented on #8720
Meaningful exception added. Complete functionality for binary models can't be implemented for now due to fastText API restrictions.

[2020-02-27 06:48] AlexDBlack commented on #8720
Right, internally we're using the C++ FastText API. So short of implementing our own (from scratch - which might happen one day) version of FastText, we're limited to what they provide.

[2020-02-27 06:48] #8720 closed, assigned to nobody

[2020-02-27 07:14] treo commented on #8693
The problem is that the UI wants a newer version of freemarker, but something makes it so that an older version is included instead.
You're basically overwriting the freemarker version of the dependency that is already added.

It is weird that the error message for it gets silently discarded.

[2020-02-27 08:56] zhangy10 commented on #8662
@AlexDBlack Thanks for that. I double-check conv1d and rnn models again. I found only change the label shape cannot work for models.

After checking the source code, I think the first parameter of ```InputType.recurrent``` doesn't refer to 'channel', and it refers to the number of classes. For example, If I put [16, 8, 20] as input, the label shape should be the same as [16, 8, 20] to fit the pipe

[2020-02-27 15:01] aboulang2002 commented on #8740
I agree. I work to remove completely the `HistoryProcessor`. After pull #8711 (and the part 2, not yet in a PR), only `.record()` of `HistoryProcessor` will be used.
In another PR, I will remove `HistoryProcessor` and add a `.record()` to `TransformProcess`. It may seem weird that the `TransformProcess` does the recording, but I think some users will find it useful to be able to record at any step

[2020-02-27 22:35] aaronalbin opened #8741 "Dl4j InvalidKerasConfigurationException during model import "Failed to set weights for parameter W""
#### Issue Description
I am attempting to load a pre-trained Keras model (with TF backend) from python into Dl4j. I have successfully done this with simple feed-forward models, but I am having various issues loading more complex models built with the Keras functional API.

Please let me know if there are any work-arounds that can be done in the python code to conform to the Dl4j library.

A potent

[2020-02-28 03:17] zhangy10 commented on #8662
@AlexDBlack I think we can use ``` convolutionMode(ConvolutionMode.Causal) ``` even for conv2D, right? Can we just set height as 1 to logically make conv2d to conv1d, and set the ``` dilation(d) ``` to make it as TCN? And the order of INDArray should be 'c' based on conv2d, right?

If so, that would be much easier to run the data.

[2020-02-28 03:56] zhangy10 commented on #8662
@AlexDBlack I just test and the causal convolution mode can only be used with conv1d in the beta6. I thought it could work because I saw there were similar causal codes in the conv2d. So, it hasn't been tested? Or not finished to support conv2d?

[2020-02-28 10:09] treo commented on #8718
@eraly

[2020-02-28 19:00] alexanderst opened #8742 "nd4j - Cholesky wrapper is missing constructors"
1. Constructors and unit tests are missing for Cholesky wrapper in nd4j.
2. Import tests and SameDiff wrappers are missing.

[2020-02-29 04:41] emecas opened #8743 "Broken Links and Incorrect Information related to Skymind-is-now-Pathmind Change"
#### Issue Description

Broken links and incorrect information in code and documentation due to:
[Skymind is now Pathmind](https://announcement.pathmind.com/skymind-is-now-pathmind/)

#### Version Information

All around the repository content.

Here an example in the current version of the [readme.md](https://github.com/eclipse/deeplearning4j/blob/a66e03355e8764c2d71f87dcdf35bc878669b82d/deeplear

[2020-02-29 19:29] ticofab commented on #8322
I tried again and the issue I reported seems to have gone! 🎉
Unfortunately I stumbled upon another issue, which seems simpler to fix:

[code]

I will close this issue and open another one.

[2020-02-29 19:29] #8322 closed, assigned to saudet

[2020-02-29 19:38] ticofab opened #8744 "UnsatisfiedLinkError: no jnind4jcpu (Raspberry PI 4 with 1.0.0-beta6)"
#### Issue Description

Trying to train a model, exception thrown. Maybe the solution is just installing missing packages?
`java.lang.UnsatisfiedLinkError: no jnind4jcpu in java.library.path`

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j 1.0.0-beta6
* OpenJDK 11.0.6 2020-01-14
* Raspbian GNU/Linux 10 (buster)

#### Additional Information

[

[2020-02-29 22:09] saudet commented on #8744
@sshepel It looks like you're using a too recent version of GCC here:
https://github.com/KonduitAI/docker/blob/master/manifests/jenkins-agent/centos/7/armhf/Dockerfile#L93
This should be `raspberrypi/tools/arm-bcm2708/gcc-linaro-arm-linux-gnueabihf-raspbian/arm-linux-gnueabihf` instead.

[2020-03-02 05:15] #8565 closed, assigned to AlexDBlack

[2020-03-02 05:15] #8691 closed, assigned to AlexDBlack

[2020-03-02 05:15] #8731 closed, assigned to AlexDBlack

[2020-03-02 05:15] #8663 closed, assigned to AlexDBlack

[2020-03-02 07:58] AlexDBlack opened #8745 "Arbiter - possible flaky test"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-273/8/pipeline/535/

[code]

[2020-03-02 16:21] dgarcia-ccc opened #8746 "Unable to load Google model using loadStaticModel in a workspace."
#### Issue Description
Workspace for loading Google vectors model using loadStaticModel does not load the model outside JVM memory.

I’m trying to load the google vectors model into DL4j, to use it later. I’m able to do it but with a big cost in RAM memory. I read about workspaces and how the memory is hold off-heap, so I tried to load it using loadStaticModel inside a workspace, just to see if my

[2020-03-02 16:43] raver119 commented on #8746
Hm. This error message says that you have 2KB memory allowed? I'm afraid it's not going to work this way. There are other expenses that are unavoidable: libraries loaded, shapes, subarrays etc.

[2020-03-02 19:05] dgarcia-ccc commented on #8746
Thanks for your reply, @raver119 .
No, as I said, numbers are random.  I have more than 10GB set. That stacktrace is when I did tests for that amount of memory, but the issue is the same: with less than 3.5 GB, Google vector model doesn't load and I receive an OutOfMemoryException (I set 3GB of memory). Anyway, the amount of memory needed to load the google vector model is the same whether I use W

[2020-03-02 21:08] sshepel commented on #8744
k, will update it ASAP

[2020-03-03 08:25] sshepel commented on #8744
Docker image has been updated, but we have failing build on master... Will let you guys know, when you can try snapshots.

[2020-03-03 09:12] saudet commented on #8744
Probably due to OpenBLAS 0.3.8 <- @AlexDBlack

[2020-03-03 13:49] kumarijyotsna commented on #8310
Has the support for sentence2vec been added?

[2020-03-03 13:51] dgarcia-ccc commented on #8746
@raver119 just in case this may help, here you are the stacktrace with 1GB set.

Exception in thread "main" java.lang.OutOfMemoryError: Cannot allocate new LongPointer(1): totalBytes = 8, physicalBytes = 1873M
	at org.bytedeco.javacpp.LongPointer.<init>(LongPointer.java:76)
	at org.bytedeco.javacpp.LongPointer.<init>(LongPointer.java:41)
	at org.nd4j.linalg.cpu.nativecpu.ops.NativeOpExecutioner.cr

[2020-03-03 15:56] shyrma opened #8747 "OpenBLAS 0.3.8 issue on AMD Threadripper cpu"
OpenBLAS 0.3.8 crashes on AMD Threadripper 3970X cpu, with SIGILL error code.
We always got following crash while testing TFGraphTestAllHelper.log_determinant.rank3:

- A fatal error has been detected by the Java Runtime Environment:
-  SIGILL (0x4) at pc=0x00007f86f33181ff, pid=130947, tid=0x00007f8839009700
- C  [libopenblas_nolapack.so.0+0x10a61ff]  sgemm_kernel_direct+0x126f

This issue is a b

[2020-03-03 16:04] saudet commented on #8747
I'm sure OpenBLAS 0.3.7 does the same. Work around that with OPENBLAS_CORETYPE, the same as was done for issue #4287.

[2020-03-03 17:13] mdavis95 commented on #8546
I also use ktrain and would love to be able to load [ktrain](https://github.com/amaiya/ktrain) models in dl4j.

[2020-03-03 17:58] treo commented on #8546
@mdavis95 please open a separate issue for feature requests like this.

[2020-03-03 18:48] mdavis95 commented on #8546
sorry to be clear, ktrain is the library used above that produced the keras model that would not import.  I was just stating that I also have run into this issue trying to figure out how to import it

[2020-03-03 19:54] treo commented on #8546
Oh, I somehow missed that. As far as I can tell, Ktrain is using tf.keras, which is using a slightly different model format to "old" Keras itself and in addition to that also adds its own custom layer types.

At the moment we only support "old" Keras import. We do have an issue to track that feature request here: https://github.com/eclipse/deeplearning4j/issues/8348 but at the moment we are workin

[2020-03-03 20:15] mdavis95 commented on #8546
I did a
[code]
which generates the following files
[code]

And tried to load the model using
[code]

And I get
[code]

Is this a function of tensor flow 2.x not being supported for import?

[2020-03-03 21:21] farizrahman4u commented on #8599
[284](https://github.com/KonduitAI/deeplearning4j/pull/284)

[2020-03-03 23:57] AlexDBlack opened #8748 "CI failures/issues on current master"
https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-284/2/pipeline/

linux-ppc64le-cpu
[code]

linux-x86_64-cuda-10.0
[code]

macos-x86_64-cpu-avx2
[code]

windows-x86_64-cuda-10.0
* JVM crash - unclear what test this is (must not extend BaseNd4jTest as test name is not logged before starting - which is another issue in and of itself...

windows-x86_64-cuda-1

[2020-03-04 00:47] AlexDBlack commented on #8599
https://github.com/KonduitAI/deeplearning4j/pull/284

[2020-03-04 00:47] #8599 closed, assigned to nobody

[2020-03-04 04:45] saudet commented on #8546
Yes, we haven't moved to TF 2.x for that yet.

[2020-03-04 05:03] raver119 commented on #8747
re: 0.3.7. I don't think so, we've been using this box for 3 months now, and got into this problem only after update to 0.3.8 i think. It's pretty new issue there.

re: OPENBLAS_CORETYPE - nope, doesn't help.

[2020-03-04 07:25] raver119 commented on #8747
@saudet you're right, 0.3.7 reproduces the same issue. So probably this crash is caused by the graph being added to resources.

I'll close this issue, we'll sort it out in some other way i think now.

[2020-03-04 08:11] #8726 closed, assigned to saudet

[2020-03-04 09:24] AlexDBlack commented on #8744
@sshepel Got a link to the CI logs for this? Or is it one of these known issues?
https://github.com/eclipse/deeplearning4j/issues/8748

[2020-03-04 13:43] saudet commented on #8747
Setting the OPENBLAS_CORETYPE environment variable to "Athlon" or "Core2" doesn't help? That's strange. That should disable pretty much all optimizations. Anyway, one more thing to try is to use MKL instead. The presets for OpenBLAS can load it with the system properties given here:
https://github.com/bytedeco/javacpp-presets/tree/master/openblas#documentation

[2020-03-04 13:47] saudet commented on #8744
@AlexDBlack I think this is just about eclipse/deeplearning4j not being up-to-date and failing to build.

[2020-03-04 13:49] raver119 commented on #8747
Athlon doesn't help. We'll try Core2 now

[2020-03-04 14:21] shyrma commented on #8747
I've just checked, same situation - no success unfortunately

[2020-03-04 17:00] LifeIsStrange opened #8749 "Kotlin support for ND4J"
Can the Ndarray (ND4J) be used in kotlin code?
I was reading somewhere that Kotlin hasn't ndarrays, but if we can seamlessly use ND4J in kotlin, then Kotlin has first class support for Ndarrays.

[2020-03-04 17:02] raver119 commented on #8749
Yes it is possible.

We even have examples for that: https://github.com/eclipse/deeplearning4j-examples/tree/master/dl4j-examples/src/main/kotlin/org/deeplearning4j/examples/feedforward/mnist

[2020-03-04 17:02] #8749 closed, assigned to nobody

[2020-03-05 02:14] AlexDBlack opened #8750 "DL4J UI: Shade freemarker library"
Used only in DL4J UI.
To avoid version incompatibilities like this: https://github.com/eclipse/deeplearning4j/issues/8725

[2020-03-05 07:03] shan760107 opened #8751 "GridSearchCandidateGenerator"
#### Issue Description

Please describe our issue, along with:
I want to use GridSearchCandidateGenerator for hyperparameter tuning.
I put LearningRate Param and layerSize Param to multilayerspace like below.
and parameter doesn't change at all.
I guess that there is bug at getCandiate method.

#### Version Information
* Deeplearning4j version: 1.0.0-beta6
* Platform information (OS, etc): win 10

[2020-03-05 07:14] AlexDBlack opened #8752 "libnd4j: random_exponential op broken"
[code]
[code]

https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/random/exponential.cpp

Exponential distribution is a continuous distirbution; values should be continuous in the range [0,infinity] not only values 0 or 1
https://en.wikipedia.org/wiki/Exponential_distribution

Tested on CPU backend

[2020-03-05 07:18] AlexDBlack opened #8753 "ND4J tests: find way to run OpValidationSuite every CI run"
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/OpValidationSuite.java#L68-L70

Currently it's disabled and run manually, due to Maven Surefire running both the tests individually, AND also as part of the suite (i.e., tests are all running twice).
If we can find a solution to that, we can start collecting stats on an ongoing basis (rather

[2020-03-05 08:44] AlexDBlack opened #8755 "All projects: Add "all tests must extend base test" check"
This PR added 'must extend base test class' checks to nd4j-tests and deeplearning4j-core.
https://github.com/KonduitAI/deeplearning4j/pull/290

We need the same thing in all other modules.

Why we need all tests extending the base test:
* Test logging (helps debug when crashes occur on CI - can be difficult or impossible to know exactly which class, without extended logging)
* Memory logging (help

[2020-03-05 10:50] unkper opened #8756 "How to use GPU to accelerate?"
#### Issue Description

I am a senior and currently using RL4J for reinforcement learning.However, I don't know how RL4J USES GPU acceleration. Can anyone recommend me some documents on this?Thank you very much!